# EDA & Statistic Insights

### Goal: Performing EDA and gain statistical insights on the participations of the dataset.

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
participations = pd.read_csv("csvs/participations.csv")
participations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84332 entries, 0 to 84331
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place         84332 non-null  int64
 1   Horse_name    84332 non-null  object
 2   Jockey_name   84203 non-null  object
 3   Trainer_name  40440 non-null  object
 4   Weight        84327 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.2+ MB

In [3]:
participations["Place"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19,  0, -1, 20])

In [4]:
participations["Place"].value_counts()

 2     9216
 1     9212
 3     9187
 4     9152
 5     8973
 6     8462
 7     7492
 8     6124
 9     4780
 10    3604
 11    2514
 12    1674
-1     1619
 13     977
 14     582
 0      294
 15     251
 16     132
 17      51
 18      31
 19       4
 20       1
Name: Place, dtype: int64

Half of the trainer names are missing. also 1619 placements are -1, and 294 are 0. Delete these rows. Drop remaining NaNs.

In [5]:
participations.drop(columns=["Trainer_name"], inplace=True)
participations = participations[participations["Place"] != -1 ]
participations = participations[participations["Place"] != 0]
participations.dropna(inplace=True)

Create 2 binary columns. One if the participation has been in top 3 and one if it won. As these are the ones which are the most interesting for me and the goal to determine if a horse wins a place-bet. Also, create a column which holds the number of races the horse participated, and make a column with the ratio of win-bets, and ratio of place-bets.

In [6]:
participations["Win_bet"] = participations["Place"]==1
participations["Place_bet"] = participations["Place"]<=3
participations["Total"] = participations.groupby("Horse_name")["Horse_name"].transform("size")
participations["Win_bet_ratio"] = participations["Win_bet"] / participations["Total"]
participations["Place_bet_ratio"] = participations["Place_bet"] / participations["Total"]

In [7]:
participations.sample(10)

,Place,Horse_name,Jockey_name,Weight,Win_bet,Place_bet,Total,Win_bet_ratio,Place_bet_ratio
16746,9,si luna,piccone,59.0,False,False,8,0.000000,0.000000
54192,3,dieu merci,minarik,60.0,False,True,28,0.000000,0.035714
34785,6,aramis,clijmans,57.0,False,False,13,0.000000,0.000000
28295,5,maupiti express,best,55.0,False,False,19,0.000000,0.000000
72495,5,golden big,bürgin,57.0,False,False,1,0.000000,0.000000
3263,9,melbourne memories,kirby,58.0,False,False,1,0.000000,0.000000
75670,3,jack blane (gb),pecheur,58.5,False,True,23,0.000000,0.043478
46266,4,giants cauldron,pecheur,60.5,False,False,35,0.000000,0.000000
7049,1,furisto,pietrasiewicz,62.0,True,True,14,0.071429,0.071429
20963,5,dobby girl,hellyn,56.5,False,False,10,0.000000,0.000000

### Bet probabilities

In [16]:
participations.groupby("Horse_name").mean()

,Place,Weight,Win_bet,Place_bet,Total,Win_bet_ratio,Place_bet_ratio
Horse_name,,,,,,,
""" carmen de lamore """,15.0,52.5,0.0,0.0,1.0,0.0,0.0
""" champions time """,9.5,55.0,0.0,0.0,2.0,0.0,0.0
""" funnys chap """,8.0,57.0,0.0,0.0,2.0,0.0,0.0
""" greenaways eye """,5.0,63.0,0.0,0.0,1.0,0.0,0.0
""" honors quest """,4.5,57.5,0.0,0.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...
whats up (fr),1.0,58.0,1.0,1.0,1.0,1.0,1.0
wiesentau (gb),1.0,57.5,1.0,1.0,1.0,1.0,1.0
wild bud (usa),1.0,55.5,1.0,1.0,1.0,1.0,1.0
wind of change,1.0,58.0,1.0,1.0,1.0,1.0,1.0
wintermond,1.0,57.5,1.0,1.0,1.0,1.0,1.0