# Galopp-Preprocessor

For this step in the project I will use jupyter notebook, because it is way faster to visualize and more flexible on doin data preprocessing. (The exploratory data analysis part will also be with jupyter notebook)

### Imports

In [1]:
import pandas as pd
import numpy as np

### Load dataset

In [2]:
galopp = pd.read_csv("all_races.csv")
galopp.sample(5)

,Date,Location,Distance,Prize,Category,Class,Ground_state,Horses
1760,03. August 2014,Düsseldorf,1600 m,0 €,NaN,NaN,Boden: g-w,"[' 1. ', ' Preci..."
3854,28. März 2016,Saarbrücken,2450 m,4000 €,E,IV,Boden: weich ...,"[' 1. ', ' Juan ..."
572,11. August 2013,Hoppegarten,1800 m,0 €,NaN,NaN,Boden: gut,"[' 1. ', ' Run O..."
3455,12. Oktober 2015,Mons,950 m,4800 €,F,NaN,Boden: Sand ...,"[' 1. ', ' Orpen..."
6879,30. August 2018,Baden-Baden,1400 m,6650 €,F,IV,Boden: gut,"[' 1. ', ' Stanl..."

### Look at general information

In [3]:
galopp.columns

Index(['Date', 'Location', 'Distance', 'Prize', 'Category', 'Class',
       'Ground_state', 'Horses'],
      dtype='object')

In [4]:
print(galopp.isna().sum())
print("")
print(galopp.isna().sum()/len(galopp)*100)

Date              15
Location          15
Distance           0
Prize              0
Category        3115
Class           4245
Ground_state       0
Horses             0
dtype: int64

Date             0.162725
Location         0.162725
Distance         0.000000
Prize            0.000000
Category        33.792580
Class           46.051204
Ground_state     0.000000
Horses           0.000000
dtype: float64

In [5]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9203 non-null   object
 1   Location      9203 non-null   object
 2   Distance      9218 non-null   object
 3   Prize         9218 non-null   object
 4   Category      6103 non-null   object
 5   Class         4973 non-null   object
 6   Ground_state  9218 non-null   object
 7   Horses        9218 non-null   object
dtypes: object(8)
memory usage: 576.2+ KB

First thing I see is that there are some NaN values. 15 each on _Date_ and _Location_ (which are only 0.16% of the whole set). Because only a few are missing, and they are not really important to my goal, I fill them with the mode (normally not really applicable for the _Date_ , but it should be sufficient).

Also, the columns 'Category' and 'Class' are missing 3115 and 4245, which are ~33% and ~46%. Normally, because they are categorical, they could be filled with the mode, but so many values are missing, so I decide to drop them, as they are not important for my goal.

Next, the datatypes should be changed for _Distance_ and _Prize_ to int. But before that, the 'm' in _Distance_ and the '€' in _Prize_ have to be removed. (Also, there are '\xa0's in both columns for each entry! These have to be removed too before converting to int.). And, at last, fill the empty strings with a 0, otherwise this would lead to ValueErrors when converting to int.

The _Ground_state_ always contains the prefix 'Boden: ', this can also be removed.

In [6]:
# Drop columns
galopp.drop(columns=["Category", "Class"], inplace=True)

# Fill dates and location by 
galopp["Date"].fillna(galopp["Date"].mode(), inplace=True)
galopp["Location"].fillna(galopp["Location"].mode(), inplace=True)

# Remove units
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("m", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("€", ""))

# Remove bytes
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("\xa0", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("\xa0", ""))

# Fill empty strings with 0
galopp["Distance"] = galopp["Distance"].apply(lambda x: "0" if len(x) == 0 else x)
galopp["Prize"] = galopp["Prize"].apply(lambda x: "0" if len(x) == 0 else x)

# Change datatype to int
galopp["Distance"] = galopp["Distance"].astype(int)
galopp["Prize"] = galopp["Prize"].astype(int)

# Remove 'Boden: ' prefix
galopp["Ground_state"] = galopp["Ground_state"].apply(lambda x: x.replace("Boden: ", ""))

Looking at the dataframe again:

In [7]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9203 non-null   object
 1   Location      9203 non-null   object
 2   Distance      9218 non-null   int64
 3   Prize         9218 non-null   int64
 4   Ground_state  9218 non-null   object
 5   Horses        9218 non-null   object
dtypes: int64(2), object(4)
memory usage: 432.2+ KB

In [8]:
galopp.sample(10)

,Date,Location,Distance,Prize,Ground_state,Horses
4975,NaN,NaN,0,0,,[]
6264,24. April 2018,Köln,1600,5500,weich stellenweise gut ...,"[' 1. ', ' Panch..."
8987,11. September 2020,Baden-Baden,2400,7700,gut bis weich ...,"[' 1. ', ' Soho ..."
3312,13. September 2015,München,1600,55000,gut,"[' 1. ', ' Pas D..."
7103,19. Oktober 2018,Baden-Baden,2800,8500,gut,"[' 1. ', ' Breez..."
8840,31. Juli 2020,Magdeburg,2050,7200,gut,"[' 1. ', ' Sport..."
2894,20. Juni 2015,Düsseldorf,1700,10000,g-w,"[' 1. ', ' Proud..."
1762,03. August 2014,Ffm,1600,0,gut,"[' 1. ', ' Notai..."
7280,10. Februar 2019,Neuss (Sand),1500,6000,nass,"[' 1. ', ' Miste..."
3834,27. März 2016,Hoppegarten,2000,5000,gut,"[' 1. ', ' Le Mo..."

No NaNs and the fitting datatype, also the samples looking good aswell.
So for those columns everything that needs to be done is done. Lets go on with the horses per race. For this, I intend to:
- get the list of horses and make another dataframe of it
- Clean this dataset (No column names and datatypes here)
- Return the cleaned dataframe as a list and replace it

### Load the list in a dataset

In [9]:
def clean_placement_string(x):
    x = x.replace(".","")
    x = x.replace("'","")
    x = x.replace("[","")
    x = x.replace("]", "")
    x = x.strip()
    return x

def clean_horse_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    return x

def clean_jockey_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        pass
    
    return x

def clean_trainer_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        x=x
    
    return x

def clean_weight_string(x):
    x = x.replace("'", "")
    x = x.replace(",",".")
    x = x.strip()
    return x

In [ ]:
# Load, clean, and replace each race
replacement = []
for row in galopp["Horses"]:
    
    # Load row as a seperate dataset
    split = row.split(", ")
    try:
        row_reshaped = np.array(split).reshape((-1, 5))
    except:
        replacement.append("DELETE THIS ROW")
    race_df = pd.DataFrame(data=row_reshaped, columns=["Place", "Horse_name", "Jockey_name", "Trainer_name", "Weight"])
    
    # Clean dataset
    race_df["Place"] = race_df["Place"].apply(clean_placement_string)
    race_df["Horse_name"] = race_df["Horse_name"].apply(clean_horse_name_string)
    race_df["Jockey_name"] = race_df["Jockey_name"].apply(clean_jockey_name_string)
    race_df["Trainer_name"] = race_df["Trainer_name"].apply(clean_trainer_name_string)
    race_df["Weight"] = race_df["Weight"].apply(clean_weight_string)
    
    print(race_df["Trainer_name"])

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11

Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object

0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object

0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12

Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6

Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11

Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object

0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
Name: Trainer_name, dtype: object
0
1
2
3
4
5
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
9
10
Name: Trainer_name, dtype: object
0
1
2
3
4
5
6
7
8
Name: Trainer_name, dtype: object
0        rotering
1         hellier
2     verberkt/nl
3          troost
4           mayer
5         schwarz
6           weber
7          troost
8           lüker
9         geisler
10          storp
11         troost
Name: Trainer_name, dtype: object
0       beckmann
1       gerstner
2        schwinn
3          glanz
4      meulen/nl
5          storp
6     bodenhagen
7         müller
8          lentz
9           rank
10         rohne
11      fuhrmann
12    bodenhagen
Name: Trainer_name, dtype: object
0       steudle
1       schwinn
2       schwinn
3        dewald
4         lüker
5      beckmann
6         grewe
7         storp
8     weißmeier
9         weber
10       müller
Name: Trainer_name, dtype: object
0       mäder
1     smrczek
2     smrczek
3     schwinn
4     smrczek
5       bolte
6       riese
7       devos
8        weis
9     schwinn
10     dewald
Name: Trainer_name, dtype: object
0          storp
1         schaaf
2         maurer
3       rotering
4          mayer
5          weber
6           weis
7       lanslots
8    kleinkorres
Name: Trainer_name, dtype: object
0       wöhler
1        devos
2    laznovska
3     schleppi
4      smrczek
5    schneider
6         lenz
7     schleppi
8         rank
Name: Trainer_name, dtype: object
0    de wulf/bel
1        hellier
2      laznovska
3       vovcenko
4       fuhrmann
5           gehm
Name: Trainer_name, dtype: object
0         hofer
1     meulen/nl
2      gerstner
3    bodenhagen
4    bodenhagen
5     schneider
6       schwinn
7     weißmeier
Name: Trainer_name, dtype: object
0    meulen/nl
1      smrczek
2     vovcenko
3       troost
4        hofer
5       dewald
6      rudolph
Name: Trainer_name, dtype: object
0                  schu
1                 klomp
2             laznovska
3            peeters/nl
4     sofsky-prappacher
5                 lentz
6                  schu
7              vovcenko
8                troost
9               werning
10                smith
11             fuhrmann
Name: Trainer_name, dtype: object
0     gerstner
1     hartmann
2      werning
3         schu
4     beckmann
5        rohne
6    schiergen
7    weißmeier
8     fuhrmann
9     rotering
Name: Trainer_name, dtype: object
0           lüker
1     kleinkorres
2           mayer
3       weißmeier
4           storp
5           lüker
6        beckmann
7       wesel/bel
8         steudle
9           glanz
10          rohne
11          klein
12      laznovska
13       fuhrmann
Name: Trainer_name, dtype: object
0          glanz
1          recke
2    kleinkorres
3        hellier
4        werning
5          bolte
6          klein
7          hofer
8        smrczek
Name: Trainer_name, dtype: object
0          fievez
1        rotering
2    henkenjohann
3         schwinn
4            weis
5        rotering
6        fuhrmann
7           fuchs
Name: Trainer_name, dtype: object
0    kleinkorres
1          hofer
2       rotering
3        smrczek
4       gerstner
5           renz
6     heimburger
7       fuhrmann
Name: Trainer_name, dtype: object
0        recke
1        klein
2      rudolph
3    meulen/nl
4      smrczek
5    laznovska
Name: Trainer_name, dtype: object
0     meulen/nl
1       rudolph
2        schaaf
3       hellier
4       schwinn
5         bolte
6          rank
7     schneider
8       schwinn
9          rank
10         lenz
Name: Trainer_name, dtype: object
0       sprengel
1        schwinn
2      weißmeier
3       beckmann
4          storp
5     engels/bel
6         schaaf
7        schwinn
8     bodenhagen
9     heimburger
10     schneider
11         rohne
12          weis
13      rotering
Name: Trainer_name, dtype: object
0       hellier
1        troost
2        franke
3     weißmeier
4          falk
5          vana
6      lanslots
7         mayer
8      vovcenko
9          oost
10        klomp
11        weber
12        hofer
13        storp
Name: Trainer_name, dtype: object
0          bolte
1      weißmeier
2          storp
3          glanz
4        rudolph
5          lentz
6       hartmann
7        schwinn
8          storp
9     bodenhagen
10         klein
Name: Trainer_name, dtype: object
0         bolte
1      rotering
2         hofer
3         bolte
4         klein
5     schiergen
6     weißmeier
7        hillis
8      lanslots
9          türk
10    weißmeier
Name: Trainer_name, dtype: object
0            recke
1    van kempen/nl
2          smrczek
3           hillis
4        weißmeier
5            hofer
6          hellier
7       peeters/nl
8        meulen/nl
Name: Trainer_name, dtype: object
0        klein
1    weißmeier
2        hofer
3       wöhler
4        recke
5      schwinn
6    weißmeier
Name: Trainer_name, dtype: object
0    kleinkorres
1       beckmann
2          hofer
3          rohne
4          klein
5           türk
Name: Trainer_name, dtype: object
0        werning
1           schu
2          storp
3          lüker
4      weißmeier
5        schwinn
6        schwinn
7       fuhrmann
8     bodenhagen
9         müller
10        glodde
11          schu
Name: Trainer_name, dtype: object
0       beckmann
1      weißmeier
2         schaaf
3     heimburger
4        steudle
5     bodenhagen
6       fuhrmann
7       lanslots
8           renz
9         glodde
10      rotering
Name: Trainer_name, dtype: object
0              beckmann
1             weißmeier
2                  falk
3              lanslots
4                 lüker
5     sofsky-prappacher
6                  schu
7                 smith
8                 klomp
9              fuhrmann
10           peeters/nl
Name: Trainer_name, dtype: object
0       rudolph
1      beckmann
2      gerstner
3        müller
4         glanz
5     weißmeier
6    bodenhagen
7         lentz
8    bodenhagen
9       werning
Name: Trainer_name, dtype: object
0      weißmeier
1      schiergen
2    kleinkorres
3        werning
4          bolte
5          recke
6          hofer
7     bodenhagen
Name: Trainer_name, dtype: object
0       recke
1       klein
2       bolte
3    rotering
4     schwinn
5       storp
6       mäder
7     schwinn
8       lentz
Name: Trainer_name, dtype: object
0          recke
1    kleinkorres
2        rudolph
3          hofer
4       rotering
Name: Trainer_name, dtype: object
0    schiergen
1      smrczek
2        glanz
3      smrczek
4        hofer
5      rudolph
Name: Trainer_name, dtype: object
0      rotering
1     weißmeier
2        troost
3        franke
4        troost
5          vana
6         mayer
7       hellier
8    peeters/nl
Name: Trainer_name, dtype: object
0    bodenhagen
1         mayer
2         recke
3         lüker
4      lanslots
5          falk
6     weißmeier
7        franke
Name: Trainer_name, dtype: object
0     weißmeier
1    engels/bel
2       schwinn
3       steudle
4     bernickel
5     weißmeier
6    heimburger
7         storp
8    bodenhagen
9       schwinn
Name: Trainer_name, dtype: object
0              recke
1          weißmeier
2              bolte
3              storp
4    verschueren/bel
5           sprengel
6           rotering
7        kleinkorres
Name: Trainer_name, dtype: object
0      beckmann
1     weißmeier
2     schriever
3       werning
4         storp
5     weißmeier
6    bodenhagen
7         lüker
Name: Trainer_name, dtype: object
0          recke
1        smrczek
2        smrczek
3    kleinkorres
Name: Trainer_name, dtype: object

0    van kempen/nl
1        weißmeier
2            hofer
3            glanz
4      de wulf/bel
Name: Trainer_name, dtype: object
0        werning
1      weißmeier
2    kleinkorres
3      meulen/nl
4          recke
Name: Trainer_name, dtype: object
0    kleinkorres
1        smrczek
2       schleppi
3         maurer
4       rotering
5      laznovska
6          demme
7          mäder
8      meulen/nl
9     wroblewski
Name: Trainer_name, dtype: object
0    kleinkorres
1        schwinn
2      schneider
3      laznovska
4         müller
5      weißmeier
6      weißmeier
7       hartmann
8       beckmann
9       rotering
Name: Trainer_name, dtype: object
0       smrczek
1     weißmeier
2         storp
3       schwinn
4          türk
5       smrczek
6        müller
7         weber
8      rotering
9         weber
10      schwinn
11       dewald
12       dewald
Name: Trainer_name, dtype: object
0      smrczek
1        demme
2      werning
3     gorp/bel
4    gernreich
5        riese
6        klein
7    meulen/nl
8       dewald
Name: Trainer_name, dtype: object
0    henkenjohann
1           lentz
2            schu
3           storp
4         schwinn
5       weißmeier
6       gernreich
7          röhrig
Name: Trainer_name, dtype: object
0     vovcenko
1        storp
2    laznovska
3        demme
4      smrczek
5     vovcenko
Name: Trainer_name, dtype: object
0    weißmeier
1       wöhler
2    weißmeier
3        demme
Name: Trainer_name, dtype: object
0                weber
1                 schu
2          verberkt/nl
3             beckmann
4    sofsky-prappacher
5                 oost
Name: Trainer_name, dtype: object
0      laznovska
1           schu
2           falk
3       lanslots
4        smrczek
5      jansen/nl
6     peeters/nl
7        schwinn
8      gernreich
9          mayer
10      fuhrmann
11    hermans/nl
Name: Trainer_name, dtype: object
0                 mayer
1               potters
2                 lentz
3                troost
4          henkenjohann
5             weißmeier
6            bodenhagen
7                 lüker
8                schütz
9                  schu
10             fuhrmann
11                lentz
12              schwinn
13    sofsky-prappacher
Name: Trainer_name, dtype: object
0         schwinn
1     kleinkorres
2         werning
3         schwinn
4        beckmann
5         steudle
6           lüker
7          dewald
8       schneider
9         schwinn
10       gerstner
11        potters
12           rank
Name: Trainer_name, dtype: object
0                         klein
1                     laznovska
2                       smrczek
3                       schwinn
4    berrevoets-uivel/nlerlande
5                   kleinkorres
6                         demme
7                     meulen/nl
8                       smrczek
9                       smrczek
Name: Trainer_name, dtype: object
0      schleppi
1    herresthal
2       potters
3     weißmeier
4       werning
5       schwinn
6          rank
7     weißmeier
8      fuhrmann
Name: Trainer_name, dtype: object
0         demme
1     laznovska
2       smrczek
3       richter
4      lanslots
5      vovcenko
6    peeters/nl
Name: Trainer_name, dtype: object
0       werning
1     schriever
2      gerstner
3    bodenhagen
4      fuhrmann
5      beckmann
6       schwinn
Name: Trainer_name, dtype: object
0        klein
1      hellier
2    meulen/nl
3     schleppi
4        demme
Name: Trainer_name, dtype: object
0          recke
1      meulen/nl
2         birner
3          klein
4    kleinkorres
5       beckmann
6      weißmeier
7        rudolph
8          storp
9      weißmeier
Name: Trainer_name, dtype: object
0        schwinn
1          storp
2          klein
3     bodenhagen
4     bodenhagen
5       beckmann
6     bodenhagen
7        schwinn
8          storp
9      weißmeier
10       rudolph
11          gehm
Name: Trainer_name, dtype: object
0         troost
1      laznovska
2       hartmann
3     heimburger
4        geisler
5       hartmann
6     engels/bel
7          alles
8           türk
9      bernickel
10       werning
11         storp
12         storp
13    brüggemann
Name: Trainer_name, dtype: object
0          meulen/nl
1           greenall
2              klein
3          weißmeier
4              mäder
5              storp
6            schwinn
7    verschueren/bel
8          weißmeier
Name: Trainer_name, dtype: object
0    bodenhagen
1         recke
2        troost
3      lanslots
4        schütz
5        franke
6    bodenhagen
7        dewald
Name: Trainer_name, dtype: object
0        rotering
1          franke
2          troost
3         hellier
4         smrczek
5       laznovska
6    dollevoet/nl
Name: Trainer_name, dtype: object
0      werning
1    meulen/nl
2        recke
3      bocskai
4        recke
5       barsig
Name: Trainer_name, dtype: object
0          recke
1    kleinkorres
2        rudolph
3        hellier
4      laznovska
5        richter
Name: Trainer_name, dtype: object
0          schu
1        schütz
2         mayer
3     laznovska
4      lanslots
5     rosenbach
6     gernreich
7         weber
8         recke
9           ehl
10         falk
11      schwinn
Name: Trainer_name, dtype: object
0        laznovska
1            mayer
2            lentz
3          potters
4         lanslots
5             palz
6     peterschmitt
7            alles
8        gernreich
9             lenz
10         schwinn
Name: Trainer_name, dtype: object
0                        potters
1                        geisler
2                          storp
3                        schwinn
4                         maurer
5                        schwinn
6                         müller
7                   peterschmitt
8                         birner
9                      schneider
10                      beckmann
11                         weber
12    berrevoets-uivel/nlerlande
13                       schwinn
Name: Trainer_name, dtype: object
0     kleinkorres
1        gorp/bel
2         werning
3           recke
4            lenz
5       gernreich
6         schwinn
7         schwinn
8           weber
9      fries-jung
10       vovcenko
Name: Trainer_name, dtype: object
0        grewe
1       wöhler
2    meulen/nl
3        rohne
4        rohne
5      weidler
6      werning
7    kleffmann
8     beckmann
Name: Trainer_name, dtype: object
0        recke
1     vovcenko
2        demme
3      smrczek
4    gernreich
5    meulen/nl
6      geisler
7      hellier
8       birner
Name: Trainer_name, dtype: object
0    peterschmitt
1           recke
2    peterschmitt
3         potters
4      bracke/bel
5          kötter
Name: Trainer_name, dtype: object
0    peterschmitt
1       laznovska
2          maurer
3         smrczek
4           storp
5           demme
6        schleppi
Name: Trainer_name, dtype: object
0    bodenhagen
1     weißmeier
2      beckmann
3    hermans/nl
4      rotering
5        troost
6        troost
7         lentz
8       smrczek
9          rank
Name: Trainer_name, dtype: object
0         troost
1      weißmeier
2      weißmeier
3          alles
4           türk
5       hartmann
6     heimburger
7          storp
8       sprengel
9        potters
10     bernickel
11      rotering
12       schwinn
Name: Trainer_name, dtype: object
0      meulen/nl
1        smrczek
2       rotering
3       greenall
4        potters
5        richter
6           weis
7        werning
8        schwinn
9    kleinkorres
Name: Trainer_name, dtype: object
0      meulen/nl
1          storp
2          klein
3      schriever
4        schwinn
5       beckmann
6     bodenhagen
7     bodenhagen
8      weißmeier
9           rank
10    bodenhagen
11       schwinn
Name: Trainer_name, dtype: object
0        richter
1      schiergen
2      geissmann
3      weißmeier
4       rotering
5        smrczek
6    kleinkorres
7          demme
8         barsig
9          recke
Name: Trainer_name, dtype: object
0          grewe
1          recke
2    maronka/hun
3        hellier
4          grewe
5          bolte
6          hofer
7      meulen/nl
Name: Trainer_name, dtype: object
0         gehm
1    schiergen
2        rohne
3    meulen/nl
4        hofer
5    weißmeier
Name: Trainer_name, dtype: object
0    recke
1    mäder
2     vana
3     volz
4    storp
5    recke
6    storp
7    sauer
Name: Trainer_name, dtype: object
0                klein
1                recke
2         peterschmitt
3                klein
4                 berg
5         peterschmitt
6    sofsky-prappacher
7                 bieß
8                storp
Name: Trainer_name, dtype: object
0         klein
1       schwinn
2     schneider
3       hellier
4      schleppi
5       schwinn
6          schu
7          palz
8        birner
9       rudolph
10     reischig
11        gropp
Name: Trainer_name, dtype: object
0         klein
1     steinberg
2          klug
3         gratz
4       schwinn
5          schu
6        thomas
7    heimburger
8    neureuther
Name: Trainer_name, dtype: object
0       klein
1     rudolph
2      birner
3       glanz
4      birner
5       gratz
6     schwinn
7        volz
8        renz
9    schleppi
Name: Trainer_name, dtype: object
0         türk
1        weber
2    schöndorf
3    schneider
4    rothacker
5      schwinn
6      rudolph
7       birner
8      schwinn
9     rotering
Name: Trainer_name, dtype: object
0         türk
1        weber
2    schöndorf
3    schneider
4    rothacker
5      schwinn
6      rudolph
7       birner
8      schwinn
9     rotering
Name: Trainer_name, dtype: object
0              smrczek
1               müller
2                storp
3         peterschmitt
4                 klug
5             rotering
6    sofsky-prappacher
7                klein
8              rudolph
9              schwinn
Name: Trainer_name, dtype: object
0          wöhler
1       schiergen
2        carvalho
3           hofer
4         smrczek
5     kleinkorres
6    hirschberger
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2       schiergen
3      almenräder
4            klug
5         swiatek
6      wolters/nl
7        carvalho
Name: Trainer_name, dtype: object
0          kurdu
1         thomas
2      meulen/nl
3          mäder
4          smith
5      schiergen
6        smrczek
7     wolters/nl
8      weißmeier
9    kleinkorres
Name: Trainer_name, dtype: object
0                       sprengel
1                        smrczek
2     berrevoets-uivel/nlerlande
3                        schwinn
4                           weis
5                        smrczek
6                         maurer
7                          storp
8                        friebel
9                      weißmeier
10                       schwinn
11                         storp
12                      hartmann
13                     weißmeier
14                        dewald
Name: Trainer_name, dtype: object
0            klug
1            klug
2           klein
3           blume
4    hirschberger
5          wöhler
6       schiergen
Name: Trainer_name, dtype: object
0       almenräder
1     borkowski/pl
2        meulen/nl
3    van kempen/nl
4      maronka/hun
5             leve
6      verberkt/nl
7     hirschberger
8          smrczek
Name: Trainer_name, dtype: object
0            fust
1        carvalho
2        suborics
3          wöhler
4       schiergen
5           recke
6     maronka/hun
7    hirschberger
8           grewe
Name: Trainer_name, dtype: object
0      schiergen
1         wöhler
2        smrczek
3        smrczek
4    maronka/hun
5     wolters/nl
6          smith
7      meulen/nl
8     bodenhagen
9           weis
Name: Trainer_name, dtype: object
0      laznovska
1         warren
2          mayer
3          klein
4      rosenbach
5          storp
6      kleffmann
7          weber
8     bodenhagen
9         schütz
10       friebel
11         storp

Name: Trainer_name, dtype: object
0    almenräder
1     schiergen
2          klug
3          leve
4       paulick
5       swiatek
Name: Trainer_name, dtype: object
0          richter
1         fuhrmann
2           hillis
3            lüker
4     schnakenberg
5        angermann
6       grzegowski
7            storp
8           schöps
9         fuhrmann
10          bradik
11           stech
12           mayer
Name: Trainer_name, dtype: object
0       wöhler
1         klug
2     vovcenko
3     carvalho
4    schiergen
5        stech
6     fuhrmann
Name: Trainer_name, dtype: object
0           grewe
1         richter
2        gröschel
3         dzubasz
4        suborics
5           mayer
6    borkowski/pl
7        gröschel
Name: Trainer_name, dtype: object
0        angermann
1          megsner
2          richter
3     schnakenberg
4        angermann
5            storp
6            storp
7         sprengel
8          paulick
9         fuhrmann
10           lüker
11           lüker
12           storp
13          franke
Name: Trainer_name, dtype: object
0    suborics
1
2    suborics
3      mongil
4       hofer
5        klug
6    gröschel
7      hillis
Name: Trainer_name, dtype: object
0          wöhler
1          wöhler
2        carvalho
3       schiergen
4           hofer
5    borkowski/pl
Name: Trainer_name, dtype: object
0      dzubasz
1      richter
2     gröschel
3    angermann
4        storp
5     fuhrmann
6     vovcenko
7        storp
8      richter
Name: Trainer_name, dtype: object
0        rosport
1          klein
2        potters
3        smrczek
4       fuhrmann
5        schwinn
6       hartmann
7         roesch
8           lenz
9      schneider
10     schiergen
11         smith
12    fries-jung
13        koutny
Name: Trainer_name, dtype: object
0           ehl
1      lanslots
2       smrczek
3        troost
4      fuhrmann
5        troost
6       schwinn
7       geisler
8         mayer
9      rotering
10       schütz
11       bradik
12    gernreich
13    weißmeier
14      schwinn
Name: Trainer_name, dtype: object
0      wolters/nl
1        rotering
2       gernreich
3         potters
4           smith
5        schleppi
6           hofer
7      hermans/nl
8         weidler
9         hellier
10        schwinn
11    jonkhart/nl
Name: Trainer_name, dtype: object
0         smith
1      rotering
2     weißmeier
3          lenz
4         mähne
5     schneider
6         lentz
7      hartmann
8       hellier
9         riese
10      schwinn
11       roesch
Name: Trainer_name, dtype: object
0           bolte
1       meulen/nl
2           alles
3      heimburger
4           demme
5           lentz
6     kleinkorres
7         schwinn
8           mäder
9        lanslots
10    jonkhart/nl
Name: Trainer_name, dtype: object
0    schiergen
1     suborics
2       wöhler
3        hofer
4      hellier
5      smrczek
6       hickst
7     fuhrmann
Name: Trainer_name, dtype: object
0          bolte
1          klein
2       gorp/bel
3        smrczek
4        schwinn
5          mäder
6          hofer
7    kleinkorres
8          smith
Name: Trainer_name, dtype: object
0      schiergen
1    kleinkorres
2           gehm
3      weißmeier
4          klein
5           klug
Name: Trainer_name, dtype: object
0         wöhler
1           klug
2          bolte
3          bolte
4         hickst
5           leve
6       gröschel
7    kleinkorres
Name: Trainer_name, dtype: object
0       schiergen
1          wöhler
2            klug
3           hofer
4          hickst
5        suborics
6            klug
7    hirschberger
8         kerekes
Name: Trainer_name, dtype: object
0                          storp
1                         römich
2                           weis
3                        schwinn
4                        smrczek
5                     engels/bel
6                        schwinn
7     berrevoets-uivel/nlerlande
8                          smith
9                       rotering
10                       friebel
11                     rothacker
12                     meulen/nl
13                        dewald
Name: Trainer_name, dtype: object
0          grewe
1         römich
2    kleinkorres
3          bolte
4       gröschel
5        schwinn
6        smrczek
Name: Trainer_name, dtype: object
0         klug
1       wöhler
2      schwinn
3        grewe
4    schiergen
5        recke
6        klein
Name: Trainer_name, dtype: object
0       laznovska
1           smith
2          warren
3         weidler
4     richter/aut
5         kerekes
6      wolters/nl
7         potters
8         smrczek
9           lentz
10     wolters/nl
11          smith
Name: Trainer_name, dtype: object
0     smrczek
1        klug
2       hofer
3        klug
4      wöhler
5       hofer
6    suborics
7    suborics
Name: Trainer_name, dtype: object
0     meulen/nl
1         grewe
2       potters
3       hellier
4     meulen/nl
5         rohne
6        thomas
7     weißmeier
8       weidler
9         klein
10        rohne
Name: Trainer_name, dtype: object
0     potters
1    vovcenko
2     richter
3       bolte
Name: Trainer_name, dtype: object
0                  moser
1               suborics
2                dzubasz
3                  storp
4                 hickst
5    schleusner-fruhriep
6                  bolte
7               vovcenko
8               fuhrmann
Name: Trainer_name, dtype: object
0          wöhler
1           storp
2        haustein
3         dzubasz
4        vovcenko
5           bolte
6    schnakenberg
7           kamin
8        fuhrmann
Name: Trainer_name, dtype: object
0                  engels
1                  bradik
2                haustein
3               meulen/nl
4                   storp
5     schleusner-fruhriep
6            schnakenberg
7                sprengel
8                 reineke
9                 potters
10              schriever
11                  lentz
12               fuhrmann
13                   rank
14               beckmann
Name: Trainer_name, dtype: object
0       hickst
1       wöhler
2         klug
3     haustein
4    schiergen
Name: Trainer_name, dtype: object
0             richter
1           kienemann
2           meulen/nl
3              wöhler
4              hickst
5            vovcenko
6               storp
7              barsig
8            vovcenko
9     stein-schomburg
10             römich
Name: Trainer_name, dtype: object
0    stein-schomburg
1           fuhrmann
2    stein-schomburg
3              lentz
4           beckmann
5            friebel
6           fuhrmann
7              storp
8           fuhrmann
Name: Trainer_name, dtype: object
0                  bolte
1                  demme
2               vovcenko
3                dzubasz
4               timpelan
5    schleusner-fruhriep
6                  storp
7                richter
Name: Trainer_name, dtype: object
0       figge
1     dzubasz
2      barsig
3      pyritz
4    vovcenko
5    zschache
6      barsig
7      arnold
8    fuhrmann
9     swiatek
Name: Trainer_name, dtype: object
0       dzubasz
1         figge
2    almenräder
3         recke
4     schiergen
5      gröschel
6         stech
Name: Trainer_name, dtype: object
0                  wöhler
1               fabianova
2                 dzubasz
3                   stech
4                 paulick
5     schleusner-fruhriep
6                 richter
7               schiergen
8                  glodde
9                   stech
10                 glodde
11                  recke
12               fuhrmann
Name: Trainer_name, dtype: object
0           hirschberger
1                   klug
2    schleusner-fruhriep
3          janikowski/pl
4                 wöhler
5              schiergen
6               sprengel
7                 wöhler
8              wyrzyk/pl
Name: Trainer_name, dtype: object
0       dzubasz
1     schiergen
2    almenräder
3       dzubasz
4      vovcenko
5      fuhrmann
6         stech
7          klug
Name: Trainer_name, dtype: object
0                  glanz
1              wyrzyk/pl
2                  grewe
3               sprengel
4              schiergen
5                 wöhler
6           hirschberger
7                  mayer
8                 hickst
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                  wöhler
1                  pyritz
2                   recke
3            borkowski/pl
4                   bolte
5                  pyritz
6                 paulick
7                   stech
8              almenräder
9     schleusner-fruhriep
10               gröschel
11              schiergen
Name: Trainer_name, dtype: object
0      fuhrmann
1       dzubasz
2      trobisch
3        barsig
4         figge
5        glodde
6        pyritz
7     angermann
8        sauter
9        sauter
10       pyritz
11     fuhrmann
12      dzubasz
13        stech
14        stech
15      richter
16    angermann
17     fuhrmann
Name: Trainer_name, dtype: object
0        moser
1      smrczek
2      richter
3    angermann
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                   leve
2             almenräder
3                  lentz
4                  stech
5                 schütz
6               stefutti
7                  storp
8               fuhrmann
9              nienstädt
Name: Trainer_name, dtype: object
0        fust
1     richter
2       moser
3     dzubasz
4    gröschel
Name: Trainer_name, dtype: object
0        carvalho
1          wöhler
2    hirschberger
3            klug
4       schiergen
5           demme
6         potters
7           stech
Name: Trainer_name, dtype: object
0       smrczek
1         demme
2    wolters/nl
3        wöhler
4      haustein
5        hickst
6      zschache
7         lentz
Name: Trainer_name, dtype: object
0         moser
1      gröschel
2     schiergen
3       potters
4         demme
5      vovcenko
6      sprengel
7     angermann
8      fuhrmann
9         storp
10     fuhrmann
Name: Trainer_name, dtype: object
0     carvalho
1         klug
2     suborics
3    schiergen
4         klug
5         klug
6    schiergen
7        moser
Name: Trainer_name, dtype: object
0      kienemann
1       gröschel
2        reineke
3          demme
4     almenräder
5      angermann
6          storp
7      lindemann
8       vovcenko
9         engels
10     nienstädt
11         storp
12      fuhrmann
Name: Trainer_name, dtype: object
0      angermann
1        richter
2     almenräder
3        potters
4          moser
5         barsig
6       zschache
7          stech
8       sprengel
9       vovcenko
10       dzubasz
Name: Trainer_name, dtype: object
0        dzubasz
1     wolters/nl
2      fabianova
3          lentz
4       gröschel
5      vinklarek
6        richter
7          demme
8        potters
9      lindemann
10      fuhrmann
11       megsner
Name: Trainer_name, dtype: object
0           recke
1         rosport
2    peterschmitt
3        schleppi
4         schwinn
Name: Trainer_name, dtype: object
0         gratz
1       schwinn
2     klapschus
3         storp
4        keller
5       schwinn
6     schneider
7    blumenauer
8      rotering
9        thomas
Name: Trainer_name, dtype: object
0        weber
1        recke
2        gries
3    schneider
4      schwinn
5      schwinn
6        gratz
Name: Trainer_name, dtype: object
0         berg
1      rudolph
2    schneider
3       birner
4       birner
5     schleppi
6        recke
7     schleppi
Name: Trainer_name, dtype: object
0     schwinn
1       schön
2      birner
3    schleppi
4       recke
5     sonntag
6    rotering
7     rudolph
Name: Trainer_name, dtype: object
0             ehl
1           storp
2         schwinn
3       schöndorf
4    peterschmitt
5         rudolph
6          kasper
Name: Trainer_name, dtype: object
0      carvalho
1     schiergen
2        wöhler
3    almenräder
4     schiergen
5      suborics
6         grewe

Name: Trainer_name, dtype: object
0           smrczek
1             hofer
2             klein
3            thomas
4             smith
5      peterschmitt
6             mäder
7          rotering
8     van kempen/nl
9           geisler
10        weißmeier
Name: Trainer_name, dtype: object
0          leve
1    almenräder
2         hofer
3       smrczek
4        hickst
5          klug
6          klug
Name: Trainer_name, dtype: object
0         bolte
1       smrczek
2        thomas
3         riese
4      beckmann
5     weißmeier
6          weis
7      hartmann
8        roesch
9         smith
10       leiner
11         türk
12       thomas
Name: Trainer_name, dtype: object
0             klug
1     hirschberger
2           wöhler
3        schiergen
4            grewe
5    hammer-hansen
6           hickst
7         sprengel
8             klug
Name: Trainer_name, dtype: object
0          wöhler
1            klug
2           hofer
3          hickst
4    hirschberger
5       schiergen
6            klug
7           grewe
8        suborics
Name: Trainer_name, dtype: object
0    peterschmitt
1           lüker
2          dewald
3           lüker
4       rosenbach
5         steudle
6        beckmann
7       weißmeier
8           lüker
9          leiner
Name: Trainer_name, dtype: object
0       schiergen
1           grewe
2        carvalho
3         hellier
4    hirschberger
Name: Trainer_name, dtype: object
0          hickst
1          wöhler
2    hirschberger
3        carvalho
4       schiergen
5         smrczek
6           recke
Name: Trainer_name, dtype: object
0    wolters/nl
1         frank
2          leve
3         recke
4      overbeck
5        stokes
6    almenräder
7          bieß
8       schwinn
Name: Trainer_name, dtype: object
0         hartmann
1          potters
2           warren
3            smith
4     schnakenberg
5          schwinn
6          geisler
7            storp
8            alles
9          giesgen
10           storp
11       gernreich
12       laznovska
13       nienstädt
Name: Trainer_name, dtype: object
0         schaaf
1        geisler
2        potters
3     wolters/nl
4      meulen/nl
5          smith
6      gernreich
7    ferentschak
8    jonkhart/nl
9           bieß
Name: Trainer_name, dtype: object
0        potters
1        smrczek
2      weißmeier
3       overbeck
4         maurer
5          mähne
6         römich
7      nienstädt
8          bolte
9           weis
10    grzegowski
11    bodenhagen
12    engels/bel
13    heimburger
14       werning
Name: Trainer_name, dtype: object
0        wöhler
1        hickst
2        dewald
3     schiergen
4    wolters/nl
5      carvalho
Name: Trainer_name, dtype: object
0     gorp/bel
1      friebel
2      bocskai
3      smrczek
4      schwinn
5    weißmeier
6        recke
7    laznovska
Name: Trainer_name, dtype: object
0         grewe
1       hellier
2      lanslots
3         mayer
4    hermans/nl
5     laznovska
6       geisler
Name: Trainer_name, dtype: object
0    hellier
1     kasper
2    schwinn
3    rudolph
4      storp
5      recke
Name: Trainer_name, dtype: object
0           recke
1    peterschmitt
2         schwinn
3            schu
Name: Trainer_name, dtype: object
0      lehmann
1    klapschus
2    schneider
3       birner
4      schwinn
5    rothacker
6      hellier
Name: Trainer_name, dtype: object
0    blumenauer
1          schu
2       hellier
3     weißmeier
4        eisler
5        schwab
6        thomas
7          bach
Name: Trainer_name, dtype: object
0      birner
1    reischig
2     sonntag
3     schwinn
4     rudolph
Name: Trainer_name, dtype: object
0         peterschmitt
1    sofsky-prappacher
2              schwinn
3               göritz
Name: Trainer_name, dtype: object
0        recke
1    weißmeier
2      symalla
3     rotering
4      smrczek
Name: Trainer_name, dtype: object
0         oost
1    schiergen
2        bolte
3     rotering
4      smrczek
5     fuhrmann
6     fuhrmann
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2          hickst
3       schiergen
4          wöhler
5           mäder
6         potters
7            klug
Name: Trainer_name, dtype: object
0             ehl
1        rotering
2          troost
3           klein
4        fuhrmann
5       kleffmann
6           smith
7          warren
8           klein
9        fuhrmann
10     bodenhagen
11    richter/aut
12         leiner
Name: Trainer_name, dtype: object
0            klug
1       schiergen
2    hirschberger
3    hirschberger
4           blume
5         smrczek
Name: Trainer_name, dtype: object
0      almenräder
1           hofer
2         hellier
3           klein
4       meulen/nl
5           smith
6         potters
7        fuhrmann
8        fuhrmann
9     verberkt/nl
10         troost
Name: Trainer_name, dtype: object
0         gröschel
1             klug
2           hickst
3            hofer
4    hammer-hansen
5            moser
6            grewe
7            smith
Name: Trainer_name, dtype: object
0    suborics
1      wöhler
2       mäder
3        klug
4    suborics
5        klug
6       moser
7      wöhler
8        klug
9       hofer
Name: Trainer_name, dtype: object
0    bodenhagen
1        troost
2      lanslots
3       schwinn
4     weißmeier
5        schütz
6        dewald
7         mayer
Name: Trainer_name, dtype: object
0                 hofer
1             meulen/nl
2             schiergen
3                 blume
4            bodenhagen
5                troost
6                leiner
7            fries-jung
8                bradik
9     sofsky-prappacher
10          kleinkorres
Name: Trainer_name, dtype: object
0        potters
1      laznovska
2          alles
3          storp
4       beckmann
5        giesgen
6          mäder
7     heimburger
8          schön
9      weißmeier
10        hillis
11        leiner
12         storp
Name: Trainer_name, dtype: object
0     bodenhagen
1         hillis
2        giesgen
3          klein
4          smith
5        hellier
6         thomas
7          lentz
8       beckmann
9          lentz
10         recke
Name: Trainer_name, dtype: object
0        bolte
1    meulen/nl
2       thomas
3        klein
4      smrczek
5      smrczek
6      smrczek
7       hickst
8    weißmeier
Name: Trainer_name, dtype: object
0     carvalho
1         klug
2         klug
3     carvalho
4    schiergen
5     suborics
Name: Trainer_name, dtype: object
0      hofer
1      storp
2    smrczek
3      recke
4      bolte
Name: Trainer_name, dtype: object
0        wöhler
1         klein
2        thomas
3    almenräder
4         klein
5     laznovska
Name: Trainer_name, dtype: object
0          barsig
1         dzubasz
2           grewe
3           demme
4        fuhrmann
5           demme
6    hottewitzsch
7        fuhrmann
8       angermann
Name: Trainer_name, dtype: object
0       friebel
1      fuhrmann
2      fuhrmann
3     angermann
4         glanz
5     nienstädt
6      fuhrmann
7       richter
8         busch
9     schriever
10       franke
Name: Trainer_name, dtype: object
0            henkenjohann
1                 dzubasz
2                 megsner
3               fabianova
4                 dzubasz
5                  glodde
6     schleusner-fruhriep
7                 paulick
8                 richter
9                 megsner
10    schleusner-fruhriep
11               fuhrmann
Name: Trainer_name, dtype: object
0       glodde
1        busch
2        busch
3     fuhrmann
4        lentz
5     fuhrmann
6      reineke
7         rank
8     fuhrmann
9       müller
10      schöps
11     steudle
Name: Trainer_name, dtype: object
0        glodde
1      sprengel
2       paulick
3      trobisch
4          pohl
5     nienstädt
6       dzubasz
7     angermann
8       richter
9       richter
10      potters
11     fuhrmann
Name: Trainer_name, dtype: object
0    fuhrmann
1    gröschel
2    vovcenko
3      barsig
4     dzubasz
5    fuhrmann
6     richter
7    timpelan
Name: Trainer_name, dtype: object
0       busch
1      schütz
2       mayer
3       storp
4       lüker
5    fuhrmann
6      franke
Name: Trainer_name, dtype: object
0      recke
1    gülcher
2    geisler
3     kasper
4      klein
5    rudolph
6    rudolph
Name: Trainer_name, dtype: object
0       rudolph
1    straßmeier
2         klein
3       hellier
4    neuberg/cz
5     schöndorf
6         gries
7        donate
Name: Trainer_name, dtype: object
0         geisler
1           klein
2         schwinn
3        schleppi
4    peterschmitt
5          keller
Name: Trainer_name, dtype: object
0    carvalho
1     rudolph
2       recke
3       klein
4    schleppi
5      thomas
6     schwinn
Name: Trainer_name, dtype: object
0       klug
1       renz
2       berg
3      klein
4      recke
5     kogler
6    rudolph
Name: Trainer_name, dtype: object
0       klein
1     schwinn
2    gerstner
3     hellier
4       gratz
5    schleppi
6     geisler
7    ehrhardt
8     geisler
Name: Trainer_name, dtype: object
0         wroblewski
1           vovcenko
2    de vlaminck/bel
3               gehm
4            smrczek
5            schmock
6              recke
Name: Trainer_name, dtype: object
0      vovcenko
1      schleppi
2         recke
3        kogler
4    straßmeier
Name: Trainer_name, dtype: object
0       wöhler
1         klug
2         klug
3       hickst
4    schiergen
5     carvalho
Name: Trainer_name, dtype: object
0        rohne
1    schiergen
2        grewe
3    weißmeier
4      smrczek
5        rohne
6        kurdu
7      schwinn
Name: Trainer_name, dtype: object
0          smith
1       vovcenko
2     wolters/nl
3      meulen/nl
4         hickst
5    jonkhart/nl
6        smrczek
7          fuchs
8          mäder
9      schneider
Name: Trainer_name, dtype: object

0                   schnakenberg
1                      weißmeier
2     berrevoets-uivel/nlerlande
3                         dewald
4                          krapp
5                           lenz
6                        smrczek
7                        schwinn
8                     bodenhagen
9                     engels/bel
10                        kelkel
Name: Trainer_name, dtype: object
0            lenz
1    schnakenberg
2      engels/bel
3         schwinn
4          thomas
5       gernreich
6           smith
Name: Trainer_name, dtype: object
0        warren
1         smith
2    wolters/nl
3         storp
4     laznovska
5     meulen/nl
6         smith
7       weidler
Name: Trainer_name, dtype: object
0         klug
1    schiergen
2        grewe
3    schiergen
4        grewe
5    schiergen
6       wöhler
7        hofer
Name: Trainer_name, dtype: object
0     weißmeier
1          klug
2       smrczek
3    wolters/nl
4     friesdorf
5      vovcenko
6       schwinn
7        kelkel
Name: Trainer_name, dtype: object
0      almenräder
1    hirschberger
2           storp
3        stefutti
4         wöhling
Name: Trainer_name, dtype: object
0       klug
1     hickst
2     barsig
3    dzubasz
4      demme
5      demme
Name: Trainer_name, dtype: object
0        storp
1        demme
2      dzubasz
3    angermann
4       glodde
5    angermann
6       glodde
7     fuhrmann
Name: Trainer_name, dtype: object
0         glodde
1      fabianova
2    ferentschak
3       vovcenko
4          figge
Name: Trainer_name, dtype: object
0      zschache
1    almenräder
2         demme
3        schütz
4      fuhrmann
5    vorsilkova
6     angermann
Name: Trainer_name, dtype: object
0         glodde
1      angermann
2      angermann
3    ferentschak
4          demme
5          stech
6           türk
Name: Trainer_name, dtype: object
0    zschache
1      pyritz
2     dzubasz
3     dzubasz
4       figge
5      pyritz
6       stech
7       stech
Name: Trainer_name, dtype: object
0      pyritz
1    vovcenko
2       stech
3       demme
4      glodde
5      barsig
Name: Trainer_name, dtype: object
0    suborics
1       bolte
2       bolte
3    gröschel
4    vovcenko
5     potters
6     werning
Name: Trainer_name, dtype: object
0        moser
1         leve
2    meulen/nl
3     vovcenko
4      richter
Name: Trainer_name, dtype: object
0    gröschel
1      wöhler
2      hickst
3     richter
4       harms
5    sprengel
Name: Trainer_name, dtype: object
0                   klug
1                 wöhler
2                 mongil
3               vovcenko
4                  moser
5               gröschel
6                 hickst
7                potters
8    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        vovcenko
1           moser
2    hirschberger
3         potters
4           grewe
5        carvalho
6       prunk/aut
7        satra/cz
Name: Trainer_name, dtype: object
0              angermann
1                 wöhler
2                  moser
3               sprengel
4                 hickst
5    schleusner-fruhriep
6                  bolte
7            maronka/hun
8               gröschel
9              meulen/nl
Name: Trainer_name, dtype: object
0    suborics
1
2    gröschel
3        leve
4        klug
5      wöhler
6        klug
Name: Trainer_name, dtype: object
0        potters
1           leve
2       gröschel
3        richter
4       vovcenko
5        richter
6        potters
7    richter/aut
Name: Trainer_name, dtype: object
0      reineke
1        bolte
2      richter
3     gröschel
4    nienstädt
5        weber
6    lindemann
7        moser
Name: Trainer_name, dtype: object
0       bradik
1      potters
2    nienstädt
3        lentz
4      richter
5     hartmann
6     gröschel
7    lindemann
Name: Trainer_name, dtype: object
0    hickst
1     mayer
2     mayer
3     mayer
4     figge
5    drozda
6     frank
7    hillis
Name: Trainer_name, dtype: object
0       hillis
1        glanz
2       wöhler
3    schiergen
4        glanz
5       hillis
6      kerekes
7        figge
8       hillis
Name: Trainer_name, dtype: object
0     almenräder
1          frank
2          mayer
3        kerekes
4       suborics
5          figge
6          glanz
7           pils
8           pils
9     heimburger
10      rotering
Name: Trainer_name, dtype: object
0     kleinkorres
1       schiergen
2          wöhler
3           figge
4           klein
5           figge
6           glanz
7         kerekes
8          hillis
9           frank
10         hillis
11          klein
12         hillis
13         martin
Name: Trainer_name, dtype: object
0            hillis
1     hammer-hansen
2             grewe
3           geisler
4            hillis
5             glanz
6            hillis
7             figge
8            hillis
9        almenräder
10            mayer
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2         klug
3         klug
4       wöhler
5       wöhler
6        hofer
Name: Trainer_name, dtype: object
0     schiergen
1         figge
2        hillis
3         figge
4         glanz
5    almenräder
Name: Trainer_name, dtype: object
0         kerekes
1           mayer
2           figge
3       mühlbauer
4          hillis
5           rulec
6          drozda
7       mühlbauer
8          müller
9           figge
10          figge
11         hillis
12           pils
13    stummer/aut
Name: Trainer_name, dtype: object
0     schiergen
1       dzubasz
2        barsig
3         stech
4       paulick
5    vorsilkova
6        barsig
Name: Trainer_name, dtype: object
0      richter
1    vinklarek
2     fuhrmann
3        mayer
4        bigus
5        glanz
6       glodde
7        stech
8     fuhrmann
Name: Trainer_name, dtype: object
0                richter
1                 pyritz
2                   pohl
3                 barsig
4                  stech
5           borkowski/pl
6                 barsig
7    schleusner-fruhriep
8               zschache
Name: Trainer_name, dtype: object
0            storp
1     endaltsev/cz
2          dzubasz
3           schütz
4         fuhrmann
5           pyritz
6          dzubasz
7           glodde
8          paulick
9         fuhrmann
10         paulick
Name: Trainer_name, dtype: object
0         barsig
1        dzubasz
2          glanz
3         pyritz
4         schütz
5        siegert
6     neuberg/cz
7          stech
8        richter
9         schütz
10         bigus
11      fuhrmann
Name: Trainer_name, dtype: object
0        figge
1    angermann
2     fuhrmann
3         pohl
4     fuhrmann
5       hillis
Name: Trainer_name, dtype: object
0        pyritz
1    hlavaty/cz
2     lippitsch
3         stech
4       dzubasz
5       richter
6       swiatek
7        glodde
8     angermann
Name: Trainer_name, dtype: object
0                dzubasz
1                  stech
2    schleusner-fruhriep
3              schiergen
4                 barsig
5                  stech
6                 barsig
7                 wöhler
Name: Trainer_name, dtype: object
0      dzubasz
1      richter
2    fabianova
3        storp
4       barsig
5       schöps
6      richter
Name: Trainer_name, dtype: object
0          ehl
1      hellier
2        storp
3       kujath
4    weißmeier
Name: Trainer_name, dtype: object
0     weißmeier
1      beckmann
2        birner
3         recke
4    straßmeier
Name: Trainer_name, dtype: object
0       weißmeier
1    peterschmitt
2          eisler
3           storp
4        beckmann
Name: Trainer_name, dtype: object
0     carvalho
1       hickst
2     suborics
3    schiergen
4      smrczek
5         gehm
6    schiergen
7       wöhler
Name: Trainer_name, dtype: object
0       bolte
1       recke
2       weber
3       bolte
4    suborics
5    gröschel
6        blau
7     werning
8        klug
Name: Trainer_name, dtype: object
0            hofer
1            bolte
2          werning
3           thomas
4          werning
5             bieß
6        laznovska
7       wolters/nl
8    van kempen/nl
9            recke
Name: Trainer_name, dtype: object
0            klug
1         smrczek
2    hirschberger
3        carvalho
4            klug
5          hickst
6        suborics
7          wöhler
Name: Trainer_name, dtype: object
0     bodenhagen
1          riese
2         thomas
3           weis
4        giesgen
5        potters
6         maurer
7         engels
8         römich
9      weißmeier
10       potters
11     klapschus
12        roesch
13    bodenhagen
Name: Trainer_name, dtype: object
0        klug
1    suborics
2        klug
3     head/fr
4       bolte
5       glanz
Name: Trainer_name, dtype: object
0        bolte
1       hickst
2       wöhler
3     mintchev
4     gröschel
5    schiergen
6         klug
7       hickst
8        bolte
Name: Trainer_name, dtype: object
0            alles
1          potters
2        meulen/nl
3         rotering
4          giesgen
5           roesch
6     verheyen/bel
7            lüker
8        laznovska
9          giesgen
10          schwab
Name: Trainer_name, dtype: object
0      paraknewitz-kalla
1                  recke
2           schnakenberg
3               vovcenko
4    schleusner-fruhriep
5                  smith
6                dunk/nl
Name: Trainer_name, dtype: object
0    schiergen
1       wöhler
2    schiergen
3         klug
4     haustein
5      dzubasz
Name: Trainer_name, dtype: object
0        fuhrmann
1    schnakenberg
2       meulen/nl
3           smith
4           lentz
5      grzegowski
6       nienstädt
7        vovcenko
8       jansen/nl
Name: Trainer_name, dtype: object
0     grünewald
1         lentz
2     nienstädt
3      beckmann
4        sauter
5         storp
6          weis
7        bradik
8      hartmann
9      fuhrmann
10    nienstädt
11      reineke
Name: Trainer_name, dtype: object
0            richter
1         almenräder
2          kienemann
3            scholze
4    stein-schomburg
5            richter
6              lentz
7              storp
8    stein-schomburg
Name: Trainer_name, dtype: object
0           fuhrmann
1              grewe
2            potters
3           rotering
4              lentz
5            scholze
6    stein-schomburg
7              smith
8             glodde

Name: Trainer_name, dtype: object
0       fuhrmann
1        potters
2     almenräder
3      kienemann
4    ferentschak
5      meulen/nl
6       haustein
7       vovcenko
Name: Trainer_name, dtype: object
0         schnakenberg
1             vovcenko
2                recke
3                 weis
4    paraknewitz-kalla
5                smith
6             rotering
7               sauter
Name: Trainer_name, dtype: object
0                   klug
1               gröschel
2               vovcenko
3                 barsig
4    schleusner-fruhriep
5    schleusner-fruhriep
6               fuhrmann
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2      smrczek
3       mongil
4        demme
5      smrczek
Name: Trainer_name, dtype: object
0     schiergen
1      carvalho
2          klug
3        wöhler
4         hofer
5          klug
6        hickst
7    almenräder
8     schiergen
Name: Trainer_name, dtype: object
0     laznovska
1       hellier
2       smrczek
3     kleffmann
4         mayer
5         lüker
6    wolters/nl
7     weißmeier
8        leiner
Name: Trainer_name, dtype: object
0      carvalho
1       smrczek
2      schleppi
3    wolters/nl
4        wöhler
5        dewald
Name: Trainer_name, dtype: object
0            demme
1           leiner
2          friebel
3          lehmann
4     schepens/bel
5        schiergen
6            gratz
7            smith
8            gries
9        schneider
10         smrczek
11       weißmeier
12       weißmeier
Name: Trainer_name, dtype: object
0        gröschel
1       schiergen
2    hirschberger
3           klein
4    hirschberger
5           smith
6     kleinkorres
Name: Trainer_name, dtype: object
0       wolters/nl
1         sprengel
2    van kempen/nl
3        jansen/nl
4        gernreich
5          hellier
6             berg
7         schleppi
Name: Trainer_name, dtype: object
0    bracke/bel
1       hellier
2        troost
3       schwinn
4        warren
5       schwinn
6       schwinn
7         smith
8     weißmeier
Name: Trainer_name, dtype: object
0              schiergen
1                 wöhler
2                dzubasz
3               fuhrmann
4               suborics
5    schleusner-fruhriep
Name: Trainer_name, dtype: object
0               fuhrmann
1                paulick
2    schleusner-fruhriep
3                 pyritz
4              fabianova
5                dzubasz
6                  storp
7                megsner
8               fuhrmann
Name: Trainer_name, dtype: object
0     angermann
1      fuhrmann
2        schütz
3     angermann
4       paulick
5      fuhrmann
6       dzubasz
7       megsner
8        schütz
9         storp
10      richter
11     fuhrmann
12      megsner
13     fuhrmann
14        storp
15        stech
Name: Trainer_name, dtype: object
0        sprengel
1          pyritz
2        gröschel
3           stech
4         paulick
5          pyritz
6    borkowski/pl
Name: Trainer_name, dtype: object
0          wöhler
1       fabianova
2        suborics
3        zschache
4        vovcenko
5         dzubasz
6    hottewitzsch
7       angermann
8       wyrzyk/pl
Name: Trainer_name, dtype: object
0                  wöhler
1             morrison/gb
2                suborics
3                sprengel
4     schleusner-fruhriep
5                    klug
6                suborics
7               wyrzyk/pl
8                carvalho
9     schleusner-fruhriep
10              steinberg
11                  grewe
12                  mayer
13                   klug
14                 wöhler
15                  velin
Name: Trainer_name, dtype: object
0                paulick
1               gröschel
2                dzubasz
3    schleusner-fruhriep
4                smrczek
5                 pyritz
6                  stech
Name: Trainer_name, dtype: object
0      richter
1      dzubasz
2    angermann
3     fuhrmann
4    fabianova
5       arnold
6      dzubasz
7        storp
Name: Trainer_name, dtype: object
0       wöhler
1     suborics
2       hickst
3         klug
4     carvalho
5    schiergen
Name: Trainer_name, dtype: object
0      friebel
1        alles
2      schwinn
3        lüker
4        smith
5    gernreich
6        lüker
7      giesgen
8      smrczek
9    weißmeier
Name: Trainer_name, dtype: object
0         storp
1     laznovska
2     schiergen
3          lenz
4      kocanova
5       schwinn
6     meulen/nl
7    fries-jung
8        koutny
9          türk
Name: Trainer_name, dtype: object
0            oost
1           smith
2          thomas
3          warren
4      heimburger
5       weißmeier
6     jonkhart/nl
7           mäder
8            bieß
9           storp
10        smrczek
Name: Trainer_name, dtype: object
0                      meulen/nl
1                     engels/bel
2                   hirschberger
3                          smith
4                        schwinn
5                           weis
6                        hellier
7     berrevoets-uivel/nlerlande
8                           lenz
9                        schwinn
10                        hobitz
11                      overbeck
Name: Trainer_name, dtype: object
0       schiergen
1    hirschberger
2        suborics
3          hickst
4           blume
5     kleinkorres
Name: Trainer_name, dtype: object
0          wöhler
1            klug
2          hickst
3          hickst
4       schiergen
5    hirschberger
6           mäder
Name: Trainer_name, dtype: object
0       gröschel
1      meulen/nl
2        geisler
3     almenräder
4         schaaf
5    kleinkorres
Name: Trainer_name, dtype: object
0             schleppi
1    sofsky-prappacher
2                klein
3               roesch
4             schleppi
5              rudolph
6               müller
7               thomas
8                 schu
9               müller
Name: Trainer_name, dtype: object
0            klein
1          rudolph
2       straßmeier
3         overbeck
4            rojan
5    schwarzenbeck
6         reischig
7       blumenauer
8           thomas
9        weißmeier
Name: Trainer_name, dtype: object
0      geisler
1       keller
2    weißmeier
3         schu
4        klein
5    schöndorf
6        smith
7        storp
8      schwinn
9      rudolph
Name: Trainer_name, dtype: object
0    peterschmitt
1           lentz
2          birner
3         nirschl
4         rudolph
5            falk
6          koutny
Name: Trainer_name, dtype: object
0        kerekes
1          rulec
2         kujath
3           schu
4          storp
5     heimburger
6        schwinn
7           schu
8         donate
9           wust
10      maholick
Name: Trainer_name, dtype: object
0        steinberg
1         overbeck
2        steinberg
3         schleppi
4    schwarzenbeck
5             klug
6         rotering
7             volz
Name: Trainer_name, dtype: object
0     schiergen
1          leve
2         rohne
3      mintchev
4         bolte
5    reutershan
Name: Trainer_name, dtype: object
0      almenräder
1           bolte
2           hofer
3    hirschberger
4       schiergen
5    verheyen/bel
6        mintchev
Name: Trainer_name, dtype: object
0          klug
1        wöhler
2     schiergen
3    almenräder
4      carvalho
5        hickst
6         grewe
Name: Trainer_name, dtype: object
0     bodenhagen
1          mäder
2         thomas
3          lentz
4      nienstädt
5     engels/bel
6       gerstner
7           weis
8      weißmeier
9         mongil
10       friebel
11     gernreich
12     weißmeier
Name: Trainer_name, dtype: object
0           demme
1          schütz
2       gernreich
3     kleinkorres
4          birner
5           demme
6    verheyen/bel
Name: Trainer_name, dtype: object
0        klug
1    sprengel
2      hickst
3    carvalho
4    gröschel
5    stefutti
Name: Trainer_name, dtype: object
0      wöhler
1      haggas
2      wöhler
3    suborics
4       mäder
5    suborics
6       moser
7        klug
8      wöhler
Name: Trainer_name, dtype: object
0    meulen/nl
1        bolte
2      rosport
3      werning
4    laznovska
5    nienstädt
6        krapp
7    weißmeier
Name: Trainer_name, dtype: object
0           ehl
1     nienstädt
2        troost
3    wolters/nl
4           ehl
5        troost
6     rosenbach
7      gerstner
Name: Trainer_name, dtype: object
0    almenräder
1         recke
2         storp
3       smrczek
4         bolte
5    wolters/nl
6         frank
7      fuhrmann
Name: Trainer_name, dtype: object
0          potters
1           hillis
2          schwinn
3            glanz
4           birner
5     peterschmitt
6        weißmeier
7           maurer
8          smrczek
9          hellier
10        rotering
11           stech
12        rotering
13         schwinn
14        fuhrmann
15      bodenhagen
Name: Trainer_name, dtype: object
0       lanslots
1     bodenhagen
2       fuhrmann
3          hofer
4        hellier
5          smith
6           berg
7       schleppi
8          mayer
9          weber
10       schwinn
11      rotering
Name: Trainer_name, dtype: object
0              klug
1          suborics
2             hofer
3             recke
4          gröschel
5             stech
6             figge
7     hammer-hansen
8          schleppi
9      brandstätter
10           hickst
11            mayer
Name: Trainer_name, dtype: object
0             grewe
1             figge
2        almenräder
3             stech
4              klug
5         schiergen
6         weißmeier
7            hillis
8     hammer-hansen
9             klein
10    hammer-hansen
11            glanz
Name: Trainer_name, dtype: object
0           kerekes
1      peterschmitt
2           dzubasz
3             bolte
4           smrczek
5           bocskai
6          fuhrmann
7           schwinn
8             bolte
9     van kempen/nl
10            glanz
11     brandstätter
12          smrczek
13           hickst
Name: Trainer_name, dtype: object
0            hillis
1          lanslots
2           geisler
3        wolters/nl
4             figge
5         gernreich
6     van kempen/nl
7           potters
8         jansen/nl
9         weißmeier
10         sprengel
Name: Trainer_name, dtype: object
0       dzubasz
1       bocskai
2         klein
3    almenräder
4       hellier
5         grewe
6         klein
Name: Trainer_name, dtype: object
0    suborics
1     richter
2       bolte
3        fust
4      thomas
Name: Trainer_name, dtype: object
0        schöps
1         lentz
2         recke
3         lentz
4      beckmann
5     gernreich
6    bodenhagen
Name: Trainer_name, dtype: object
0        vovcenko
1          wöhler
2            klug
3        suborics
4          mongil
5          hickst
6    hirschberger
7       schiergen
8            klug
Name: Trainer_name, dtype: object
0             wöhler
1          schiergen
2             hickst
3          schiergen
4              bolte
5           suborics
6    de vlaminck/bel
Name: Trainer_name, dtype: object
0    clement/fr
1
2      suborics
3          klug
4         moser
5      graffard
6      gröschel
7          klug
8        wöhler
9          leve
Name: Trainer_name, dtype: object
0         reineke
1    henkenjohann
2        gröschel
3          hickst
4         richter
5        vovcenko
6         werning
Name: Trainer_name, dtype: object
0        klug
1       bolte
2     wöhling
3        klug
4       recke
5       bolte
6    vovcenko
Name: Trainer_name, dtype: object
0      grünewald
1          grewe
2        richter
3    ferentschak
4    ferentschak
5        potters
Name: Trainer_name, dtype: object
0      richter
1    nienstädt
2        lentz
3      smrczek
4    nienstädt
5     hartmann
Name: Trainer_name, dtype: object
0      dewald
1       mayer
2        rank
3       busch
4       storp
5       storp
6    fuhrmann

Name: Trainer_name, dtype: object
0       franke
1        lüker
2        storp
3        lüker
4    laznovska
5     fuhrmann
6     fuhrmann
7       wegner
Name: Trainer_name, dtype: object
0     timpelan
1    schriever
2        lentz
3        busch
4      steudle
5     fuhrmann
6        storp
Name: Trainer_name, dtype: object
0       glodde
1         rank
2     fuhrmann
3        storp
4    schriever
5        busch
6     fuhrmann
Name: Trainer_name, dtype: object
0       hickst
1      bocskai
2     fuhrmann
3        glanz
4    schiergen
5        demme
6       wöhler
7        stech
Name: Trainer_name, dtype: object
0          potters
1            storp
2         lanslots
3          smrczek
4          hellier
5         fuhrmann
6         fuhrmann
7         rotering
8            lentz
9            mayer
10    peterschmitt
Name: Trainer_name, dtype: object
0        schiergen
1             klug
2    hammer-hansen
3        steinberg
4             klug
5        schiergen
6            recke
Name: Trainer_name, dtype: object
0         figge
1         demme
2      fuhrmann
3         bolte
4         hofer
5        kujath
6         storp
7         stech
8       potters
9       potters
10    mühlbauer
11      schwinn
12        klein
13       leiner
Name: Trainer_name, dtype: object
0          dzubasz
1           hickst
2            glanz
3        schiergen
4            grewe
5    hammer-hansen
6          rudolph
7            figge
8            bolte
9       wolters/nl
Name: Trainer_name, dtype: object
0    carvalho
1        klug
2     smrczek
3       hofer
4    suborics
5        klug
Name: Trainer_name, dtype: object
0      potters
1     gröschel
2    schneider
3      bocskai
4    angermann
5        mayer
6        schön
7       keller
Name: Trainer_name, dtype: object
0            wöhler
1             bolte
2             rulec
3       kleinkorres
4     hammer-hansen
5            wöhler
6             lentz
7             stech
8         angermann
9              leve
10       almenräder
Name: Trainer_name, dtype: object
0             weißmeier
1                 rulec
2          schepens/bel
3                hickst
4                leiner
5                 stech
6               rudolph
7             schneider
8     sofsky-prappacher
9                 mähne
10                bolte
11                mayer
12              schwinn
Name: Trainer_name, dtype: object
0      glanz
1    bocskai
2      glanz
3     dewald
4     hillis
5      frank
6      hofer
7      grewe
Name: Trainer_name, dtype: object
0     geisler
1     giesgen
2      engels
3      gaspar
4      engels
5       storp
6     richter
7       gratz
8     bocskai
9       weber
10      recke
11    schärer
12      hofer
Name: Trainer_name, dtype: object
0       schiergen
1        suborics
2       decouz/fr
3            klug
4         schwinn
5    hirschberger
6          hillis
7        gröschel
Name: Trainer_name, dtype: object
0               leve
1              figge
2          meulen/nl
3              bolte
4            schärer
5              figge
6               klug
7              hofer
8            bocskai
9              recke
10    suter-weber/ch
Name: Trainer_name, dtype: object
0            glanz
1         gröschel
2            glanz
3          rudolph
4       heimburger
5    schwarzenbeck
6            figge
7            bolte
8         rotering
9             schu
Name: Trainer_name, dtype: object
0         moser
1          klug
2    almenräder
3      carvalho
4      vovcenko
5     schiergen
6         mäder
Name: Trainer_name, dtype: object
0         hickst
1       gröschel
2        bocskai
3          weber
4         birner
5     almenräder
6           berg
7      meulen/nl
8    kleinkorres
Name: Trainer_name, dtype: object
0        laznovska
1         beckmann
2           keller
3          giesgen
4          hellier
5         fuhrmann
6            gries
7            recke
8     peterschmitt
9            storp
10         giesgen
11        fuhrmann
12       weißmeier
Name: Trainer_name, dtype: object
0    hirschberger
1        vovcenko
2         smrczek
3    hirschberger
4           hofer
Name: Trainer_name, dtype: object
0          hickst
1          hickst
2    hirschberger
3           figge
4           klein
5          wöhler
Name: Trainer_name, dtype: object
0          wöhler
1    prodhomme/fr
2            klug
3            klug
4           hofer
5       schiergen
6        carvalho
Name: Trainer_name, dtype: object
0       fuhrmann
1          demme
2       carvalho
3          weber
4        schwinn
5      schiergen
6          stech
7       schleppi
8     bodenhagen
9         keller
10    almenräder
11       rosport
12       friebel
13       smrczek
Name: Trainer_name, dtype: object
0        suborics
1           stech
2            klug
3           figge
4    hirschberger
5    hirschberger
6           glanz
7       schiergen
8        gröschel
9          hickst
Name: Trainer_name, dtype: object
0         carvalho
1         gröschel
2           wöhler
3             klug
4             klug
5    janikowski/pl
Name: Trainer_name, dtype: object
0         schütz
1     wolters/nl
2       fuhrmann
3         barsig
4          weber
5           pohl
6     almenräder
7          figge
8       rotering
9        potters
10     laznovska
11       geisler
Name: Trainer_name, dtype: object
0          haustein
1            wöhler
2        wolters/nl
3        almenräder
4    suter-weber/ch
5           smrczek
6            hickst
7          gröschel
8           smrczek
Name: Trainer_name, dtype: object
0          ehl
1       birner
2      gülcher
3        storp
4        stech
5     fuhrmann
6      potters
7    laznovska
8        frank
9      schwinn
Name: Trainer_name, dtype: object
0        barsig
1       dzubasz
2      albrecht
3    hlavaty/cz
4     angermann
5     angermann
6    vorsilkova
Name: Trainer_name, dtype: object
0       barsig
1      dzubasz
2       pyritz
3      siegert
4    angermann
5        storp
6      scholze
7    angermann
8         türk
Name: Trainer_name, dtype: object
0       dzubasz
1        glodde
2      albrecht
3    neuberg/cz
4        pyritz
5     angermann
6    neuberg/cz
Name: Trainer_name, dtype: object
0    fabianova
1       glodde
2       barsig
3        mayer
4     vovcenko
Name: Trainer_name, dtype: object
0        bigus
1    angermann
2         pohl
3      richter
4       glodde
5        storp
6        glanz
7       bradik
8    angermann
Name: Trainer_name, dtype: object
0        barsig
1      zschache
2        glodde
3      albrecht
4      vovcenko
5        arnold
6    hlavaty/cz
7        schütz
Name: Trainer_name, dtype: object
0    fabianova
1       schütz
2       glodde
3      scholze
4    vinklarek
5    angermann
Name: Trainer_name, dtype: object
0        moser
1       hickst
2    schiergen
3     suborics
4     carvalho
5        blume
Name: Trainer_name, dtype: object
0      carvalho
1     fabianova
2         bolte
3          klug
4         mäder
5        glodde
6    nedorostek
7      fuhrmann
Name: Trainer_name, dtype: object
0            weber
1     schnakenberg
2         sprengel
3            bolte
4          potters
5         trobisch
6            demme
7        nienstädt
8            storp
9      ferentschak
10        gröschel
11          glodde
12         richter
13         potters
Name: Trainer_name, dtype: object
0        schiergen
1             klug
2          potters
3         gröschel
4         sprengel
5         suborics
6           mongil
7         vovcenko
8          richter
9     schnakenberg
10        sprengel
Name: Trainer_name, dtype: object
0        hickst
1     schiergen
2         bolte
3      sprengel
4       richter
5         bolte
6      gröschel
7         demme
8         bolte
9      gröschel
10      potters
Name: Trainer_name, dtype: object
0              wolters/nl
1                   moser
2               meulen/nl
3     schleusner-fruhriep
4                 richter
5               meulen/nl
6                gröschel
7                 richter
8                 dzubasz
9                   bolte
10               fuhrmann
Name: Trainer_name, dtype: object
0                haustein
1                   moser
2                  bradik
3                beckmann
4            schnakenberg
5               fabianova
6              bodenhagen
7     schleusner-fruhriep
8                  glodde
9                   lentz
10               vovcenko
11                richter
12                  kamin
Name: Trainer_name, dtype: object
0        moser
1        hofer
2        lentz
3      wöhling
4    nienstädt
5      dzubasz
6        demme
7       stokes
8        bolte
Name: Trainer_name, dtype: object
0        wöhler
1       dzubasz
2         moser
3      gröschel
4     fabianova
5         moser
6      gröschel
7     laznovska
8    almenräder
Name: Trainer_name, dtype: object
0     fabianova
1        glodde
2      fuhrmann
3    bodenhagen
4     lindemann
5      beckmann
6        dewald
7        franke
8      fuhrmann
Name: Trainer_name, dtype: object
0     hartmann
1     fuhrmann
2    kleffmann
3     fuhrmann
4       warren
5    rosenbach
6        smith
7        smith
8    weißmeier
9     fuhrmann
Name: Trainer_name, dtype: object
0       weißmeier
1         smrczek
2    schnakenberg
3        schleppi
4           alles
5        vovcenko
6     kleinkorres
7        rotering
8           storp
9       gernreich
Name: Trainer_name, dtype: object
0       hellier
1       schwinn
2      hartmann
3      fuhrmann
4      kocanova
5         lentz
6         smith
7      rotering
8       hellier
9         storp
10    gernreich
Name: Trainer_name, dtype: object
0       hickst
1    schiergen
2    schiergen
3        rohne
4         klug
5        rohne
6        recke
7       dewald
8     fuhrmann
Name: Trainer_name, dtype: object
0        kleinkorres
1    verschueren/bel
2              recke
3              blume
4          laznovska
5            smrczek
6              leirs
7             bradik
Name: Trainer_name, dtype: object
0          lentz
1       vovcenko
2      meulen/nl
3      kienemann
4    verberkt/nl
5       fuhrmann
6        smrczek
7        smrczek
Name: Trainer_name, dtype: object
0         alles
1     laznovska
2       schwinn
3     weißmeier
4         smith
5    heimburger
6      fuhrmann
7      rotering
Name: Trainer_name, dtype: object
0      hellier
1        rohne
2    meulen/nl
3    meulen/nl
4        mäder
5         falk
Name: Trainer_name, dtype: object
0       leve
1      bolte
2    richter
3     barsig
4     warren
5    potters
Name: Trainer_name, dtype: object
0          wöhler
1       schiergen
2        sprengel
3            klug
4    hirschberger
5         smrczek
6         smrczek
7         potters
8           bolte
Name: Trainer_name, dtype: object
0           bolte
1       schiergen
2           storp
3    verheyen/bel
4           smith
5         richter
6       nienstädt
7           storp
Name: Trainer_name, dtype: object

0     kleinkorres
1           bolte
2        haustein
3          barsig
4      nedorostek
5         werning
6        overbeck
7            leve
8     kleinkorres
9         werning
10     bodenhagen
Name: Trainer_name, dtype: object
0     nienstädt
1         smith
2     gernreich
3    heimburger
4       richter
5         smith
6          weis
7       potters
8      overbeck
Name: Trainer_name, dtype: object
0      wöhler
1      hickst
2     potters
3    haustein
4     hellier
Name: Trainer_name, dtype: object
0         hellier
1           hofer
2      bodenhagen
3    verheyen/bel
Name: Trainer_name, dtype: object
0          ehl
1     schleppi
2        storp
3     gerstner
4    schöndorf
5       kasper
6      schwinn
Name: Trainer_name, dtype: object
0     schmeer
1    schleppi
2     rudolph
3     rudolph
4     lehmann
5       recke
Name: Trainer_name, dtype: object
0      schwinn
1    weißmeier
2         berg
3        recke
4         renz
5        klein
6      rudolph
7       birner
8      smrczek
Name: Trainer_name, dtype: object
0    hirschberger
1          birner
2        schleppi
3         schwinn
4            volz
5    verheyen/bel
6           recke
7         rudolph
Name: Trainer_name, dtype: object
0         bieß
1        storp
2    weißmeier
3        klein
4     reischig
5      schwinn
6         schu
Name: Trainer_name, dtype: object
0         gratz
1      rotering
2       rudolph
3         gries
4    blumenauer
5          schu
6       schwinn
7        eisler
8        schwab
Name: Trainer_name, dtype: object
0              fabianova
1               carvalho
2                 wöhler
3              schiergen
4                paulick
5    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       hickst
1    schiergen
2      dzubasz
3     sprengel
4     gröschel
5     gröschel
6     fuhrmann
Name: Trainer_name, dtype: object
0          hickst
1    hirschberger
2            klug
3           grewe
4    hottewitzsch
5        suborics
6     kleinkorres
7        suborics
8        fuhrmann
Name: Trainer_name, dtype: object
0                trobisch
1                  schütz
2                   mayer
3                fuhrmann
4                   storp
5             kleinkorres
6                  pyritz
7                   storp
8                  schütz
9                 megsner
10    schleusner-fruhriep
11               olkowski
12        stein-schomburg
13               fuhrmann
Name: Trainer_name, dtype: object
0       hofer
1    blazkova
Name: Trainer_name, dtype: object
0     stech
1    hillis
Name: Trainer_name, dtype: object
0      steinberg
1    kleinkorres
Name: Trainer_name, dtype: object
0      olkowski
1    porebna/pl
Name: Trainer_name, dtype: object
0              schiergen
1              schiergen
2               sprengel
3    schleusner-fruhriep
4               gröschel
5                   klug
6               gröschel
7                 hickst
Name: Trainer_name, dtype: object
0        carvalho
1            klug
2       schiergen
3          wöhler
4       schiergen
5         dzubasz
6    hirschberger
7            klug
Name: Trainer_name, dtype: object
0                 glodde
1               fuhrmann
2        stein-schomburg
3                megsner
4    schleusner-fruhriep
5                 hillis
6                dzubasz
7                 pyritz
8                 pyritz
Name: Trainer_name, dtype: object
0            mayer
1    schwarzenbeck
2            glanz
3             pils
4            mayer
5           hillis
Name: Trainer_name, dtype: object
0              pils
1             mayer
2        straßmeier
3            müller
4     schwarzenbeck
5            roesch
6             figge
7            hillis
8           geisler
9            müller
10            glanz
Name: Trainer_name, dtype: object
0        frank
1      richter
2    schiergen
3        glanz
4       hillis
5       hillis
6       hillis
7       hillis
Name: Trainer_name, dtype: object
0     mühlbauer
1         mayer
2         mayer
3         figge
4       richter
5       kerekes
6         figge
7       richter
8          pils
9        müller
10      nirschl
Name: Trainer_name, dtype: object
0      richter
1       hillis
2        glanz
3     suborics
4    steinberg
5      geisler
6        figge
Name: Trainer_name, dtype: object
0    schiergen
1        figge
2        glanz
3      geisler
4       hillis
5      richter
6       hillis
7       hillis
8       hillis
Name: Trainer_name, dtype: object
0     hillis
1    kerekes
2      glanz
3     hillis
4     hillis
5      glanz
Name: Trainer_name, dtype: object
0     glanz
1     figge
2     mayer
3     mayer
4     figge
5     mayer
6    martin
Name: Trainer_name, dtype: object
0     smrczek
1    carvalho
2    carvalho
3       grewe
4    suborics
Name: Trainer_name, dtype: object
0       meulen/nl
1    verheyen/bel
2      wolters/nl
3          schaaf
Name: Trainer_name, dtype: object
0         hofer
1     meulen/nl
2        thomas
3    almenräder
4      mintchev
5    wolters/nl
Name: Trainer_name, dtype: object
0      rotering
1       smrczek
2         recke
3          blau
4    bodenhagen
5       schwinn
6    herresthal
7    bodenhagen
Name: Trainer_name, dtype: object
0     beckmann
1       troost
2      hellier
3       dewald
4       troost
5    weißmeier
Name: Trainer_name, dtype: object
0         klug
1         klug
2     suborics
3    collet/fr
4       mongil
5         klug
Name: Trainer_name, dtype: object
0       schiergen
1      almenräder
2    hirschberger
3       schiergen
4          römich
Name: Trainer_name, dtype: object
0      wöhler
1     potters
2       moser
3    vovcenko
4       moser
Name: Trainer_name, dtype: object
0      reineke
1         pohl
2     vovcenko
3      potters
4        storp
5    kienemann
6    fabianova
7       glodde
Name: Trainer_name, dtype: object
0               gröschel
1                  moser
2    schleusner-fruhriep
3              gernreich
4               gröschel
Name: Trainer_name, dtype: object
0                   klug
1                 wöhler
2                 hickst
3              schiergen
4                potters
5                  hofer
6               gröschel
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                   klug
1               haustein
2                  demme
3               gröschel
4                  moser
5                 hickst
6                dzubasz
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0     dzubasz
1    gröschel
2       bolte
3      glodde
4       lentz
5      glodde
6     potters
7      dukatz
8        pohl
Name: Trainer_name, dtype: object
0       hickst
1     carvalho
2    schiergen
3     zschache
4       wöhler
5        recke
6         klug
Name: Trainer_name, dtype: object
0                  moser
1               sprengel
2    schleusner-fruhriep
3                 glodde
4               vovcenko
5               vovcenko
6              fabianova
7              lindemann
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0      dzubasz
1     gröschel
2     carvalho
3     gröschel
4    fabianova
5        recke
6        bolte
Name: Trainer_name, dtype: object
0         pohl
1     fuhrmann
2     gröschel
3    angermann
4     fuhrmann
5     fuhrmann
6      paulick
7     sprengel
Name: Trainer_name, dtype: object
0        gröschel
1          arnold
2         dzubasz
3        zschache
4    borkowski/pl
5          barsig
6        fuhrmann
7         richter
Name: Trainer_name, dtype: object
0       fuhrmann
1          lentz
2        scholze
3       sprengel
4      lippitsch
5        richter
6     grzegowski
7          storp
8       fuhrmann
9      angermann
10      fuhrmann
Name: Trainer_name, dtype: object
0                sprengel
1                  barsig
2               lippitsch
3                   lentz
4     schleusner-fruhriep
5                  schütz
6               fabianova
7     schleusner-fruhriep
8                 paulick
9              nedorostek
10                paulick
Name: Trainer_name, dtype: object
0            fuhrmann
1     stein-schomburg
2           angermann
3            zahorova
4     stein-schomburg
5              glodde
6            fuhrmann
7             megsner
8            fuhrmann
9            fuhrmann
10             franke
11              mayer
Name: Trainer_name, dtype: object
0                 pyritz
1                 schütz
2                  lentz
3                  stech
4    schleusner-fruhriep
5                  stech
6                  lentz
7    schleusner-fruhriep
8                  storp
9                richter

Name: Trainer_name, dtype: object
0        carvalho
1         dzubasz
2        sprengel
3    borkowski/pl
4        fuhrmann
5         smrczek
6          barsig
7           mayer
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0     fuhrmann
1    fabianova
2     zahorova
3      richter
4       pyritz
5      paulick
6        stech
7     albrecht
Name: Trainer_name, dtype: object
0    hellier
1    schwinn
2     kasper
3      klein
4      klein
5    rudolph
Name: Trainer_name, dtype: object
0      rudolph
1      rudolph
2     gerstner
3    schneider
4         bach
5         türk
6        recke
Name: Trainer_name, dtype: object
0    verheyen/bel
1           klein
2        gerstner
3         weidler
4            schu
5            schu
Name: Trainer_name, dtype: object
0       klein
1       schön
2    rotering
3     friebel
Name: Trainer_name, dtype: object
0    schleppi
1       recke
2       grewe
3       weber
4     rudolph
Name: Trainer_name, dtype: object
0    gerstner
1     hellier
2      hillis
3       klein
4      sauter
5     rudolph
6     schwinn
7      thomas
Name: Trainer_name, dtype: object
0              smrczek
1                 gehm
2                recke
3    paraknewitz-kalla
4         schnakenberg
5               sauter
6              symalla
Name: Trainer_name, dtype: object
0           recke
1        schleppi
2           recke
3    verheyen/bel
Name: Trainer_name, dtype: object
0         smrczek
1           hofer
2           grewe
3        vovcenko
4    hirschberger
Name: Trainer_name, dtype: object
0            klug
1        carvalho
2        suborics
3    hirschberger
Name: Trainer_name, dtype: object
0         smrczek
1          schütz
2           fuchs
3         wöhling
4       grünewald
5           grewe
6       meulen/nl
7       laznovska
8     verberkt/nl
9         dzubasz
10     wolters/nl
Name: Trainer_name, dtype: object
0     carvalho
1    schiergen
2      smrczek
3     suborics
4        demme
5       hickst
Name: Trainer_name, dtype: object
0        klug
1        klug
2        klug
3      wöhler
4        klug
5    carvalho
6     dzubasz
7       grewe
Name: Trainer_name, dtype: object
0    almenräder
1      vovcenko
2         hofer
3        hickst
4          klug
Name: Trainer_name, dtype: object
0                      nienstädt
1                      weißmeier
2                      nienstädt
3                        giesgen
4                        gossens
5     berrevoets-uivel/nlerlande
6                        giesgen
7                     engels/bel
8                        schwinn
9                      rosenbach
10                          lenz
11                        leiner
12                        leiner
Name: Trainer_name, dtype: object
0            grewe
1             klug
2            recke
3    hammer-hansen
4         suborics
Name: Trainer_name, dtype: object
0         lenz
1      schwinn
2      giesgen
3       thomas
4      hellier
5    weißmeier
6    meulen/nl
7        storp
8    laznovska
Name: Trainer_name, dtype: object
0         recke
1         mäder
2    heimburger
3      schleppi
4      rotering
5       rudolph
6      rotering
Name: Trainer_name, dtype: object
0                rulec
1              lehmann
2               kujath
3    sofsky-prappacher
4                storp
5            weißmeier
6              rudolph
7             rotering
8            rothacker
Name: Trainer_name, dtype: object
0       keller
1    weißmeier
2        storp
3      geisler
4      schwinn
5     rotering
6     overbeck
7     rotering
Name: Trainer_name, dtype: object
0     suborics
1        recke
2      geisler
3    weißmeier
4        rohne
5        frank
6      rudolph
Name: Trainer_name, dtype: object
0    peterschmitt
1            wust
2    peterschmitt
3            volz
4         nirschl
Name: Trainer_name, dtype: object
0    steinberg
1       birner
2      rosport
3      geisler
4    schneider
5    weißmeier
6       birner
Name: Trainer_name, dtype: object
0     rudolph
1        schu
2     schwinn
3    overbeck
4    rotering
5       gries
6       storp
7    rotering
8      birner
Name: Trainer_name, dtype: object
0        wöhler
1     schiergen
2        hickst
3    almenräder
4        mongil
Name: Trainer_name, dtype: object
0    hartmann
1     potters
2       grewe
3     hellier
4     potters
Name: Trainer_name, dtype: object
0    wolters/nl
1         hofer
2       smrczek
3       hellier
4          falk
5       potters
Name: Trainer_name, dtype: object
0    kleinkorres
1      meulen/nl
2           leve
3           klug
4        werning
Name: Trainer_name, dtype: object
0         bodenhagen
1             troost
2    verschueren/bel
3              storp
4              gratz
5        kleinkorres
6               klug
7               blau
Name: Trainer_name, dtype: object
0      harst/nl
1     weißmeier
2       potters
3         smith
4    hermans/nl
5         gratz
6         krapp
7    bodenhagen
Name: Trainer_name, dtype: object
0     fabianova
1       richter
2       dzubasz
3        schütz
4    neuberg/cz
5        schütz
6        schöps
7        schütz
8       förster
Name: Trainer_name, dtype: object
0     paulick
1     richter
2      glodde
3      barsig
4     dzubasz
5       bolte
6      barsig
7    fuhrmann
Name: Trainer_name, dtype: object
0       barsig
1      richter
2    fabianova
3      richter
4        glanz
5        lentz
6       pyritz
7    steinberg
8       pyritz
Name: Trainer_name, dtype: object
0       scholze
1        glodde
2     angermann
3       richter
4      fuhrmann
5        schütz
6      fuhrmann
7        glodde
8     angermann
9        pyritz
10      förster
Name: Trainer_name, dtype: object
0       dzubasz
1      sprengel
2         figge
3       siegert
4     lippitsch
5         lentz
6     angermann
7        pyritz
8        schöps
9     angermann
10     fuhrmann
Name: Trainer_name, dtype: object
0       grewe
1    suborics
2       grewe
3     bocskai
4      hickst
5       blume
6    fuhrmann
Name: Trainer_name, dtype: object
0    zschache
1    gröschel
2      pyritz
3      hillis
4       bolte
5      barsig
6      wöhler
7      wöhler
8    gröschel
Name: Trainer_name, dtype: object
0         blume
1         figge
2       dzubasz
3       paulick
4     angermann
5    vorsilkova
6        glodde
Name: Trainer_name, dtype: object
0       wöhler
1        harms
2     fuhrmann
3        bolte
4    kienemann
5    kienemann
6     haustein
7        bolte
8        bolte
Name: Trainer_name, dtype: object
0                dzubasz
1               vovcenko
2              lippitsch
3           schnakenberg
4    schleusner-fruhriep
5                  bolte
6              weißmeier
7             nedorostek
Name: Trainer_name, dtype: object
0      hickst
1       bolte
2    gröschel
3     dzubasz
4    vovcenko
Name: Trainer_name, dtype: object
0                 engels
1               haustein
2               fuhrmann
3              schiergen
4                  recke
5    schleusner-fruhriep
6              fabianova
7                  storp
8                  stech
Name: Trainer_name, dtype: object
0             megsner
1           lindemann
2         ferentschak
3               lentz
4     stein-schomburg
5               busch
6               lüker
7                rank
8            fuhrmann
9              bradik
10              storp
11              lentz
12           beckmann
Name: Trainer_name, dtype: object
0       hickst
1     carvalho
2    fabianova
3     suborics
4       wöhler
5        recke
6        recke
Name: Trainer_name, dtype: object
0         schnakenberg
1             vovcenko
2    paraknewitz-kalla
3                recke
4             vovcenko
5              symalla
6    paraknewitz-kalla
7          derycke/bel
Name: Trainer_name, dtype: object
0               gröschel
1                  bolte
2             almenräder
3    schleusner-fruhriep
4             nedorostek
5                  lentz
6               fuhrmann
Name: Trainer_name, dtype: object
0       klug
1      hofer
2    smrczek
3      rohne
Name: Trainer_name, dtype: object
0           bolte
1    hirschberger
2       schiergen
3           figge
4            klug
Name: Trainer_name, dtype: object
0       meulen/nl
1           storp
2           rohne
3     jonkhart/nl
4     kleinkorres
5           alles
6           storp
7      heimburger
8       weißmeier
9         hellier
10        smrczek
11          kurdu
Name: Trainer_name, dtype: object
0    hirschberger
1         smrczek
2            klug
3           rohne
4         gossens
5    verheyen/bel
6          jatzke

Name: Trainer_name, dtype: object
0                    kleinkorres
1                         thomas
2                          alles
3                    kleinkorres
4     berrevoets-uivel/nlerlande
5                      jansen/nl
6                        smrczek
7                      weißmeier
8                      kleffmann
9                          storp
10                    heimburger
11                     gernreich
Name: Trainer_name, dtype: object
0      gröschel
1        hickst
2         demme
3    wolters/nl
4          klug
5          leve
6       smrczek
7         kurdu
Name: Trainer_name, dtype: object
0          palmer
1          hickst
2    hirschberger
3          wöhler
4          haggas
5           grewe
6           moser
7           hofer
8       schiergen
9            klug
Name: Trainer_name, dtype: object
0        maurer
1         recke
2     meulen/nl
3        thomas
4         storp
5    engels/bel
6       smrczek
7     weißmeier
Name: Trainer_name, dtype: object
0       schiergen
1      wolters/nl
2           bolte
3    hirschberger
4           grewe
Name: Trainer_name, dtype: object
0        demme
1    laznovska
2        mäder
3       thomas
4    weißmeier
5    meulen/nl
6       gaspar
Name: Trainer_name, dtype: object
0            hofer
1            weber
2       wolters/nl
3    van kempen/nl
4            demme
5            bolte
6          gossens
7           troost
Name: Trainer_name, dtype: object
0    schiergen
1       mongil
2       hickst
3      smrczek
4        klein
5       hickst
6    schiergen
7      smrczek
Name: Trainer_name, dtype: object
0         warren
1     hermans/nl
2     bracke/bel
3    lenaers/bel
4         dewald
5       hartmann
6     wolters/nl
7       lanslots
8      weißmeier
9     bracke/bel
Name: Trainer_name, dtype: object
0           hillis
1           maurer
2        meulen/nl
3        schriever
4            hofer
5         hartmann
6       wolters/nl
7     schepens/bel
8       engels/bel
9       fries-jung
10           riese
11            weis
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2      smrczek
3       mongil
4       hickst
5        bolte
Name: Trainer_name, dtype: object
0          oost
1    wolters/nl
2     meulen/nl
3     meulen/nl
4         bolte
5         bolte
Name: Trainer_name, dtype: object
0        carvalho
1        gröschel
2        fuhrmann
3       angermann
4    hottewitzsch
5        fuhrmann
6        sprengel
Name: Trainer_name, dtype: object
0                 pyritz
1                dzubasz
2              vinklarek
3                 glodde
4                  storp
5    schleusner-fruhriep
6                trantel
7               fuhrmann
8                   pohl
Name: Trainer_name, dtype: object
0       megsner
1          pohl
2       paulick
3      gröschel
4        glodde
5      beckmann
6         storp
7         lentz
8        dewald
9     angermann
10    angermann
Name: Trainer_name, dtype: object
0                  storp
1                 barsig
2               vovcenko
3                   weis
4              lindemann
5              fabianova
6                megsner
7    schleusner-fruhriep
8                 pyritz
Name: Trainer_name, dtype: object
0        timpelan
1    henkenjohann
2       fabianova
3        fuhrmann
4       laznovska
5        gröschel
6          barsig
7       fabianova
Name: Trainer_name, dtype: object
0       lentz
1     steudle
2       storp
3    fuhrmann
4    fuhrmann
5    fuhrmann
6       lüker
7       busch
8      wegner
Name: Trainer_name, dtype: object
0              fries-jung
1                    weis
2                   busch
3                 richter
4              brüggemann
5     schleusner-fruhriep
6                   hinck
7                fuhrmann
8                   lentz
9                 richter
10                 franke
11              angermann
Name: Trainer_name, dtype: object
0        grewe
1      geisler
2    schiergen
Name: Trainer_name, dtype: object
0        schiergen
1    hammer-hansen
2            figge
3           hillis
4            glanz
5         albrecht
Name: Trainer_name, dtype: object
0     hillis
1      glanz
2    geisler
3      hofer
4    geisler
5     hickst
6      figge
Name: Trainer_name, dtype: object
0            frank
1        schiergen
2            glanz
3           hillis
4    hammer-hansen
5           hillis
Name: Trainer_name, dtype: object
0       hillis
1        glanz
2    schiergen
3       hillis
4       hillis
5       hickst
6        glanz
7        mayer
Name: Trainer_name, dtype: object
0         mühlbauer
1             mayer
2             mayer
3     schwarzenbeck
4            hillis
5             glanz
6             figge
7            müller
8           geisler
9              pils
10            mayer
Name: Trainer_name, dtype: object
0            mayer
1            glanz
2            figge
3        steinberg
4            frank
5    schwarzenbeck
6             pils
7           müller
Name: Trainer_name, dtype: object
0       mayer
1       mayer
2       glanz
3       glanz
4       figge
5      hillis
6        pils
7    albrecht
Name: Trainer_name, dtype: object
0    hirschberger
1       schiergen
2        suborics
3          hickst
4         geisler
Name: Trainer_name, dtype: object
0           wöhler
1         carvalho
2       almenräder
3        schiergen
4     hirschberger
5          richter
6           hickst
7       almenräder
8            bolte
9           hickst
10       schiergen
Name: Trainer_name, dtype: object
0           hickst
1        kienemann
2            bolte
3            hofer
4    van kempen/nl
5        gernreich
6        weißmeier
7            demme
8        schiergen
9         suborics
Name: Trainer_name, dtype: object
0    hirschberger
1           bolte
2      wolters/nl
3     kleinkorres
4         richter
5          hickst
Name: Trainer_name, dtype: object
0      richter
1    meulen/nl
2    nienstädt
3      gossens
4        rodax
5      smrczek
6        klein
7      geisler
8    friesdorf
Name: Trainer_name, dtype: object
0    schiergen
1      richter
2     vovcenko
3       warren
4    meulen/nl
5      geisler
6        demme
7    kienemann
8       hickst
Name: Trainer_name, dtype: object
0    hirschberger
1          wöhler
2          wöhler
3        suborics
4            klug
5         smrczek
6        carvalho
7        sprengel
8       brandt/fr
Name: Trainer_name, dtype: object
0       richter
1         lüker
2     nienstädt
3       giesgen
4      overbeck
5      beckmann
6    hermans/nl
7       giesgen
8         rodax
9       gossens
Name: Trainer_name, dtype: object
0    almenräder
1     meulen/nl
2       weidler
3         klein
4       geisler
5        kreger
6        kreger
Name: Trainer_name, dtype: object
0         recke
1        wöhler
2      vovcenko
3         grewe
4    almenräder
5       smrczek
Name: Trainer_name, dtype: object
0        mäder
1        rohne
2         leve
3        bolte
4     gröschel
5    fabianova
6       stokes
7        bothe
8      potters
Name: Trainer_name, dtype: object
0         vovcenko
1           glodde
2            smith
3            recke
4          smrczek
5          potters
6         hartmann
7            lüker
8           glodde
9     verheyen/bel
10            rank
Name: Trainer_name, dtype: object
0       laznovska
1         dzubasz
2           grewe
3         geisler
4          bradik
5    verheyen/bel
6         hellier
Name: Trainer_name, dtype: object
0         storp
1         storp
2     meulen/nl
3      gröschel
4      fuhrmann
5         lentz
6        gaspar
7         bolte
8      fuhrmann
9     nienstädt
10       barsig
Name: Trainer_name, dtype: object
0       schiergen
1        gröschel
2    hirschberger
3        suborics
4         smrczek
5          hickst
6           hofer
Name: Trainer_name, dtype: object
0    hirschberger
1        sprengel
2        fuhrmann
3         potters
4          dewald
5       schiergen
6          hickst
Name: Trainer_name, dtype: object
0       meulen/nl
1         potters
2         geisler
3    borkowski/pl
4           recke
5      almenräder
6         dzubasz
7        vovcenko
8         dzubasz
9         hellier
Name: Trainer_name, dtype: object
0       meulen/nl
1     kleinkorres
2       gernreich
3      almenräder
4           mäder
5          hickst
6    borkowski/pl
7           stech
8           moser
Name: Trainer_name, dtype: object
0        klug
1    gröschel
2       bolte
3    carvalho
4        klug
Name: Trainer_name, dtype: object
0           nienstädt
1               hofer
2               recke
3               smith
4               storp
5            sprengel
6               mayer
7            fuhrmann
8               storp
9     stein-schomburg
10          gernreich
11           fuhrmann
Name: Trainer_name, dtype: object
0    schiergen
1       hickst
2    schiergen
3         klug
4         klug
5      dzubasz
6     carvalho
7       wöhler
8     vovcenko
9     suborics
Name: Trainer_name, dtype: object
0    straßmeier
1     schneider
2       rudolph
3       hellier
4    neuberg/cz
5          renz
6        birner
7      gerstner
8          schu
9        kujath
Name: Trainer_name, dtype: object
0      overbeck
1          bach
2    neuberg/cz
3       rudolph
4        jatzke
5       schwinn
6        göritz
7       schwinn
8         mayer
Name: Trainer_name, dtype: object
0       rudolph
1       hellier
2       schwinn
3        donate
4      gerstner
5     jansen/nl
6    blumenauer
7      overbeck
8       schwinn
9        thomas
Name: Trainer_name, dtype: object
0      birner
1        berg
2     lehmann
3    schleppi
4       klein
5     rudolph
6     schwinn
7      birner
Name: Trainer_name, dtype: object
0    jansen/nl
1        weber
2      schwinn
3      gülcher
4        klein
5     schleppi
6       keller
Name: Trainer_name, dtype: object
0      eisler
1     gülcher
2    gerstner
3    nikolaus
4        falk
5        schu
6        schu
7    hannibal
Name: Trainer_name, dtype: object
0             almenräder
1              schiergen
2                   klug
3                 hickst
4               rotering
5                   klug
6               vovcenko
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        sprengel
1      wolters/nl
2     ferentschak
3         dzubasz
4         smrczek
5    hirschberger
6           figge
7        schleppi
Name: Trainer_name, dtype: object
0     suborics
1    schiergen
2     sprengel
3         klug
4       hickst
5        recke
6    schiergen
Name: Trainer_name, dtype: object
0               fabianova
1                 dzubasz
2                   blume
3              wolters/nl
4                 smrczek
5                 swiatek
6     schleusner-fruhriep
7                  troost
8                   hofer
9                   bolte
10                 gaspar
11               fuhrmann
12                  bolte
13             bodenhagen
Name: Trainer_name, dtype: object

0          wöhler
1        sprengel
2           grewe
3        suborics
4       schiergen
5       schiergen
6           klein
7    hirschberger
Name: Trainer_name, dtype: object
0        fuhrmann
1      wolters/nl
2         hellier
3        vovcenko
4           bolte
5     kleinkorres
6           stech
7          thomas
8        hartmann
9           fuchs
10        smrczek
11          bolte
Name: Trainer_name, dtype: object
0          klug
1     schiergen
2     schiergen
3          klug
4        wöhler
5      carvalho
6        hickst
7          klug
8         recke
9          klug
10     zschache
11        grewe
12         klug
13         klug
14      dzubasz
15     carvalho
16         klug
17       wöhler
Name: Trainer_name, dtype: object
0     wöhler
1     hickst
2     wöhler
3    bollien
4    smrczek
Name: Trainer_name, dtype: object
0           grewe
1          wöhler
2       schiergen
3           grewe
4    hirschberger
5        fuhrmann
6            klug
7            klug
Name: Trainer_name, dtype: object
0          bolte
1           klug
2          recke
3         hickst
4    kleinkorres
5          grewe
6          bolte
7       schleppi
Name: Trainer_name, dtype: object
0    suborics
1    gröschel
2        leve
3     smrczek
4    zschache
5    lanslots
6       bolte
7    fuhrmann
8     dzubasz
Name: Trainer_name, dtype: object
0          figge
1          mayer
2       beckmann
3      lindemann
4         dewald
5    lenaers/bel
6       fuhrmann
7       fuhrmann
8       lanslots
9     bodenhagen
Name: Trainer_name, dtype: object
0       barsig
1        figge
2        storp
3      potters
4        lentz
5      smrczek
6       glodde
7        blume
8      geisler
9     schleppi
10       rohne
11    fuhrmann
Name: Trainer_name, dtype: object
0     schleusner-fruhriep
1                  hobitz
2                    lenz
3                kocanova
4                   storp
5              nedorostek
6                   stech
7            verheyen/bel
8              bodenhagen
9                fuhrmann
10             bodenhagen
11                 maurer
Name: Trainer_name, dtype: object
0                haustein
1                gröschel
2                   blume
3                carvalho
4                 schwinn
5                   recke
6                   hofer
7               laznovska
8     schleusner-fruhriep
9                 smrczek
10                 bradik
Name: Trainer_name, dtype: object
0        gröschel
1           moser
2          watson
3        suborics
4        suborics
5        suborics
6    hirschberger
7            leve
8       schiergen
9
Name: Trainer_name, dtype: object
0               fuhrmann
1                geisler
2             nedorostek
3               vovcenko
4                  mäder
5                geisler
6    schleusner-fruhriep
7                trantel
8               fuhrmann
Name: Trainer_name, dtype: object
0    lanslots
1     hellier
2    fuhrmann
3       lüker
4        lenz
5       busch
6       lüker
7    hartmann
Name: Trainer_name, dtype: object
0        smith
1     vovcenko
2      smrczek
3    kienemann
4       glodde
5        storp
6        recke
7        stech
8     schleppi
9        recke
Name: Trainer_name, dtype: object
0               weißmeier
1                   smith
2                 schwinn
3                fuhrmann
4                  pyritz
5                   lentz
6         stein-schomburg
7                   recke
8                 dzubasz
9                fuhrmann
10    schleusner-fruhriep
Name: Trainer_name, dtype: object
0      arnold
1     potters
2    gröschel
3      wöhler
4    vovcenko
5      hickst
6        oost
7      pyritz
8    fuhrmann
Name: Trainer_name, dtype: object
0           weis
1        schwinn
2       sprengel
3      nienstädt
4          smith
5        smrczek
6        richter
7         bradik
8         pyritz
9       fuhrmann
10       dzubasz
11    bodenhagen
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                  recke
2                   klug
3                   klug
4               suborics
5                  glanz
6           hirschberger
7                 wöhler
Name: Trainer_name, dtype: object
0                   recke
1                    weis
2     schleusner-fruhriep
3                   lentz
4                  hillis
5                 schwinn
6                 potters
7               weißmeier
8               fabianova
9                 richter
10               gröschel
11             fries-jung
Name: Trainer_name, dtype: object
0            kleinkorres
1                 wöhler
2                   klug
3                   klug
4    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       schiergen
1    hirschberger
2    hirschberger
3            klug
4        gröschel
5           recke
6         dzubasz
7           fuchs
Name: Trainer_name, dtype: object
0    fabianova
1    gernreich
2      geisler
3     suborics
4       barsig
5        figge
6    laznovska
Name: Trainer_name, dtype: object
0                 wöhler
1               gröschel
2               vovcenko
3                 dewald
4                  recke
5               fuhrmann
6    schleusner-fruhriep
7                   klug
8                 wöhler
Name: Trainer_name, dtype: object
0               lentz
1            fuhrmann
2             hellier
3              bradik
4           angermann
5     stein-schomburg
6         ferentschak
7          bodenhagen
8            fuhrmann
9             werning
10          weißmeier
11             warren
Name: Trainer_name, dtype: object
0           nienstädt
1            gröschel
2           angermann
3               lentz
4           nienstädt
5           angermann
6             potters
7            sprengel
8              bradik
9     stein-schomburg
10          weißmeier
11              mayer
12           fuhrmann
13           fuhrmann
Name: Trainer_name, dtype: object
0      kleinkorres
1            demme
2            mäder
3          tölböll
4           barsig
5        angermann
6             leve
7         gröschel
8         suborics
9    caenepeel/bel
Name: Trainer_name, dtype: object
0        laznovska
1            storp
2             klug
3             pohl
4          wöhling
5         trobisch
6        weißmeier
7            mäder
8            harms
9     hottewitzsch
10        suborics
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2        vovcenko
3      almenräder
4           grewe
5          wöhler
6         potters
Name: Trainer_name, dtype: object
0            recke
1          swiatek
2         vovcenko
3         vovcenko
4            recke
5        vinklarek
6    caenepeel/bel
Name: Trainer_name, dtype: object
0                   blau
1                  storp
2               gröschel
3             bodenhagen
4                  recke
5            kleinkorres
6               fuhrmann
7    schleusner-fruhriep
8               fuhrmann
9              schiergen
Name: Trainer_name, dtype: object
0    zschache
1      hickst
2      barsig
3      wöhler
Name: Trainer_name, dtype: object
0         potters
1            pohl
2      wolters/nl
3        fuhrmann
4       fabianova
5           hofer
6     ferentschak
7          glodde
8         richter
9         potters
10     almenräder
Name: Trainer_name, dtype: object
0             kleinkorres
1                 richter
2              wolters/nl
3                 richter
4                fuhrmann
5                   bolte
6                 potters
7     schleusner-fruhriep
8               meulen/nl
9                   bolte
10                  rodax
11            richter/aut
Name: Trainer_name, dtype: object
0      sprengel
1     kienemann
2    almenräder
3      fuhrmann
4        hickst
5        mongil
6      gröschel
7    almenräder
8      sprengel
9      vovcenko
Name: Trainer_name, dtype: object
0                   lentz
1                  engels
2            schnakenberg
3     schleusner-fruhriep
4                beckmann
5                   rodax
6              brüggemann
7               schriever
8                   storp
9                fuhrmann
10                 schöps
11                 schöps
12               stolberg
13                steudle
Name: Trainer_name, dtype: object
0          leve
1         bolte
2    wolters/nl
3      haustein
4      gröschel
5      gröschel
6       richter
7     meulen/nl
8          fust
9         moser
Name: Trainer_name, dtype: object
0        bolte
1    schiergen
2      richter
3      smrczek
4      smrczek
5     gröschel
6     sprengel
7       sauter
Name: Trainer_name, dtype: object
0        klug
1      wöhler
2    carvalho
3       hofer
4       rohne
5       demme
6       klein
Name: Trainer_name, dtype: object
0           hofer
1    hirschberger
2          hickst
3       schiergen
4           blume
Name: Trainer_name, dtype: object
0    verheyen/bel
1    hirschberger
2        vovcenko
3           kurdu
4       weißmeier
5          schütz
6      wolters/nl
7          hickst
8       meulen/nl
9     verberkt/nl
Name: Trainer_name, dtype: object
0      schiergen
1    kleinkorres
2         wöhler
3        smrczek
4          klein
5         hickst
6          demme
Name: Trainer_name, dtype: object
0         wöhler
1     almenräder
2    kleinkorres
3           klug
4         hickst
5         hickst
6       vovcenko
Name: Trainer_name, dtype: object
0     hermans/nl
1        giesgen
2      weißmeier
3      meulen/nl
4         leiner
5         thomas
6        smrczek
7        gossens
8          lentz
9         thomas
10        leiner
Name: Trainer_name, dtype: object
0              storp
1          schiergen
2            gossens
3              weber
4              hofer
5           overbeck
6            smrczek
7    verschueren/bel
Name: Trainer_name, dtype: object
0        geisler
1     almenräder
2      meulen/nl
3      schneider
4    jonkhart/nl
5          mäder
6      weißmeier
7      schiergen
8       stefutti
9     heimburger
Name: Trainer_name, dtype: object
0         troost
1      laznovska
2    lenaers/bel
3        schwinn
4          busch
5           rank
6     hermans/nl
7      meulen/nl
Name: Trainer_name, dtype: object
0     schiergen
1        hickst
2     kienemann
3    nedorostek
4      gröschel
5       potters
6        wöhler
Name: Trainer_name, dtype: object
0               steinberg
1                haustein
2              almenräder
3               fabianova
4                 dzubasz
5                  glodde
6     schleusner-fruhriep
7     schleusner-fruhriep
8                   moser
9                   lentz
10                  bolte
11                 kreger
Name: Trainer_name, dtype: object
0         reineke
1          wöhler
2           moser
3        suborics
4    hirschberger
5        gröschel
6          glodde
7       steinberg
8           hofer
9         dzubasz
Name: Trainer_name, dtype: object
0       schiergen
1      almenräder
2          hickst
3           moser
4        suborics
5          hickst
6        gröschel
7         potters
8           bolte
9    schnakenberg
Name: Trainer_name, dtype: object
0        schiergen
1           wöhler
2            grewe
3     hirschberger
4        schiergen
5           hickst
6             klug
7             klug
8            moser
9             klug
10    hirschberger
Name: Trainer_name, dtype: object
0      gröschel
1       richter
2      haustein
3        wöhler
4    wolters/nl
5        wöhler
6       smrczek
7         rohne
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2       hickst
3     suborics
4         klug
5     carvalho
6    schiergen
Name: Trainer_name, dtype: object
0      richter
1     gröschel
2       engels
3     stolberg
4        moser
5    gernreich
6    fabianova
Name: Trainer_name, dtype: object
0       geisler
1         figge
2         glanz
3      carvalho
4         glanz
5    almenräder
6       richter
7     mühlbauer
Name: Trainer_name, dtype: object
0         carvalho
1            figge
2    hammer-hansen
3          geisler
4           hickst
5            frank
6            rohne
7          kerekes
8           hillis
9           thomas
Name: Trainer_name, dtype: object
0       kerekes
1    almenräder
2        hillis
3       richter
4        hillis
5         glanz
6     mühlbauer
7     schiergen
8        hillis
Name: Trainer_name, dtype: object
0     schwarzenbeck
1            hillis
2             glanz
3             figge
4             rulec
5             figge
6            schütz
7            müller
8              pils
9             mayer
10           hillis
11            figge
12            mayer
Name: Trainer_name, dtype: object
0          richter
1            glanz
2            figge
3        schiergen
4         carvalho
5          geisler
6            rohne
7    hammer-hansen
8            rohne
9            glanz
Name: Trainer_name, dtype: object
0      carvalho
1         rohne
2    almenräder
3       richter
4        müller
5          pils
6        schütz
7        schütz
Name: Trainer_name, dtype: object
0            mayer
1            glanz
2            bigus
3           hillis
4            mayer
5           thomas
6           hillis
7           hillis
8    schwarzenbeck
9           hillis

Name: Trainer_name, dtype: object
0     almenräder
1          mayer
2          figge
3       rotering
4    richter/aut
5         schütz
6           pils
7          mayer
Name: Trainer_name, dtype: object
0      vovcenko
1       paulick
2     schiergen
3       dzubasz
4    hlavaty/cz
5     angermann
6        glodde
7         storp
8       richter
9         rohne
Name: Trainer_name, dtype: object
0      scholze
1       glodde
2       bradik
3        storp
4      megsner
5      paulick
6    angermann
7      richter
8       pyritz
9        stech
Name: Trainer_name, dtype: object
0       gröschel
1         glodde
2        paulick
3         schütz
4        dzubasz
5      vinklarek
6     vorsilkova
7         glodde
8           pohl
9         franke
10         storp
Name: Trainer_name, dtype: object
0         vovcenko
1         trobisch
2           pyritz
3          dzubasz
4           schütz
5           bradik
6     schnakenberg
7          richter
8           pyritz
9       vorsilkova
10         megsner
11          pyritz
Name: Trainer_name, dtype: object
0                  glodde
1                 dzubasz
2                   stech
3                 siegert
4                  pyritz
5               lippitsch
6                   storp
7               angermann
8                  schütz
9                  sauter
10    schleusner-fruhriep
11              angermann
Name: Trainer_name, dtype: object
0              fabianova
1                 wöhler
2                   klug
3                 barsig
4    schleusner-fruhriep
5                  rocak
6                   klug
7                 wöhler
Name: Trainer_name, dtype: object
0      richter
1       barsig
2      richter
3    fabianova
4      richter
5     carvalho
6       barsig
Name: Trainer_name, dtype: object
0       barsig
1      dzubasz
2    fabianova
3      dzubasz
4       wöhler
5       barsig
6     vovcenko
Name: Trainer_name, dtype: object
0    schleppi
1    gerstner
2        falk
3     schwinn
4      kasper
5        schu
6      eisler
Name: Trainer_name, dtype: object
0         rudolph
1           gratz
2        schleppi
3    peterschmitt
4       weißmeier
5         schwinn
6         lehmann
Name: Trainer_name, dtype: object
0    weißmeier
1      schwinn
2     nikolaus
3      rudolph
4      schwarz
5         schu
6     reischig
Name: Trainer_name, dtype: object
0         rosport
1    peterschmitt
2          birner
3        reischig
4       weißmeier
5         rudolph
6        ehrhardt
Name: Trainer_name, dtype: object
0       schwinn
1    wolters/nl
2     weißmeier
3        kujath
4          volz
5        donate
6    blumenauer
Name: Trainer_name, dtype: object
0    peterschmitt
1          birner
2         schwinn
3        schleppi
4    peterschmitt
Name: Trainer_name, dtype: object
0    schiergen
1    schiergen
2     mintchev
3      hellier
4    schiergen
5         klug
Name: Trainer_name, dtype: object
0          klug
1     schiergen
2    almenräder
3      carvalho
4        wöhler
5        hickst
6         grewe
7         demme
8          klug
Name: Trainer_name, dtype: object
0           hermans/nl
1              paulick
2              schwinn
3                bolte
4              schwinn
5           neuberg/cz
6    sofsky-prappacher
7           bodenhagen
8              schmeer
Name: Trainer_name, dtype: object
0          bolte
1      meulen/nl
2    jonkhart/nl
3         hickst
4          hofer
5          bolte
6          mäder
7      schiergen
8           bieß
9         kujath
Name: Trainer_name, dtype: object
0    almenräder
1       paulick
2     schiergen
3         grewe
4        mongil
5       dzubasz
6         bolte
Name: Trainer_name, dtype: object
0      suborics
1       smrczek
2          klug
3         hofer
4    almenräder
5          klug
6        wöhler
7         hofer
8     schiergen
Name: Trainer_name, dtype: object
0         lentz
1     meulen/nl
2     grünewald
3        troost
4     gernreich
5       wöhling
6    heimburger
7        keller
8         grewe
9    bodenhagen
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2         klug
3     carvalho
4        bolte
5     suborics
6       maurer
Name: Trainer_name, dtype: object
0     klug
1    bolte
2    bolte
3     fust
Name: Trainer_name, dtype: object
0          leve
1         mäder
2          klug
3         demme
4      vovcenko
5    nedorostek
6       trantel
Name: Trainer_name, dtype: object
0     vovcenko
1      potters
2    schiergen
3        grewe
4        lentz
5     fuhrmann
6        demme
7        recke
Name: Trainer_name, dtype: object
0                recke
1              roberts
2         schnakenberg
3                recke
4           nedorostek
5             rotering
6         borkowski/pl
7    paraknewitz-kalla
Name: Trainer_name, dtype: object
0    henkenjohann
1        timpelan
2         richter
3        gröschel
4       gernreich
5          römich
6        fuhrmann
Name: Trainer_name, dtype: object
0          fuchs
1        megsner
2      nienstädt
3      laznovska
4    ferentschak
5        weidler
6        potters
7         glodde
8      weißmeier
Name: Trainer_name, dtype: object
0                 pyritz
1            kleinkorres
2                   gehm
3                  lentz
4    schleusner-fruhriep
5                  lentz
6                  recke
7                 glodde
8               stolberg
Name: Trainer_name, dtype: object
0      nienstädt
1          lentz
2      lindemann
3          storp
4      nienstädt
5      weißmeier
6          hinck
7     grzegowski
8      angermann
9          lentz
10      hannibal
11        glodde
12         storp
13      stolberg
14         busch
Name: Trainer_name, dtype: object
0         barsig
1       lanslots
2           pohl
3        geisler
4    ferentschak
5        smrczek
6        potters
7        dzubasz
8       fuhrmann
9          hofer
Name: Trainer_name, dtype: object
0                recke
1    paraknewitz-kalla
2         schnakenberg
3             vovcenko
4                recke
5             vovcenko
Name: Trainer_name, dtype: object
0       wöhler
1        grewe
2        recke
3         klug
4    schiergen
5        demme
6        demme
Name: Trainer_name, dtype: object
0               weißmeier
1                   bolte
2                   glanz
3            peterschmitt
4                fuhrmann
5                 richter
6                vovcenko
7                 dzubasz
8     schleusner-fruhriep
9             kleinkorres
10           henkenjohann
11                 glodde
12                  recke
13                potters
14                smrczek
Name: Trainer_name, dtype: object
0      richter
1        bolte
2      smrczek
3        bothe
4    friesdorf
5        lentz
6     overbeck
7    weißmeier
Name: Trainer_name, dtype: object
0        hellier
1        smrczek
2           rank
3        schwinn
4          lüker
5          busch
6        giesgen
7       fuhrmann
8         franke
9     nedorostek
10      fuhrmann
11      overbeck
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1             popelka/cz
2      paraknewitz-kalla
3                   gehm
4       reuterskiöld/swe
5               vovcenko
6                symalla
Name: Trainer_name, dtype: object
0        schütz
1       hellier
2      fuhrmann
3     weißmeier
4         klein
5       geisler
6      beckmann
7       megsner
8        dewald
9     lindemann
10     fuhrmann
11       kreger
12        storp
13      werning
Name: Trainer_name, dtype: object
0              nienstädt
1               vovcenko
2                  recke
3                 barsig
4    schleusner-fruhriep
5                  bolte
6                megsner
7              nienstädt
Name: Trainer_name, dtype: object
0       recke
1      kogler
2       demme
3     bollien
4    fuhrmann
5     smrczek
Name: Trainer_name, dtype: object
0        hofer
1        recke
2    weißmeier
3     vovcenko
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                  stech
2           schnakenberg
3              schneider
4           schnakenberg
5                  lentz
6                  storp
7                 müller
8                 schütz
9               rotering
Name: Trainer_name, dtype: object
0         stech
1     schiergen
2         demme
3        hickst
4      vovcenko
5         stech
6       smrczek
7         recke
8         harms
9        dewald
10    angermann
11      smrczek
Name: Trainer_name, dtype: object
0        lüker
1    angermann
2        storp
3        lüker
4        busch
5        recke
6         rank
7     fuhrmann
8     rotering
Name: Trainer_name, dtype: object
0      gröschel
1       weidler
2         lentz
3         recke
4       richter
5      vovcenko
6       richter
7          palz
8       potters
9     friesdorf
10      smrczek
Name: Trainer_name, dtype: object
0    hammer-hansen
1         vovcenko
2            recke
3          richter
4            recke
5         gröschel
6          geisler
Name: Trainer_name, dtype: object
0        laznovska
1            glanz
2            bolte
3          dzubasz
4          potters
5          richter
6            demme
7            storp
8        schneider
9            recke
10        fuhrmann
11           schön
12       weißmeier
13    schnakenberg
14        hartmann
Name: Trainer_name, dtype: object
0                  fuchs
1               gröschel
2                   leve
3                schwinn
4    schleusner-fruhriep
5                  klein
6                   klug
Name: Trainer_name, dtype: object
0      herlin/swe
1      herresthal
2        vovcenko
3         schmock
4    schnakenberg
5      popelka/cz
Name: Trainer_name, dtype: object
0           klug
1      schiergen
2          moser
3        smrczek
4       suborics
5           klug
6         hickst
7      gernreich
8       rotering
9       van toor
10    almenräder
11        mongil
12         smith
Name: Trainer_name, dtype: object
0             klug
1          potters
2          friebel
3     verheyen/bel
4            hofer
5         rotering
6      kleinkorres
7        meulen/nl
8       fries-jung
9         schleppi
10        harst/nl
Name: Trainer_name, dtype: object
0       wolters/nl
1           dewald
2          hellier
3        jansen/nl
4              ehl
5          potters
6            figge
7           warren
8          gülcher
9     verheyen/bel
10      almenräder
Name: Trainer_name, dtype: object
0          grewe
1          hofer
2          figge
3         kreger
4     bodenhagen
5     bracke/bel
6          lentz
7    lenaers/bel
8          smith

Name: Trainer_name, dtype: object
0         smith
1     kleffmann
2     weißmeier
3      beckmann
4     jansen/nl
5    hermans/nl
6          lenz
7      overbeck
8     meulen/nl
9         mähne
Name: Trainer_name, dtype: object
0           mäder
1           hofer
2    hirschberger
3        suborics
4       schiergen
5           smith
6     kleinkorres
7            blau
8       schiergen
9        schleppi
Name: Trainer_name, dtype: object
0          storp
1       beckmann
2           weis
3    kleinkorres
4          smith
5       overbeck
6        hellier
7      meulen/nl
8       overbeck
Name: Trainer_name, dtype: object
0        suborics
1    hirschberger
2      wolters/nl
3         gossens
4          müller
Name: Trainer_name, dtype: object
0       moser
1    gröschel
2      pyritz
3     richter
4     dzubasz
Name: Trainer_name, dtype: object
0      fuhrmann
1       dzubasz
2     schiergen
3       paulick
4      gröschel
5    nedorostek
6       richter
7         storp
8         blume
Name: Trainer_name, dtype: object
0              pyritz
1               storp
2               lentz
3            sprengel
4            fuhrmann
5          nedorostek
6               storp
7           fabianova
8             paulick
9               mayer
10            richter
11    stein-schomburg
12          angermann
13    mioduszewski/pl
14               pohl
Name: Trainer_name, dtype: object
0           angermann
1            fuhrmann
2              bradik
3     stein-schomburg
4            fuhrmann
5              schütz
6               bigus
7     stein-schomburg
8              schütz
9                falk
10    mioduszewski/pl
Name: Trainer_name, dtype: object
0      dzubasz
1     sprengel
2       barsig
3        glanz
4     blazkova
5    fabianova
6      dzubasz
Name: Trainer_name, dtype: object
0      pyritz
1     dzubasz
2       lentz
3        pohl
4      arnold
5    zschache
6       storp
7    satra/cz
8      bradik
Name: Trainer_name, dtype: object
0    hirschberger
1         richter
2           grewe
3        satra/cz
4        carvalho
5       prunk/aut
6      stenefeldt
7            falk
Name: Trainer_name, dtype: object
0    olkowski
1       hofer
Name: Trainer_name, dtype: object
0        stech
1    steinberg
Name: Trainer_name, dtype: object
0                   klug
1                 barsig
2                schwinn
3              kaczmarek
4    schleusner-fruhriep
Name: Trainer_name, dtype: object
0           lentz
1        rotering
2       nienstädt
3           hinck
4    schnakenberg
5           klein
6            weis
7           storp
8      heimburger
9      nedorostek
Name: Trainer_name, dtype: object
0                   stech
1                  hickst
2                sprengel
3                    weis
4                   recke
5            peterschmitt
6                 schwinn
7                   alles
8               nienstädt
9                 potters
10           peterschmitt
11                smrczek
12                schwinn
13    schleusner-fruhriep
14               fuhrmann
Name: Trainer_name, dtype: object
0                  recke
1                persson
2               vovcenko
3                  recke
4               vovcenko
5           schnakenberg
6                roberts
7                  smith
8                  recke
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                fuhrmann
1               meulen/nl
2                  barsig
3                   glanz
4                 dzubasz
5               meulen/nl
6                    renz
7                 schwinn
8            peterschmitt
9                    berg
10    schleusner-fruhriep
11                  demme
12              laznovska
13           peterschmitt
Name: Trainer_name, dtype: object
0                  stech
1                   klug
2            kleinkorres
3              schiergen
4               gröschel
5               vovcenko
6               suborics
7                smrczek
8    schleusner-fruhriep
Name: Trainer_name, dtype: object
0          palz
1         schön
2     schneider
3         storp
4         fuchs
5     meulen/nl
6      vovcenko
7        hickst
8       weidler
9       weidler
10        alles
11       dewald
Name: Trainer_name, dtype: object
0            storp
1          dzubasz
2        nienstädt
3          smrczek
4     peterschmitt
5            glanz
6        meulen/nl
7        nienstädt
8        lindemann
9          schwinn
10         schwinn
11           recke
12       weißmeier
13      heimburger
14    peterschmitt
Name: Trainer_name, dtype: object
0       barsig
1     fuhrmann
2    gernreich
3        klein
4    laznovska
5      smrczek
6        grewe
7     fuhrmann
Name: Trainer_name, dtype: object
0            leve
1         schwinn
2        haustein
3         richter
4    schnakenberg
5       weißmeier
6       vinklarek
Name: Trainer_name, dtype: object
0              nienstädt
1    schleusner-fruhriep
2                  recke
3               vovcenko
4                  storp
5                smrczek
Name: Trainer_name, dtype: object
0        demme
1    kienemann
2        grewe
3        demme
4     fuhrmann
5         klug
6      smrczek
Name: Trainer_name, dtype: object
0            gehm
1           storp
2           stech
3           recke
4       angermann
5       schriever
6    schnakenberg
7       schneider
Name: Trainer_name, dtype: object
0    laznovska
1        storp
2        recke
3      smrczek
4        lüker
5     fuhrmann
6         rank
7        klein
8     fuhrmann
9        klein
Name: Trainer_name, dtype: object
0    vovcenko
1       recke
2       demme
3       recke
4    timpelan
5     smrczek
6       storp
Name: Trainer_name, dtype: object
0         rank
1      richter
2        recke
3      schwinn
4    weißmeier
5    vinklarek
6       kreger
7        storp
Name: Trainer_name, dtype: object
0         herresthal
1            smrczek
2           vovcenko
3       schnakenberg
4            schmock
5    de vlaminck/bel
Name: Trainer_name, dtype: object
0         carvalho
1            hofer
2    hammer-hansen
3     hirschberger
4        schiergen
5          kerekes
Name: Trainer_name, dtype: object
0      carvalho
1        wöhler
2         rulec
3        hillis
4     steinberg
5       richter
6     steinberg
7         grewe
8     schiergen
9         mayer
10        klein
Name: Trainer_name, dtype: object
0    meulen/nl
1      richter
2     gröschel
3        rulec
4        moser
5        figge
6        mayer
7       wöhler
8       hillis
9      geisler
Name: Trainer_name, dtype: object
0            wöhler
1             glanz
2      hirschberger
3         schiergen
4           richter
5             klein
6             klein
7             klein
8           geisler
9             glanz
10    hammer-hansen
11    hammer-hansen
Name: Trainer_name, dtype: object
0     kerekes
1      hillis
2       rulec
3     bocskai
4       figge
5      wöhler
6       glanz
7    carvalho
Name: Trainer_name, dtype: object
0         gröschel
1       bin suroor
2           wöhler
3        schiergen
4           wöhler
5       bin suroor
6     hirschberger
7          beckett
8         sprengel
9         carvalho
10          hickst
Name: Trainer_name, dtype: object
0       hillis
1      richter
2    mühlbauer
3       hillis
4       birner
5        mayer
6      geisler
7        figge
8    meulen/nl
9        klein
Name: Trainer_name, dtype: object
0     steinberg
1         mayer
2       geisler
3         figge
4     steinberg
5       geisler
6         mayer
7     mühlbauer
8        birner
9         figge
10        glanz
11       birner
12        figge
Name: Trainer_name, dtype: object
0             glanz
1             mayer
2     schwarzenbeck
3            hillis
4            hillis
5            hillis
6             weber
7            hillis
8           kerekes
9             mayer
10           roesch
11            figge
12            grewe
Name: Trainer_name, dtype: object
0     hirschberger
1           wöhler
2    hammer-hansen
3            hofer
4             klug
5         suborics
6             klug
Name: Trainer_name, dtype: object
0                           lenz
1                          lüker
2                         keller
3     berrevoets-uivel/nlerlande
4                     brüggemann
5                          lüker
6                       beckmann
7                         eisler
8                        giesgen
9                         thomas
10                     meulen/nl
11                         smith
Name: Trainer_name, dtype: object
0       wöhler
1        hofer
2         klug
3    schiergen
4         klug
5        bolte
6      smrczek
7
Name: Trainer_name, dtype: object
0      wolters/nl
1          schütz
2       meulen/nl
3        vovcenko
4             ehl
5      wolters/nl
6         smrczek
7         geisler
8     verberkt/nl
9       schiergen
10        smrczek
Name: Trainer_name, dtype: object
0            hofer
1            recke
2           hickst
3         carvalho
4       almenräder
5        schiergen
6            grewe
7            grewe
8            hofer
9             klug
10           recke
11
12    hirschberger
13         smrczek
14           grewe
Name: Trainer_name, dtype: object
0           leve
1          bolte
2         thomas
3          smith
4        smrczek
5          hofer
6     heimburger
7      weißmeier
8       gerstner
9      jansen/nl
10       potters
11        leiner
Name: Trainer_name, dtype: object
0        wöhler
1       potters
2       rosport
3       geisler
4         mäder
5       smrczek
6      stefutti
7        hickst
8    wolters/nl
9     weißmeier
Name: Trainer_name, dtype: object
0     wolters/nl
1      schiergen
2          storp
3        smrczek
4        smrczek
5         engels
6          bolte
7          hofer
8           weis
9        gossens
10    bodenhagen
Name: Trainer_name, dtype: object
0        leiner
1        engels
2        maurer
3       giesgen
4      beckmann
5    bodenhagen
6     weißmeier
7       hellier
8     meulen/nl
Name: Trainer_name, dtype: object
0    schiergen
1        moser
2        bolte
3         klug
4      dzubasz
5        bolte
Name: Trainer_name, dtype: object
0               gröschel
1                 wöhler
2    schleusner-fruhriep
3              fabianova
4                  moser
5                  bolte
6                richter
Name: Trainer_name, dtype: object
0                 hickst
1                 wöhler
2                dzubasz
3                  lentz
4                  harms
5               fuhrmann
6                  bolte
7             almenräder
8                 sauter
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                dzubasz
1             almenräder
2                 schütz
3                  recke
4                  moser
5                  storp
6    schleusner-fruhriep
7                   pohl
8                  storp
Name: Trainer_name, dtype: object
0                  storp
1        stein-schomburg
2                  lentz
3                  storp
4                megsner
5    schleusner-fruhriep
6                 schütz
7                  mayer
8               fuhrmann
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0    gröschel
1    vovcenko
2       hofer
3       recke
4      wöhler
Name: Trainer_name, dtype: object
0              mayer
1           fuhrmann
2              busch
3    stein-schomburg
4           fuhrmann
5         nedorostek
6           fuhrmann
7             franke
Name: Trainer_name, dtype: object
0               gröschel
1               zschache
2              schiergen
3                 wöhler
4    schleusner-fruhriep
5                   klug
6    schleusner-fruhriep
7                  recke
8               gröschel
9             almenräder
Name: Trainer_name, dtype: object
0               vovcenko
1                richter
2              kienemann
3               trobisch
4                   pohl
5    schleusner-fruhriep
6                 schütz
7                 sauter
8                  bolte
9              schiergen
Name: Trainer_name, dtype: object
0         bolte
1        wöhler
2    almenräder
3      gröschel
4          klug
5       dzubasz
Name: Trainer_name, dtype: object
0    almenräder
1         storp
2      vovcenko
3      fuhrmann
Name: Trainer_name, dtype: object
0    almenräder
1        glodde
2         moser
3     kienemann
4     angermann
5         lentz
6       richter
7      vovcenko
Name: Trainer_name, dtype: object

0                  storp
1                  glanz
2              angermann
3                  recke
4                 franke
5               fuhrmann
6    schleusner-fruhriep
7                  storp
8                  busch
Name: Trainer_name, dtype: object
0    vovcenko
1     scholze
2       glanz
3        klug
4    vovcenko
Name: Trainer_name, dtype: object
0                  bolte
1                   klug
2              schiergen
3                  mayer
4                   klug
5    schleusner-fruhriep
Name: Trainer_name, dtype: object
0               vovcenko
1    schleusner-fruhriep
2               gröschel
3              fabianova
4                  recke
5               fuhrmann
Name: Trainer_name, dtype: object
0                  bolte
1               gröschel
2                  storp
3    schleusner-fruhriep
4                  lentz
5                  storp
6                bollien
7                 glodde
8                  rodax
Name: Trainer_name, dtype: object
0             klug
1     hirschberger
2         carvalho
3            hofer
4            grewe
5        schiergen
6             klug
7     hirschberger
8            recke
9         suborics
10          wöhler
Name: Trainer_name, dtype: object
0     hirschberger
1    hammer-hansen
2        schiergen
3         sprengel
4             klug
5         suborics
6            recke
Name: Trainer_name, dtype: object
0    hirschberger
1    hirschberger
2       schiergen
3       schiergen
4           grewe
5            klug
6         dzubasz
7    henkenjohann
8           weber
9        suborics
Name: Trainer_name, dtype: object
0             klug
1           hickst
2         carvalho
3         suborics
4           wöhler
5             klug
6    hammer-hansen
7         suborics
8             fust
Name: Trainer_name, dtype: object
0        schiergen
1           wöhler
2          appleby
3         carvalho
4        schiergen
5           hickst
6        schiergen
7             klug
8           wöhler
9          dzubasz
10           grewe
11       schiergen
12            klug
13           bolte
14          wöhler
15    hirschberger
Name: Trainer_name, dtype: object
0    hirschberger
1       schiergen
2          hickst
3        sprengel
4          hickst
5         smrczek
6           recke
Name: Trainer_name, dtype: object
0        sprengel
1       friesdorf
2         potters
3     jonkhart/nl
4        goossens
5           kurdu
6       grünewald
7        hartmann
8         hellier
9       laznovska
10          weber
11         troost
Name: Trainer_name, dtype: object
0            haustein
1         kleinkorres
2             smrczek
3          hermans/nl
4         kleinkorres
5             schwinn
6           schiergen
7               bolte
8           gernreich
9     verschueren/bel
10              blume
Name: Trainer_name, dtype: object
0      suborics
1         bolte
2          leve
3      haustein
4    wolters/nl
5        hickst
Name: Trainer_name, dtype: object
0        megsner
1     bodenhagen
2       gröschel
3      lindemann
4    ferentschak
5         glodde
6         schütz
7     almenräder
8        richter
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1    schleusner-fruhriep
2                 schütz
3             bodenhagen
4             bodenhagen
5             bodenhagen
6                  lentz
7             vorsilkova
Name: Trainer_name, dtype: object
0     lindemann
1      vovcenko
2       potters
3      zschache
4       dzubasz
5    almenräder
6    vorsilkova
7      gröschel
Name: Trainer_name, dtype: object
0               zschache
1               vovcenko
2               gröschel
3                  lentz
4    schleusner-fruhriep
5                dzubasz
6                  bolte
Name: Trainer_name, dtype: object
0         glodde
1    ferentschak
2      fabianova
3        richter
4        dzubasz
5     almenräder
Name: Trainer_name, dtype: object
0    stein-schomburg
1              lentz
2             bradik
3             glodde
4              lentz
Name: Trainer_name, dtype: object
0        wöhler
1         moser
2    vorsilkova
3    bodenhagen
Name: Trainer_name, dtype: object
0       wöhler
1     gröschel
2     carvalho
3    fabianova
4        stech
5
6       hillis
Name: Trainer_name, dtype: object
0      hickst
1     potters
2    carvalho
3       glanz
4    fuhrmann
5     dzubasz
6       harms
7      pyritz
Name: Trainer_name, dtype: object
0      sprengel
1       dzubasz
2        barsig
3         moser
4      blazkova
5       dzubasz
6    wolters/nl
7        barsig
8      zahorova
9        hillis
Name: Trainer_name, dtype: object
0       stech
1    olkowski
Name: Trainer_name, dtype: object
0                  hillis
1                 richter
2                  pyritz
3                sprengel
4                 dzubasz
5               lippitsch
6                  pyritz
7     schleusner-fruhriep
8                   busch
9                fuhrmann
10               fuhrmann
11        mioduszewski/pl
Name: Trainer_name, dtype: object
0        barsig
1       richter
2      haustein
3        wöhler
4          klug
5         mäder
6    slettemark
7      suborics
8      zschache
Name: Trainer_name, dtype: object
0                    klug
1               schiergen
2                  hillis
3     schleusner-fruhriep
4                  hickst
5                sprengel
6                   glanz
7                   mayer
8                zahorova
9              slettemark
10               carvalho
11                  grewe
Name: Trainer_name, dtype: object
0      paulick
1    fabianova
2      richter
3     suborics
4     gröschel
5       pyritz
6      dzubasz
Name: Trainer_name, dtype: object
0       hellier
1    nedorostek
2    fries-jung
3         smith
4          schu
5      rotering
6       schwinn
7        leiner
8        thomas
Name: Trainer_name, dtype: object
0          hickst
1            klug
2            klug
3           demme
4    hirschberger
5        suborics
6       schiergen
7           demme
Name: Trainer_name, dtype: object
0                          smith
1                       stefutti
2     berrevoets-uivel/nlerlande
3                        smrczek
4                      meulen/nl
5                     heimburger
6                          hofer
7                          smith
8                           schu
9                       rotering
10                        leiner
11                        göritz
Name: Trainer_name, dtype: object
0    hirschberger
1            klug
2            leve
3           demme
4      wolters/nl
5     schierstädt
Name: Trainer_name, dtype: object
0         hofer
1         mäder
2    wolters/nl
3      van toor
4     meulen/nl
5        hickst
6       potters
7     weißmeier
8    bracke/bel
9       potters
Name: Trainer_name, dtype: object
0     meulen/nl
1          leve
2    wolters/nl
3       potters
4      lanslots
5     gernreich
6        schütz
7         bolte
8         blume
Name: Trainer_name, dtype: object
0        hellier
1      jansen/nl
2        potters
3          hofer
4     wolters/nl
5          hofer
6     bracke/bel
7     hermans/nl
8    verberkt/nl
Name: Trainer_name, dtype: object
0       hillis
1      dzubasz
2     sprengel
3      dzubasz
4      paulick
5    angermann
6        stech
7     pejskova
Name: Trainer_name, dtype: object
0       richter
1      gröschel
2       dzubasz
3       richter
4        schütz
5       richter
6         lentz
7         stech
8     fabianova
9       richter
10       pyritz
Name: Trainer_name, dtype: object
0                reineke
1               gröschel
2                  moser
3                 pyritz
4    schleusner-fruhriep
5                paulick
6             slettemark
7                dzubasz
8               fuhrmann
Name: Trainer_name, dtype: object
0            hofer
1         carvalho
2       pantall/fr
3             klug
4     hirschberger
5            moser
6            hofer
7           wöhler
8            moser
9          richter
10        satra/cz
Name: Trainer_name, dtype: object
0         suborics
1             klug
2         suborics
3     hirschberger
4         carvalho
5            stech
6     hirschberger
7           hickst
8         pejskova
9     hirschberger
10          hillis
11    hirschberger
12
Name: Trainer_name, dtype: object
0          klug
1       appleby
2    bin suroor
3          klug
4      carvalho
5      suborics
6          klug
Name: Trainer_name, dtype: object
0         barsig
1       gröschel
2          moser
3        richter
4    kleinkorres
5        reineke
6        dzubasz
Name: Trainer_name, dtype: object
0         vovcenko
1          richter
2      kleinkorres
3         fuhrmann
4          dzubasz
5            lentz
6         gröschel
7           pyritz
8         fuhrmann
9     hottewitzsch
10          barsig
11           lentz
Name: Trainer_name, dtype: object
0       recke
1       hofer
2       mayer
3        bieß
4    schleppi
5    nikolaus
6     rudolph
Name: Trainer_name, dtype: object
0                recke
1                figge
2             schleppi
3              rudolph
4                schön
5               kujath
6             schleppi
7    sofsky-prappacher
8             gerstner
Name: Trainer_name, dtype: object
0                 weber
1               schwinn
2               rosport
3                birner
4              schleppi
5               lambert
6               rudolph
7              schleppi
8               schmeer
9     sofsky-prappacher
10              rudolph
Name: Trainer_name, dtype: object
0        figge
1    meulen/nl
2    weißmeier
3       birner
4         oost
5       kogler
6      schwinn
7      rudolph
8     schleppi
9     schleppi
Name: Trainer_name, dtype: object
0        klein
1      schwinn
2    meulen/nl
3     schleppi
4       schwab
5     gerstner
6       eisler
7        figge
8       kasper
9      schwinn
Name: Trainer_name, dtype: object
0        figge
1         bach
2      schwinn
3     reischig
4      rudolph
5     rotering
6      schwinn
7    rothacker
8      rudolph
9        blatt
Name: Trainer_name, dtype: object
0    hirschberger
1       schiergen
2           bolte
3            klug
4           smith
5        suborics
6          römich
Name: Trainer_name, dtype: object
0         hobitz
1        smrczek
2          smith
3          klein
4    kleinkorres
5        schwinn
6     straßmeier
7      schiergen
8      schöndorf
Name: Trainer_name, dtype: object
0          storp
1        friebel
2      kleffmann
3        potters
4     heimburger
5      jansen/nl
6        giesgen
7         bradik
8      nienstädt
9      weißmeier
10    straßmeier
Name: Trainer_name, dtype: object
0       smrczek
1    almenräder
2         mäder
3       wöhling
4       potters
5        troost
6         alles
7     grünewald
8       hellier
9        warren
Name: Trainer_name, dtype: object
0                 hofer
1          verheyen/bel
2               gossens
3             nienstädt
4                 bolte
5                bradik
6                 alles
7             nienstädt
8                  weis
9     sofsky-prappacher
10               donate
11                smith
Name: Trainer_name, dtype: object
0    hirschberger
1     schierstädt
2      almenräder
3           demme
4         gossens
5     wolffers/nl
Name: Trainer_name, dtype: object
0       wöhler
1        hofer
2         klug
3     suborics
4    schiergen
5         klug
6        recke
Name: Trainer_name, dtype: object
0      vovcenko
1     schiergen
2    wolters/nl
3     meulen/nl
4          fust
5        hickst
6       geisler
7         kurdu
Name: Trainer_name, dtype: object
0          hickst
1        suborics
2           moser
3    hirschberger
4        van toor
5           rohne
6           bolte
7           rohne
8           bolte
9     kleinkorres
Name: Trainer_name, dtype: object
0          blau
1    wolters/nl
2       smrczek
3          gehm
4       smrczek
5         storp
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2     suborics
3       mongil
4      smrczek
5       hickst
6      geisler
7        bolte
8        recke

Name: Trainer_name, dtype: object
0    hirschberger
1    hirschberger
2           grewe
3           mäder
4          hickst
Name: Trainer_name, dtype: object
0      morrison/gb
1            moser
2        rouget/fr
3          smrczek
4        collet/fr
5        schiergen
6           wöhler
7            grewe
8     hirschberger
9             leve
10       schiergen
Name: Trainer_name, dtype: object
0         thomas
1    jonkhart/nl
2         warren
3          weber
4      meulen/nl
5        hellier
6          mäder
7        smrczek
8       vovcenko
9    kleinkorres
Name: Trainer_name, dtype: object
0            smrczek
1               gehm
2              storp
3           kocanova
4    verschueren/bel
5       verheyen/bel
Name: Trainer_name, dtype: object
0         klug
1       hickst
2    kienemann
3      potters
4    angermann
5        demme
Name: Trainer_name, dtype: object
0         moser
1     kienemann
2         moser
3        glodde
4    nedorostek
5       richter
6      fuhrmann
Name: Trainer_name, dtype: object
0       wöhler
1         klug
2       hickst
3    schiergen
4    fabianova
5     suborics
6     sprengel
7     sprengel
Name: Trainer_name, dtype: object
0        stokes
1         hofer
2     fabianova
3         bothe
4       paulick
5      rotering
6        schöps
7      stolberg
8         bolte
9    brüggemann
Name: Trainer_name, dtype: object
0          demme
1      meulen/nl
2        richter
3      angermann
4    kleinkorres
5       gröschel
Name: Trainer_name, dtype: object
0      nienstädt
1      meulen/nl
2         bradik
3           rank
4         glodde
5         müller
6       fuhrmann
7         glodde
8       beckmann
9     nedorostek
10        kreger
11      stolberg
12      beckmann
13      fuhrmann
Name: Trainer_name, dtype: object
0        hofer
1         klug
2    fabianova
3    schiergen
4        hofer
Name: Trainer_name, dtype: object
0                   bolte
1                gröschel
2                   bolte
3                suborics
4               grünewald
5                 paulick
6                gröschel
7                  wöhler
8                   bolte
9     schleusner-fruhriep
10                 sauter
Name: Trainer_name, dtype: object
0     kienemann
1         bolte
2      gröschel
3      vovcenko
4        glodde
5     nienstädt
6         moser
7       smrczek
8      rotering
9          leve
10      dzubasz
11      potters
Name: Trainer_name, dtype: object
0              fabianova
1                   klug
2                dzubasz
3               carvalho
4                 wöhler
5                richter
6               vovcenko
7                  bolte
8                  demme
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       hofer
1       demme
2    vovcenko
3     richter
4       demme
5     resulov
Name: Trainer_name, dtype: object
0        mayer
1      dzubasz
2     timpelan
3      richter
4       pyritz
5       engels
6     vovcenko
7        lentz
8      dzubasz
9        demme
10    trobisch
Name: Trainer_name, dtype: object
0               angermann
1                  sauter
2                   storp
3                  pyritz
4                 dzubasz
5                   lentz
6                vovcenko
7                 potters
8                  barsig
9                 dzubasz
10                  storp
11           hottewitzsch
12                  storp
13    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        richter
1        dzubasz
2    ferentschak
3        richter
4           pohl
5      fabianova
6          demme
7        potters
8       fuhrmann
Name: Trainer_name, dtype: object
0                   lentz
1                   storp
2                   stech
3                  schütz
4     schleusner-fruhriep
5               fabianova
6                  schütz
7                   lentz
8                vovcenko
9                  pyritz
10              angermann
11               fuhrmann
12               fuhrmann
Name: Trainer_name, dtype: object
0      lentz
1    dzubasz
2    dzubasz
3    richter
4    richter
5       pohl
6    richter
7     schütz
Name: Trainer_name, dtype: object
0    ferentschak
1          busch
2       fuhrmann
3          lüker
4         franke
5       fuhrmann
6          mayer
7      angermann
8          storp
9       fuhrmann
Name: Trainer_name, dtype: object
0     barsig
1    dzubasz
2    dzubasz
3    richter
4      stech
Name: Trainer_name, dtype: object
0       bocskai
1         lentz
2       smrczek
3      gröschel
4        dewald
5    wolters/nl
6       hellier
Name: Trainer_name, dtype: object
0         potters
1           recke
2          birner
3          birner
4           weber
5           glanz
6             ehl
7           fuchs
8    peterschmitt
9          keller
Name: Trainer_name, dtype: object
0     hirschberger
1           hickst
2        schiergen
3         sprengel
4         suborics
5          schärer
6             klug
7         vovcenko
8           wöhler
9          dzubasz
10            klug
11         bocskai
Name: Trainer_name, dtype: object
0            glanz
1      kleinkorres
2           hickst
3     peterschmitt
4           wöhler
5            hofer
6           arnold
7         vovcenko
8            hofer
9        weißmeier
10      almenräder
11       meulen/nl
Name: Trainer_name, dtype: object
0     gröschel
1      kerekes
2    weißmeier
3        recke
4         klug
5     mintchev
6        glanz
Name: Trainer_name, dtype: object
0       carvalho
1           klug
2         wöhler
3           klug
4           klug
5    kleinkorres
6        bocskai
7           leve
Name: Trainer_name, dtype: object
0    almenräder
1       bocskai
2      vovcenko
3        keller
4         recke
5       bocskai
6         weber
7      schleppi
Name: Trainer_name, dtype: object
0          recke
1    kleinkorres
2        giesgen
3        schwinn
4       schleppi
5     bodenhagen
6          weber
7       schleppi
8          glanz
Name: Trainer_name, dtype: object
0       klug
1      rulec
2    luka/cz
3    bocskai
4     kujath
5     thomas
Name: Trainer_name, dtype: object
0        schiergen
1    hammer-hansen
2            moser
3       almenräder
4          smrczek
5            frank
6             schu
Name: Trainer_name, dtype: object
0               gröschel
1              schiergen
2                  recke
3                  recke
4                  rulec
5                  grewe
6               johnston
7
8     gansera-leveque/gb
9                 wöhler
10                 recke
11               geisler
12                 grewe
Name: Trainer_name, dtype: object
0         wöhler
1        bocskai
2     wolters/nl
3          bolte
4       suborics
5           klug
6       gröschel
7     wolters/nl
8       gröschel
9         hickst
10         hofer
Name: Trainer_name, dtype: object
0       pantall/fr
1     hirschberger
2             klug
3           wöhler
4            moser
5            grewe
6            hofer
7       almenräder
8         carvalho
9         vovcenko
10        carvalho
11         potters
Name: Trainer_name, dtype: object
0            glanz
1         gröschel
2            storp
3            klein
4         hartmann
5        friesdorf
6          potters
7     peterschmitt
8           maurer
9          geisler
10      bodenhagen
Name: Trainer_name, dtype: object
0        gröschel
1       schiergen
2       steinberg
3    hirschberger
4       schiergen
5        sprengel
Name: Trainer_name, dtype: object
0       schiergen
1           glanz
2           rulec
3        gröschel
4        suborics
5           storp
6    hirschberger
7           hofer
8          kujath
Name: Trainer_name, dtype: object
0            sprengel
1           weißmeier
2           laznovska
3             hellier
4             rudolph
5               grewe
6             schwinn
7     stein-schomburg
8            rotering
9          bodenhagen
10               schu
11       peterschmitt
12         heimburger
13       peterschmitt
14             hillis
15             leiner
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2        demme
3      smrczek
4       hillis
5      geisler
6        rulec
7        rulec
Name: Trainer_name, dtype: object
0       recke
1        klug
2    vovcenko
3     rudolph
4    haustein
5      kogler
6     rudolph
Name: Trainer_name, dtype: object
0     nedorostek
1          rulec
2         thomas
3          figge
4        rudolph
5       beckmann
6          bolte
7        smrczek
8         maurer
9          stech
10       rudolph
11         stech
12    bodenhagen
13      fuhrmann
Name: Trainer_name, dtype: object
0           lindemann
1               storp
2            stefutti
3             smrczek
4              hickst
5               glanz
6     stein-schomburg
7               lentz
8               grewe
9            fuhrmann
10             donate
11           fuhrmann
12         heimburger
13            rudolph
Name: Trainer_name, dtype: object
0         moser
1     schiergen
2      carvalho
3      gröschel
4         moser
5    appleby/gb
6     bucher/ch
7         grewe
Name: Trainer_name, dtype: object
0          rulec
1        smrczek
2        weidler
3          mayer
4       rotering
5         kreger
6          storp
7        rudolph
8     bodenhagen
9       beckmann
10         frank
11         rohne
Name: Trainer_name, dtype: object
0    suborics
1       hofer
2       figge
3      schütz
4    schleppi
5        falk
6        schu
Name: Trainer_name, dtype: object
0       blume
1    sprengel
2      hillis
3        leve
4     smrczek
5       mayer
Name: Trainer_name, dtype: object
0     recke
1      klug
2    hillis
3    kujath
4     klein
Name: Trainer_name, dtype: object
0          dzubasz
1    hammer-hansen
2       wroblewski
3         gröschel
4    hammer-hansen
5        schiergen
6            bolte
7         vovcenko
Name: Trainer_name, dtype: object
0               smith
1             schwinn
2             hellier
3           angermann
4            fuhrmann
5               lüker
6            beckmann
7     stein-schomburg
8             schwinn
9              keller
10           fuhrmann
11              klein
12           rotering
13             schwab
Name: Trainer_name, dtype: object
0       lindemann
1        fuhrmann
2     lenaers/bel
3         hellier
4       laznovska
5           lentz
6          kreger
7           mayer
8            berg
9      bodenhagen
10          hofer
11      angermann
12    verberkt/nl
13          figge
14        geisler
Name: Trainer_name, dtype: object
0      almenräder
1        carvalho
2          wöhler
3        suborics
4    hirschberger
5            klug
Name: Trainer_name, dtype: object

0     wolters/nl
1      angermann
2          rulec
3          demme
4    kleinkorres
5       suborics
6          mäder
Name: Trainer_name, dtype: object
0    hirschberger
1    hirschberger
2          hillis
3       schiergen
4            klug
5       schiergen
Name: Trainer_name, dtype: object
0       almenräder
1        schiergen
2         gröschel
3            storp
4             klug
5        whitfield
6          bocskai
7    van kempen/nl
8            mäder
Name: Trainer_name, dtype: object
0     carvalho
1     mintchev
2    schiergen
3         klug
4         klug
5    steinberg
6        figge
7      kerekes
Name: Trainer_name, dtype: object
0    schiergen
1    steinberg
2     carvalho
3        glanz
4        glanz
5       hickst
6       hillis
7    schiergen
Name: Trainer_name, dtype: object
0            hofer
1         fuhrmann
2            storp
3         gröschel
4          potters
5            mayer
6     peterschmitt
7            lentz
8            mäder
9           kujath
10      heimburger
11       meulen/nl
12        schleppi
Name: Trainer_name, dtype: object
0     schiergen
1         bolte
2    wolters/nl
3         lentz
4      gröschel
5         bolte
6         glanz
7        hickst
8         smith
9       geisler
Name: Trainer_name, dtype: object
0         schiergen
1            hickst
2     hammer-hansen
3          carvalho
4         schiergen
5          suborics
6              klug
7            wöhler
8         steinberg
9         schiergen
10             klug
Name: Trainer_name, dtype: object
0       wolters/nl
1            bolte
2        meulen/nl
3         gröschel
4     verheyen/bel
5    van kempen/nl
6            moser
Name: Trainer_name, dtype: object
0      schiergen
1       rotering
2       fuhrmann
3         birner
4        megsner
5        potters
6     almenräder
7        geisler
8          mayer
9          klein
10       geisler
11       smrczek
Name: Trainer_name, dtype: object
0       wöhler
1    fabianova
2      dzubasz
3      dzubasz
4     sprengel
5    schiergen
Name: Trainer_name, dtype: object
0        schütz
1       paulick
2       dzubasz
3     fabianova
4    vorsilkova
Name: Trainer_name, dtype: object
0      dzubasz
1      richter
2    schiergen
3      richter
4    angermann
5       glodde
6      paulick
7       pyritz
Name: Trainer_name, dtype: object
0        barsig
1        pyritz
2       dzubasz
3        pyritz
4        glodde
5          pohl
6       richter
7    vorsilkova
8       dzubasz
Name: Trainer_name, dtype: object
0    fabianova
1      scholze
2       barsig
3      dzubasz
4    schiergen
5      richter
6        stech
7       barsig
8        haris
9      dzubasz
Name: Trainer_name, dtype: object
0    porebna/pl
1        franke
2         mayer
3     germic/cz
4        glodde
Name: Trainer_name, dtype: object
0              schütz
1           angermann
2           angermann
3              glodde
4          vorsilkova
5              glodde
6              schütz
7     mioduszewski/pl
8              müller
9              glodde
10         vorsilkova
Name: Trainer_name, dtype: object
0           barsig
1          richter
2          siegert
3           glodde
4           pyritz
5          dzubasz
6        fabianova
7           pyritz
8        angermann
9     hottewitzsch
10           busch
Name: Trainer_name, dtype: object
0           hickst
1    hammer-hansen
2          potters
3         gröschel
4            moser
5            mäder
6         fuhrmann
7          bocskai
8           dewald
Name: Trainer_name, dtype: object
0    haustein
1     bocskai
2      wöhler
3       figge
4    gröschel
5        klug
6     schärer
7       figge
8       moser
9       hofer
Name: Trainer_name, dtype: object
0           wöhler
1        schiergen
2           hickst
3            grewe
4     hirschberger
5           wöhler
6             klug
7             klug
8         suborics
9             klug
10         schärer
11        suborics
Name: Trainer_name, dtype: object
0             klug
1        bucher/ch
2            hofer
3    palussiere/fr
4         zschache
5         johnston
6            grewe
7        schiergen
8           wöhler
Name: Trainer_name, dtype: object
0        laznovska
1            glanz
2          schwinn
3     peterschmitt
4     peterschmitt
5          rosport
6          smrczek
7           thomas
8      kleinkorres
9       bodenhagen
10         potters
11         potters
12           figge
13         smrczek
14          kujath
15        gröschel
16           blume
17          birner
Name: Trainer_name, dtype: object
0      carvalho
1      gröschel
2          klug
3          klug
4    bin suroor
5    bin suroor
Name: Trainer_name, dtype: object
0        schiergen
1            glanz
2     hirschberger
3           hickst
4            blume
5             klug
6            rulec
7         fuhrmann
8     peterschmitt
9            rulec
10         geisler
Name: Trainer_name, dtype: object
0     haustein
1      smrczek
2     zschache
3       wöhler
4         klug
5       hickst
6     sprengel
7      smrczek
8      schärer
9       barsig
10     richter
Name: Trainer_name, dtype: object
0         weber
1       potters
2         figge
3         glanz
4         blume
5        birner
6      vovcenko
7        schütz
8     laznovska
9           ehl
10       warren
11       hickst
12     vovcenko
Name: Trainer_name, dtype: object
0          wöhler
1        carvalho
2            klug
3           hofer
4    hirschberger
5            klug
6           recke
7            klug
8       schiergen
9           klein
Name: Trainer_name, dtype: object
0                       smrczek
1                         klein
2                         recke
3                     laznovska
4                       schwinn
5                    engels/bel
6                       kerekes
7                    brüggemann
8    berrevoets-uivel/nlerlande
Name: Trainer_name, dtype: object
0          dewald
1       meulen/nl
2          kreger
3          warren
4         schwinn
5           klein
6           schön
7      hermans/nl
8     verberkt/nl
9           smith
10      kleffmann
11    lenaers/bel
12     bracke/bel
13          smith
Name: Trainer_name, dtype: object
0                          bolte
1                     brüggemann
2                          lentz
3                      meulen/nl
4                    kleinkorres
5                          recke
6                        giesgen
7                      weißmeier
8                          bolte
9                      nienstädt
10                     nienstädt
11    berrevoets-uivel/nlerlande
12                     schiergen
13                        leiner
14                  verheyen/bel
15                      overbeck
Name: Trainer_name, dtype: object
0       hickst
1        weber
2        lentz
3        demme
4      werning
5        klein
6        klein
7    nienstädt
Name: Trainer_name, dtype: object
0         schwinn
1          hobitz
2         hellier
3        kocanova
4    schepens/bel
5          roesch
6           lentz
7        gerstner
8          leiner
Name: Trainer_name, dtype: object
0          mäder
1    ferentschak
2     wolters/nl
3         schütz
4    lenaers/bel
5        hellier
6      gernreich
7      jansen/nl
Name: Trainer_name, dtype: object
0         klug
1     suborics
2    schiergen
3       hickst
4       mulder
5       mongil
6         klug
Name: Trainer_name, dtype: object
0           klug
1          recke
2    schierstädt
3          klein
Name: Trainer_name, dtype: object
0      barsig
1     paulick
2     dzubasz
3    fuhrmann
4     potters
5    gröschel
6        weis
7    fuhrmann
Name: Trainer_name, dtype: object
0         hofer
1       paulick
2         rohne
3     fabianova
4    wolters/nl
5         rohne
6        schöps
Name: Trainer_name, dtype: object
0      dzubasz
1     fuhrmann
2       glodde
3      richter
4    grünewald
5     gröschel
6     hartmann
7        storp
8      potters
Name: Trainer_name, dtype: object
0         hinck
1         storp
2       smrczek
3     angermann
4         lentz
5      fuhrmann
6         storp
7         storp
8         busch
9      albrecht
10     fuhrmann
11     fuhrmann
Name: Trainer_name, dtype: object
0      dzubasz
1      richter
2    steinberg
3    fabianova
4    nienstädt
5      richter
6     gröschel
7       glodde
8     fuhrmann
Name: Trainer_name, dtype: object
0           türk
1        dzubasz
2      angermann
3         sauter
4           weis
5          lentz
6     fries-jung
7         glodde
8     wolters/nl
9          busch
10         storp
11      fuhrmann
Name: Trainer_name, dtype: object
0        storp
1      dzubasz
2    nienstädt
3       sauter
4    fabianova
5       pyritz
6      richter
7       glodde
8     fuhrmann
9         türk
Name: Trainer_name, dtype: object
0    carvalho
1      wöhler
2     kerekes
3      hillis
4    suborics
5      hillis
6       mayer
7       figge
Name: Trainer_name, dtype: object
0    richter
1    richter
2      mayer
3      mayer
4      figge
5      glanz
Name: Trainer_name, dtype: object
0    carvalho
1      hillis
2      hillis
3       rulec
4       glanz
5       figge
Name: Trainer_name, dtype: object
0       wöhler
1     suborics
2    schiergen
3    steinberg
4      geisler
5        glanz
6       hillis
7    steinberg
8      kerekes
Name: Trainer_name, dtype: object
0        mayer
1      geisler
2     carvalho
3       hickst
4      richter
5        figge
6    steinberg
7       hillis
8    mühlbauer
Name: Trainer_name, dtype: object
0        hofer
1        rulec
2        grewe
3     carvalho
4        moser
5    schiergen
6      smrczek
7       wöhler
Name: Trainer_name, dtype: object
0             mayer
1           geisler
2           richter
3         mühlbauer
4            hillis
5             mayer
6             glanz
7     schwarzenbeck
8             mayer
9        straßmeier
10    schwarzenbeck
Name: Trainer_name, dtype: object
0          mayer
1          figge
2          figge
3          glanz
4           pils
5         müller
6         hillis
7        geisler
8     straßmeier
9         hillis
10          pils
Name: Trainer_name, dtype: object
0       suborics
1    kleinkorres
2           klug
3        smrczek
4      meulen/nl
5          recke
6          rohne
Name: Trainer_name, dtype: object
0       smrczek
1         bolte
2         bolte
3    almenräder
4     schiergen
5          gehm
6         lentz
Name: Trainer_name, dtype: object
0     almenräder
1          fuchs
2       vovcenko
3      kienemann
4          bolte
5         dewald
6          lentz
7          gasmi
8        smrczek
9          kurdu
10     weißmeier
11       smrczek
Name: Trainer_name, dtype: object
0    carvalho
1      wöhler
2        klug
3
Name: Trainer_name, dtype: object
0       meulen/nl
1     jonkhart/nl
2           storp
3     kleinkorres
4         wöhling
5         weidler
6          warren
7           grewe
8          bradik
9       friesdorf
10        weidler
Name: Trainer_name, dtype: object
0        schiergen
1             klug
2        schiergen
3             klug
4
5       almenräder
6            hofer
7           hickst
8         vovcenko
9             klug
10         smrczek
11    hirschberger
12        carvalho
13           hofer

Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2       schiergen
3           bolte
4          wöhler
5            blau
Name: Trainer_name, dtype: object
0          wöhler
1            klug
2    hirschberger
3           hofer
4          wöhler
5           moser
6    hirschberger
Name: Trainer_name, dtype: object
0    kleinkorres
1         römich
2           gehm
3    kleinkorres
4      friesdorf
5          storp
6          blume
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2           grewe
3           grewe
4           recke
5       weißmeier
6            türk
Name: Trainer_name, dtype: object
0           angermann
1              glodde
2           weißmeier
3           angermann
4           angermann
5           lindemann
6               storp
7     mioduszewski/pl
8            fuhrmann
9          vorsilkova
10         vorsilkova
Name: Trainer_name, dtype: object
0        bolte
1      richter
2     haustein
3     vovcenko
4      dzubasz
5       pyritz
6    weißmeier
7    angermann
8       barsig
9        storp
Name: Trainer_name, dtype: object
0                  pyritz
1                  schütz
2                    türk
3                    weis
4               angermann
5                 dzubasz
6                  schütz
7     schleusner-fruhriep
8               fabianova
9                  barsig
10             nedorostek
11                   türk
Name: Trainer_name, dtype: object
0          storp
1       zschache
2     nedorostek
3      weißmeier
4        megsner
5        dzubasz
6           pohl
7       vovcenko
8          storp
9        richter
10       scholze
11        arnold
Name: Trainer_name, dtype: object
0                paulick
1               zschache
2           hirschberger
3                  bolte
4    schleusner-fruhriep
5                 barsig
6                   klug
7    schleusner-fruhriep
8                  grewe
9               fuhrmann
Name: Trainer_name, dtype: object
0      dzubasz
1      dzubasz
2         weis
3       bradik
4        lentz
5        storp
6       schütz
7    angermann
8      paulick
9    fabianova
Name: Trainer_name, dtype: object
0        kreger
1        schütz
2        glodde
3     lindemann
4      vovcenko
5         lentz
6     fabianova
7        bradik
8     angermann
9        franke
10     fuhrmann
Name: Trainer_name, dtype: object
0    schiergen
1      potters
2    kienemann
3        moser
4        moser
5      potters
6        harms
Name: Trainer_name, dtype: object
0     gröschel
1    schiergen
2    grünewald
3        bolte
4     sybrecht
5      potters
6        moser
7         leve
Name: Trainer_name, dtype: object
0     schiergen
1          klug
2        hickst
3         hofer
4      mintchev
5      carvalho
6       potters
7     fabianova
8      sprengel
9        hickst
10      potters
Name: Trainer_name, dtype: object
0         klug
1    angermann
2     sprengel
3      potters
4        moser
5    schriever
6        bolte
7         fust
Name: Trainer_name, dtype: object
0      gröschel
1    almenräder
2        wöhler
3       dzubasz
4        hickst
5      suborics
6          klug
7         bolte
8     schiergen
9       smrczek
Name: Trainer_name, dtype: object
0        paulick
1       gröschel
2          bolte
3       timpelan
4        dzubasz
5        potters
6       vovcenko
7       vovcenko
8       trobisch
9     nedorostek
10        stokes
Name: Trainer_name, dtype: object
0      pantall/fr
1        suborics
2           grewe
3            leve
4       schiergen
5           moser
6       schiergen
7    hirschberger
8     williams/gb
9      almenräder
Name: Trainer_name, dtype: object
0      meulen/nl
1         glodde
2         bradik
3     nedorostek
4       fuhrmann
5       sprengel
6        dzubasz
7       vovcenko
8           rank
9        steudle
10    grzegowski
11      fuhrmann
12      fuhrmann
Name: Trainer_name, dtype: object
0     schiergen
1       paulick
2       dzubasz
3      gröschel
4    almenräder
5         bolte
6       dzubasz
Name: Trainer_name, dtype: object
0    angermann
1    meulen/nl
2     fuhrmann
3    gernreich
4       glodde
5        lüker
6         rank
7      hellier
8     fuhrmann
9        busch
Name: Trainer_name, dtype: object
0       wöhler
1     carvalho
2         leve
3     carvalho
4         klug
5    schiergen
6       hickst
Name: Trainer_name, dtype: object
0    hirschberger
1          hickst
2            klug
3       kienemann
4        gröschel
5     kleinkorres
6           rohne
7         hellier
Name: Trainer_name, dtype: object
0         stech
1      suborics
2        hickst
3     meulen/nl
4    wolters/nl
5         bolte
6      gröschel
7       reineke
8          leve
9      haustein
Name: Trainer_name, dtype: object
0         schiergen
1              klug
2             grewe
3              klug
4             recke
5              klug
6             recke
7           richter
8            hickst
9              klug
10          smrczek
11    hammer-hansen
12            recke
Name: Trainer_name, dtype: object
0               weißmeier
1                   stech
2                   stech
3             kleinkorres
4                   grewe
5                kocanova
6                   lentz
7                   storp
8                 werning
9                vovcenko
10             bodenhagen
11             bodenhagen
12               harst/nl
13    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       vovcenko
1     almenräder
2           klug
3     wolters/nl
4          recke
5    schierstädt
6          demme
7      schiergen
Name: Trainer_name, dtype: object
0           hirschberger
1               carvalho
2                  grewe
3              schiergen
4                  recke
5               carvalho
6                   klug
7                   klug
8    schleusner-fruhriep
9        chapple-hyam/gb
Name: Trainer_name, dtype: object
0         richter
1        gröschel
2     kleinkorres
3          warren
4           lentz
5           demme
6       nienstädt
7        gröschel
8        suborics
9         richter
10          krapp
11         thomas
Name: Trainer_name, dtype: object
0       mongil
1        figge
2       hickst
3    schiergen
4       kujath
5      smrczek
6         klug
Name: Trainer_name, dtype: object
0     schiergen
1          klug
2      gröschel
3       werning
4     laznovska
5         smith
6         hofer
7    peeters/nl
Name: Trainer_name, dtype: object
0     meulen/nl
1         hofer
2        wöhler
3         figge
4     laznovska
5       geisler
6     schiergen
7       potters
8       smrczek
9          oost
10      potters
Name: Trainer_name, dtype: object
0                          klug
1                          leve
2    berrevoets-uivel/nlerlande
3                        hickst
4                         mäder
5                         demme
6                        mulder
7    berrevoets-uivel/nlerlande
Name: Trainer_name, dtype: object
0            klug
1        gröschel
2    hirschberger
3        carvalho
4       schiergen
5        mintchev
Name: Trainer_name, dtype: object
0          dewald
1         potters
2          warren
3       meulen/nl
4        rotering
5           lentz
6      hermans/nl
7     ferentschak
8     verberkt/nl
9        rotering
10          smith
11         schwab
12          figge
13     bodenhagen
Name: Trainer_name, dtype: object
0    nedorostek
1       schwinn
2         lentz
3         figge
4        roesch
5      beckmann
6        hobitz
7        thomas
8     laznovska
9    bodenhagen
Name: Trainer_name, dtype: object
0    peterschmitt
1         geisler
2           klein
3         gülcher
4          kelkel
5            schu
Name: Trainer_name, dtype: object
0      rudolph
1       maurer
2      hellier
3        grewe
4        rojan
5    rothacker
6        gries
Name: Trainer_name, dtype: object
0                glanz
1                grewe
2             schleppi
3              schwinn
4               hillis
5    sofsky-prappacher
6              rudolph
7                 schu
Name: Trainer_name, dtype: object
0        berg
1     rudolph
2       klein
3    schleppi
4        bieß
5       klein
6      birner
7       klein
8       glanz
Name: Trainer_name, dtype: object
0       grewe
1     schwinn
2      keller
3    reischig
4        bach
5       klein
6     rudolph
7      kujath
8      hillis
Name: Trainer_name, dtype: object
0       weber
1      birner
2    mintchev
3    schleppi
4     hellier
5        schu
6       grewe
7       klein
Name: Trainer_name, dtype: object
0         geisler
1    peterschmitt
2       schöndorf
3         rudolph
4            weis
5           klein
Name: Trainer_name, dtype: object
0         klug
1     carvalho
2    schiergen
3         klug
4       wöhler
5    schiergen
6      potters
Name: Trainer_name, dtype: object
0         dewald
1          hofer
2       gröschel
3        potters
4          fuchs
5           pohl
6          smith
7          blume
8         schütz
9     almenräder
10        warren
11        bradik
12         storp
13       potters
14    wolters/nl
Name: Trainer_name, dtype: object
0           wöhler
1            grewe
2     hirschberger
3        schiergen
4           hickst
5             leve
6        zielinska
7             klug
8     hirschberger
9             klug
10            klug
11          maurer
12           weber
13       rouget/fr
Name: Trainer_name, dtype: object
0          bolte
1         hickst
2          smith
3       gröschel
4          blume
5        smrczek
6      nienstädt
7     wolters/nl
8      meulen/nl
9        smrczek
10          klug
11         smith
12        wöhler
Name: Trainer_name, dtype: object
0        klug
1    suborics
2        klug
3    carvalho
4      hickst
5        klug
6       hofer
Name: Trainer_name, dtype: object
0      meulen/nl
1          lentz
2     engels/bel
3          lentz
4          bolte
5     brüggemann
6        smrczek
7      weißmeier
8          storp
9      nienstädt
10     nienstädt
11    heimburger
12    heimburger
13         mayer
14        leiner
15    wolters/nl
Name: Trainer_name, dtype: object
0      kleinkorres
1          smrczek
2          geisler
3             gehm
4    van kempen/nl
5         rotering
6        meulen/nl
7        zielinska
Name: Trainer_name, dtype: object
0        suborics
1    hirschberger
2         smrczek
3            klug
4        gröschel
5        carvalho
Name: Trainer_name, dtype: object
0        bradik
1        hickst
2         hofer
3       schwinn
4        leiner
5     meulen/nl
6         krapp
7       smrczek
8       geisler
9         recke
10        bolte
11        riese
Name: Trainer_name, dtype: object
0                richter
1                dzubasz
2              schiergen
3                dzubasz
4                richter
5               fuhrmann
6    schleusner-fruhriep
7               vovcenko
Name: Trainer_name, dtype: object
0                 dzubasz
1                   recke
2                  engels
3                trobisch
4                   bolte
5     schleusner-fruhriep
6                 dzubasz
7               grünewald
8                vovcenko
9                  glodde
10              schiergen
11                potters
Name: Trainer_name, dtype: object
0                   hinck
1                    rank
2                   storp
3                   lüker
4               angermann
5           fritzenwanker
6                   storp
7                  glodde
8                fuhrmann
9     schleusner-fruhriep
10             nedorostek
11                   türk
Name: Trainer_name, dtype: object
0       dzubasz
1         rohne
2         recke
3     laznovska
4       paulick
5         storp
6     walsh/swe
7       friebel
8      vovcenko
9          pohl
10      paulick
Name: Trainer_name, dtype: object
0       bolte
1       recke
2     dzubasz
3     richter
4      wöhler
5    vovcenko

Name: Trainer_name, dtype: object
0    angermann
1         pohl
2      megsner
3    laznovska
4     vovcenko
5         türk
6       glodde
7     fuhrmann
8        lüker
Name: Trainer_name, dtype: object
0           glodde
1             rank
2          paulick
3           glodde
4            storp
5            lentz
6          potters
7           dewald
8     hottewitzsch
9          friebel
10           busch
Name: Trainer_name, dtype: object
0         klug
1    schiergen
2         klug
3    schiergen
4       hickst
Name: Trainer_name, dtype: object
0         geisler
1            klug
2          wöhler
3        mintchev
4        carvalho
5         smrczek
6    hirschberger
Name: Trainer_name, dtype: object
0       angermann
1            lenz
2          hillis
3     kleinkorres
4       kleffmann
5       gernreich
6      wolters/nl
7           rohne
8           smith
9           storp
10          smith
11    kleinkorres
Name: Trainer_name, dtype: object
0         demme
1     angermann
2         fuchs
3    wolters/nl
4          klug
5       smrczek
6     meulen/nl
7      gröschel
Name: Trainer_name, dtype: object
0        smrczek
1          storp
2    jonkhart/nl
3      meulen/nl
4          storp
5      friesdorf
6     almenräder
7         warren
8    kleinkorres
9          rohne
Name: Trainer_name, dtype: object
0            klug
1        suborics
2            leve
3    hirschberger
4        graffard
5            klug
Name: Trainer_name, dtype: object
0       wöhler
1     gröschel
2        bolte
3    schiergen
4         klug
5        grewe
6    weißmeier
Name: Trainer_name, dtype: object
0           klug
1    kleinkorres
2          recke
3         hillis
4    kleinkorres
5         römich
6           gehm
Name: Trainer_name, dtype: object
0    hammer-hansen
1             klug
2       almenräder
3            bolte
4         gröschel
5           wöhler
6          richter
Name: Trainer_name, dtype: object
0         demme
1        wöhler
2    almenräder
3     schiergen
4      vovcenko
5       dzubasz
6       potters
Name: Trainer_name, dtype: object
0        moser
1    steinberg
2    kienemann
3      potters
4    gernreich
5       hickst
6        lentz
7      richter
8      dzubasz
9     vovcenko
Name: Trainer_name, dtype: object
0         schiergen
1              klug
2            hickst
3         kienemann
4         angermann
5     hammer-hansen
6         grünewald
7           potters
8            mongil
9          sybrecht
10         gröschel
11           mongil
12            stech
13            moser
Name: Trainer_name, dtype: object
0      schiergen
1       suborics
2      schiergen
3     almenräder
4       gröschel
5         hickst
6       vovcenko
7         hickst
8        dzubasz
9           klug
10      sprengel
11      vovcenko
12        hillis
Name: Trainer_name, dtype: object
0              barsig
1              bradik
2               rohne
3              glodde
4            vovcenko
5              glodde
6            sprengel
7            sprengel
8               lentz
9           lindemann
10              stech
11    stein-schomburg
12             sauter
13         nedorostek
Name: Trainer_name, dtype: object
0           paulick
1        pantall/fr
2          johnston
3           ferland
4              klug
5         schiergen
6            hickst
7      hirschberger
8             mäder
9            palmer
10          dzubasz
11    hammer-hansen
12        fabianova
13     hirschberger
Name: Trainer_name, dtype: object
0        hickst
1      vovcenko
2        hickst
3     steinberg
4    wolters/nl
5       richter
6         gasmi
7      sprengel
8      gröschel
9          klug
Name: Trainer_name, dtype: object
0      gröschel
1      suborics
2       richter
3       potters
4        barsig
5         lentz
6        kreger
7    nedorostek
8     nienstädt
Name: Trainer_name, dtype: object
0        klug
1       hofer
2        klug
3        klug
4      wöhler
5    suborics
6    suborics
Name: Trainer_name, dtype: object
0     carvalho
1        demme
2      smrczek
3         klug
4    schiergen
Name: Trainer_name, dtype: object
0        gehm
1    suborics
2        klug
3    carvalho
4       mäder
5     smrczek
Name: Trainer_name, dtype: object
0         hofer
1         grewe
2    almenräder
3        dewald
4        schütz
5       geisler
6     jansen/nl
7       smrczek
8    almenräder
Name: Trainer_name, dtype: object
0         grewe
1         rulec
2      vovcenko
3         mäder
4    almenräder
5      carvalho
6        wöhler
Name: Trainer_name, dtype: object
0      meulen/nl
1       beckmann
2    lenaers/bel
3         warren
4         kreger
5         thomas
6     bodenhagen
Name: Trainer_name, dtype: object
0         klug
1       hickst
2       thomas
3    meulen/nl
4        hofer
5        recke
6    weißmeier
7         blau
8        storp
9     rotering
Name: Trainer_name, dtype: object
0                      meulen/nl
1                          recke
2                          mayer
3                         roesch
4     berrevoets-uivel/nlerlande
5                       beckmann
6                           volz
7                         bradik
8                      meulen/nl
9                           volz
10                      rotering
Name: Trainer_name, dtype: object
0      dzubasz
1     mintchev
2    schiergen
3     gröschel
4     sprengel
5       wöhler
Name: Trainer_name, dtype: object
0         ferentschak
1           lippitsch
2              schütz
3              pyritz
4               mayer
5              hillis
6            fuhrmann
7            fuhrmann
8     stein-schomburg
9              schütz
10            dzubasz
11             schütz
Name: Trainer_name, dtype: object
0               fabianova
1                 richter
2                 paulick
3                   glanz
4                gröschel
5                   mayer
6                  pyritz
7                vovcenko
8               fabianova
9                haustein
10                  storp
11    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                 wöhler
1                smrczek
2                 barsig
3               zschache
4                 wöhler
5               sprengel
6    schleusner-fruhriep
Name: Trainer_name, dtype: object
0          dzubasz
1     hirschberger
2            blume
3      ferentschak
4         blazkova
5           barsig
6            moser
7             leve
8          dzubasz
9         sprengel
10          hillis
11       fabianova
Name: Trainer_name, dtype: object
0            kleinkorres
1              schiergen
2              fabianova
3                 wöhler
4                   klug
5           hirschberger
6                   klug
7                   klug
8    schleusner-fruhriep
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                 pyritz
2                  figge
3                reineke
4               gröschel
5                  glanz
6               fuhrmann
7               zschache
8                  moser
Name: Trainer_name, dtype: object
0      schütz
1     richter
2    gröschel
3      barsig
4       bolte
5     dzubasz
6     dzubasz
7       storp
Name: Trainer_name, dtype: object
0      dzubasz
1    schiergen
2       wöhler
3     gröschel
4       barsig
5       glodde
Name: Trainer_name, dtype: object
0     gröschel
1      richter
2      förster
3      paulick
4    angermann
5      paulick
Name: Trainer_name, dtype: object
0     gröschel
1       glodde
2      richter
3     sprengel
4      paulick
5      richter
6     vovcenko
7       pyritz
8       barsig
9     blazkova
10     paulick
Name: Trainer_name, dtype: object
0       richter
1      vovcenko
2       dzubasz
3       dzubasz
4    vorsilkova
5      zschache
6        glodde
7        barsig
Name: Trainer_name, dtype: object
0       barsig
1       barsig
2       glodde
3    schiergen
4       barsig
5         pohl
6      richter
7    fabianova
8     krzyskow
Name: Trainer_name, dtype: object
0        glodde
1        glodde
2      fuhrmann
3       förster
4         hinck
5      fuhrmann
6    straßmeier
Name: Trainer_name, dtype: object
0              barsig
1              pyritz
2             siegert
3     mioduszewski/pl
4               hinck
5           angermann
6             dzubasz
7               stech
8              glodde
9               storp
10              storp
11          angermann
Name: Trainer_name, dtype: object
0          hickst
1            leve
2            klug
3        carvalho
4        carvalho
5    hirschberger
6       schiergen
7            klug
8           recke
Name: Trainer_name, dtype: object
0       warren
1    schiergen
2     gröschel
3        smith
4    kienemann
5         klug
6        smith
Name: Trainer_name, dtype: object
0           meulen/nl
1               demme
2           nienstädt
3             smrczek
4         jonkhart/nl
5              warren
6            gröschel
7     verschueren/bel
8           weißmeier
9               bolte
10            smrczek
11           stefutti
12              smith
Name: Trainer_name, dtype: object
0          klug
1          klug
2          klug
3         grewe
4       smrczek
5         grewe
6         hofer
7       dzubasz
8         hofer
9         recke
10        hofer
11         klug
12    weißmeier
Name: Trainer_name, dtype: object
0          recke
1          storp
2      meulen/nl
3           weis
4      weißmeier
5      jansen/nl
6           weis
7          lentz
8      weißmeier
9         hickst
10    engels/bel
11         smith
12    fries-jung
Name: Trainer_name, dtype: object
0          bolte
1          demme
2        wöhling
3          smith
4         stokes
5      meulen/nl
6         engels
7      nienstädt
8          recke
9     almenräder
10    peeters/nl
11     weißmeier
12         bothe
13         bolte
Name: Trainer_name, dtype: object
0        hickst
1          klug
2    almenräder
3       smrczek
4        mulder
Name: Trainer_name, dtype: object
0         rohne
1       weidler
2        thomas
3         rohne
4    brüggemann
Name: Trainer_name, dtype: object
0        hillis
1       kerekes
2         figge
3         glanz
4     steinberg
5         figge
6        hillis
7         mayer
8       geisler
9       geisler
10        figge
Name: Trainer_name, dtype: object
0    richter
1     hillis
2      rohne
3      glanz
4    kerekes
Name: Trainer_name, dtype: object
0    hirschberger
1       mühlbauer
2         richter
3         richter
4           mayer
5       schiergen
6          hillis
7          hillis
8           mayer
Name: Trainer_name, dtype: object
0    schiergen
1        mayer
2      richter
3       hillis
4       hillis
5      kerekes
6    mühlbauer
7      geisler
8        figge
9      kerekes
Name: Trainer_name, dtype: object
0        hillis
1     rothacker
2        hillis
3         glanz
4         figge
5        kogler
6    almenräder
7         mayer
8         glanz
9         klein
Name: Trainer_name, dtype: object
0      pantall/fr
1           hofer
2    hirschberger
3           figge
4        satra/cz
5           mayer
6          hillis
7      pantall/fr
8         richter

Name: Trainer_name, dtype: object
0      richter
1        mayer
2    mühlbauer
3        mayer
4        mayer
5        figge
6      hellier
7         pils
8        klein
Name: Trainer_name, dtype: object
0           roesch
1    schwarzenbeck
2            figge
3           hillis
4            mayer
5             bach
6          geisler
7             pils
8          geisler
9           hillis
Name: Trainer_name, dtype: object
0            klug
1        carvalho
2            klug
3    hirschberger
4           grewe
5       schiergen
Name: Trainer_name, dtype: object
0            lenz
1           lentz
2     verberkt/nl
3          warren
4      brüggemann
5       meulen/nl
6          troost
7         hellier
8          leiner
9         werning
10          recke
11         hillis
12     wolters/nl
13          gropp
Name: Trainer_name, dtype: object
0      johnston
1          klug
2      carvalho
3      sprengel
4        mongil
5         glanz
6     schiergen
7     schiergen
8         recke
9        hillis
10        mäder
Name: Trainer_name, dtype: object
0     schiergen
1          klug
2      suborics
3       geisler
4    almenräder
5         moser
6        hickst
7          klug
Name: Trainer_name, dtype: object
0         hobitz
1        smrczek
2        schwinn
3          bolte
4        schwinn
5        schwinn
6     hermans/nl
7          hofer
8          recke
9         leiner
10     meulen/nl
11       smrczek
12    nedorostek
13         lentz
Name: Trainer_name, dtype: object
0        klug
1    carvalho
2      wöhler
3       demme
4    carvalho
5    mintchev
6      hickst
7        klug
8      wöhler
Name: Trainer_name, dtype: object
0          bolte
1        smrczek
2      schiergen
3     wolters/nl
4       vovcenko
5    kleinkorres
6           klug
Name: Trainer_name, dtype: object
0          maurer
1      wolters/nl
2           lentz
3         geisler
4          thomas
5           recke
6       meulen/nl
7          hickst
8         werning
9       meulen/nl
10        smrczek
11    schierstädt
Name: Trainer_name, dtype: object
0       lüker
1      glodde
2       mayer
3    fuhrmann
4       busch
5    fuhrmann
6    fuhrmann
7    fuhrmann
8       storp
Name: Trainer_name, dtype: object
0       schütz
1    fabianova
2      richter
3     gröschel
4      richter
5     fuhrmann
6       glodde
7      richter
8      richter
9      richter
Name: Trainer_name, dtype: object
0     fritzenwanker
1            pyritz
2            glodde
3             stech
4           dzubasz
5           paulick
6          sprengel
7             lentz
8           dzubasz
9            schütz
10         gröschel
Name: Trainer_name, dtype: object
0         schütz
1          lentz
2         arnold
3      angermann
4        dzubasz
5           leve
6           pohl
7          lüker
8        richter
9     nedorostek
10    almenräder
11      fuhrmann
Name: Trainer_name, dtype: object
0                 smrczek
1                  glodde
2                   storp
3                fuhrmann
4                fuhrmann
5     schleusner-fruhriep
6              nedorostek
7                   storp
8                   lentz
9                   storp
10                 schöps
Name: Trainer_name, dtype: object
0        wöhler
1    almenräder
2     schiergen
3         blume
4       bocskai
5       dzubasz
6      sprengel
Name: Trainer_name, dtype: object
0       grewe
1    suborics
2        klug
3      hickst
4    sprengel
5       bolte
6     bocskai
7    gröschel
8       blume
9    fuhrmann
Name: Trainer_name, dtype: object
0                 pyritz
1    schleusner-fruhriep
2                  mayer
3               gröschel
4                paulick
5                   leve
Name: Trainer_name, dtype: object
0        klug
1     richter
2     dzubasz
3     paulick
4     richter
5    blazkova
Name: Trainer_name, dtype: object
0      richter
1       wöhler
2         klug
3       barsig
4    fabianova
5      resulov
Name: Trainer_name, dtype: object
0         glodde
1    richter/aut
2        richter
3        richter
4         glodde
5       krzyskow
6       fuhrmann
7      friesdorf
8          storp
Name: Trainer_name, dtype: object
0        pyritz
1        glodde
2       siegert
3        pyritz
4     lippitsch
5     angermann
6         storp
7        müller
8        barsig
9     angermann
10       glodde
Name: Trainer_name, dtype: object
0      trobisch
1         rohne
2       dzubasz
3       richter
4     angermann
5    vorsilkova
6       dzubasz
7     angermann
8        glodde
9    hlavaty/cz
Name: Trainer_name, dtype: object
0        mayer
1    fabianova
2       kogler
3         klug
4      paulick
Name: Trainer_name, dtype: object
0      vorsilkova
1         dzubasz
2          pyritz
3          glodde
4      vorsilkova
5    hottewitzsch
6          müller
7       angermann
8        fuhrmann
9      straßmeier
Name: Trainer_name, dtype: object
0          klug
1         grewe
2          klug
3        wöhler
4         bolte
5    nezirov/bg
Name: Trainer_name, dtype: object
0     schwarzenbeck
1             figge
2           hellier
3        almenräder
4             demme
5            mongil
6             recke
7             storp
8              gehm
9            hickst
10           leiner
11           barsig
12         schleppi
Name: Trainer_name, dtype: object
0           smrczek
1           bocskai
2          suborics
3             demme
4     van kempen/nl
5             mayer
6           potters
7             blume
8             moser
9          schleppi
10      kleinkorres
11          dzubasz
12    hammer-hansen
Name: Trainer_name, dtype: object
0      schiergen
1     wolters/nl
2          glanz
3      mühlbauer
4          bolte
5            ehl
6        dzubasz
7          moser
8     almenräder
9      laznovska
10       potters
11       bocskai
12        schütz
13        hickst
Name: Trainer_name, dtype: object
0      steinberg
1          bolte
2      angermann
3     wolters/nl
4         wöhler
5         hickst
6          hofer
7         drozda
8     almenräder
9        dzubasz
10       mihalik
Name: Trainer_name, dtype: object
0          hofer
1         wöhler
2     almenräder
3       gröschel
4         wöhler
5       vovcenko
6         hickst
7          recke
8        potters
9           klug
10         rulec
11         figge
12     schiergen
13         recke
14       dzubasz
15         bolte
Name: Trainer_name, dtype: object
0     hirschberger
1          dzubasz
2          bocskai
3        schiergen
4             klug
5           wöhler
6    hammer-hansen
7          dzubasz
8         rotering
Name: Trainer_name, dtype: object
0       schwinn
1      fuhrmann
2       rudolph
3         grewe
4         glanz
5      beckmann
6       hellier
7         mayer
8          palz
9         mayer
10    laznovska
11      hellier
12        gries
13        storp
14      kerekes
15     fuhrmann
Name: Trainer_name, dtype: object
0            klug
1          wöhler
2       schiergen
3    hirschberger
4           recke
Name: Trainer_name, dtype: object
0    weißmeier
1         leve
2        lüker
3        recke
4        bolte
5       kreger
6    walsh/swe
Name: Trainer_name, dtype: object
0                  recke
1                 hickst
2        de vlaminck/bel
3                 römich
4            kleinkorres
5                potters
6               timpelan
7               haustein
8    schleusner-fruhriep
9                  gasmi
Name: Trainer_name, dtype: object
0        lüker
1    gernreich
2     beckmann
3    nienstädt
4       sauter
5         rank
6    meulen/nl
7        lentz
Name: Trainer_name, dtype: object
0        vovcenko
1           recke
2    schnakenberg
3          müller
4            weis
5        rotering
6           smith
7        vovcenko
Name: Trainer_name, dtype: object
0     meulen/nl
1         rohne
2        glodde
3         lentz
4         hinck
5      vovcenko
6    grzegowski
7          rank
8      sprengel
9        sauter
Name: Trainer_name, dtype: object
0              meulen/nl
1              weißmeier
2                  riese
3              gernreich
4            kleinkorres
5                   weis
6               vovcenko
7    schleusner-fruhriep
8           schnakenberg
9                  lentz
Name: Trainer_name, dtype: object
0               vovcenko
1    schleusner-fruhriep
2                  recke
3           schnakenberg
4        de vlaminck/bel
5                  recke
Name: Trainer_name, dtype: object
0       glodde
1       kreger
2    meulen/nl
3     beckmann
4     fuhrmann
5        lentz
Name: Trainer_name, dtype: object
0           hickst
1         suborics
2            figge
3         rotering
4    hammer-hansen
5        mühlbauer
6            rulec
7            storp
Name: Trainer_name, dtype: object
0         schiergen
1             blume
2     van kempen/nl
3              pohl
4           smrczek
5         lindemann
6        wolters/nl
7            birner
8           bocskai
9          schleppi
10            mayer
Name: Trainer_name, dtype: object
0      almenräder
1        gröschel
2          barsig
3        suborics
4         smrczek
5            klug
6        sprengel
7    hirschberger
Name: Trainer_name, dtype: object
0     peterschmitt
1             gehm
2        mühlbauer
3         stefutti
4            klein
5            klein
6     peterschmitt
7            mäder
8            hofer
9           kujath
10          birner
11           storp
12           smith
13           glanz
14       lindemann
15           mayer
16          dewald
17        schleppi
Name: Trainer_name, dtype: object
0        blume
1       hickst
2        smith
3        recke
4       barsig
5        storp
6    schiergen
7      rosport
8        rulec
9        glanz
Name: Trainer_name, dtype: object
0             klug
1             klug
2        schiergen
3             klug
4         gröschel
5             klug
6     hirschberger
7           wöhler
8    hammer-hansen
Name: Trainer_name, dtype: object
0        pyritz
1      gröschel
2      haustein
3    almenräder
4         bolte
5      suborics
6     schiergen
7         figge
Name: Trainer_name, dtype: object
0      schiergen
1           klug
2    kleinkorres
3       carvalho
4         wöhler
Name: Trainer_name, dtype: object
0    hirschberger
1        sprengel
2          hickst
3           recke
4       schiergen
5           frank
6           glanz
Name: Trainer_name, dtype: object
0     schiergen
1          klug
2         figge
3         recke
4          klug
5    wolters/nl
6          schu
Name: Trainer_name, dtype: object
0            falk
1         schwinn
2           figge
3      bracke/bel
4           mayer
5            schu
6           busch
7       jansen/nl
8     lenaers/bel
9          troost
10      schöndorf
11         dewald
12           berg
13      weißmeier
Name: Trainer_name, dtype: object
0                 kurdu
1             laznovska
2     sofsky-prappacher
3                  schu
4             meulen/nl
5               schwinn
6              schleppi
7              schleppi
8             weißmeier
9             weißmeier
10                figge
11                mayer
12               schwab
Name: Trainer_name, dtype: object
0           storp
1         weidler
2       laznovska
3         gülcher
4           demme
5       weißmeier
6         hellier
7    hirschberger
8         potters
Name: Trainer_name, dtype: object
0          bolte
1      meulen/nl
2        schwinn
3      weißmeier
4       schleppi
5           schu
6          alles
7        geisler
8          recke
9          storp
10    heimburger
11     jansen/nl
12    fries-jung
13      rotering
Name: Trainer_name, dtype: object
0       geisler
1         demme
2     gernreich
3     weißmeier
4    hermans/nl
5         recke
6         storp
7         bolte
8      schleppi
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2          dewald
3       gernreich
4           mäder
Name: Trainer_name, dtype: object
0       meulen/nl
1      heimburger
2           recke
3         smrczek
4          thomas
5    henkenjohann
Name: Trainer_name, dtype: object
0      wöhler
1        klug
2        klug
3    suborics
4       hofer

Name: Trainer_name, dtype: object
0    angermann
1    angermann
2    fabianova
3       pyritz
4     horakova
5       pyritz
6      dzubasz
7    schiergen
Name: Trainer_name, dtype: object
0       weidler
1        thomas
2       dzubasz
3       paulick
4        schütz
5        kreger
6       paulick
7       kerekes
8       paulick
9     angermann
10      förster
Name: Trainer_name, dtype: object
0       schütz
1    fabianova
2      dzubasz
3      richter
4       barsig
5       arnold
6      richter
7       thomas
Name: Trainer_name, dtype: object
0        glodde
1     angermann
2       dzubasz
3          weis
4         rohne
5      fuhrmann
6     angermann
7        pyritz
8        hillis
9        schöps
10       glodde
11         türk
Name: Trainer_name, dtype: object
0      weidler
1     suborics
2     sprengel
3      paulick
4       barsig
5       glodde
6         vana
7         klug
8    angermann
Name: Trainer_name, dtype: object
0        mayer
1    angermann
2       kreger
3       glodde
4        bigus
5         türk
6         vana
7     fuhrmann
Name: Trainer_name, dtype: object
0    almenräder
1         moser
2         moser
3       potters
4         gasmi
5       potters
Name: Trainer_name, dtype: object
0        wöhler
1      carvalho
2     schiergen
3          klug
4     schiergen
5         recke
6         moser
7       smrczek
8        wöhler
9          klug
10       mongil
11        bolte
Name: Trainer_name, dtype: object
0                  hickst
1                 richter
2                suborics
3                   bolte
4               schiergen
5                trobisch
6                haustein
7               grünewald
8     schleusner-fruhriep
9                suborics
10                  demme
11                  stech
12             almenräder
Name: Trainer_name, dtype: object
0       crisford
1        geisler
2       carvalho
3    maronka/hun
4         wöhler
5       johnston
6          rohne
7         hickst
8         wöhler
Name: Trainer_name, dtype: object
0     schleusner-fruhriep
1                 richter
2                   bolte
3                gröschel
4               angermann
5                   recke
6              nedorostek
7                vovcenko
8                   demme
9                vovcenko
10                 hobitz
Name: Trainer_name, dtype: object
0         paulick
1      pantall/fr
2            klug
3          hickst
4      almenräder
5       schiergen
6            klug
7    hirschberger
8       schiergen
9      clement/fr
Name: Trainer_name, dtype: object
0                fuhrmann
1     schleusner-fruhriep
2                 paulick
3               rothacker
4            henkenjohann
5                zschache
6                   bolte
7                gröschel
8                 reineke
9                   bolte
10                  rohne
Name: Trainer_name, dtype: object
0               johnston
1           hirschberger
2                 hickst
3    schleusner-fruhriep
4                  mäder
5                smrczek
6           hirschberger
7                  demme
8              schiergen
9                 wöhler
Name: Trainer_name, dtype: object
0         gröschel
1        schiergen
2         vovcenko
3          geisler
4            moser
5            recke
6         sybrecht
7         fuhrmann
8      ferentschak
9         gröschel
10         reineke
11    schnakenberg
Name: Trainer_name, dtype: object
0         lentz
1      beckmann
2         demme
3       potters
4      fuhrmann
5         demme
6       richter
7    nedorostek
Name: Trainer_name, dtype: object
0     dzubasz
1    sprengel
2        leve
3        klug
4     dzubasz
5     smrczek
6       storp
7      hickst
Name: Trainer_name, dtype: object
0       figge
1    fuhrmann
2       lentz
3        rank
4    fuhrmann
5      franke
6    fuhrmann
7    fuhrmann
Name: Trainer_name, dtype: object
0     nedorostek
1          klein
2      angermann
3         schütz
4          lentz
5        megsner
6         glodde
7       vovcenko
8         glodde
9        smrczek
10      fuhrmann
Name: Trainer_name, dtype: object
0           dzubasz
1     van kempen/nl
2          sprengel
3              pohl
4       ferentschak
5            barsig
6             figge
7           richter
8            glodde
9             bolte
10             kurz
11         suborics
Name: Trainer_name, dtype: object
0       fuhrmann
1     nedorostek
2          hinck
3           rank
4           weis
5          busch
6          storp
7          klein
8          busch
9         sauter
10     lippitsch
11         rohne
Name: Trainer_name, dtype: object
0     dzubasz
1      hickst
2    suborics
3      barsig
4    sprengel
5     dzubasz
6     richter
7    suborics
8    fuhrmann
9      hickst
Name: Trainer_name, dtype: object
0      richter
1       stokes
2       engels
3      dzubasz
4     gröschel
5        storp
6     vovcenko
7      dzubasz
8     timpelan
9    grünewald
Name: Trainer_name, dtype: object
0          weis
1         hofer
2         bolte
3        schütz
4      fuhrmann
5        engels
6        glodde
7         lentz
8     schwinger
9         storp
10        storp
Name: Trainer_name, dtype: object
0         klug
1     carvalho
2    steinberg
3       wöhler
4        glanz
5    schiergen
Name: Trainer_name, dtype: object
0        klug
1    suborics
2      hillis
3       glanz
4       moser
5      kujath
6     kerekes
Name: Trainer_name, dtype: object
0       richter
1        hickst
2     steinberg
3          tuma
4     schiergen
5        hillis
6    almenräder
Name: Trainer_name, dtype: object
0         wöhler
1          hofer
2      schiergen
3           leve
4        dzubasz
5          figge
6      steinberg
7          grewe
8      schiergen
9          glanz
10       kerekes
11         hofer
12         recke
13    almenräder
Name: Trainer_name, dtype: object
0       richter
1       richter
2         mayer
3       geisler
4         moser
5         mayer
6     steinberg
7       geisler
8     mühlbauer
9         figge
10        mayer
Name: Trainer_name, dtype: object
0    almenräder
1         mayer
2         moser
3       richter
4        hillis
5         glanz
6     schiergen
7          leve
8        hickst
Name: Trainer_name, dtype: object
0        almenräder
1         mühlbauer
2            hillis
3           richter
4             mayer
5             figge
6            hillis
7     schwarzenbeck
8             glanz
9           dzubasz
10        mühlbauer
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2        hofer
3     suborics
4    weißmeier
5        blume
6        kurdu
Name: Trainer_name, dtype: object
0                   rohne
1                   lentz
2               weißmeier
3                   grewe
4                    lenz
5                  pyritz
6                stefutti
7               gernreich
8                  roesch
9                   recke
10                  smith
11    schleusner-fruhriep
Name: Trainer_name, dtype: object
0         dewald
1       sprengel
2        potters
3      meulen/nl
4    lenaers/bel
5    verberkt/nl
6          blume
7          lentz
8     wolters/nl
9         troost
Name: Trainer_name, dtype: object
0       schiergen
1           bolte
2          pyritz
3       schiergen
4    hirschberger
5            leve
6            klug
7          dewald
Name: Trainer_name, dtype: object
0      wöhler
1    carvalho
2       demme
3        klug
4        klug
5        klug
Name: Trainer_name, dtype: object
0         recke
1       smrczek
2        thomas
3          klug
4        hickst
5     meulen/nl
6         smith
7     weißmeier
8      vovcenko
9         smith
10        krapp
Name: Trainer_name, dtype: object
0        suborics
1            klug
2    hirschberger
3       schiergen
4            klug
5       schiergen
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1             herresthal
2                symalla
3                  recke
4      paraknewitz-kalla
5           borkowski/pl
6             herresthal
7                   weis
Name: Trainer_name, dtype: object
0        barsig
1      schleppi
2     laznovska
3          schu
4         recke
5     weißmeier
6     meulen/nl
7       hellier
8        kreger
9        fievez
10         türk
11        storp
Name: Trainer_name, dtype: object
0      beckmann
1         lüker
2       schwinn
3          türk
4    brüggemann
5       rudolph
6     weißmeier
7      schleppi
8         storp
9     schriever
Name: Trainer_name, dtype: object
0          klein
1        wöhling
2          klein
3          grewe
4      meulen/nl
5        werning
6          storp
7          bolte
8     peeters/nl
9          storp
10         recke
11       smrczek
12       smrczek
13         bolte
Name: Trainer_name, dtype: object
0       suborics
1        schwinn
2          storp
3           schu
4      meulen/nl
5      laznovska
6        rudolph
7     bodenhagen
8          bolte
9       gerstner
10    bodenhagen
Name: Trainer_name, dtype: object
0     schriever
1      beckmann
2          gehm
3       schwinn
4    bodenhagen
5     angermann
6         storp
7     schneider
8         krapp
Name: Trainer_name, dtype: object
0                  falk
1     sofsky-prappacher
2                kreger
3            bodenhagen
4             angermann
5                troost
6             meulen/nl
7            hermans/nl
8             weißmeier
9                  berg
10               mulder
11                lüker
12               warren
13                sauer
Name: Trainer_name, dtype: object
0          berg
1     weißmeier
2         klein
3         mäder
4          bieß
5         storp
6        warren
7         bolte
8         bolte
9          gehm
10    meulen/nl
11        klein
Name: Trainer_name, dtype: object
0          grewe
1       suborics
2    ferentschak
3          rohne
4          gasmi
5         hillis
6         barsig
7         schütz
8        richter
Name: Trainer_name, dtype: object
0     sofsky-prappacher
1               schwinn
2                   ehl
3              beckmann
4                 mayer
5            bracke/bel
6                  schu
7             laznovska
8             meulen/nl
9                 lentz
10                 oost
11             gerstner
12            schöndorf
Name: Trainer_name, dtype: object
0        gerstner
1          schaaf
2           mayer
3           schön
4       gernreich
5        beckmann
6           grewe
7            schu
8        schleppi
9     ferentschak
10          storp
11          mayer
12     fries-jung
Name: Trainer_name, dtype: object
0      kleinkorres
1          smrczek
2            klein
3      kleinkorres
4           kreger
5     henkenjohann
6           troost
7        meulen/nl
8       heimburger
9            frank
10          donate
11             ehl
12        fuhrmann
13       laznovska
Name: Trainer_name, dtype: object
0            klein
1     henkenjohann
2         schleppi
3        meulen/nl
4          geisler
5        laznovska
6      kleinkorres
7            bolte
8            lüker
9            gasmi
10     jonkhart/nl
Name: Trainer_name, dtype: object
0                         maurer
1                       schleppi
2                      weißmeier
3                           weis
4     berrevoets-uivel/nlerlande
5                       fuhrmann
6                        schwinn
7                          mayer
8                     heimburger
9                     fries-jung
10                     meulen/nl
11                         storp
12                          weis
13                    brüggemann
Name: Trainer_name, dtype: object
0         grewe
1         recke
2     meulen/nl
3     gernreich
4          schu
5     schöndorf
6         hofer
7      hannibal
8      gerstner
9         smith
10         gehm
11    schneider
12        gries
Name: Trainer_name, dtype: object
0           klug
1      schiergen
2      gernreich
3           klug
4      schriever
5          recke
6    kleinkorres
7          bolte
Name: Trainer_name, dtype: object
0    lenaers/bel
1         kreger
2           falk
3          klein
4    ferentschak
5         dewald
6          smith
7         dewald
Name: Trainer_name, dtype: object
0        recke
1         klug
2     sprengel
3         klug
4       wöhler
5      dzubasz
6       wöhler
7    schiergen
Name: Trainer_name, dtype: object
0             dzubasz
1              duchon
2             werning
3             siegert
4             dzubasz
5              pyritz
6     mioduszewski/pl
7               drlik
8            fuhrmann
9               storp
10             glodde
Name: Trainer_name, dtype: object

0       sprengel
1      angermann
2        paulick
3         schöps
4          stech
5        potters
6        richter
7        richter
8       blazkova
9          stech
10    vorsilkova
11       paulick
Name: Trainer_name, dtype: object
0         barsig
1      angermann
2        dzubasz
3         schütz
4        potters
5      angermann
6           pohl
7          drlik
8     vorsilkova
9       fuhrmann
10        glodde
11     angermann
Name: Trainer_name, dtype: object
0                 richter
1                  barsig
2               angermann
3                 dzubasz
4                 dzubasz
5     schleusner-fruhriep
6                vovcenko
7                 richter
8                  glodde
9               angermann
10               gröschel
Name: Trainer_name, dtype: object
0                   recke
1                  wöhler
2                 paulick
3                  schütz
4     schleusner-fruhriep
5                sprengel
6                zahariev
7            hirschberger
8                  mongil
9                  barsig
10                   klug
11    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       richter
1         rohne
2       richter
3         grewe
4       richter
5       dzubasz
6      sprengel
7        barsig
8        arnold
9     fabianova
10     zahariev
11      richter
Name: Trainer_name, dtype: object
0                   lentz
1                   stech
2               angermann
3                sprengel
4     schleusner-fruhriep
5               lippitsch
6                 werning
7                vovcenko
8                  glodde
9                 dzubasz
10                   weis
11                paulick
Name: Trainer_name, dtype: object
0        schwinn
1           türk
2        schwinn
3     nedorostek
4        rudolph
5          storp
6     bodenhagen
7       beckmann
8        schwinn
9        richter
10     schriever
11         lentz
12         rohne
13         figge
Name: Trainer_name, dtype: object
0          grewe
1      weißmeier
2        schwinn
3      weißmeier
4        schwinn
5     engels/bel
6          mayer
7          storp
8           schu
9     heimburger
10        thomas
11         krapp
12    grzegowski
13    nedorostek
Name: Trainer_name, dtype: object
0       beckmann
1       rotering
2          figge
3           berg
4      laznovska
5         troost
6       fuhrmann
7          klein
8      schneider
9           lenz
10    bodenhagen
11        kreger
12        warren
13         mayer
Name: Trainer_name, dtype: object
0          lentz
1        wöhling
2          recke
3          lüker
4       beckmann
5          klein
6         warren
7      weißmeier
8          demme
9          lüker
10         demme
11       smrczek
12    almenräder
13        thomas
Name: Trainer_name, dtype: object
0                   klug
1                  bolte
2             peeters/nl
3                richter
4            kleinkorres
5                  recke
6                  mäder
7    schleusner-fruhriep
8                   klug
9                geisler
Name: Trainer_name, dtype: object
0          grewe
1      schriever
2          bolte
3         römich
4    maronka/hun
5          recke
6        rudolph
Name: Trainer_name, dtype: object
0       smrczek
1      fuhrmann
2       schwinn
3        thomas
4    bodenhagen
5     weißmeier
6       richter
7    peeters/nl
8      fuhrmann
Name: Trainer_name, dtype: object
0    maronka/hun
1           klug
2           klug
3          recke
4         wöhler
Name: Trainer_name, dtype: object
0           fuchs
1             ehl
2         smrczek
3             ehl
4        gerstner
5          kreger
6     richter/aut
7       kleffmann
8         smrczek
9           lüker
10          lentz
11          schön
12         dewald
Name: Trainer_name, dtype: object
0                          storp
1     berrevoets-uivel/nlerlande
2                       schleppi
3                   henkenjohann
4                          storp
5                       hannibal
6                        geisler
7                      meulen/nl
8                          grewe
9                          recke
10                    heimburger
11                     weißmeier
12    berrevoets-uivel/nlerlande
13                         lentz
Name: Trainer_name, dtype: object
0          storp
1           bieß
2       vovcenko
3          rohne
4          demme
5      weißmeier
6        weidler
7    richter/aut
8         wöhler
9         schütz
Name: Trainer_name, dtype: object
0        recke
1    laznovska
2        demme
3      geisler
4    schiergen
5    meulen/nl
6       maurer
Name: Trainer_name, dtype: object
0              schwinn
1                 falk
2               kreger
3          lenaers/bel
4    sofsky-prappacher
5               dewald
Name: Trainer_name, dtype: object
0    peterschmitt
1       meulen/nl
2           demme
3           fuchs
4    peterschmitt
5      bajraktari
Name: Trainer_name, dtype: object
0          maurer
1           grewe
2           demme
3       meulen/nl
4    henkenjohann
5           demme
6         werning
7         smrczek
8           kurdu
Name: Trainer_name, dtype: object
0    hirschberger
1    hirschberger
2         schwinn
3    henkenjohann
4       laznovska
5            gehm
6            bieß
Name: Trainer_name, dtype: object
0          figge
1         troost
2      schneider
3          mayer
4          mayer
5     bodenhagen
6      angermann
7           schu
8       beckmann
9      meulen/nl
10    hermans/nl
11        franke
Name: Trainer_name, dtype: object
0       weißmeier
1     kleinkorres
2          warren
3        suborics
4           bolte
5       weißmeier
6           lüker
7        schleppi
8       angermann
9         richter
10     nedorostek
11      meulen/nl
12         barsig
Name: Trainer_name, dtype: object
0         müller
1         bradik
2        rudolph
3         glodde
4     bodenhagen
5           weis
6          grewe
7          storp
8     bodenhagen
9          hofer
10      beckmann
11       friebel
Name: Trainer_name, dtype: object
0        schwinn
1           weis
2      weißmeier
3          storp
4     bodenhagen
5       sprengel
6      angermann
7       beckmann
8        smrczek
9         müller
10         storp
11    nedorostek
Name: Trainer_name, dtype: object
0         recke
1         lüker
2    engels/bel
3     weißmeier
4        bradik
5         storp
6    brüggemann
7       schwinn
8        warren
9      schleppi
Name: Trainer_name, dtype: object
0          bolte
1        smrczek
2          demme
3        richter
4    kleinkorres
5          demme
6      schriever
7      gernreich
8          blume
9           gehm
Name: Trainer_name, dtype: object
0         gehm
1    weißmeier
2       barsig
3       warren
4       dewald
5      rudolph
Name: Trainer_name, dtype: object
0          schriever
1            rudolph
2          schiergen
3              grewe
4          meulen/nl
5    verschueren/bel
6               gehm
Name: Trainer_name, dtype: object
0                         storp
1    berrevoets-uivel/nlerlande
2                      schleppi
3                         bolte
4                     meulen/nl
5                          weis
6                         storp
7                  henkenjohann
Name: Trainer_name, dtype: object
0          barsig
1        schleppi
2           klein
3           demme
4    peterschmitt
5          maurer
6       weißmeier
7         smrczek
Name: Trainer_name, dtype: object
0        recke
1        grewe
2    weißmeier
3         schu
4        recke
5        demme
Name: Trainer_name, dtype: object
0     fries-jung
1        schwinn
2           schu
3          mayer
4      schöndorf
5      schriever
6      weißmeier
7       gerstner
8           gehm
9       fuhrmann
10         recke
11     gernreich
12          weis
13         storp
Name: Trainer_name, dtype: object
0        laznovska
1          smrczek
2           schaaf
3        wesel/bel
4           donate
5     verheyen/bel
6          smrczek
7              ehl
8            klein
9           dewald
10           mayer
Name: Trainer_name, dtype: object
0                 falk
1          lenaers/bel
2                figge
3              schwinn
4    sofsky-prappacher
5               kreger
6               kreger

Name: Trainer_name, dtype: object
0         demme
1         figge
2         rohne
3      vovcenko
4        barsig
5     angermann
6    fries-jung
Name: Trainer_name, dtype: object
0    peterschmitt
1       angermann
2       meulen/nl
3       laznovska
4           bolte
Name: Trainer_name, dtype: object
0      rotering
1         mayer
2         mayer
3        troost
4     laznovska
5    bodenhagen
6      beckmann
7     schneider
8          berg
9      lanslots
Name: Trainer_name, dtype: object
0      weißmeier
1        geisler
2        richter
3           türk
4     bodenhagen
5     bodenhagen
6          demme
7       sprengel
8        smrczek
9      weißmeier
10         storp
Name: Trainer_name, dtype: object
0          recke
1         warren
2       beckmann
3          alles
4          lüker
5     engels/bel
6         kreger
7          lüker
8          storp
9          storp
10         klein
11      schleppi
Name: Trainer_name, dtype: object
0     storp
1      gehm
2     mäder
3      bieß
4     demme
5    warren
6     rohne
7     demme
8     klein
Name: Trainer_name, dtype: object
0    weißmeier
1        lentz
2        klein
3      schwinn
4        grewe
5        lüker
6        alles
7     rotering
8        bolte
9         bieß
Name: Trainer_name, dtype: object
0        demme
1      schwinn
2        bolte
3        grewe
4        recke
5        grewe
6    schriever
7    schiergen
8    schriever
Name: Trainer_name, dtype: object
0        klein
1      smrczek
2    weißmeier
3        mäder
4    meulen/nl
5       dewald
6         renz
Name: Trainer_name, dtype: object
0         bolte
1       richter
2      suborics
3       smrczek
4    almenräder
5         recke
6         recke
Name: Trainer_name, dtype: object
0        smrczek
1          klein
2       gerstner
3       schleppi
4       fuhrmann
5    kleinkorres
6       fuhrmann
7         kreger
8       suborics
Name: Trainer_name, dtype: object
0       laznovska
1       weißmeier
2     kleinkorres
3    henkenjohann
4         geisler
5            weis
6       weißmeier
7          müller
8    peterschmitt
9           krapp
Name: Trainer_name, dtype: object
0          ehl
1    wesel/bel
2         schu
3       donate
4      smrczek
5       kreger
6    laznovska
7    gernreich
8       warren
9     fuhrmann
Name: Trainer_name, dtype: object
0     schriever
1        müller
2       schwinn
3    brüggemann
4      gerstner
5         recke
Name: Trainer_name, dtype: object
0       weißmeier
1     kleinkorres
2         smrczek
3         richter
4    peterschmitt
5       laznovska
6       moons/bel
Name: Trainer_name, dtype: object
0       rohne
1       fuchs
2     richter
3       rohne
4    fuhrmann
5    fuhrmann
Name: Trainer_name, dtype: object
0     kleinkorres
1           recke
2    peterschmitt
3       weißmeier
4         schwinn
Name: Trainer_name, dtype: object
0           falk
1    lenaers/bel
2    lenaers/bel
3           berg
4      moons/bel
Name: Trainer_name, dtype: object
0            recke
1             weis
2            lüker
3           warren
4         beckmann
5     henkenjohann
6          hellier
7            storp
8            storp
9         fuhrmann
10       weißmeier
Name: Trainer_name, dtype: object
0     lenaers/bel
1        rotering
2          kreger
3           mayer
4        fuhrmann
5        lanslots
6      bodenhagen
7           demme
8      bracke/bel
9          warren
10           rank
11      schneider
Name: Trainer_name, dtype: object
0          rudolph
1          rudolph
2       bodenhagen
3           bradik
4       bodenhagen
5     henkenjohann
6           glodde
7            storp
8             weis
9             schu
10        beckmann
11        fuhrmann
12            türk
13        sprengel
Name: Trainer_name, dtype: object
0        alles
1        storp
2    weißmeier
3     beckmann
4        demme
5        storp
6         schu
7     rotering
8        storp
9      smrczek
Name: Trainer_name, dtype: object
0    laznovska
1    schiergen
2      schwinn
3        recke
4        bolte
5       winter
6        grewe
7    weißmeier
8      werning
Name: Trainer_name, dtype: object
0        schwinn
1       rotering
2    kleinkorres
3          alles
4      schriever
5          demme
6      laznovska
7          bolte
8          grewe
Name: Trainer_name, dtype: object
0       demme
1    fuhrmann
2        gehm
3      warren
4       mäder
5       bolte
6      glodde
7      bradik
Name: Trainer_name, dtype: object
0    kleinkorres
1       fuhrmann
2    kleinkorres
3          bolte
4         kreger
5          demme
6        hellier
7        schwinn
8      schriever
Name: Trainer_name, dtype: object
0       hellier
1       richter
2     weißmeier
3    troost/bel
4       wöhling
5     weißmeier
6      overbeck
7     meulen/nl
Name: Trainer_name, dtype: object
0        rudolph
1      weißmeier
2      weißmeier
3     bodenhagen
4      schöndorf
5        schwinn
6     bodenhagen
7           weis
8       beckmann
9           gehm
10      overbeck
11         storp
Name: Trainer_name, dtype: object
0        schwinn
1     engels/bel
2        richter
3      weißmeier
4         kreger
5          mayer
6         bradik
7      schiergen
8       beckmann
9      meulen/nl
10         storp
11        donate
12       hellier
13         storp
Name: Trainer_name, dtype: object
0          mayer
1       vovcenko
2          figge
3         kreger
4     neuberg/cz
5    lenaers/bel
6     bodenhagen
7         wöhler
Name: Trainer_name, dtype: object
0      schiergen
1        rudolph
2        schwinn
3      schriever
4          alles
5        schwinn
6    kleinkorres
7        schwinn
Name: Trainer_name, dtype: object
0      bolte
1    smrczek
2      rohne
3      figge
4     barsig
Name: Trainer_name, dtype: object
0         figge
1        hickst
2         rohne
3       schwinn
4          kurz
5    fries-jung
Name: Trainer_name, dtype: object
0           klein
1    hirschberger
2          winter
3            weis
4         schwinn
5         werning
Name: Trainer_name, dtype: object
0         schaaf
1          klein
2    kleinkorres
3       gerstner
4       schleppi
5          recke
6      schneider
Name: Trainer_name, dtype: object
0    smrczek
1        ehl
2      lüker
3      storp
4     birner
5    smrczek
6       schu
7      lüker
Name: Trainer_name, dtype: object
0          demme
1         birner
2      weißmeier
3    kleinkorres
4          recke
Name: Trainer_name, dtype: object
0      weißmeier
1          demme
2        geisler
3           schu
4           weis
5        smrczek
6          storp
7     fries-jung
8       gerstner
9           wenz
10         recke
Name: Trainer_name, dtype: object
0    berrevoets-uivel/nlerlande
1                   kleinkorres
2                      schleppi
3                       werning
4                         bolte
5                          weis
6                          schu
7                         storp
8                      schleppi
9                         lüker
Name: Trainer_name, dtype: object
0       laznovska
1           demme
2           recke
3         geisler
4           demme
5    peterschmitt
Name: Trainer_name, dtype: object
0      weißmeier
1     bodenhagen
2           weis
3        rudolph
4        schwinn
5    kleinkorres
6       beckmann
7           gehm
8           türk
9      weißmeier
Name: Trainer_name, dtype: object
0         lüker
1       rudolph
2         storp
3       richter
4          weis
5      beckmann
6         storp
7         alles
8     weißmeier
9       schwinn
10        storp
Name: Trainer_name, dtype: object
0       stokes
1    schiergen
2      schwinn
3         kurz
4    gernreich
5       thomas
6     lanslots
7        demme
8      werning
Name: Trainer_name, dtype: object
0    engels/bel
1         lüker
2         alles
3         storp
4        warren
5        kreger
6          türk
Name: Trainer_name, dtype: object
0      rotering
1      lanslots
2         mayer
3        franke
4    bodenhagen
5        warren
6     laznovska
Name: Trainer_name, dtype: object
0     weißmeier
1       smrczek
2         mäder
3       hellier
4         recke
5    neuberg/cz
6        fievez
Name: Trainer_name, dtype: object
0         recke
1    troost/bel
2       wöhling
3     schiergen
4     laznovska
5         klein
Name: Trainer_name, dtype: object
0    kleinkorres
1        werning
2           weis
3       schleppi
4           wenz
5           schu
Name: Trainer_name, dtype: object
0           schu
1    kleinkorres
2        geisler
3        schwinn
4      weißmeier
5       overbeck
6       gerstner
7          demme
Name: Trainer_name, dtype: object
0      smrczek
1          ehl
2     beckmann
3     schleppi
4        rohne
5      smrczek
6        kartz
7       donate
8        demme
9       bradik
10    overbeck
Name: Trainer_name, dtype: object
0        wöhler
1      vovcenko
2          weis
3    neuberg/cz
4      schleppi
5       werning
6     weißmeier

Name: Trainer_name, dtype: object
0          gehm
1         demme
2         demme
3         rohne
4    troost/bel
5      schleppi
Name: Trainer_name, dtype: object
0        demme
1        rohne
2        rohne
3     vovcenko
4     beckmann
5    gernreich
Name: Trainer_name, dtype: object
0        bolte
1        klein
2      smrczek
3       maurer
4    laznovska
5      schwinn
6     overbeck
Name: Trainer_name, dtype: object
0           schu
1    lenaers/bel
2        schwinn
3           falk
Name: Trainer_name, dtype: object
0       rotering
1    lenaers/bel
2       lanslots
3     bodenhagen
4          mayer
5       beckmann
6         birner
7         kreger
Name: Trainer_name, dtype: object
0          lüker
1       overbeck
2      weißmeier
3     engels/bel
4           weis
5           türk
6        schwinn
7          bolte
8       vovcenko
9         kreger
10    brüggemann
11        glodde
12         storp
13     weißmeier
Name: Trainer_name, dtype: object
0         fuchs
1     weißmeier
2      vovcenko
3        warren
4         rohne
5         storp
6     weißmeier
7    fries-jung
Name: Trainer_name, dtype: object
0       rudolph
1       rudolph
2          weis
3    bodenhagen
4     weißmeier
5        glodde
6       schwinn
7      overbeck
8         storp
Name: Trainer_name, dtype: object
0        wöhling
1        werning
2          lüker
3      weißmeier
4    kleinkorres
5         warren
6        hellier
7      weißmeier
Name: Trainer_name, dtype: object
0      bolte
1     birner
2     maurer
3      recke
4    smrczek
5      mäder
Name: Trainer_name, dtype: object
0        recke
1    weißmeier
2        rohne
3    weißmeier
4      schwinn
5        grewe
Name: Trainer_name, dtype: object
0       birner
1    schiergen
2       maurer
3        bolte
4      wöhling
5        rohne
6        klein
7    weißmeier
8        lentz
9     gerstner
Name: Trainer_name, dtype: object
0           ehl
1         grewe
2         klein
3     weißmeier
4       smrczek
5          weis
6        kreger
7        birner
8     laznovska
9     weißmeier
10       schwab
11     overbeck
Name: Trainer_name, dtype: object
0           weis
1        geisler
2      weißmeier
3       gerstner
4          demme
5       beckmann
6          recke
7      schriever
8       overbeck
9      schriever
10    fries-jung
11     schöndorf
Name: Trainer_name, dtype: object
0         werning
1          maurer
2        schleppi
3           rohne
4        beckmann
5           fuchs
6     kleinkorres
7       weißmeier
8           kartz
9       laznovska
10          klein
11       hannibal
Name: Trainer_name, dtype: object
0          klein
1         hickst
2      schiergen
3        smrczek
4     herresthal
5      gernreich
6          demme
7    kleinkorres
8      weißmeier
9        werning
Name: Trainer_name, dtype: object
0          demme
1    kleinkorres
2      weißmeier
3           gehm
4       schleppi
5      laznovska
6          bolte
7          demme
Name: Trainer_name, dtype: object
0    schiergen
1    weißmeier
2    weißmeier
3    weißmeier
4        recke
5    weißmeier
6        grewe
Name: Trainer_name, dtype: object
0    sofsky-prappacher
1          lenaers/bel
2          lenaers/bel
3                 falk
4             goossens
5               schwab
6               kreger
7                 falk
Name: Trainer_name, dtype: object
0    lenaers/bel
1     bodenhagen
2         franke
3         kreger
4          mayer
5      weißmeier
6       lanslots
7         warren
8        smrczek
Name: Trainer_name, dtype: object
0     engels/bel
1         schütz
2          lüker
3      weißmeier
4          grewe
5        schwinn
6           türk
7          storp
8      laznovska
9          storp
10        fievez
11      rotering
Name: Trainer_name, dtype: object
0                mayer
1           neuberg/cz
2             meinecke
3    sofsky-prappacher
4          lenaers/bel
5             rotering
6              smrczek
7               schütz
Name: Trainer_name, dtype: object
0       rudolph
1       schwinn
2     weißmeier
3      vovcenko
4          weis
5    bodenhagen
6       rudolph
7       schwinn
8       buchner
Name: Trainer_name, dtype: object
0      rudolph
1    weißmeier
2    schiergen
3      schwinn
4        alles
5        demme
6     rotering
7    moons/bel
Name: Trainer_name, dtype: object
0        lüker
1    weißmeier
2    schiergen
3      wöhling
4        recke
5      werning
6        klein
Name: Trainer_name, dtype: object
0        recke
1         weis
2    schiergen
3       fievez
4         berg
5      werning
Name: Trainer_name, dtype: object
0      fuchs
1      demme
2      demme
3       gehm
4    smrczek
5      recke
Name: Trainer_name, dtype: object
0    lenaers/bel
1           schu
2           schu
3       fuhrmann
4     wolters/nl
5      augenbroe
6           falk
Name: Trainer_name, dtype: object
0        grewe
1        rohne
2     meinecke
3      schwinn
4     lanslots
5    laznovska
6    laznovska
7        rohne
Name: Trainer_name, dtype: object
0    beckmann
1      donate
2     smrczek
3      maurer
4    fuhrmann
5    schleppi
6     giesgen
7         ehl
8       lüker
9       lentz
Name: Trainer_name, dtype: object
0           fuchs
1           rohne
2       weißmeier
3         werning
4         geisler
5           demme
6        gerstner
7            weis
8     kleinkorres
9           kartz
10    kleinkorres
11           schu
Name: Trainer_name, dtype: object
0          klein
1      laznovska
2        smrczek
3         schaaf
4       fuhrmann
5     wolters/nl
6    kleinkorres
Name: Trainer_name, dtype: object
0          bolte
1         birner
2       fuhrmann
3    kleinkorres
4       schleppi
5           beer
Name: Trainer_name, dtype: object
0    wolters/nl
1         demme
2       schwinn
3       schwinn
4         demme
Name: Trainer_name, dtype: object
0       maurer
1    schiergen
2        bolte
3        klein
4       birner
5      giesgen
Name: Trainer_name, dtype: object
0          weis
1     weißmeier
2    bodenhagen
3      beckmann
4      overbeck
5        müller
Name: Trainer_name, dtype: object
0    smrczek
1      mäder
2      demme
3     fievez
4      demme
5     fievez
Name: Trainer_name, dtype: object
0        alles
1        alles
2       warren
3        lüker
4        grewe
5    weißmeier
Name: Trainer_name, dtype: object
0        schütz
1     weißmeier
2    engels/bel
3      overbeck
4     weißmeier
5       geisler
6      beckmann
7        müller
8          weis
9          rank
Name: Trainer_name, dtype: object
0     lenaers/bel
1      bodenhagen
2           grewe
3           mayer
4         werning
5          kreger
6       weißmeier
7      hermans/nl
8           lüker
9            rank
10       lanslots
11        smrczek
Name: Trainer_name, dtype: object
0    schiergen
1    schiergen
2     vovcenko
3    weißmeier
4    laznovska
5        hofer
Name: Trainer_name, dtype: object
0      sauer
1       berg
2       weis
3    schwinn
4    schwinn
5    schwinn
Name: Trainer_name, dtype: object
0          weis
1    bodenhagen
2          schu
3     weißmeier
4       schwinn
5       schwinn
6         storp
7        winter
8    bodenhagen
9     schöndorf
Name: Trainer_name, dtype: object
0    sofsky-prappacher
1               schütz
2          lenaers/bel
3             rotering
4                mayer
5               franke
6              smrczek
7           neuberg/cz
8             fuhrmann
Name: Trainer_name, dtype: object
0        lanslots
1       weißmeier
2      bodenhagen
3           lüker
4        schleppi
5      bodenhagen
6     kleinkorres
7            weis
8      neuberg/cz
9      brüggemann
10      weißmeier
11       fuhrmann
Name: Trainer_name, dtype: object
0      schütz
1       rohne
2     werning
3      maurer
4    schleppi
5       storp
6    fuhrmann
7       storp
Name: Trainer_name, dtype: object
0       wöhler
1      schwinn
2         schu
3    weißmeier
4    weißmeier
5     beckmann
6    schriever
Name: Trainer_name, dtype: object
0     suborics
1        rohne
2    weißmeier
3    weißmeier
4     lanslots
5     fuhrmann
6    schiergen
Name: Trainer_name, dtype: object
0    wolters/nl
1         bolte
2       werning
3      schleppi
4     weißmeier
5      fuhrmann
Name: Trainer_name, dtype: object
0        klein
1       keller
2        mayer
3        klein
4    schriever
5      buchner
6      rudolph
7        klein
Name: Trainer_name, dtype: object
0    rudolph
1    rudolph
2    rudolph
3      gries
4      klein
5       weis
6    rudolph
7      klein
Name: Trainer_name, dtype: object
0      grewe
1      recke
2      klein
3      klein
4      klein
5    schwinn
Name: Trainer_name, dtype: object
0        schu
1    gerstner
2    schleppi
3     schwinn
4       recke
5       klein
6       klein
7    ehrhardt
Name: Trainer_name, dtype: object
0     birner
1      klein
2    smrczek
3       renz
4    rudolph
Name: Trainer_name, dtype: object
0        vovcenko
1           recke
2      wroblewska
3    schnakenberg
4         schmock
5        vovcenko
6        rotering
Name: Trainer_name, dtype: object
0    schleppi
1      birner
2        weis
3        wust
4     rudolph
5     rudolph
6       klein
Name: Trainer_name, dtype: object
0       hickst
1        grewe
2     suborics
3    schiergen
4     suborics
5      werning
Name: Trainer_name, dtype: object
0    kleinkorres
1          grewe
2       suborics
3      schiergen
4           klug
5         wöhler
Name: Trainer_name, dtype: object
0      schiergen
1         wöhler
2          rohne
3    kleinkorres
4          rohne
5          grewe

Name: Trainer_name, dtype: object
0             ehl
1           kartz
2       kleffmann
3           lentz
4          warren
5     kleinkorres
6          donate
7            schu
8         friebel
9            schu
10           falk
11          storp
Name: Trainer_name, dtype: object
0              meulen/nl
1                  grewe
2              laznovska
3                  lentz
4                  storp
5                  storp
6    berrevoets-uivel/nl
7    berrevoets-uivel/nl
Name: Trainer_name, dtype: object
0       thomas
1      smrczek
2        rohne
3         gehm
4        grewe
5    schiergen
6    laznovska
Name: Trainer_name, dtype: object
0          oost
1     meulen/nl
2        schaaf
3       smrczek
4    wolters/nl
5        warren
6      sprengel
7      suborics
Name: Trainer_name, dtype: object
0          riese
1        schwinn
2      meulen/nl
3    kleinkorres
4       gerstner
5        smrczek
6          kartz
7      laznovska
Name: Trainer_name, dtype: object
0       demme
1     smrczek
2     dzubasz
3        beer
4    fuhrmann
5    fuhrmann
Name: Trainer_name, dtype: object
0       bradik
1       kreger
2        lentz
3         rank
4     fuhrmann
5        lüker
6     fuhrmann
7    vinklarek
Name: Trainer_name, dtype: object
0       dzubasz
1     nienstädt
2         lentz
3         storp
4         lüker
5         harms
6      fuhrmann
7         storp
8       potters
9     grünewald
10      potters
Name: Trainer_name, dtype: object
0      suborics
1         demme
2         bolte
3     schiergen
4       dzubasz
5     nienstädt
6     kienemann
7      meinecke
8       dzubasz
9         moser
10      dzubasz
Name: Trainer_name, dtype: object
0                   demme
1                 dzubasz
2                   bolte
3                  bradik
4                 dzubasz
5                 dzubasz
6     schleusner-fruhriep
7                   taber
8                beckmann
9                   lentz
10              nienstädt
11           schnakenberg
12                   rank
13                 winter
Name: Trainer_name, dtype: object
0         klug
1    schiergen
2      smrczek
3        recke
4       wöhler
Name: Trainer_name, dtype: object
0                  recke
1               vovcenko
2               vovcenko
3               rotering
4              stern/swe
5           schnakenberg
6    schleusner-fruhriep
7                  taber
Name: Trainer_name, dtype: object
0    schiergen
1        bolte
2     vovcenko
3      potters
4        sager
5     haustein
Name: Trainer_name, dtype: object
0       giesgen
1     meulen/nl
2        fievez
3    bajraktari
4      vovcenko
Name: Trainer_name, dtype: object
0        recke
1    weißmeier
2     beckmann
3        busch
4       fievez
Name: Trainer_name, dtype: object
0    vovcenko
1     bollien
2     giesgen
3      bradik
Name: Trainer_name, dtype: object
0            berg
1           recke
2         schwinn
3        schleppi
4            schu
5    peterschmitt
Name: Trainer_name, dtype: object
0    peterschmitt
1        gerstner
2           grewe
3         schwinn
4        ehrhardt
5          keller
6         rudolph
Name: Trainer_name, dtype: object
0    schleppi
1     schwinn
2       klein
3    schleppi
4        bieß
5       figge
6    hannibal
Name: Trainer_name, dtype: object
0           figge
1         rudolph
2           grewe
3          birner
4        schleppi
5    peterschmitt
6         schwinn
7           mäder
Name: Trainer_name, dtype: object
0     rudolph
1     schwinn
2    schleppi
3     schwinn
4       recke
5     schmeer
6     rudolph
Name: Trainer_name, dtype: object
0    schneider
1        schön
2         schu
3        klein
4        figge
5
Name: Trainer_name, dtype: object
0            klug
1           grewe
2           demme
3       weißmeier
4       schiergen
5    hirschberger
Name: Trainer_name, dtype: object
0        suborics
1       schiergen
2            klug
3           grewe
4           demme
5      almenräder
6    hirschberger
7          wöhler
8       schiergen
Name: Trainer_name, dtype: object
0               demme
1           gernreich
2          peeters/nl
3               bolte
4              kujath
5           weißmeier
6     verschueren/bel
7              roesch
8             hellier
9                weis
10              brach
11            smrczek
Name: Trainer_name, dtype: object
0       hellier
1      suborics
2      suborics
3       geisler
4     gernreich
5         bolte
6    wolters/nl
7     laznovska
8       hellier
Name: Trainer_name, dtype: object
0            bolte
1    hammer-hansen
2        schiergen
3             blau
4        schiergen
5    hammer-hansen
Name: Trainer_name, dtype: object
0         suborics
1            grewe
2           wöhler
3     hirschberger
4         carvalho
5    hammer-hansen
6             klug
7             klug
8            demme
Name: Trainer_name, dtype: object
0         fuchs
1    troost/bel
2         demme
3     schiergen
4         klein
5        möller
6    van eck/nl
7       geisler
8       werning
Name: Trainer_name, dtype: object
0         grewe
1     schiergen
2      sprengel
3     fabianova
4    nedorostek
5       potters
6        wöhler
Name: Trainer_name, dtype: object
0         moser
1       richter
2      sprengel
3    nedorostek
4      vovcenko
5      beckmann
6      fuhrmann
7      fuhrmann
Name: Trainer_name, dtype: object
0       grewe
1    carvalho
2    sprengel
3     potters
4    fuhrmann
5      wöhler
6       moser
Name: Trainer_name, dtype: object
0         moser
1       richter
2      beckmann
3      fuhrmann
4      meinecke
5    nedorostek
6      fuhrmann
7       richter
8     nienstädt
Name: Trainer_name, dtype: object
0        vovcenko
1           rulec
2           grewe
3           moser
4    petersen/nor
5           moser
6          wöhler
7           moser
8        carvalho
9           grewe
Name: Trainer_name, dtype: object
0              schiergen
1                dzubasz
2               fuhrmann
3                richter
4               vovcenko
5               vovcenko
6    schleusner-fruhriep
7              fabianova
Name: Trainer_name, dtype: object
0          hickst
1          wöhler
2        carvalho
3            klug
4    petersen/nor
5           grewe
6        suborics
7           moser
Name: Trainer_name, dtype: object
0        moser
1        rohne
2      richter
3    kienemann
4     sybrecht
5     sprengel
6     fuhrmann
7     stolberg
8    fabianova
Name: Trainer_name, dtype: object
0       wöhling
1      sprengel
2         rohne
3      fuhrmann
4     nienstädt
5       richter
6          rank
7    nedorostek
Name: Trainer_name, dtype: object
0        sprengel
1        vovcenko
2      almenräder
3      almenräder
4    hirschberger
Name: Trainer_name, dtype: object
0      meulen/nl
1        geisler
2        werning
3          hofer
4          rohne
5      schiergen
6      weißmeier
7     almenräder
8          recke
9        potters
10         smith
11          leve
Name: Trainer_name, dtype: object
0          wöhler
1      almenräder
2    hirschberger
3          mongil
4       schiergen
5           grewe
6           storp
7            klug
8        suborics
Name: Trainer_name, dtype: object
0          schütz
1        sprengel
2     verberkt/nl
3           mäder
4       laznovska
5     lenaers/bel
6       meulen/nl
7         smrczek
8       laznovska
9           storp
10        geisler
11      kienemann
12        potters
Name: Trainer_name, dtype: object
0               potters
1     sofsky-prappacher
2                 mayer
3            hermans/nl
4             laznovska
5             weißmeier
6           lenaers/bel
7                  schu
8                 smith
9           jonkhart/nl
10              werning
Name: Trainer_name, dtype: object
0     hermans/nl
1      weißmeier
2         hobitz
3      weißmeier
4          bolte
5        geisler
6          mayer
7        friebel
8           schu
9        potters
10         lentz
Name: Trainer_name, dtype: object
0       schwinn
1         bolte
2      vovcenko
3    almenräder
4     schiergen
5         recke
6     weißmeier
7       friebel
Name: Trainer_name, dtype: object
0          kurdu
1           klug
2      schiergen
3       suborics
4        smrczek
5         wöhler
6    kleinkorres
Name: Trainer_name, dtype: object
0          bolte
1      meulen/nl
2    kleinkorres
3        smrczek
4          recke
5          smith
6        schwinn
7          riese
8          storp
9          klein
Name: Trainer_name, dtype: object
0    schiergen
1        rohne
2        grewe
3       wöhler
4      schwinn
5     suborics
Name: Trainer_name, dtype: object
0     hirschberger
1         suborics
2           wöhler
3             klug
4       wolters/nl
5       wolters/nl
6        meulen/nl
7         suborics
8       wolters/nl
9            fuchs
10    hirschberger
11           moser
Name: Trainer_name, dtype: object
0       carvalho
1           klug
2          recke
3          grewe
4    kleinkorres
5           klug
6    maronka/hun
Name: Trainer_name, dtype: object
0    wolters/nl
1         bolte
2     meulen/nl
3       smrczek
4       smrczek
5         smith
6          leve
7      schleppi
8         storp
Name: Trainer_name, dtype: object
0    smrczek
1       klug
2     wöhler
3      hofer
4     wöhler
5       klug
Name: Trainer_name, dtype: object
0    kleinkorres
1      meulen/nl
2      gernreich
3      meulen/nl
4      schriever
5    kleinkorres
6    richter/aut
7         thomas
Name: Trainer_name, dtype: object
0      birner
1     geisler
2        weis
3    schleppi
4      schwab
5    schleppi
Name: Trainer_name, dtype: object
0           recke
1    peterschmitt
2            weis
3         schwinn
4          keller
Name: Trainer_name, dtype: object
0     weißmeier
1        donate
2       hellier
3        keller
4      gerstner
5       schwinn
6      ehrhardt
7       schwinn
8     schöndorf
9          wust
10         bach
Name: Trainer_name, dtype: object
0     smrczek
1       schön
2    schleppi
3      birner
4    schleppi
5      schwab
6    hannibal
7         ehl
Name: Trainer_name, dtype: object

0     rudolph
1     rudolph
2     hellier
3    schleppi
4     rudolph
5       gries
Name: Trainer_name, dtype: object
0         falk
1      hellier
2     schleppi
3      hellier
4         schu
5    schneider
6     gerstner
Name: Trainer_name, dtype: object
0         weis
1      schwinn
2     schleppi
3      schwinn
4    schiergen
5       müller
6     reischig
7    schriever
8      friebel
Name: Trainer_name, dtype: object
0         carvalho
1        schiergen
2    hammer-hansen
3            grewe
4             klug
5         suborics
6            klein
7           wöhler
Name: Trainer_name, dtype: object
0        meulen/nl
1            demme
2            grewe
3           thomas
4           hickst
5          smrczek
6             fust
7        schiergen
8          geisler
9     verheyen/bel
10       laznovska
11       nienstädt
Name: Trainer_name, dtype: object
0             klug
1             klug
2     hirschberger
3     hirschberger
4            bolte
5        schiergen
6         carvalho
7           wöhler
8         suborics
9           hickst
10       schiergen
11         werning
Name: Trainer_name, dtype: object
0                   bolte
1                 giesgen
2             lenaers/bel
3                 werning
4                 potters
5             jonkhart/nl
6                   lentz
7               weißmeier
8                  mongil
9                 werning
10                  storp
11               stefutti
12                hellier
13                 fievez
14    berrevoets-uivel/nl
15              nienstädt
Name: Trainer_name, dtype: object
0             blume
1            hickst
2         meulen/nl
3     hammer-hansen
4        peeters/nl
5          suborics
6     hammer-hansen
7           giesgen
8            engels
9           buchner
10        moons/bel
11            storp
12           maurer
13            klein
Name: Trainer_name, dtype: object
0         klug
1    schiergen
2         klug
3    schiergen
4         klug
5         kirk
6        grewe
7       wöhler
Name: Trainer_name, dtype: object
0         bolte
1        hickst
2         blume
3    almenräder
4     schiergen
5          klug
6      vovcenko
Name: Trainer_name, dtype: object
0    beckmann
1     potters
2       lüker
3       storp
4      möller
5       storp
6       bolte
7     steudle
8    lanslots
Name: Trainer_name, dtype: object
0                 wöhler
1              schiergen
2               gröschel
3                  stech
4                dzubasz
5               sprengel
6    schleusner-fruhriep
7               carvalho
Name: Trainer_name, dtype: object
0     angermann
1      fuhrmann
2        kreger
3        bradik
4       richter
5      fuhrmann
6        schütz
7    neuberg/cz
8        kreger
9      fuhrmann
Name: Trainer_name, dtype: object
0     angermann
1       dzubasz
2       dzubasz
3         bolte
4      trobisch
5       richter
6     meulen/nl
7        glodde
8      zahorova
9       richter
10       engels
Name: Trainer_name, dtype: object
0     sprengel
1     sprengel
2      dzubasz
3      dzubasz
4    meulen/nl
5        bolte
6    steinberg
7      megsner
8    angermann
9     suborics
Name: Trainer_name, dtype: object
0         schütz
1        megsner
2        dzubasz
3        dzubasz
4        potters
5       sprengel
6        megsner
7          bolte
8       trobisch
9        dzubasz
10        engels
11    neuberg/cz
12      fuhrmann
13         bolte
14        glodde
15      fuhrmann
Name: Trainer_name, dtype: object
0        schütz
1         moser
2       dzubasz
3       potters
4     steinberg
5       megsner
6     schiergen
7      fuhrmann
8       richter
9       richter
10     fuhrmann
11         kurz
12     sprengel
Name: Trainer_name, dtype: object
0                dzubasz
1                   klug
2                  grewe
3               gröschel
4                richter
5              lippitsch
6                  stech
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0               schiergen
1                    klug
2                carvalho
3                 dzubasz
4            hirschberger
5                   grewe
6            hirschberger
7     schleusner-fruhriep
8                sprengel
9                zahorova
10                   klug
11    schleusner-fruhriep
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2     gröschel
3      dzubasz
4      dzubasz
5     fuhrmann
Name: Trainer_name, dtype: object
0     schleusner-fruhriep
1                 megsner
2               fabianova
3                fuhrmann
4                   rohne
5                 richter
6                   stech
7                   stech
8                sprengel
9                 paulick
10                  sager
Name: Trainer_name, dtype: object
0       wöhler
1       wöhler
2     suborics
3    fabianova
4      dzubasz
5     fuhrmann
6     fuhrmann
Name: Trainer_name, dtype: object
0       richter
1       dzubasz
2         bolte
3       dzubasz
4         lentz
5       paulick
6          beer
7         lüker
8     angermann
9         taber
10        stech
11        storp
12      megsner
13    fabianova
14     fuhrmann
15    lippitsch
Name: Trainer_name, dtype: object
0       dzubasz
1       richter
2     fabianova
3      sprengel
4       richter
5        wöhler
6         taber
7         bolte
8        wöhler
9          beer
10      richter
Name: Trainer_name, dtype: object
0                   klug
1               gröschel
2                   klug
3                  recke
4           hirschberger
5              schiergen
6                 wöhler
7    schleusner-fruhriep
8                  stech
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0    sprengel
1    gröschel
2      stokes
3    suborics
4      schütz
5    fuhrmann
6       moser
7     dzubasz
Name: Trainer_name, dtype: object
0                 richter
1                fuhrmann
2                   lentz
3                  schütz
4                sprengel
5         stein-schomburg
6                   storp
7                   lüker
8         stein-schomburg
9     schleusner-fruhriep
10               fuhrmann
11              angermann
12                 pyritz
Name: Trainer_name, dtype: object
0        hofer
1     mintchev
2     rotering
3       kujath
4    weißmeier
5    gernreich
Name: Trainer_name, dtype: object
0       wöhler
1         klug
2    schiergen
3     carvalho
4       wöhler
5         klug
Name: Trainer_name, dtype: object
0     wolters/nl
1        potters
2     wolters/nl
3    lenaers/bel
4          mäder
5      kienemann
6    verberkt/nl
Name: Trainer_name, dtype: object
0           wöhler
1          bocskai
2            bolte
3        schiergen
4             blau
5            grewe
6    hammer-hansen
Name: Trainer_name, dtype: object
0          thomas
1         weidler
2      hermans/nl
3           kartz
4     kleinkorres
5          warren
6         potters
7        beckmann
8     lenaers/bel
9       weißmeier
10          fuchs
11          lentz
Name: Trainer_name, dtype: object
0     schiergen
1          klug
2      carvalho
3    almenräder
4        wöhler
5        wöhler
6         demme
Name: Trainer_name, dtype: object
0    wolters/nl
1        dewald
2        schaaf
3     schiergen
4          oost
5      meinecke
6        warren
7     meulen/nl
8    van eck/nl
9        schütz
Name: Trainer_name, dtype: object
0          storp
1        schwinn
2      meulen/nl
3      schiergen
4         schütz
5       rotering
6      weißmeier
7         roesch
8          lentz
9     fries-jung
10      beckmann
Name: Trainer_name, dtype: object
0          jonkhart/nl
1              smrczek
2          lenaers/bel
3    sofsky-prappacher
4                lentz
5            laznovska
6             meinecke
7           troost/bel
8          kleinkorres
9            moons/bel
Name: Trainer_name, dtype: object
0          gehm
1         hofer
2          berg
3     meulen/nl
4           ehl
5         mäder
6     laznovska
7          bieß
8         storp
9         alles
10     schleppi
Name: Trainer_name, dtype: object
0       potters
1    hermans/nl
2       schwinn
3     moons/bel
4          gehm
5         alles
6         storp
7      rotering
8     laznovska
Name: Trainer_name, dtype: object
0       beckmann
1          lüker
2            ehl
3        friebel
4          rohne
5    lenaers/bel
6        giesgen
7          storp
Name: Trainer_name, dtype: object
0     carvalho
1    schiergen
2        grewe
3        grewe
4     carvalho
5    schiergen
Name: Trainer_name, dtype: object
0    meulen/nl
1      potters
2        rohne
3     suborics
4    gernreich
5        rohne
Name: Trainer_name, dtype: object
0       kienemann
1      nedorostek
2        timpelan
3        sprengel
4         richter
5          glodde
6    henkenjohann
7           klein
Name: Trainer_name, dtype: object
0        vovcenko
1           demme
2        fuhrmann
3        gröschel
4    henkenjohann
5           storp
6           storp
7          bradik
8       schiergen
Name: Trainer_name, dtype: object
0      smrczek
1       barsig
2       barsig
3      richter
4        figge
5    kienemann
6        storp
7         pohl
8     sprengel
9      richter
Name: Trainer_name, dtype: object
0       sprengel
1      angermann
2       fuhrmann
3         glodde
4     nedorostek
5        richter
6           kurz
7    ferentschak
8         bradik
Name: Trainer_name, dtype: object
0     sprengel
1    schiergen
2         klug
3     gröschel
4        demme
5       wöhler
6     fuhrmann
Name: Trainer_name, dtype: object
0       fuhrmann
1       gröschel
2      angermann
3          demme
4          klein
5       fuhrmann
6    ferentschak
Name: Trainer_name, dtype: object
0       demme
1    horakova
2     richter
3    vovcenko
4    fuhrmann
5       storp
6       demme
Name: Trainer_name, dtype: object
0        glodde
1        franke
2          rank
3      fuhrmann
4         lentz
5        schöps
6    nedorostek
7          türk
Name: Trainer_name, dtype: object
0     fuhrmann
1      paulick
2     fuhrmann
3        demme
4       glodde
5     haustein
6     gröschel
7    schriever
8        stech
Name: Trainer_name, dtype: object
0      gröschel
1      vovcenko
2    almenräder
3       richter
4       potters
5      timpelan
6        glodde
7     angermann
8      fuhrmann
Name: Trainer_name, dtype: object
0      glodde
1       hinck
2    fuhrmann
3    fuhrmann
4        rank
5       lentz
6      bradik
7       storp
8       busch
9        türk
Name: Trainer_name, dtype: object
0       paulick
1       potters
2       werning
3        glodde
4         lentz
5     nienstädt
6        sauter
7     schriever
8     weißmeier
9    vorsilkova
Name: Trainer_name, dtype: object
0        demme
1    weißmeier
2      richter
3        storp
4      werning
5     vovcenko
6    nienstädt
Name: Trainer_name, dtype: object
0       franke
1    lindemann
2       müller
3     beckmann
4    vinklarek
5        figge
6     fuhrmann
Name: Trainer_name, dtype: object
0         geisler
1    peterschmitt
2         schwinn
3           gries
4           recke
5      bajraktari
Name: Trainer_name, dtype: object
0         renz
1        klein
2     schleppi
3      schwinn
4        klein
5     rotering
6      buchner
7       birner
8        recke
9      hellier
10     rudolph
Name: Trainer_name, dtype: object
0      grewe
1       klug
2      hofer
3      recke
4    schwinn
5      storp
6       schu
7       schu
8       wenz
Name: Trainer_name, dtype: object
0    schleppi
1       schön
2     hellier
3      schwab
4       klein
5      keller
6    gerstner
7        schu
8     schwinn
9     hellier
Name: Trainer_name, dtype: object
0     schleppi
1       birner
2        klein
3        recke
4        glanz
5      smrczek
6        klein
7    rothacker
8     vovcenko
Name: Trainer_name, dtype: object
0      schwinn
1      geisler
2        grewe
3        weber
4    schneider
5        klein
6         palz
7     schleppi
Name: Trainer_name, dtype: object
0               tuma
1           rotering
2              recke
3           vovcenko
4              taber
5    de vlaminck/bel
6            schmock
Name: Trainer_name, dtype: object
0     suborics
1       keller
2      rudolph
3        klein
4      rudolph
5      schwinn
6      rudolph
7        recke
8      schwinn
9        weber
10    schleppi
Name: Trainer_name, dtype: object
0    hirschberger
1          wöhler
2           grewe
3         smrczek
4           rohne
5    hirschberger
6          mongil
7          hickst

Name: Trainer_name, dtype: object
0         carvalho
1             klug
2     hirschberger
3         carvalho
4            grewe
5            grewe
6            hofer
7          smrczek
8         suborics
9           wöhler
10        mintchev
Name: Trainer_name, dtype: object
0            meulen/nl
1                smith
2    paraknewitz-kalla
3              smrczek
4            laznovska
5                lüker
6                bauer
7             reischig
8               müller
Name: Trainer_name, dtype: object
0     gernreich
1     laznovska
2      stefutti
3     meulen/nl
4     laznovska
5         rohne
6         storp
7       hellier
8       steudle
9         blume
10    kleffmann
11        storp
Name: Trainer_name, dtype: object
0       grewe
1      wöhler
2      wöhler
3    gröschel
4    gröschel
5    prescott
6        klug
7        klug
8       hofer
Name: Trainer_name, dtype: object
0        bolte
1    meulen/nl
2       thomas
3    meulen/nl
4      weidler
5      hellier
6      weidler
Name: Trainer_name, dtype: object
0     smrczek
1        klug
2    suborics
3        klug
4      wöhler
5      fey/fr
Name: Trainer_name, dtype: object
0      meulen/nl
1    verberkt/nl
2      laznovska
3           leve
4        smrczek
5        weidler
6          smith
7         warren
Name: Trainer_name, dtype: object
0        bolte
1       hickst
2        bolte
3        rohne
4    meulen/nl
5     mintchev
Name: Trainer_name, dtype: object
0    schiergen
1        grewe
2    angermann
3         pohl
4        rohne
5        stech
6     fuhrmann
Name: Trainer_name, dtype: object
0     fuhrmann
1      dzubasz
2       glodde
3        stech
4        bigus
5       barsig
6    angermann
Name: Trainer_name, dtype: object
0     angermann
1        kreger
2      meinecke
3        drozda
4      fuhrmann
5        barsig
6       geisler
7      fuhrmann
8        schütz
9       förster
10        mayer
Name: Trainer_name, dtype: object
0        grewe
1         beer
2     vovcenko
3    schiergen
4    fabianova
5         beer
6      dzubasz
Name: Trainer_name, dtype: object
0      geisler
1    schiergen
2    angermann
3       glodde
4     fuhrmann
5        lentz
6    angermann
Name: Trainer_name, dtype: object
0       lentz
1       lüker
2     siegert
3       lüker
4     bollien
5    fuhrmann
Name: Trainer_name, dtype: object
0           rohne
1         dzubasz
2        fuhrmann
3    schnakenberg
4         dzubasz
5          glodde
Name: Trainer_name, dtype: object
0         bolte
1    nedorostek
2      trobisch
3      sprengel
4          fust
5         harms
Name: Trainer_name, dtype: object
0            moser
1             klug
2     hirschberger
3          potters
4           hickst
5         vovcenko
6       nedorostek
7           wöhler
8         fuhrmann
9         fuhrmann
10        carvalho
Name: Trainer_name, dtype: object
0    hirschberger
1          wöhler
2        suborics
3        gröschel
4            klug
5      almenräder
6          wöhler
Name: Trainer_name, dtype: object
0                  wöhler
1                    klug
2                 smrczek
3                  wöhler
4                carvalho
5                  hickst
6                gröschel
7                gröschel
8                sprengel
9     schleusner-fruhriep
10               sprengel
Name: Trainer_name, dtype: object
0          klug
1        wöhler
2         grewe
3     schiergen
4       paulick
5          klug
6    almenräder
7      carvalho
8      sybrecht
Name: Trainer_name, dtype: object
0                  moser
1    schleusner-fruhriep
2                smrczek
3                   fust
4                reineke
5               vovcenko
6               gröschel
7             nedorostek
8              nienstädt
9                  bolte
Name: Trainer_name, dtype: object
0         klug
1       hickst
2      bocskai
3    bucher/ch
4    schiergen
5     carvalho
6        moser
7        grewe
8      dzubasz
9        grewe
Name: Trainer_name, dtype: object
0                 engels
1                  bolte
2              schiergen
3               sprengel
4              grünewald
5                  moser
6    schleusner-fruhriep
7                reineke
8             nedorostek
Name: Trainer_name, dtype: object
0               sprengel
1               beckmann
2                friebel
3                  harms
4                 wegner
5              nienstädt
6               stolberg
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        grewe
1      potters
2        hofer
3    schiergen
4        glanz
5        figge
Name: Trainer_name, dtype: object
0        steinberg
1            glanz
2          fechner
3            glanz
4       almenräder
5            mayer
6            figge
7    schwarzenbeck
8            glanz
Name: Trainer_name, dtype: object
0    kleinkorres
1          mayer
2          mayer
3          mayer
4        geisler
5      schiergen
6        potters
7     almenräder
8          glanz
9         hillis
Name: Trainer_name, dtype: object
0         hickst
1      steinberg
2     almenräder
3    kleinkorres
4      schiergen
5         hillis
6          figge
Name: Trainer_name, dtype: object
0        hickst
1     schiergen
2      carvalho
3    almenräder
4         figge
5     steinberg
6          klug
7       kerekes
8         figge
9        wöhler
Name: Trainer_name, dtype: object
0       wöhler
1        grewe
2        hofer
3     carvalho
4     suborics
5       hickst
6     carvalho
7         klug
8    schiergen
9         klug
Name: Trainer_name, dtype: object
0            hillis
1        almenräder
2           kerekes
3           geisler
4         schiergen
5             mayer
6     schwarzenbeck
7             glanz
8            hillis
9         mühlbauer
10            mayer
11             pils
12          kerekes
Name: Trainer_name, dtype: object
0    steinberg
1        mayer
2       hillis
3       hillis
4      geisler
5    mühlbauer
6      kerekes
7        glanz
8        mayer
Name: Trainer_name, dtype: object
0        demme
1     trobisch
2      dzubasz
3      dzubasz
4      paulick
5      richter
6    lippitsch
7      scholze
8       glodde
9      richter
Name: Trainer_name, dtype: object
0         demme
1        barsig
2       dzubasz
3       richter
4      vovcenko
5        barsig
6       richter
7        pyritz
8        glodde
9     vinklarek
10     szücs/cz
Name: Trainer_name, dtype: object
0        megsner
1        paulick
2         glodde
3         pyritz
4     vorsilkova
5         schütz
6      angermann
7          demme
8         barsig
9        förster
10       förster
11       dzubasz
Name: Trainer_name, dtype: object
0        richter
1          demme
2          stech
3     wolters/nl
4      vinklarek
5          stech
6          stech
7      angermann
8          stech
9          storp
10         storp
11        franke
Name: Trainer_name, dtype: object
0           angermann
1             megsner
2             megsner
3             megsner
4              schütz
5              schütz
6             dzubasz
7     mioduszewski/pl
8             siegert
9              pyritz
10             müller
11         neuberg/cz
Name: Trainer_name, dtype: object
0          wöhler
1         dzubasz
2            klug
3          wöhler
4         richter
5         richter
6    borkowski/pl
7        vovcenko
8          barsig
Name: Trainer_name, dtype: object
0       angermann
1      neuberg/cz
2         richter
3          schütz
4      vorsilkova
5     mihalik/svk
6          glodde
7         megsner
8          barsig
9          schütz
10        scholze
11        richter
Name: Trainer_name, dtype: object
0      dzubasz
1      megsner
2       barsig
3      megsner
4    fabianova
5        stech
6        glanz
7      richter
8    lippitsch
Name: Trainer_name, dtype: object
0     schwinn
1    gerstner
2     schwinn
3     schwinn
4    overbeck
Name: Trainer_name, dtype: object
0        busch
1        storp
2       donate
3    weißmeier
4      schwinn
5      steudle
Name: Trainer_name, dtype: object
0    weißmeier
1      schwinn
2     beckmann
3      schwinn
4        lüker
Name: Trainer_name, dtype: object
0     schwinn
1       recke
2       storp
3    beckmann
4     schwinn
Name: Trainer_name, dtype: object
0     hirschberger
1             klug
2    hammer-hansen
3            hofer
4        schiergen
5     hirschberger
6         carvalho
7            demme
8         suborics
9           thomas
Name: Trainer_name, dtype: object
0           hickst
1            bolte
2        schiergen
3       hermans/nl
4           hickst
5            recke
6         rotering
7    hammer-hansen
8       peeters/nl
Name: Trainer_name, dtype: object
0          recke
1     peeters/nl
2      meulen/nl
3      schiergen
4        rudolph
5          bolte
6        smrczek
7        friebel
8        smrczek
9          demme
10    troost/bel
11        thomas
12        leiner
13         mäder
14      suborics
Name: Trainer_name, dtype: object
0         carvalho
1    hammer-hansen
2         suborics
3            recke
4         carvalho
5         shavuyev
6         sprengel
Name: Trainer_name, dtype: object
0     gröschel
1     suborics
2       hickst
3        bolte
4       stokes
5         klug
6        bolte
7     gröschel
8    meulen/nl
9     suborics
Name: Trainer_name, dtype: object
0           bolte
1         werning
2         giesgen
3     jonkhart/nl
4     lenaers/bel
5       laznovska
6           riese
7      engels/bel
8           storp
9           smith
10          bolte
11         leiner
Name: Trainer_name, dtype: object
0    hirschberger
1            klug
2            klug
3       schiergen
4        suborics
5        carvalho
6            klug
Name: Trainer_name, dtype: object
0           bolte
1       meulen/nl
2          warren
3       schiergen
4        lanslots
5         smrczek
6    verheyen/bel
7          dewald
8        gröschel
Name: Trainer_name, dtype: object
0        weißmeier
1         schleppi
2          rudolph
3           keller
4          rudolph
5    schwarzenbeck
Name: Trainer_name, dtype: object
0       geisler
1       geisler
2    volz-degel
3       geisler
4          schu
Name: Trainer_name, dtype: object
0      rudolph
1     schleppi
2      schwinn
3    weißmeier
4         bach
5       garske
Name: Trainer_name, dtype: object
0     lanslots
1      geisler
2       keller
3      schwinn
4    weißmeier
5        britz
6      geisler
7      schwinn
Name: Trainer_name, dtype: object
0       weißmeier
1         geisler
2       steinberg
3          birner
4       schiergen
5         rudolph
6    peterschmitt
7        schleppi
8       weißmeier
9           schön
Name: Trainer_name, dtype: object

0       geisler
1        kujath
2      lanslots
3         gries
4       geisler
5          schu
6      ehrhardt
7    bajraktari
8         britz
Name: Trainer_name, dtype: object
0    timpelan
1    fuhrmann
2       hinck
3       storp
4        türk
5       lüker
6        kurz
7    fuhrmann
Name: Trainer_name, dtype: object
0                 glodde
1                  lentz
2                   rank
3                  storp
4                  mayer
5               fuhrmann
6               fuhrmann
7                 schöps
8    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        lentz
1        lüker
2     stolberg
3    laznovska
4     fuhrmann
5        storp
6       franke
7     fuhrmann
8         türk
Name: Trainer_name, dtype: object
0    angermann
1     fuhrmann
2     meinecke
3       franke
4     fuhrmann
5     beckmann
6         rank
Name: Trainer_name, dtype: object
0        bolte
1     mintchev
2     carvalho
3    schiergen
4        grewe
5     suborics
6         klug
7         klug
Name: Trainer_name, dtype: object
0        engels
1         demme
2         rohne
3         taber
4    nedorostek
5     meulen/nl
6         klein
7       reineke
8     moons/bel
9         storp
Name: Trainer_name, dtype: object
0      kleinkorres
1           hobitz
2          potters
3          richter
4           engels
5        meulen/nl
6             weis
7     schepens/bel
8         sprengel
9        moons/bel
10           kartz
Name: Trainer_name, dtype: object
0          wöhler
1    hirschberger
2        carvalho
3            klug
4       schiergen
5          hickst
6           hofer
7            klug
Name: Trainer_name, dtype: object
0        potters
1        richter
2     bodenhagen
3        giesgen
4          kartz
5         sauter
6         warren
7        weidler
8         thomas
9           weis
10     nienstädt
11         mäder
12       hellier
13    bodenhagen
Name: Trainer_name, dtype: object
0       laznovska
1         richter
2            bieß
3           klein
4     ferentschak
5         potters
6         hellier
7       meulen/nl
8       laznovska
9       nienstädt
10      grünewald
Name: Trainer_name, dtype: object
0            grewe
1     hirschberger
2           wöhler
3       almenräder
4            rulec
5            botti
6            demme
7             klug
8         carvalho
9         vovcenko
10           bolte
11           moser
Name: Trainer_name, dtype: object
0        grewe
1        hofer
2       wöhler
3    schiergen
4        hofer
5       hickst
6        klein
Name: Trainer_name, dtype: object
0      hickst
1      wöhler
2       sauer
3    sprengel
4       bolte
5       bolte
6      wöhler
7     richter
8      hickst
Name: Trainer_name, dtype: object
0            mäder
1        meulen/nl
2            rohne
3         sprengel
4           engels
5    van kempen/nl
6    hammer-hansen
7          giesgen
8          reineke
Name: Trainer_name, dtype: object
0     meulen/nl
1       potters
2    fries-jung
3     gernreich
4     nienstädt
5         storp
6         storp
7         storp
Name: Trainer_name, dtype: object
0    hammer-hansen
1             klug
2         mintchev
3        schriever
4           mongil
Name: Trainer_name, dtype: object
0       lenaers/bel
1             grewe
2           geisler
3        wolters/nl
4       lenaers/bel
5             blume
6             mäder
7        wolters/nl
8       ferentschak
9           potters
10    van kempen/nl
11         lanslots
Name: Trainer_name, dtype: object
0      schiergen
1          grewe
2     almenräder
3          grewe
4    kleinkorres
5          blume
Name: Trainer_name, dtype: object
0    schiergen
1        hofer
2     carvalho
3        hofer
4         klug
5        grewe
6     carvalho
7     suborics
Name: Trainer_name, dtype: object
0        hofer
1    gernreich
2    schiergen
3    meulen/nl
4    weißmeier
5        blume
6    nienstädt
7       mongil
Name: Trainer_name, dtype: object
0       schiergen
1            klug
2           bolte
3        sprengel
4           grewe
5           mäder
6    hirschberger
7        carvalho
8    verheyen/bel
Name: Trainer_name, dtype: object
0        schütz
1     weißmeier
2       schwinn
3        hillis
4      beckmann
5      fuhrmann
6     laznovska
7    bodenhagen
8         lentz
9      fuhrmann
Name: Trainer_name, dtype: object
0      fuhrmann
1     weißmeier
2    van eck/nl
3      rotering
4    hermans/nl
5     moons/bel
6      fuhrmann
7       hellier
Name: Trainer_name, dtype: object
0         potters
1        stefutti
2           hofer
3          warren
4       laznovska
5      almenräder
6       meulen/nl
7     kleinkorres
8         hellier
9           storp
10          storp
11    jonkhart/nl
12         mongil
Name: Trainer_name, dtype: object
0      meulen/nl
1      meulen/nl
2         schaaf
3     wolters/nl
4        potters
5           oost
6         dewald
7          mäder
8       sprengel
9       sprengel
10      fuhrmann
11        wöhler
12     lupinacci
13      meinecke
Name: Trainer_name, dtype: object
0     bodenhagen
1         müller
2       fuhrmann
3      laznovska
4         kreger
5       fuhrmann
6          lentz
7    jonkhart/nl
Name: Trainer_name, dtype: object
0         bolte
1         lüker
2         bolte
3         rohne
4     weißmeier
5    peeters/nl
6        mongil
Name: Trainer_name, dtype: object
0        klug
1      hillis
2    fuhrmann
3       hofer
4       smith
5    gröschel
Name: Trainer_name, dtype: object
0          bolte
1           klug
2       carvalho
3    kleinkorres
4         hickst
5          grewe
6       suborics
7        smrczek
Name: Trainer_name, dtype: object
0                bolte
1            meulen/nl
2            laznovska
3            schiergen
4           nedorostek
5    paraknewitz-kalla
6            weißmeier
7                storp
8                alles
9                 weis
Name: Trainer_name, dtype: object
0     nedorostek
1          rohne
2      friesdorf
3      kienemann
4      meulen/nl
5        smrczek
6        weidler
7        smrczek
8          alles
9         thomas
10     gernreich
Name: Trainer_name, dtype: object
0     kleffmann
1         lüker
2         storp
3           ehl
4    hermans/nl
5         rohne
6         lentz
7        bradik
8       hellier
9      lanslots
Name: Trainer_name, dtype: object
0        friebel
1     peeters/nl
2      meulen/nl
3          riese
4           weis
5     nedorostek
6      laznovska
7     engels/bel
8          lentz
9        friebel
10       hellier
11         lentz
Name: Trainer_name, dtype: object
0     schiergen
1         grewe
2         hofer
3      carvalho
4    wolters/nl
5      carvalho
Name: Trainer_name, dtype: object
0     weißmeier
1     schiergen
2       smrczek
3         blume
4     rothacker
5    nedorostek
6          blau
7        thomas
Name: Trainer_name, dtype: object
0         carvalho
1           wöhler
2      kleinkorres
3           wöhler
4             klug
5         suborics
6     hirschberger
7            grewe
8        schiergen
9            kurdu
10           grewe
Name: Trainer_name, dtype: object
0        hickst
1    nedorostek
2       geisler
3         kurdu
Name: Trainer_name, dtype: object
0                richter
1    schleusner-fruhriep
2               sprengel
3                kerekes
4                dzubasz
5               fuhrmann
6               vovcenko
7                 barsig
8               gröschel
Name: Trainer_name, dtype: object
0       dzubasz
1      timpelan
2         grewe
3      gröschel
4        barsig
5      gröschel
6        pyritz
7     angermann
8     fabianova
9         stech
10      paulick
11         pohl
12    angermann
13     fuhrmann
14      dzubasz
Name: Trainer_name, dtype: object
0                 wöhler
1               zschache
2                richter
3    schleusner-fruhriep
4               gröschel
5                 pyritz
6               sprengel
7                smrczek
8                  stech
9                 wöhler
Name: Trainer_name, dtype: object
0      fuhrmann
1      fuhrmann
2       paulick
3        barsig
4     angermann
5       dzubasz
6        barsig
7         stech
8       paulick
9       dzubasz
10     fuhrmann
11       schütz
12         pohl
Name: Trainer_name, dtype: object
0        wöhler
1         grewe
2      gröschel
3          klug
4     fabianova
5     angermann
6        schütz
7       megsner
8       richter
9      fuhrmann
10     fuhrmann
Name: Trainer_name, dtype: object
0               schiergen
1             morrison/gb
2                  hickst
3            hirschberger
4                carvalho
5                    klug
6                suborics
7     schleusner-fruhriep
8                   grewe
9                shavuyev
10                dzubasz
11               shavuyev
Name: Trainer_name, dtype: object
0                 wöhler
1                paulick
2    schleusner-fruhriep
3                dzubasz
4                  mayer
5                kerekes
6                 barsig
7                 schütz
8               gröschel
Name: Trainer_name, dtype: object
0      dzubasz
1    angermann
2      richter
3     trobisch
4    angermann
5     vovcenko
6     fuhrmann
7      megsner
8       pyritz
Name: Trainer_name, dtype: object
0    schleppi
1    schleppi
2        falk
3      schwab
4       recke
5     schwinn
6     schwinn
7       klein
Name: Trainer_name, dtype: object
0               rudolph
1               geisler
2              schleppi
3             klapschus
4               rudolph
5              schleppi
6               schmeer
7              schleppi
8               geisler
9     sofsky-prappacher
10             gerstner
Name: Trainer_name, dtype: object
0        berg
1        renz
2     smrczek
3       klein
4    schleppi
5     rosport
6       blume
7      birner
Name: Trainer_name, dtype: object
0     rudolph
1        bach
2      donate
3       gries
4     schwinn
5     giesgen
6    reischig
7    gerstner
8    ehrhardt
Name: Trainer_name, dtype: object
0     geisler
1        renz
2    schleppi
3      maurer
4       schön
5    schleppi
6      garske
7        palz
8     lehmann
Name: Trainer_name, dtype: object
0          hickst
1    peterschmitt
2         rudolph
3         geisler
4           wedig
5          schwab
6          garske
Name: Trainer_name, dtype: object
0            mayer
1    schwarzenbeck
2        mühlbauer
3            klein
4             pils
5           roesch
6           hillis
7          kerekes
Name: Trainer_name, dtype: object
0     mayer
1     glanz
2     klein
3     glanz
4    hillis
5    hillis
6    hillis
7     mayer
Name: Trainer_name, dtype: object
0         richter
1          wöhler
2    hirschberger
3       steinberg
4       schiergen
5          hillis
6           figge
7         richter
8           figge
9         bocskai
Name: Trainer_name, dtype: object
0     richter
1       mayer
2     richter
3       mayer
4       mayer
5       klein
6    suborics
7     geisler
8       figge
9       rulec
Name: Trainer_name, dtype: object
0    kleinkorres
1          mayer
2      steinberg
3        richter
4          glanz
5         hillis
6      steinberg
7        bocskai
8         wöhler
9       suborics
Name: Trainer_name, dtype: object
0        figge
1      geisler
2    schiergen
3      richter
4        figge
5        glanz
6        glanz
7      kerekes
8        mayer
9      geisler
Name: Trainer_name, dtype: object

0         glanz
1     mühlbauer
2         mayer
3         glanz
4         klein
5         figge
6        hillis
7       richter
8        kogler
9       richter
10       hillis
Name: Trainer_name, dtype: object
0    hammer-hansen
1            mayer
2            glanz
3    schwarzenbeck
4            klein
5          buchner
6            rulec
Name: Trainer_name, dtype: object
0    hirschberger
1           moser
2          wöhler
3         richter
4        gröschel
Name: Trainer_name, dtype: object
0        wöhler
1         moser
2          leve
3    vorsilkova
4       dzubasz
5      sybrecht
6     fabianova
7      trobisch
8         harms
9         sager
Name: Trainer_name, dtype: object
0        carvalho
1    hirschberger
2          wöhler
3            klug
4           bolte
5      nedorostek
6          wöhler
7        vovcenko
8           bolte
Name: Trainer_name, dtype: object
0       smrczek
1       dzubasz
2       dzubasz
3     angermann
4    wolters/nl
5     meulen/nl
6      gröschel
7         hofer
8      sprengel
Name: Trainer_name, dtype: object
0         dzubasz
1    hirschberger
2            klug
3        carvalho
4            klug
5         smrczek
6          wöhler
7            klug
8            klug
9           grewe
Name: Trainer_name, dtype: object
0        dzubasz
1          stech
2       vovcenko
3       sprengel
4         glodde
5        dzubasz
6      angermann
7         glodde
8          harms
9      nienstädt
10        wegner
11      stolberg
12    nedorostek
Name: Trainer_name, dtype: object
0    carvalho
1    haustein
2     reineke
3     dzubasz
4      wöhler
5    timpelan
6    vovcenko
7    vovcenko
8       bolte
Name: Trainer_name, dtype: object
0         dzubasz
1      nedorostek
2          glodde
3       angermann
4        gröschel
5        vovcenko
6           stech
7        gröschel
8     ferentschak
9       nienstädt
10      kaczmarek
11         glodde
Name: Trainer_name, dtype: object
0           grewe
1       schiergen
2        carvalho
3          wöhler
4            klug
5        carvalho
6    hirschberger
7           demme
8        suborics
Name: Trainer_name, dtype: object
0      wöhler
1    carvalho
2        klug
3       grewe
4    sprengel
5       kurdu
6       rohne
Name: Trainer_name, dtype: object
0         giesgen
1     jonkhart/nl
2           lentz
3           lentz
4           storp
5         werning
6       laznovska
7           smith
8          leiner
9           smith
10         leiner
11     bodenhagen
Name: Trainer_name, dtype: object
0    hirschberger
1      almenräder
2          wöhler
3            klug
4           bolte
5       schiergen
6           grewe
Name: Trainer_name, dtype: object
0            klug
1          wöhler
2        mintchev
3       schiergen
4       weißmeier
5            klug
6    hirschberger
Name: Trainer_name, dtype: object
0     schiergen
1        hickst
2     weißmeier
3    bodenhagen
4     meulen/nl
5        leiner
6    peeters/nl
Name: Trainer_name, dtype: object
0      carvalho
1        palmer
2        dunlop
3          klug
4    almenräder
5     schiergen
6         hofer
7       appleby
8        wöhler
9      carvalho
Name: Trainer_name, dtype: object
0         bolte
1     meulen/nl
2     schiergen
3    almenräder
4         smith
5          beer
Name: Trainer_name, dtype: object
0    hermans/nl
1       schwinn
2     schiergen
3       smrczek
4         taber
5        hobitz
6          gehm
Name: Trainer_name, dtype: object
0       mongil
1        hofer
2        rohne
3      smrczek
4      potters
5     vovcenko
6        hofer
7     vovcenko
8    schiergen
Name: Trainer_name, dtype: object
0     meulen/nl
1          leve
2         storp
3         bolte
4         lüker
5       reineke
6        warren
7      vovcenko
8         mäder
9     nienstädt
10    nienstädt
Name: Trainer_name, dtype: object
0           moser
1           grewe
2         richter
3       kienemann
4            bieß
5        meinecke
6       meulen/nl
7         potters
8     ferentschak
9       kienemann
10        richter
11          lentz
Name: Trainer_name, dtype: object
0         geisler
1         weidler
2           kartz
3          warren
4          thomas
5     ferentschak
6      heimburger
7         weidler
8       grünewald
9       nienstädt
10          lüker
11        friebel
Name: Trainer_name, dtype: object
0            bolte
1         sprengel
2            mäder
3             fust
4     henkenjohann
5       heimburger
6       bajraktari
7       wolters/nl
8          geisler
9          schwinn
10           bolte
11         reineke
12           storp
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2       hickst
3        recke
4         schu
5       thomas
Name: Trainer_name, dtype: object
0    suborics
1     giesgen
2       rohne
3     geisler
4     hellier
5       recke
6       hofer
7       kurdu
8       recke
Name: Trainer_name, dtype: object
0     klug
1    recke
2    kurdu
3     schu
4    rohne
5     wenz
6    recke
Name: Trainer_name, dtype: object
0               bolte
1             smrczek
2               recke
3                schu
4               rohne
5         kleinkorres
6              thomas
7           meulen/nl
8           schriever
9            harst/nl
10    verschueren/bel
11              storp
12               lenz
Name: Trainer_name, dtype: object
0          hickst
1    hirschberger
2           bolte
3      almenräder
4    hirschberger
5         smrczek
Name: Trainer_name, dtype: object
0      johnston
1         grewe
2        wöhler
3          klug
4     bucher/ch
5     schiergen
6      gröschel
7     schiergen
8      carvalho
9        wöhler
10    germic/cz
Name: Trainer_name, dtype: object
0         grewe
1     meulen/nl
2         bolte
3       smrczek
4          klug
5        warren
6    almenräder
7     meulen/nl
Name: Trainer_name, dtype: object
0            kleinkorres
1              meulen/nl
2                 sauter
3                  lüker
4              laznovska
5                  storp
6    berrevoets-uivel/nl
7                  storp
8                   lenz
9               overbeck
Name: Trainer_name, dtype: object
0          hickst
1          hickst
2         dzubasz
3    hirschberger
4         smrczek
Name: Trainer_name, dtype: object
0         glanz
1       fechner
2      gröschel
3    almenräder
4         rohne
5      suborics
6      vovcenko
7       hellier
Name: Trainer_name, dtype: object
0        demme
1    weißmeier
2       hickst
3        bolte
4      rosport
5        grewe
6      smrczek
7      weidler
8     schleppi
9        glanz
Name: Trainer_name, dtype: object
0         schiergen
1             grewe
2              klug
3        almenräder
4             stech
5     hammer-hansen
6            hickst
7            wöhler
8             bolte
9          gröschel
10    hammer-hansen
Name: Trainer_name, dtype: object
0          müller
1        fuhrmann
2           lentz
3       weißmeier
4            berg
5         hellier
6     lenaers/bel
7          keller
8        beckmann
9            falk
10       fuhrmann
11      lindemann
12        schwinn
13          figge
14       rotering
Name: Trainer_name, dtype: object
0    hammer-hansen
1            grewe
2         rotering
3          bocskai
4         albrecht
5         fuhrmann
6         fuhrmann
7        schneider
8        schneider
Name: Trainer_name, dtype: object
0     steinberg
1         moser
2      gröschel
3      albrecht
4    wolters/nl
5         demme
6       smrczek
7       geisler
Name: Trainer_name, dtype: object
0         hickst
1        richter
2      schiergen
3          bolte
4          blume
5      bucher/ch
6      steinberg
7      weißmeier
8    kleinkorres
Name: Trainer_name, dtype: object
0    hammer-hansen
1          potters
2            hofer
3            bolte
4           thomas
5      kleinkorres
6         vovcenko
7        rothacker
8         haustein
Name: Trainer_name, dtype: object
0          glanz
1        bocskai
2     neureuther
3        fechner
4     volz-degel
5    kleinkorres
6       rotering
7      gernreich
8        geisler
Name: Trainer_name, dtype: object
0            potters
1              alles
2    stein-schomburg
3            geisler
4          schneider
5              recke
6           fuhrmann
7           schleppi
Name: Trainer_name, dtype: object
0              klug
1             fabre
2    suter-weber/ch
3         brandt/fr
4            hickst
5             grewe
6      hirschberger
7     hammer-hansen
8     hammer-hansen
9          suborics
Name: Trainer_name, dtype: object
0            hofer
1             gehm
2             schu
3             berg
4        laznovska
5         fuhrmann
6        mühlbauer
7        schiergen
8        friesdorf
9            recke
10          birner
11            weis
12    peterschmitt
Name: Trainer_name, dtype: object
0         hofer
1         blume
2    wolters/nl
3        dewald
4      suborics
5      sprengel
6       smrczek
7        hillis
8         grewe
Name: Trainer_name, dtype: object
0         walker
1         wöhler
2       carvalho
3           klug
4          rulec
5       suborics
6        smrczek
7          mäder
8        bocskai
9          rulec
10    almenräder
11        hickst
Name: Trainer_name, dtype: object
0    van kempen/nl
1         fuhrmann
2           hickst
3            wedig
4            grewe
5         sprengel
6         schleppi
7         beckmann
Name: Trainer_name, dtype: object
0        weißmeier
1           wöhler
2            glanz
3          bocskai
4            recke
5    hammer-hansen
6         fuhrmann
7         vovcenko
8         suborics
Name: Trainer_name, dtype: object
0          almenräder
1           weißmeier
2             werning
3               lentz
4             potters
5            schleppi
6               storp
7              hillis
8             schwinn
9     stein-schomburg
10              blume
11           fuhrmann
Name: Trainer_name, dtype: object
0      richter
1     vovcenko
2        hofer
3        grewe
4    whitfield
5        klein
Name: Trainer_name, dtype: object
0        weber
1     beckmann
2     fuhrmann
3     lanslots
4      potters
5          ehl
6     schleppi
7      geisler
8      hellier
9        alles
10      kujath
11         ehl
Name: Trainer_name, dtype: object
0        suborics
1            klug
2    hirschberger
3        gröschel
4            klug
5        mintchev
6       schiergen
7          wöhler
8           moser
9        carvalho
Name: Trainer_name, dtype: object
0           potters
1         meulen/nl
2     hammer-hansen
3             bolte
4           bocskai
5        van eck/nl
6         rothacker
7          haustein
8          gröschel
9            hickst
10            recke
11           hickst
Name: Trainer_name, dtype: object
0     mühlbauer
1       schwinn
2      beckmann
3          bach
4     weißmeier
5        thomas
6        schütz
7         hinck
8       rudolph
9      fuhrmann
10        storp
11      hellier
12        alles
13    klapschus
14        gries
Name: Trainer_name, dtype: object
0              klug
1          vovcenko
2             grewe
3             rulec
4      hirschberger
5            wöhler
6          carvalho
7             moser
8             moser
9      hirschberger
10    hammer-hansen
11        schiergen
Name: Trainer_name, dtype: object
0          haustein
1             bolte
2          gröschel
3          suborics
4          zschache
5        almenräder
6              klug
7     hammer-hansen
8             stech
9         weißmeier
10        schiergen
Name: Trainer_name, dtype: object
0          sprengel
1             weber
2         laznovska
3           richter
4             blume
5       lenaers/bel
6             blume
7           potters
8         lindemann
9           geisler
10      lenaers/bel
11       wolters/nl
12    van kempen/nl
13          smrczek
14       neuberg/cz
Name: Trainer_name, dtype: object
0    hammer-hansen
1       nedorostek
2           hickst
3            glanz
4            klein
5          gülcher
6            klein
7           himmel
8        gernreich
Name: Trainer_name, dtype: object

0                richter
1                 drozda
2              angermann
3                 franke
4                  mayer
5    schleusner-fruhriep
Name: Trainer_name, dtype: object
0         weis
1        stech
2     fuhrmann
3    angermann
4       glodde
5       glodde
Name: Trainer_name, dtype: object
0         bigus
1      fuhrmann
2     lippitsch
3     angermann
4        glodde
5         storp
6    vorsilkova
7        glodde
8         storp
9          kurz
Name: Trainer_name, dtype: object
0    schiergen
1      dzubasz
2     szücs/cz
3      dzubasz
4       glodde
5    angermann
6    angermann
7    angermann
Name: Trainer_name, dtype: object
0     glodde
1     barsig
2    richter
3      klein
4
Name: Trainer_name, dtype: object
0         grewe
1    vorsilkova
2         klein
3          weis
4        barsig
5         klein
6        pyritz
Name: Trainer_name, dtype: object
0                megsner
1                  klein
2              angermann
3                 pyritz
4              angermann
5                   türk
6    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        schiergen
1          bocskai
2             klug
3          bocskai
4       almenräder
5             klug
6         fuhrmann
7    hammer-hansen
Name: Trainer_name, dtype: object
0       schiergen
1    hirschberger
2    hirschberger
3           grewe
4           figge
5           sauer
6            klug
7           demme
Name: Trainer_name, dtype: object
0      wöhler
1      hickst
2    carvalho
3       recke
4      wöhler
5      wöhler
6    suborics
Name: Trainer_name, dtype: object
0       meulen/nl
1      wolters/nl
2         smrczek
3        gröschel
4           fuchs
5    hirschberger
Name: Trainer_name, dtype: object
0       rudolph
1      sprengel
2         demme
3       rudolph
4     weißmeier
5         stech
6      rotering
7       scholze
8     laznovska
9         figge
10       kujath
11     stefutti
12        storp
13    laznovska
Name: Trainer_name, dtype: object
0            bolte
1            glanz
2            figge
3           engels
4         sprengel
5            demme
6    hammer-hansen
7    hammer-hansen
8           keller
Name: Trainer_name, dtype: object
0        gröschel
1       schiergen
2        carvalho
3            klug
4       weißmeier
5    hirschberger
6           grewe
Name: Trainer_name, dtype: object
0         storp
1       potters
2        hickst
3    wolters/nl
4     schiergen
5       scholze
6        dewald
7         figge
8      fuhrmann
9       smrczek
Name: Trainer_name, dtype: object
0          bolte
1          demme
2       sprengel
3         hickst
4      whitfield
5     nedorostek
6      weißmeier
7         kujath
8        schwinn
9        geisler
10        maurer
11       rudolph
12         hofer
13        hickst
Name: Trainer_name, dtype: object
0        glanz
1    schiergen
2       hillis
3       wöhler
4        figge
5      richter
6      geisler
7      geisler
Name: Trainer_name, dtype: object
0            mayer
1           hillis
2          geisler
3    schwarzenbeck
4            figge
5            glanz
6          richter
7       heimburger
Name: Trainer_name, dtype: object
0      barsig
1      wöhler
2       figge
3       glanz
4     richter
5     geisler
6     geisler
7       glanz
8     geisler
9      hillis
10     hillis
Name: Trainer_name, dtype: object
0    richter
1    weidler
2      mayer
3    geisler
4      glanz
5      mayer
6      klein
7     hillis
8    richter
Name: Trainer_name, dtype: object
0         mayer
1         mayer
2         mayer
3         klein
4       geisler
5        thomas
6    straßmeier
7         rohne
Name: Trainer_name, dtype: object
0          richter
1            glanz
2           barsig
3            mayer
4    schwarzenbeck
5            mayer
6            klein
7           hillis
Name: Trainer_name, dtype: object
0        hillis
1         glanz
2     schiergen
3        hillis
4         mayer
5    heimburger
6         rohne
Name: Trainer_name, dtype: object
0            klug
1           mäder
2        carvalho
3    hirschberger
4        suborics
5           hofer
6          hickst
7          wöhler
8         werning
Name: Trainer_name, dtype: object
0          mäder
1     bodenhagen
2         kreger
3       lanslots
4    jonkhart/nl
5       beckmann
6    verberkt/nl
7    jonkhart/nl
8          lüker
9         leiner
Name: Trainer_name, dtype: object
0     peeters/nl
1         leiner
2          rohne
3         hillis
4     bodenhagen
5     engels/bel
6          smith
7           weis
8      weißmeier
9          demme
10         storp
11    bodenhagen
Name: Trainer_name, dtype: object
0        hickst
1         recke
2     schiergen
3       smrczek
4     schiergen
5    hermans/nl
6      suborics
7         bolte
8    almenräder
9         bolte
Name: Trainer_name, dtype: object
0       engels
1        rohne
2         beer
3        lüker
4        mäder
5       mulder
6        recke
7    meulen/nl
Name: Trainer_name, dtype: object
0      meulen/nl
1        giesgen
2    jonkhart/nl
3          rohne
4          lüker
5           beer
6          mäder
7          smith
Name: Trainer_name, dtype: object
0    meulen/nl
1        storp
2        smith
3      smrczek
4       warren
5        smith
Name: Trainer_name, dtype: object
0         klug
1        bolte
2       wöhler
3       hillis
4    schiergen
5         blau
Name: Trainer_name, dtype: object
0                 berg
1              geisler
2                recke
3               birner
4              buchner
5    paraknewitz-kalla
6                klein
Name: Trainer_name, dtype: object
0     geisler
1       klein
2        renz
3    schleppi
4     lehmann
5        palz
6     geisler
7     lehmann
8    gerstner
Name: Trainer_name, dtype: object
0          klein
1           berg
2     hermans/nl
3        hellier
4        schwinn
5       gerstner
6         schwab
7       schleppi
8          klein
9         schwab
10       schwinn
11          schu
Name: Trainer_name, dtype: object
0      klein
1      grewe
2    geisler
3    schwinn
4      recke
5     keller
6     garske
7     donate
Name: Trainer_name, dtype: object
0         grewe
1     meulen/nl
2     schneider
3       schwinn
4      schleppi
5    daunheimer
6      schleppi
Name: Trainer_name, dtype: object
0      rudolph
1      rudolph
2      schwinn
3      geisler
4     reischig
5      geisler
6     schleppi
7     schleppi
8     schleppi
9       thomas
10       klein
Name: Trainer_name, dtype: object
0                recke
1             vovcenko
2               thomas
3    paraknewitz-kalla
4              symalla
5           bastova/cz
6                recke
7         schnakenberg
8           herresthal
Name: Trainer_name, dtype: object
0        grewe
1       wöhler
2         klug
3    schiergen
4     carvalho
5        demme
6     vovcenko
7     suborics
Name: Trainer_name, dtype: object
0        potters
1       sybrecht
2      kaczmarek
3        dzubasz
4      nienstädt
5          harms
6      nienstädt
7     nedorostek
8           rank
9       stolberg
10      gröschel
11      sprengel
12         sager
Name: Trainer_name, dtype: object
0    suborics
1     potters
2    carvalho
3    gröschel
4       grewe
5      hickst
6        klug
7    sprengel
Name: Trainer_name, dtype: object
0                richter
1                dzubasz
2                  bolte
3                  figge
4    schleusner-fruhriep
5               sprengel
6             nedorostek
7               gröschel
Name: Trainer_name, dtype: object
0                 wöhler
1                richter
2                 hickst
3    schleusner-fruhriep
4               zschache
5               sprengel
6                  demme
Name: Trainer_name, dtype: object
0               meinecke
1                   rank
2              kienemann
3    schleusner-fruhriep
4              vinklarek
5               beckmann
6                 bradik
7                friebel
Name: Trainer_name, dtype: object
0        potters
1          moser
2    ferentschak
3          lentz
4      kienemann
5        dzubasz
Name: Trainer_name, dtype: object
0    radovic/bel
1         wöhler
2       gröschel
3          moser
4    ferentschak
5          harms
6         bradik
Name: Trainer_name, dtype: object
0     paulick
1      korpas
2     dzubasz
3      korpas
4    trobisch
5      schöps
Name: Trainer_name, dtype: object
0    swiatek/pl
1     fabianova
2       kerekes
3      carvalho
4         stech
5    kriegsheim
6         stech
7       paulick
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                 schütz
2                  bolte
3               zahorova
4             swiatek/pl
5              piruch/cz
6             nedorostek
7                 glodde
Name: Trainer_name, dtype: object
0      fuhrmann
1      fuhrmann
2      fuhrmann
3       dzubasz
4          pohl
5       megsner
6        glodde
7    vorsilkova
8       richter
9      gröschel
Name: Trainer_name, dtype: object
0       fuhrmann
1          lentz
2         glodde
3        paulick
4        dzubasz
5         glodde
6         sauter
7      angermann
8       fuhrmann
9       fuhrmann
10     grünewald
11         stech
12         mayer
13    vorsilkova
Name: Trainer_name, dtype: object
0    carvalho
1     richter
2      wöhler
3    gröschel
4     paulick
5    zahorova
6    fuhrmann
Name: Trainer_name, dtype: object
0     dzubasz
1    vovcenko
2       mayer
3     richter
4      glodde
5    trobisch
Name: Trainer_name, dtype: object
0    schiergen
1      dzubasz
2        figge
3      potters
4        bolte
5        demme
6     carvalho
7        recke
8    angermann
9      dzubasz
Name: Trainer_name, dtype: object
0      stokes
1       storp
2     bollien
3    beckmann
4      bradik
Name: Trainer_name, dtype: object
0           lentz
1           klein
2    schnakenberg
3           klein
4    schnakenberg
Name: Trainer_name, dtype: object
0    beckmann
1        weis
2       storp
3       busch
Name: Trainer_name, dtype: object
0         taber
1       friebel
2    almenräder
3     gernreich
4     meulen/nl
5       gossens
Name: Trainer_name, dtype: object
0      gröschel
1    wolters/nl
2         hofer
3       smrczek
4          schu
5     meulen/nl
Name: Trainer_name, dtype: object
0      meulen/nl
1           bieß
2      kienemann
3       gröschel
4    kleinkorres
5       suborics
6        smrczek
7      laznovska
Name: Trainer_name, dtype: object
0              meulen/nl
1                smrczek
2              meulen/nl
3                  storp
4    berrevoets-uivel/nl
5               lanslots
6                   schu
7             bajraktari

Name: Trainer_name, dtype: object
0    lenaers/bel
1          grewe
2          lentz
3     van eck/nl
4         dewald
5          mäder
Name: Trainer_name, dtype: object
0           wöhler
1             klug
2          smrczek
3    hammer-hansen
4        laznovska
5     hirschberger
6        laznovska
7        laznovska
Name: Trainer_name, dtype: object
0          stech
1        dzubasz
2        dzubasz
3       fuhrmann
4       fuhrmann
5    kleinkorres
6        smrczek
Name: Trainer_name, dtype: object
0      dzubasz
1    schiergen
2      dzubasz
3       barsig
4     albrecht
5     fuhrmann
6       arnold
7      dzubasz
Name: Trainer_name, dtype: object
0                  barsig
1                gröschel
2                carvalho
3                  schütz
4                   rohne
5                 dzubasz
6                fuhrmann
7                   stech
8                fuhrmann
9     schleusner-fruhriep
10                 barsig
Name: Trainer_name, dtype: object
0        dzubasz
1       timpelan
2      angermann
3       vovcenko
4          bolte
5       vovcenko
6       fuhrmann
7      angermann
8          rohne
9      fabianova
10    kriegsheim
11       dzubasz
Name: Trainer_name, dtype: object
0               gröschel
1                  glanz
2                 pyritz
3    schleusner-fruhriep
4                dzubasz
5           hirschberger
Name: Trainer_name, dtype: object
0      sprengel
1      sprengel
2      carvalho
3         grewe
4     schiergen
5      carvalho
6      vovcenko
7      trobisch
8      fuhrmann
9      fuhrmann
10    fabianova
Name: Trainer_name, dtype: object
0        carvalho
1           grewe
2           grewe
3           bolte
4    hirschberger
5          wöhler
6       schiergen
7    hirschberger
8        carvalho
Name: Trainer_name, dtype: object
0    meulen/nl
1     gröschel
2      paulick
3     sprengel
4    angermann
5        recke
Name: Trainer_name, dtype: object
0       barsig
1     vovcenko
2      richter
3       korpas
4       barsig
5     albrecht
6       glodde
7    fabianova
Name: Trainer_name, dtype: object
0      angermann
1         korpas
2     neuberg/cz
3        siegert
4         pyritz
5     hlavaty/cz
6         duchon
7         knauer
8      angermann
9     hlavaty/cz
10       paulick
11       scholze
Name: Trainer_name, dtype: object
0       lippitsch
1         paulick
2         weidler
3      vorsilkova
4      porebna/pl
5         weidler
6          duchon
7      porebna/pl
8     mihalik/svk
9       angermann
10         drozda
Name: Trainer_name, dtype: object
0     schiergen
1       richter
2       richter
3        hickst
4         recke
5      sprengel
6        barsig
7       paulick
8      szücs/cz
9     fabianova
10       pyritz
Name: Trainer_name, dtype: object
0       schiergen
1           hofer
2         richter
3         richter
4           grewe
5           recke
6      almenräder
7           blume
8           grewe
9           grewe
10    kleinkorres
11       vovcenko
Name: Trainer_name, dtype: object
0     meulen/nl
1    wolters/nl
2      sprengel
3         hofer
4        barsig
5      albrecht
6      gröschel
Name: Trainer_name, dtype: object
0         barsig
1         barsig
2        scholze
3     almenräder
4        richter
5           pohl
6     neuberg/cz
7        weidler
8         barsig
9         barsig
10       richter
Name: Trainer_name, dtype: object
0     nedorostek
1       sprengel
2     nedorostek
3        reineke
4          demme
5      gernreich
6     kriegsheim
7          kurdu
8    radovic/bel
Name: Trainer_name, dtype: object
0      wöhler
1     dzubasz
2      wöhler
3       moser
4    haustein
5       stech
6    gröschel
Name: Trainer_name, dtype: object
0      wöhler
1    carvalho
2        klug
3       hofer
4    gröschel
5     richter
6    vovcenko
7       stech
Name: Trainer_name, dtype: object
0        grewe
1        grewe
2    steinberg
3       wöhler
4        moser
5       wöhler
6     carvalho
Name: Trainer_name, dtype: object
0                   hofer
1                 smrczek
2                 dzubasz
3                gröschel
4                gröschel
5                  wöhler
6                timpelan
7                vovcenko
8                 potters
9                 dzubasz
10    schleusner-fruhriep
11                 winter
Name: Trainer_name, dtype: object
0         bolte
1     schiergen
2        wöhler
3        mongil
4          klug
5         moser
6
7     bucher/ch
8       smrczek
9      gröschel
10        moser
Name: Trainer_name, dtype: object
0          demme
1     nedorostek
2       suborics
3       haustein
4       vovcenko
5       sprengel
6    ferentschak
7          stech
Name: Trainer_name, dtype: object
0                  moser
1                potters
2                  demme
3                   fust
4                reineke
5               gröschel
6    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                smrczek
1               beckmann
2                 kreger
3                 warren
4    schleusner-fruhriep
5               meinecke
6               sybrecht
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2    hirschberger
3       schiergen
4           demme
5        suborics
6    hirschberger
Name: Trainer_name, dtype: object
0     kleinkorres
1            klug
2           grewe
3            klug
4           rohne
5    hirschberger
Name: Trainer_name, dtype: object
0          smrczek
1           schütz
2             fust
3           leiner
4          schwinn
5           thomas
6            lentz
7           keller
8       van eck/nl
9        schriever
10      fries-jung
11       schriever
12         friebel
13    verheyen/bel
14          mongil
Name: Trainer_name, dtype: object
0            gehm
1       laznovska
2            klug
3            klug
4          dewald
5       meulen/nl
6           bolte
7    verheyen/bel
8           smith
9          mongil
Name: Trainer_name, dtype: object
0     jonkhart/nl
1           grewe
2       laznovska
3           storp
4         giesgen
5            palz
6      hermans/nl
7           lentz
8       nienstädt
9           lentz
10      gernreich
11     heimburger
12        schwinn
13      nienstädt
14          wedig
15         leiner
Name: Trainer_name, dtype: object
0             klug
1             klug
2         carvalho
3            grewe
4             klug
5        schiergen
6           wöhler
7             klug
8     hirschberger
9            hofer
10         richter
11          wöhler
12    hirschberger
Name: Trainer_name, dtype: object
0            hofer
1        schiergen
2             klug
3            bolte
4        schiergen
5          schwinn
6           thomas
7    hammer-hansen
Name: Trainer_name, dtype: object
0                  grewe
1                 barsig
2                  storp
3               vovcenko
4                   pohl
5              angermann
6               fuhrmann
7           hottewitzsch
8    schleusner-fruhriep
Name: Trainer_name, dtype: object
0              fabianova
1                   beer
2                  stech
3             neureuther
4                  walsh
5             kriegsheim
6               trobisch
7               vovcenko
8                 glodde
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0          glodde
1           rohne
2           harms
3        fuhrmann
4        fuhrmann
5           storp
6    hottewitzsch
7            türk
Name: Trainer_name, dtype: object
0        klein
1    angermann
2        klein
3     fuhrmann
4       glodde
5      dzubasz
6        lentz
7        storp
8       barsig
Name: Trainer_name, dtype: object
0       richter
1      timpelan
2    nedorostek
3       richter
4      fuhrmann
5         klein
Name: Trainer_name, dtype: object
0     rohne
1      beer
2    glodde
3     lentz
4     klein
5     stech
6    arnold
Name: Trainer_name, dtype: object
0      glodde
1       storp
2       hinck
3    fuhrmann
4        rank
5       lüker
6        türk
7      schöps
8    fuhrmann
9      glodde
Name: Trainer_name, dtype: object
0        grewe
1        figge
2        rohne
3        rohne
4    schiergen
5        figge
6       hillis
Name: Trainer_name, dtype: object
0    fechner
1      glanz
2    bocskai
3    bocskai
4     hillis
5      mayer
6      mayer
Name: Trainer_name, dtype: object
0          figge
1          grewe
2          glanz
3          rohne
4    richter/aut
5        geisler
6        geisler
7         hillis
8          glanz
Name: Trainer_name, dtype: object

0        steinberg
1            mayer
2    hammer-hansen
3        schiergen
4            glanz
5            glanz
6          richter
7           kogler
8           hillis
9          bocskai
Name: Trainer_name, dtype: object
0     carvalho
1       hickst
2    steinberg
3        figge
4        figge
5       hillis
Name: Trainer_name, dtype: object
0    schwarzenbeck
1        mühlbauer
2           hickst
3          richter
4           hillis
5          kerekes
6            mayer
7        lippitsch
8           hillis
Name: Trainer_name, dtype: object
0          richter
1            mayer
2           hillis
3        steinberg
4    hammer-hansen
5            glanz
6        steinberg
7        lippitsch
8          bocskai
Name: Trainer_name, dtype: object
0            figge
1    schwarzenbeck
2           hillis
3            mayer
4            mayer
5            mayer
6           hillis
7            figge
8       straßmeier
Name: Trainer_name, dtype: object
0        fechner
1    kleinkorres
2          rohne
3          rohne
4        geisler
5      gernreich
Name: Trainer_name, dtype: object
0         hofer
1         mäder
2       smrczek
3       geisler
4     schiergen
5         recke
6       werning
7       geisler
8       potters
9     schneider
10      potters
Name: Trainer_name, dtype: object
0     hirschberger
1     hirschberger
2            demme
3            hofer
4         carvalho
5          smrczek
6            hofer
7     verheyen/bel
8             klug
9            bolte
10       schneider
11          hickst
Name: Trainer_name, dtype: object
0           klug
1    kleinkorres
2     wolters/nl
3         hickst
4          hofer
5    kleinkorres
6        dzubasz
Name: Trainer_name, dtype: object
0           hickst
1            mäder
2            demme
3            smith
4        gernreich
5       heimburger
6          lehmann
7          geisler
8        weißmeier
9          gossens
10       nienstädt
11    verheyen/bel
Name: Trainer_name, dtype: object
0    suborics
1       hofer
2      engels
3      mongil
4      wöhler
5      warren
6       mäder
7        klug
8       bolte
Name: Trainer_name, dtype: object
0             klug
1         carvalho
2           wöhler
3           wöhler
4         carvalho
5        schiergen
6         suborics
7            mäder
8            rulec
9           hickst
10    hirschberger
Name: Trainer_name, dtype: object
0        stefutti
1     jonkhart/nl
2       kleffmann
3     jonkhart/nl
4           kartz
5     kleinkorres
6           lentz
7       nienstädt
8       grünewald
9        beckmann
10        lehmann
Name: Trainer_name, dtype: object
0         lentz
1        warren
2         alles
3     nienstädt
4    heimburger
5     gernreich
6    wolters/nl
7     schriever
8    van eck/nl
Name: Trainer_name, dtype: object
0               smith
1           weißmeier
2                rank
3               storp
4           angermann
5            fuhrmann
6             hellier
7     stein-schomburg
8             potters
9             hellier
10          laznovska
11              lentz
12          kaczmarek
13           lanslots
Name: Trainer_name, dtype: object
0          bolte
1       vovcenko
2       vovcenko
3       fuhrmann
4          bolte
5       trobisch
6     almenräder
7        smrczek
8          stech
9      meulen/nl
10          rank
11     schiergen
12         mayer
Name: Trainer_name, dtype: object
0         meulen/nl
1         meulen/nl
2             bolte
3             moser
4          gröschel
5            barsig
6           potters
7        almenräder
8           dzubasz
9            dewald
10           schütz
11            storp
12         meinecke
13    hammer-hansen
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1               carvalho
2                   klug
3           hirschberger
4          hammer-hansen
5          hammer-hansen
6           hirschberger
7               prescott
8                dzubasz
9                  recke
Name: Trainer_name, dtype: object
0     almenräder
1         schütz
2         barsig
3      schiergen
4    kleinkorres
5       vovcenko
6       fuhrmann
7         winter
Name: Trainer_name, dtype: object
0    lippitsch
1       glodde
2    weißmeier
3      potters
4       barsig
5         leve
6     fuhrmann
7      hellier
Name: Trainer_name, dtype: object
0       fuhrmann
1     bodenhagen
2       fuhrmann
3          smith
4      weißmeier
5          lentz
6        hellier
7         bradik
8          mayer
9       fuhrmann
10        müller
Name: Trainer_name, dtype: object
0              glodde
1             giesgen
2             smrczek
3     stein-schomburg
4               lüker
5               hinck
6               storp
7               lentz
8            fuhrmann
9             bollien
10              lüker
11              storp
12           lanslots
13           fuhrmann
Name: Trainer_name, dtype: object
0        reineke
1          bolte
2     almenräder
3          recke
4      schiergen
5         korpas
6        paulick
7         schütz
8       vovcenko
9          bolte
10      trobisch
11      sprengel
12    bodenhagen
13        wöhler
14       smrczek
Name: Trainer_name, dtype: object
0         wöhler
1          bolte
2          glanz
3       gröschel
4           klug
5     kriegsheim
6         hickst
7    kleinkorres
Name: Trainer_name, dtype: object
0        laznovska
1    van kempen/nl
2            grewe
3          richter
4          dzubasz
5            figge
6         fuhrmann
7          scholze
8            blume
Name: Trainer_name, dtype: object
0             hofer
1             moser
2        almenräder
3          vovcenko
4          carvalho
5             grewe
6            wöhler
7             moser
8      hirschberger
9     hammer-hansen
10             klug
Name: Trainer_name, dtype: object
0        richter
1        richter
2         hickst
3          bolte
4          figge
5      weißmeier
6      schiergen
7        paulick
8     almenräder
9         schütz
10         blume
11       smrczek
12      zschache
13      sprengel
Name: Trainer_name, dtype: object
0         peterschmitt
1              rosport
2    paraknewitz-kalla
3                 weis
4               keller
Name: Trainer_name, dtype: object
0          klug
1      schleppi
2     weißmeier
3       geisler
4    heimburger
5         storp
6       kerekes
7       geisler
Name: Trainer_name, dtype: object
0         grewe
1         wedig
2     weißmeier
3       geisler
4     weißmeier
5    heimburger
6         gries
7           ehl
8    bajraktari
Name: Trainer_name, dtype: object
0          weis
1        birner
2    volz-degel
3      schleppi
4           ehl
5       geisler
6       geisler
7    daunheimer
8          palz
Name: Trainer_name, dtype: object
0               rudolph
1             klapschus
2              vovcenko
3                kujath
4               kerekes
5                 glanz
6     paraknewitz-kalla
7              reischig
8                  maya
9                müller
10              geisler
11    sofsky-prappacher
Name: Trainer_name, dtype: object
0          berg
1       geisler
2       geisler
3        schwab
4         britz
5    bajraktari
6        schwab
Name: Trainer_name, dtype: object
0      reineke
1         leve
2    schiergen
3      smrczek
4     mintchev
5      smrczek
Name: Trainer_name, dtype: object
0        klug
1     potters
2       recke
3     dzubasz
4       bolte
5    fuhrmann
6     dzubasz
Name: Trainer_name, dtype: object
0            lentz
1         sprengel
2      lenaers/bel
3        angermann
4    van kempen/nl
5          richter
6           korpas
7         fuhrmann
8           glodde
9           hickst
Name: Trainer_name, dtype: object
0         dzubasz
1            beer
2            beer
3           stech
4     ferentschak
5           bolte
6         scholze
7       meulen/nl
8           smith
9        sprengel
10     nedorostek
11         glodde
Name: Trainer_name, dtype: object
0    almenräder
1      zschache
2    wolters/nl
3        hickst
4       smrczek
5    wolters/nl
6    vorsilkova
Name: Trainer_name, dtype: object
0       dzubasz
1        dewald
2     meulen/nl
3      sprengel
4    wolters/nl
5        hickst
6      sprengel
7         hofer
8     angermann
9      gröschel
Name: Trainer_name, dtype: object
0       meulen/nl
1       kienemann
2          kreger
3     ferentschak
4         richter
5        fuhrmann
6            pohl
7           mäder
8          glodde
9         potters
10      lindemann
11      laznovska
12      angermann
Name: Trainer_name, dtype: object
0         klug
1         klug
2    schiergen
3         klug
4        grewe
5     carvalho
6    weißmeier
Name: Trainer_name, dtype: object
0        schütz
1     gernreich
2     meulen/nl
3         lüker
4       smrczek
5         storp
6      fuhrmann
7         recke
8         storp
9     schriever
10        lüker
11         rank
Name: Trainer_name, dtype: object
0        bolte
1        grewe
2        glanz
3     vovcenko
4       korpas
5    meulen/nl
6     sprengel
7         blau
8    angermann
Name: Trainer_name, dtype: object
0        korpas
1         bolte
2         demme
3    swiatek/pl
4         taber
5       dzubasz
6      suborics
7        engels
8      albrecht
Name: Trainer_name, dtype: object
0      vovcenko
1       dzubasz
2       schwinn
3     angermann
4       schwinn
5    nedorostek
6     weißmeier
7         lentz
8          bach
9      fuhrmann
Name: Trainer_name, dtype: object
0        fuhrmann
1         potters
2       meulen/nl
3        gröschel
4            bieß
5     kleinkorres
6       nienstädt
7      bodenhagen
8           klein
9           lentz
10        dzubasz
11      nienstädt
Name: Trainer_name, dtype: object
0         bradik
1       fuhrmann
2          lüker
3        hellier
4          smith
5          lüker
6       beckmann
7        potters
8    verberkt/nl
9          walsh
Name: Trainer_name, dtype: object
0        demme
1       korpas
2      potters
3       bradik
4        recke
5    angermann
6    weißmeier
7      schwinn
8      dzubasz
Name: Trainer_name, dtype: object
0        walker
1     schiergen
2      gröschel
3          klug
4          klug
5        wöhler
6        hickst
7     schiergen
8       dzubasz
9      carvalho
10         klug
11        grewe
Name: Trainer_name, dtype: object
0     sprengel
1    meulen/nl
2       wöhler
3     gröschel
4        hofer
5         tuma
6      dzubasz
7        moser
Name: Trainer_name, dtype: object
0    schiergen
1      richter
2       wöhler
3     vovcenko
4    fabianova
5         klug
Name: Trainer_name, dtype: object
0               gröschel
1                  rohne
2               fuhrmann
3                schwinn
4               albrecht
5    schleusner-fruhriep
6                  sager
7                  busch
Name: Trainer_name, dtype: object
0       klein
1     dzubasz
2       smith
3     richter
4     geisler
5     dzubasz
6     hellier
7       smith
8    fuhrmann
Name: Trainer_name, dtype: object
0                 kreger
1               beckmann
2                 franke
3              lindemann
4                   falk
5                  klein
6               lanslots
7               fuhrmann
8    schleusner-fruhriep
9               fuhrmann
Name: Trainer_name, dtype: object
0         recke
1         klein
2     angermann
3         mäder
4         bolte
5       potters
6      sprengel
7         lentz
8          tuma
9         demme
10        hofer
Name: Trainer_name, dtype: object
0     geisler
1       grewe
2       blume
3       hofer
4    fuhrmann
5    vovcenko
6     richter
7    gröschel
8       demme
9    vovcenko
Name: Trainer_name, dtype: object
0              schiergen
1                 warren
2                  storp
3              meulen/nl
4               gröschel
5                potters
6              laznovska
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0         klug
1        grewe
2     suborics
3       wöhler
4     gröschel
5         klug
6        grewe
7     sprengel
8     sprengel
9        recke
10       bolte
11    vovcenko
Name: Trainer_name, dtype: object

0    meulen/nl
1    kienemann
2      richter
3        hofer
4      megsner
5      potters
6    laznovska
7       barsig
8      smrczek
9        lentz
Name: Trainer_name, dtype: object
0         klug
1       wöhler
2    schiergen
3     gröschel
4        grewe
5    weißmeier
6         klug
Name: Trainer_name, dtype: object
0     kleinkorres
1      bodenhagen
2            fust
3         geisler
4           klein
5        kocanova
6         schwinn
7            weis
8           recke
9        beckmann
10      angermann
11         hobitz
Name: Trainer_name, dtype: object
0                   tuma
1                  taber
2                    fey
3             swiatek/pl
4    schleusner-fruhriep
5               vovcenko
6                  recke
7               vovcenko
Name: Trainer_name, dtype: object
0    almenräder
1     weißmeier
2      vovcenko
3          klug
4       geisler
5      vovcenko
6     weißmeier
Name: Trainer_name, dtype: object
0           pohl
1       fuhrmann
2    lenaers/bel
3        richter
4          blume
5          figge
6        potters
7       lanslots
8          mäder
9          mayer
Name: Trainer_name, dtype: object
0               gröschel
1                smrczek
2           hirschberger
3               vovcenko
4                 wöhler
5               suborics
6                  hofer
7    schleusner-fruhriep
8                  rohne
9               gröschel
Name: Trainer_name, dtype: object
0         hofer
1       giesgen
2          leve
3        dewald
4       potters
5      fuhrmann
6     meulen/nl
7      fuhrmann
8          klug
9     meulen/nl
10    weißmeier
Name: Trainer_name, dtype: object
0               grewe
1               lentz
2     stein-schomburg
3           grünewald
4                weis
5           nienstädt
6               lentz
7              glodde
8            sprengel
9           nienstädt
10            hellier
11            larsson
12            geisler
13              storp
Name: Trainer_name, dtype: object
0               vovcenko
1                  bolte
2                 hickst
3            kleinkorres
4                smrczek
5                potters
6    schleusner-fruhriep
7                  recke
Name: Trainer_name, dtype: object
0                  bolte
1                 hickst
2                  demme
3    schleusner-fruhriep
4              schiergen
5              schiergen
6               gröschel
7               fuhrmann
8                 glodde
Name: Trainer_name, dtype: object
0      meulen/nl
1          grewe
2         barsig
3    lenaers/bel
4         dewald
5       sprengel
6          lentz
7          blume
8          recke
Name: Trainer_name, dtype: object
0       grewe
1        klug
2       grewe
3    suborics
4      wöhler
5       grewe
6        klug
7        klug
8      wöhler
Name: Trainer_name, dtype: object
0           nienstädt
1             giesgen
2            sprengel
3           laznovska
4               harms
5               lentz
6           weißmeier
7     stein-schomburg
8               mäder
9               storp
10         nedorostek
11            potters
12           fuhrmann
Name: Trainer_name, dtype: object
0    peterschmitt
1         schwinn
2       schriever
3         schwinn
4         schwinn
5           britz
6         schwinn
Name: Trainer_name, dtype: object
0         weis
1         palz
2         maya
3        busch
4    schriever
5         schu
Name: Trainer_name, dtype: object
0       britz
1     schwinn
2     schwinn
3        schu
4    gerstner
5     lehmann
Name: Trainer_name, dtype: object
0        hickst
1    nedorostek
2        keller
3     meulen/nl
4       reineke
5         recke
6       smrczek
7    kriegsheim
8     fabianova
Name: Trainer_name, dtype: object
0     carvalho
1       wöhler
2        recke
3        hofer
4     suborics
5       korpas
6     fuhrmann
7     vovcenko
8    fabianova
Name: Trainer_name, dtype: object
0       wöhler
1        moser
2        demme
3    steinberg
4        moser
5    meulen/nl
Name: Trainer_name, dtype: object
0         bolte
1     weißmeier
2       smrczek
3      suborics
4         hofer
5     laznovska
6      vovcenko
7         demme
8      fuhrmann
9        wöhler
10    meulen/nl
11    kienemann
12        rohne
Name: Trainer_name, dtype: object
0               suborics
1                 hickst
2                 wöhler
3    schleusner-fruhriep
4               sprengel
5          hammer-hansen
Name: Trainer_name, dtype: object
0        grewe
1         klug
2    schiergen
3     gröschel
4      potters
5      dzubasz
6        demme
7        figge
8        grewe
9      dzubasz
Name: Trainer_name, dtype: object
0            klug
1           grewe
2           moser
3         dzubasz
4          hickst
5            klug
6          wöhler
7            klug
8    hirschberger
Name: Trainer_name, dtype: object
0              klug
1            hickst
2              klug
3              klug
4             grewe
5            wöhler
6          sprengel
7          suborics
8             grewe
9             figge
10           wöhler
11            mäder
12        schiergen
13            grewe
14         malmborg
15    hammer-hansen
Name: Trainer_name, dtype: object
0             klug
1             klug
2           wöhler
3         carvalho
4           wöhler
5     hirschberger
6            grewe
7            hofer
8         carvalho
9             klug
10          wöhler
11       schiergen
12         smrczek
13          wöhler
Name: Trainer_name, dtype: object
0       reineke
1    almenräder
2      gröschel
3     laznovska
4     schiergen
5       smrczek
6          klug
7       potters
8         mayer
Name: Trainer_name, dtype: object
0      suborics
1         bolte
2      zschache
3      gröschel
4     meulen/nl
5     meulen/nl
6          klug
7        korpas
8       smrczek
9     meulen/nl
10        hofer
Name: Trainer_name, dtype: object
0       almenräder
1            bolte
2         carvalho
3           hickst
4           wöhler
5            bolte
6    hammer-hansen
Name: Trainer_name, dtype: object
0                  stech
1               haustein
2                  rohne
3               trobisch
4                richter
5                 korpas
6                  mayer
7    schleusner-fruhriep
8                  bigus
9                paulick
Name: Trainer_name, dtype: object
0            korpas
1           paulick
2             figge
3         chaloupka
4           scholze
5            sauter
6            knauer
7     schwarzenbeck
8        hlavaty/cz
9           siegert
10            rohne
11       neuberg/cz
Name: Trainer_name, dtype: object
0          richter
1            rohne
2           barsig
3           wöhler
4            figge
5         trobisch
6          richter
7          richter
8            glanz
9         szücs/cz
10       angermann
11    hottewitzsch
Name: Trainer_name, dtype: object
0             glanz
1            korpas
2         angermann
3           dzubasz
4           richter
5            horova
6          trobisch
7         lippitsch
8             rohne
9     schwarzenbeck
10         sprengel
Name: Trainer_name, dtype: object
0                  wöhler
1                  wöhler
2                   mäder
3                  wöhler
4                suborics
5                   figge
6     schleusner-fruhriep
7                   rulec
8     schleusner-fruhriep
9                haustein
10                  figge
11                  stech
Name: Trainer_name, dtype: object
0     vorsilkova
1          glanz
2        megsner
3        paulick
4      angermann
5         glodde
6       krzyskow
7          stech
8          jelen
9         barsig
10         bigus
11     chaloupka
Name: Trainer_name, dtype: object
0     wöhler
1      glanz
2     barsig
3    richter
4    dzubasz
5    richter
6      jelen
7    richter
Name: Trainer_name, dtype: object
0    lippitsch
1      richter
2       barsig
3       barsig
4      richter
5        figge
6      richter
7      scholze
8      richter
9    lippitsch
Name: Trainer_name, dtype: object
0    gerstner
1    schleppi
2      keller
3     hellier
4         ehl
5      schwab
6        falk
7     geisler
Name: Trainer_name, dtype: object
0          renz
1    volz-degel
2        keller
3       lehmann
4     klapschus
5       lehmann
6       schwinn
7      schleppi
Name: Trainer_name, dtype: object
0       gries
1     hellier
2      donate
3     rudolph
4       britz
5    reischig
6      schwab
Name: Trainer_name, dtype: object
0      recke
1    schwinn
2      storp
3    schwinn
4    schwinn
Name: Trainer_name, dtype: object
0            klug
1          wöhler
2    hirschberger
3          hickst
4            klug
5            klug
6        mintchev
7    hirschberger
8           hofer
Name: Trainer_name, dtype: object
0    almenräder
1     schiergen
2       schwinn
3    hermans/nl
4        leiner
5       friebel
Name: Trainer_name, dtype: object
0       laznovska
1           alles
2       laznovska
3     jonkhart/nl
4     jonkhart/nl
5           grewe
6       meulen/nl
7          leiner
8        beckmann
9         giesgen
10          klein
11          storp
Name: Trainer_name, dtype: object
0    schiergen
1        bolte
2       hickst
3       warren
4         fust
5    weißmeier
6         gehm
Name: Trainer_name, dtype: object
0        kurdu
1    schiergen
2        bolte
3         klug
4       wöhler
5       hickst
6     suborics
7        hofer
8     carvalho
9    schiergen
Name: Trainer_name, dtype: object
0    carvalho
1     smrczek
2       grewe
3    carvalho
4        klug
5        klug
Name: Trainer_name, dtype: object
0        meulen/nl
1             leve
2          fechner
3         carvalho
4    van kempen/nl
5         stefutti
6            rohne
Name: Trainer_name, dtype: object
0     bodenhagen
1    lenaers/bel
2       beckmann
3     wolters/nl
4          storp
5        schwinn
6         mulder
7       schleppi
8      kienemann
9    jonkhart/nl
Name: Trainer_name, dtype: object
0        warren
1          berg
2    heimburger
3         kartz
4       steudle
5     meulen/nl
6        mongil
7       geisler
8     kleffmann
9    hermans/nl
Name: Trainer_name, dtype: object
0      gernreich
1         hillis
2      weißmeier
3         schütz
4        schwinn
5        smrczek
6     fries-jung
7       kocanova
8          lüker
9         mongil
10      beckmann
11
Name: Trainer_name, dtype: object
0       grünewald
1      bodenhagen
2       weißmeier
3       schiergen
4        sprengel
5           mäder
6           bolte
7       grünewald
8           blume
9          hillis
10       schleppi
11    ferentschak
12        gossens
13      gernreich
Name: Trainer_name, dtype: object
0        bolte
1    schiergen
2     carvalho
3        hofer
4         klug
5        taber
6        grewe
Name: Trainer_name, dtype: object
0           wöhler
1     hirschberger
2       pantall/fr
3      kleinkorres
4            rulec
5     hirschberger
6            grewe
7            moser
8           mongil
9           wöhler
10        carvalho
11        mintchev
Name: Trainer_name, dtype: object
0    kleinkorres
1     neureuther
2         hickst
3          bolte
4     heimburger
5          smith
6         mulder
Name: Trainer_name, dtype: object

0     almenräder
1          moser
2    ferentschak
3         dewald
4      meulen/nl
5      meulen/nl
6     wolters/nl
Name: Trainer_name, dtype: object
0         klein
1         grewe
2       schwinn
3         demme
4         recke
5      vovcenko
6      fuhrmann
7    swiatek/pl
8       schwinn
9         lentz
Name: Trainer_name, dtype: object
0            barsig
1             klein
2               ehl
3            glodde
4             lentz
5            glodde
6           potters
7     hammer-hansen
8         weißmeier
9         schneider
10         fuhrmann
Name: Trainer_name, dtype: object
0           wöhler
1         vovcenko
2         timpelan
3           korpas
4         gröschel
5        weißmeier
6        gernreich
7             weis
8           glodde
9    hammer-hansen
Name: Trainer_name, dtype: object
0     ferentschak
1         smrczek
2            falk
3           lentz
4           klein
5            pohl
6       angermann
7        gröschel
8         smrczek
9           grewe
10         glodde
11        schwinn
Name: Trainer_name, dtype: object
0     nienstädt
1       geisler
2     nienstädt
3         storp
4        glodde
5     nienstädt
6          rank
7         hinck
8          weis
9     weißmeier
10        lentz
11    kaczmarek
Name: Trainer_name, dtype: object
0      smrczek
1    weißmeier
2       barsig
3        rohne
4      dzubasz
5     rotering
6       wöhler
7    weißmeier
8      dzubasz
9     fuhrmann
Name: Trainer_name, dtype: object
0        vovcenko
1       weißmeier
2    schnakenberg
3        rotering
4           recke
5           rohne
6      herresthal
7       weißmeier
8         schwinn
Name: Trainer_name, dtype: object
0                recke
1              schwinn
2             vovcenko
3    paraknewitz-kalla
4             rotering
Name: Trainer_name, dtype: object
0    weißmeier
1     gröschel
2        bolte
3        klein
4        recke
Name: Trainer_name, dtype: object
0           bolte
1           glanz
2       laznovska
3        vovcenko
4       weißmeier
5        fuhrmann
6           storp
7        gröschel
8           smith
9         potters
10        smrczek
11          recke
12    kleinkorres
13          mayer
14      kienemann
15       fuhrmann
Name: Trainer_name, dtype: object
0      klug
1     grewe
2    wöhler
3    wöhler
4     recke
5     demme
Name: Trainer_name, dtype: object
0           lentz
1          barsig
2        fuhrmann
3         hellier
4          glodde
5     lenaers/bel
6       lindemann
7           mayer
8     ferentschak
9       weißmeier
10       fuhrmann
11          sager
Name: Trainer_name, dtype: object
0     barsig
1    weidler
2      lüker
3    hellier
4      lüker
5     glodde
6      storp
7      lüker
Name: Trainer_name, dtype: object
0          glodde
1           stech
2           demme
3         rosport
4         rudolph
5           smith
6           klein
7       nienstädt
8     ferentschak
9      fries-jung
10      nienstädt
11      kaczmarek
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1           porkatova/cz
2           schnakenberg
3             swiatek/pl
4      paraknewitz-kalla
5               vovcenko
Name: Trainer_name, dtype: object
0                smrczek
1                geisler
2    schleusner-fruhriep
3               fuhrmann
4            radovic/bel
5            radovic/bel
Name: Trainer_name, dtype: object
0     gernreich
1      beckmann
2    wolters/nl
3         busch
4         storp
5      fuhrmann
Name: Trainer_name, dtype: object
0      wolters/nl
1         bollien
2        fuhrmann
3        beckmann
4    schnakenberg
Name: Trainer_name, dtype: object
0    schiergen
1        hofer
2     vovcenko
3       barsig
4      dzubasz
5        klein
6       winter
7        grewe
Name: Trainer_name, dtype: object
0       barsig
1     gröschel
2        klein
3      potters
4      richter
5        grewe
6     fuhrmann
7     vovcenko
8    fabianova
Name: Trainer_name, dtype: object
0               weißmeier
1                 weidler
2               nienstädt
3             lenaers/bel
4                   mayer
5                 potters
6                    palz
7            schnakenberg
8                    rank
9     schleusner-fruhriep
10                friebel
11                  klein
12               fuhrmann
Name: Trainer_name, dtype: object
0                  bolte
1                dzubasz
2    schleusner-fruhriep
3               gröschel
4              weißmeier
Name: Trainer_name, dtype: object
0       smrczek
1       richter
2      sprengel
3     fabianova
4       rudolph
5      vovcenko
6        kogler
7         recke
8      gröschel
9       rudolph
10    gernreich
Name: Trainer_name, dtype: object
0     vovcenko
1    weißmeier
2         fust
3        lentz
4         gehm
5     sprengel
6     horakova
7        klein
8      rudolph
9    angermann
Name: Trainer_name, dtype: object
0     schleusner-fruhriep
1                   glanz
2               laznovska
3                vovcenko
4                   glanz
5                 potters
6                  hickst
7                   storp
8                fuhrmann
9                   demme
10                  mayer
11                dzubasz
12                 barsig
13                weidler
14                  klein
15               fuhrmann
Name: Trainer_name, dtype: object
0    schnakenberg
1      herlin/swe
2           recke
3        vovcenko
4         schmock
Name: Trainer_name, dtype: object
0     stein-schomburg
1               stech
2            fuhrmann
3            fuhrmann
4               blume
5              bradik
6          nedorostek
7           angermann
8               mayer
9              arnold
10             glodde
Name: Trainer_name, dtype: object
0                  grewe
1                 schütz
2               carvalho
3               fuhrmann
4                paulick
5               timpelan
6                richter
7    schleusner-fruhriep
8                dzubasz
9                megsner
Name: Trainer_name, dtype: object
0             paulick
1            hinzmann
2              hillis
3             dzubasz
4             dzubasz
5           angermann
6             scholze
7              glodde
8     stein-schomburg
9            fuhrmann
10          angermann
11              lentz
Name: Trainer_name, dtype: object
0        grewe
1      paulick
2       korpas
3     gröschel
4     vovcenko
5      scholze
6    fabianova
7       schütz
8       korpas
9        mayer
Name: Trainer_name, dtype: object
0                dzubasz
1              schiergen
2                 korpas
3              fabianova
4               gröschel
5               vovcenko
6               szücs/cz
7           hottewitzsch
8                richter
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0           moser
1       prunk/aut
2       schiergen
3       danekilde
4    hirschberger
5        carvalho
6        vovcenko
7           grewe
Name: Trainer_name, dtype: object
0       korpas
1     vovcenko
2    angermann
3       schütz
4     sprengel
5      paulick
6      dzubasz
7     hinzmann
8     trobisch
Name: Trainer_name, dtype: object
0    schiergen
1       korpas
2      paulick
3    fabianova
4      richter
5      dzubasz
6       schütz
7       arnold
8        mayer
Name: Trainer_name, dtype: object
0           berg
1       fuhrmann
2        steudle
3        hellier
4    lenaers/bel
5       fuhrmann
6        geisler
7          kartz
Name: Trainer_name, dtype: object
0        recke
1      geisler
2       schöps
3       hickst
4      schwinn
5    weißmeier
6        storp
7      geisler
8      schwinn
9        mäder
Name: Trainer_name, dtype: object
0    nedorostek
1       dzubasz
2       smrczek
3        dewald
4     weißmeier
5        barsig
6      gröschel
7     lindemann
Name: Trainer_name, dtype: object
0              schwinn
1              vana/cz
2                 gehm
3                 tuma
4    paraknewitz-kalla
5         schnakenberg
6            weißmeier
7             rotering
Name: Trainer_name, dtype: object
0     weißmeier
1     nienstädt
2      sprengel
3         smith
4         harms
5          palz
6     kaczmarek
7     nienstädt
8         lentz
9       larsson
10        stech
11     fuhrmann

Name: Trainer_name, dtype: object
0            tuma
1           recke
2        rotering
3         vana/cz
4    schnakenberg
5        vovcenko
6       weißmeier
Name: Trainer_name, dtype: object
0     timpelan
1        stech
2      richter
3        smith
4      smrczek
5      rosport
6    laznovska
Name: Trainer_name, dtype: object
0        wöhler
1         grewe
2         demme
3         busch
4        barsig
5    neuberg/cz
6       schwinn
Name: Trainer_name, dtype: object
0        vovcenko
1          barsig
2           blume
3       weißmeier
4         geisler
5         geisler
6       weißmeier
7         werning
8    schnakenberg
Name: Trainer_name, dtype: object
0           korpas
1        laznovska
2          geisler
3         schleppi
4         sprengel
5            storp
6            mäder
7            stech
8            glanz
9      ferentschak
10      nedorostek
11           fuchs
12            rank
13    peterschmitt
14          fievez
15      hermans/nl
Name: Trainer_name, dtype: object
0      fuhrmann
1       weidler
2        barsig
3           ehl
4       geisler
5         lentz
6          bieß
7     kienemann
8     angermann
9         figge
10        klein
11        klein
12        grewe
13    schneider
Name: Trainer_name, dtype: object
0        fuhrmann
1         richter
2     ferentschak
3         smrczek
4        fuhrmann
5       lindemann
6          barsig
7            falk
8         smrczek
9      herresthal
10      angermann
Name: Trainer_name, dtype: object
0     schleusner-fruhriep
1                   demme
2               weißmeier
3                  hickst
4               weißmeier
5                 potters
6                 dzubasz
7               weißmeier
8                   glanz
9                   hofer
10                  bolte
11               sprengel
12                  bolte
13              meulen/nl
14              laznovska
15           peterschmitt
Name: Trainer_name, dtype: object
0      gröschel
1         figge
2         hofer
3         glanz
4      suborics
5       richter
6         grewe
7       geisler
8        hickst
9     weißmeier
10     vovcenko
11      richter
Name: Trainer_name, dtype: object
0       nienstädt
1        rotering
2       nienstädt
3            bach
4           storp
5        fuhrmann
6         friebel
7    schnakenberg
8           hinck
Name: Trainer_name, dtype: object
0           korpas
1          geisler
2        meulen/nl
3        weißmeier
4        nienstädt
5         sprengel
6            lentz
7          potters
8     peterschmitt
9          hellier
10     ferentschak
11      nedorostek
12        hinzmann
13          glodde
14         dzubasz
15        fuhrmann
Name: Trainer_name, dtype: object
0      gröschel
1         recke
2       geisler
3         busch
4     vinklarek
5       schwinn
6    fries-jung
7         rohne
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1           schnakenberg
2              schriever
3           schnakenberg
4           schnakenberg
Name: Trainer_name, dtype: object
0       schütz
1        hinck
2        recke
3        lüker
4        lentz
5        lüker
6    laznovska
7         rank
8    schriever
Name: Trainer_name, dtype: object
0                smrczek
1               vovcenko
2                  grewe
3    schleusner-fruhriep
4                schwinn
5                schwinn
Name: Trainer_name, dtype: object
0       barsig
1      weidler
2      weidler
3      hellier
4      friebel
5     fuhrmann
6     fuhrmann
7    weißmeier
8     fuhrmann
Name: Trainer_name, dtype: object
0        weißmeier
1             schu
2             gehm
3            recke
4         vovcenko
5           glodde
6          schwinn
7            lentz
8            lentz
9     schnakenberg
10          wöhler
11           storp
Name: Trainer_name, dtype: object
0                  demme
1             vorsilkova
2              schriever
3                   klug
4    schleusner-fruhriep
5                  stech
Name: Trainer_name, dtype: object
0        blume
1        hofer
2       barsig
3        grewe
4     vovcenko
5        recke
6         wenz
7      dzubasz
8    schriever
Name: Trainer_name, dtype: object
0        moser
1        mäder
2      geisler
3        recke
4      schwinn
5    lippitsch
6      schwinn
7      schwinn
8        recke
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                  recke
2           schnakenberg
3               vovcenko
4             wroblewski
Name: Trainer_name, dtype: object
0        grewe
1    steinberg
2      richter
3        figge
4        figge
5        figge
6       hillis
7    schiergen
8       wöhler
Name: Trainer_name, dtype: object
0       potters
1       richter
2    almenräder
3        hillis
4     whitfield
5         glanz
6        hillis
7        hillis
Name: Trainer_name, dtype: object
0           hillis
1            figge
2          richter
3            figge
4            figge
5            mayer
6           hillis
7    schwarzenbeck
8            mayer
Name: Trainer_name, dtype: object
0      hickst
1      wöhler
2       glanz
3    carvalho
4    sprengel
5     potters
Name: Trainer_name, dtype: object
0       almenräder
1         gröschel
2           hillis
3            figge
4         carvalho
5          richter
6    hammer-hansen
7           hillis
Name: Trainer_name, dtype: object
0            mayer
1            mayer
2          potters
3          potters
4    hammer-hansen
5            hofer
6        steinberg
7          richter
8    schwarzenbeck
9           martin
Name: Trainer_name, dtype: object
0    bin suroor
1        walker
2        wöhler
3      gröschel
4     schiergen
5     steinberg
6     steinberg
7     weißmeier
8     weißmeier
9          klug
Name: Trainer_name, dtype: object
0         glanz
1        barsig
2         hofer
3       richter
4         mayer
5      sprengel
6         mayer
7    almenräder
8         figge
9        hillis
Name: Trainer_name, dtype: object
0    hammer-hansen
1            grewe
2            mayer
3        steinberg
4            glanz
5        schiergen
6            hofer
Name: Trainer_name, dtype: object
0       berg
1     birner
2     birner
3    smrczek
4       berg
Name: Trainer_name, dtype: object
0    klapschus
1      bollien
2      rudolph
3      kerekes
4         maya
Name: Trainer_name, dtype: object
0        britz
1      schwinn
2      schwinn
3    gernreich
4       schwab
5     gerstner
Name: Trainer_name, dtype: object
0         rudolph
1            weis
2          donate
3         schwinn
4      straßmeier
5    peterschmitt
Name: Trainer_name, dtype: object
0         mäder
1         bolte
2     grünewald
3       giesgen
4         bolte
5         alles
6       geisler
7         storp
8    heimburger
9      suborics
Name: Trainer_name, dtype: object
0          mäder
1          bolte
2           klug
3      schiergen
4      meulen/nl
5        geisler
6          hofer
7         mongil
8    jonkhart/nl
Name: Trainer_name, dtype: object
0      gernreich
1        friebel
2       harst/nl
3          rohne
4     heimburger
5         thomas
6     fries-jung
7      grünewald
8          recke
9      schwinger
10    van eck/nl
11       potters
12       geisler
Name: Trainer_name, dtype: object
0         keller
1          lüker
2    verberkt/nl
3          lüker
4         thomas
5          rohne
6      meulen/nl
7       harst/nl
8       beckmann
9     bajraktari
Name: Trainer_name, dtype: object
0          klug
1          klug
2          klug
3         grewe
4     schiergen
5          klug
6         hofer
7        wöhler
8         hofer
9         hofer
10        rohne
11     vovcenko
12        demme
13       hickst
Name: Trainer_name, dtype: object
0     smrczek
1       bolte
2       hofer
3        klug
4       hofer
5    mintchev
6        klug
7    carvalho
Name: Trainer_name, dtype: object
0    radovic/bel
1          recke
2        reineke
3      schiergen
4           klug
5          storp
6    jonkhart/nl
Name: Trainer_name, dtype: object
0     vovcenko
1    schiergen
2       keller
3       hickst
4      potters
Name: Trainer_name, dtype: object
0        barsig
1      fuhrmann
2     schiergen
3      gröschel
4      fuhrmann
5          vana
6    nedorostek
7          tuma
Name: Trainer_name, dtype: object
0               trobisch
1                  stech
2                  sager
3                  bigus
4                schwinn
5    schleusner-fruhriep
6                geisler
7                  busch
8                geisler
Name: Trainer_name, dtype: object

0     weißmeier
1         stech
2     nienstädt
3     nienstädt
4     nienstädt
5         bothe
6    kriegsheim
7        glodde
8         storp
Name: Trainer_name, dtype: object
0         barsig
1        dzubasz
2     vorsilkova
3        weidler
4        richter
5          bigus
6     vorsilkova
7       fuhrmann
8       fuhrmann
9         glodde
10         storp
Name: Trainer_name, dtype: object
0         storp
1        bradik
2      sprengel
3       dzubasz
4     nienstädt
5         harms
6        barsig
7         lentz
8     angermann
9         lentz
10    weißmeier
11     fuhrmann
12     fuhrmann
13        storp
Name: Trainer_name, dtype: object
0       recke
1    vovcenko
2      glodde
3    vovcenko
4       recke
5    sprengel
6     richter
Name: Trainer_name, dtype: object
0                   grewe
1                   glanz
2                timpelan
3                 dzubasz
4                  barsig
5                   recke
6                fuhrmann
7                   lentz
8     schleusner-fruhriep
9                fuhrmann
10           schnakenberg
11           schnakenberg
Name: Trainer_name, dtype: object
0                 vana
1              schwinn
2    paraknewitz-kalla
3             vovcenko
4                recke
Name: Trainer_name, dtype: object
0        suborics
1          wöhler
2            klug
3    hirschberger
4            klug
5            klug
6           recke
Name: Trainer_name, dtype: object
0          klug
1         bolte
2       smrczek
3        wöhler
4          klug
5       smrczek
6    wolters/nl
7      mintchev
Name: Trainer_name, dtype: object
0     jonkhart/nl
1           smith
2     kleinkorres
3          warren
4         friebel
5         steudle
6      heimburger
7       laznovska
8      bodenhagen
9      bodenhagen
10     volz-degel
11      gernreich
Name: Trainer_name, dtype: object
0        klug
1    carvalho
2        klug
3       grewe
4       grewe
5      wöhler
6        klug
Name: Trainer_name, dtype: object
0          recke
1      schiergen
2     almenräder
3          grewe
4          bolte
5    kleinkorres
6      gernreich
7     bodenhagen
8      laznovska
9    kleinkorres
Name: Trainer_name, dtype: object
0         carvalho
1            grewe
2         suborics
3           wöhler
4     hirschberger
5           wöhler
6     hirschberger
7           wöhler
8            kurdu
9             klug
10    hirschberger
11          wöhler
Name: Trainer_name, dtype: object
0     van kempen/nl
1       jonkhart/nl
2             hofer
3           giesgen
4          suborics
5           kästner
6           smrczek
7            hickst
8        peeters/nl
9         weißmeier
10        laznovska
Name: Trainer_name, dtype: object
0         bolte
1          klug
2        hickst
3         bolte
4    wolters/nl
5     schiergen
6       smrczek
Name: Trainer_name, dtype: object
0         hickst
1           klug
2    kleinkorres
3      schiergen
4        smrczek
5        smrczek
6           klug
Name: Trainer_name, dtype: object
0         klug
1       wöhler
2     suborics
3    schiergen
4     suborics
Name: Trainer_name, dtype: object
0    schiergen
1        moser
2     carvalho
3    schiergen
4         klug
5     vovcenko
Name: Trainer_name, dtype: object
0          demme
1       vovcenko
2       haustein
3       gröschel
4       hinzmann
5     nedorostek
6       suborics
7       sprengel
8       sprengel
9          klein
10       richter
11    fries-jung
12         moser
Name: Trainer_name, dtype: object
0          bolte
1     neureuther
2         hickst
3        smrczek
4       gröschel
5         hickst
6         korpas
7      grünewald
8          bolte
9      schwinger
10        bradik
Name: Trainer_name, dtype: object
0       wöhler
1    meulen/nl
2        moser
3    steinberg
4      richter
5        demme
6        klein
Name: Trainer_name, dtype: object
0           lentz
1        hinzmann
2       nienstädt
3        stefutti
4            weis
5       grünewald
6        sprengel
7         dzubasz
8     kleinkorres
9      nedorostek
10          klein
11      kaczmarek
12       sprengel
13        potters
14           rank
Name: Trainer_name, dtype: object
0       mongil
1        moser
2      smrczek
3       wöhler
4       barsig
5       hickst
6      potters
7    meulen/nl
8     carvalho
Name: Trainer_name, dtype: object
0         bolte
1         grewe
2         moser
3       dzubasz
4       potters
5          fust
6    nedorostek
7         klein
Name: Trainer_name, dtype: object
0    hirschberger
1    hirschberger
2        gröschel
3          korpas
4        sybrecht
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2         klug
3       wöhler
4     suborics
5       barsig
Name: Trainer_name, dtype: object
0       potters
1       richter
2      fuhrmann
3       richter
4          pohl
5      fuhrmann
6     lippitsch
7        korpas
8      zahariev
9        glodde
10        grewe
Name: Trainer_name, dtype: object
0            stech
1           glodde
2          scholze
3          potters
4          paulick
5         fuhrmann
6          paulick
7            mayer
8          dzubasz
9     hottewitzsch
10       angermann
11          glodde
Name: Trainer_name, dtype: object
0          klug
1      carvalho
2       richter
3        schütz
4       megsner
5     schiergen
6      gröschel
7         stech
8      trobisch
9        korpas
10     trobisch
11      dzubasz
12     trobisch
13      richter
Name: Trainer_name, dtype: object
0        dzubasz
1          stech
2         schöps
3          lüker
4     kriegsheim
5          lüker
6          storp
7          storp
8       fuhrmann
9          storp
10      fuhrmann
Name: Trainer_name, dtype: object
0                richter
1    schleusner-fruhriep
2                smrczek
3                 hickst
4                   klug
5                dzubasz
6                  bolte
7               zschache
8             almenräder
9                   vana
Name: Trainer_name, dtype: object
0       dzubasz
1        schütz
2        korpas
3         stech
4     ribarszki
5       paulick
6      vovcenko
7       scholze
8       siegert
9        glodde
10    angermann
11        storp
12      potters
13     fuhrmann
Name: Trainer_name, dtype: object
0             pantall/fr
1                  grewe
2                   klug
3               carvalho
4              fabianova
5    schleusner-fruhriep
6               sprengel
7              schiergen
8               carvalho
9                  grewe
Name: Trainer_name, dtype: object
0         bolte
1      gröschel
2       richter
3    almenräder
4       dzubasz
5      zahariev
6      carvalho
7       paulick
8        hickst
Name: Trainer_name, dtype: object
0         klug
1         klug
2       hickst
3        hofer
4    schiergen
Name: Trainer_name, dtype: object
0                   mäder
1                   harms
2               meulen/nl
3                   klein
4                 geisler
5                    weis
6                   lüker
7                   busch
8                   smith
9                   smith
10             wolters/nl
11    berrevoets-uivel/nl
Name: Trainer_name, dtype: object
0              schiergen
1                smrczek
2                  lüker
3                  smith
4                   schu
5                geisler
6                  demme
7    berrevoets-uivel/nl
Name: Trainer_name, dtype: object
0        klug
1    vovcenko
2       hofer
3      kreger
Name: Trainer_name, dtype: object
0     wolters/nl
1           bieß
2          lentz
3     wolters/nl
4      meulen/nl
5           weis
6        geisler
7       van toor
8         mulder
9           schu
10         klein
11        mulder
Name: Trainer_name, dtype: object
0      meulen/nl
1    lenaers/bel
2        smrczek
3    ferentschak
4          lentz
5          hofer
6         göritz
Name: Trainer_name, dtype: object
0                 wöhler
1                  stech
2               trobisch
3               vovcenko
4                dzubasz
5               fuhrmann
6    schleusner-fruhriep
7    schleusner-fruhriep
8                dzubasz
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                dzubasz
2            kleinkorres
3                  moser
4               zschache
5                richter
6               gröschel

Name: Trainer_name, dtype: object
0        moser
1     vovcenko
2        devin
3    schiergen
4     carvalho
5        mayer
6      dzubasz
7        mäder
Name: Trainer_name, dtype: object
0                 paulick
1                 richter
2                gröschel
3                  korpas
4                  engels
5               fabianova
6                fuhrmann
7                  schütz
8                 megsner
9     schleusner-fruhriep
10                dzubasz
11              lippitsch
12                 barsig
13               vovcenko
14               fuhrmann
Name: Trainer_name, dtype: object
0      angermann
1         korpas
2     swiatek/pl
3       gröschel
4       vovcenko
5        richter
6      fabianova
7        dzubasz
8         barsig
9      fabianova
10       richter
Name: Trainer_name, dtype: object
0       schiergen
1           moser
2          wöhler
3          wöhler
4     kleinkorres
5         richter
6        gröschel
7            klug
8      pantall/fr
9        gröschel
10     kubovicova
11          mäder
Name: Trainer_name, dtype: object
0    bin suroor
1     schiergen
2        wöhler
3          klug
4         grewe
5          klug
6     weißmeier
Name: Trainer_name, dtype: object
0       korpas
1    angermann
2     vovcenko
3      dzubasz
4       korpas
5       engels
6     timpelan
7     fuhrmann
8       arnold
Name: Trainer_name, dtype: object
0    peterschmitt
1          birner
2           wedig
3       weißmeier
4            wenz
5        schleppi
6      bajraktari
Name: Trainer_name, dtype: object
0      geisler
1      schwinn
2    weißmeier
3         palz
4      schwinn
5         bach
6        gratz
7      rudolph
8       keller
9      schwinn
Name: Trainer_name, dtype: object
0          rosport
1            recke
2           keller
3     peterschmitt
4          rudolph
5          rudolph
6          schmeer
7            demme
8        klapschus
9            gratz
10          wöhler
11       weißmeier
Name: Trainer_name, dtype: object
0        demme
1        glanz
2         berg
3       birner
4       hickst
5    weißmeier
6      rudolph
7     sprengel
Name: Trainer_name, dtype: object
0     schleppi
1       keller
2         falk
3      hellier
4    schneider
5       schwab
6     schleppi
7          ehl
8     gerstner
9      schwinn
Name: Trainer_name, dtype: object
0       schwinn
1       schwinn
2       hellier
3      schleppi
4       rudolph
5       schwinn
6         gries
7          bach
8    straßmeier
9        donate
Name: Trainer_name, dtype: object
0        hickst
1          klug
2    wolters/nl
3          klug
4     weißmeier
5      suborics
6     schiergen
Name: Trainer_name, dtype: object
0    hirschberger
1       weißmeier
2           rohne
3       schiergen
4           mäder
5     kleinkorres
6           blume
Name: Trainer_name, dtype: object
0                 mäder
1                 lüker
2            fries-jung
3                 lentz
4                 storp
5                thomas
6             weißmeier
7                 hinck
8             gernreich
9               friebel
10    paraknewitz-kalla
Name: Trainer_name, dtype: object
0           smith
1       gernreich
2     lenaers/bel
3         hellier
4      peeters/nl
5      heimburger
6           rohne
7           lüker
8          kelkel
9      bodenhagen
10       stefutti
11       beckmann
Name: Trainer_name, dtype: object
0     nedorostek
1      gernreich
2           berg
3    lenaers/bel
4     bodenhagen
5        hellier
6        steudle
7       beckmann
8        werning
9    jonkhart/nl
Name: Trainer_name, dtype: object
0    kleinkorres
1          bolte
2      schiergen
3      meulen/nl
4     almenräder
5         dewald
6           klug
7          smith
Name: Trainer_name, dtype: object
0          glanz
1      meulen/nl
2          fuchs
3     almenräder
4     wolters/nl
5       suborics
6         dewald
7     wolters/nl
8      meulen/nl
9        smrczek
10      sprengel
11     meulen/nl
Name: Trainer_name, dtype: object
0                 klug
1            weißmeier
2           heimburger
3                storp
4            weißmeier
5           bodenhagen
6    paraknewitz-kalla
Name: Trainer_name, dtype: object
0         klug
1        recke
2    schiergen
3         klug
4        recke
Name: Trainer_name, dtype: object
0         smrczek
1            klug
2        suborics
3    hirschberger
4           hofer
5    hirschberger
6         smrczek
7           klein
Name: Trainer_name, dtype: object
0         wöhler
1          mäder
2          klein
3          storp
4      schiergen
5        friebel
6       suborics
7      gernreich
8     wolters/nl
9         schütz
10         storp
11     weißmeier
Name: Trainer_name, dtype: object
0           grewe
1            klug
2          hillis
3           rohne
4    hirschberger
5       laznovska
6       schiergen
7          fievez
8           hofer
9      wolters/nl
Name: Trainer_name, dtype: object
0           grewe
1           grewe
2       schiergen
3    hirschberger
4            tuma
5       schiergen
Name: Trainer_name, dtype: object
0           bolte
1          hillis
2            fust
3         smrczek
4      nedorostek
5           klein
6           storp
7    schnakenberg
8           storp
Name: Trainer_name, dtype: object
0       mongil
1      dzubasz
2        grewe
3    schiergen
4        mäder
5    schiergen
6        bolte
7     kelleway
8      smrczek
9        moser
Name: Trainer_name, dtype: object
0           fuchs
1         dzubasz
2        stefutti
3     jonkhart/nl
4       meulen/nl
5         smrczek
6         kästner
7           klein
8       laznovska
9         smrczek
10          klein
Name: Trainer_name, dtype: object
0    nedorostek
1          klug
2          tuma
3     meulen/nl
4     meulen/nl
Name: Trainer_name, dtype: object
0    nedorostek
1       potters
2      vovcenko
3         moser
4       reineke
5       richter
6        schütz
Name: Trainer_name, dtype: object
0          klug
1          klug
2       richter
3       dzubasz
4     schiergen
5         stech
6      gröschel
7      zschache
8    nedorostek
Name: Trainer_name, dtype: object
0     gröschel
1     gröschel
2    fabianova
3     vovcenko
4        moser
5      dzubasz
6      smrczek
Name: Trainer_name, dtype: object
0              schiergen
1             pantall/fr
2    schleusner-fruhriep
3                  grewe
4    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                   bolte
1                 smrczek
2                 richter
3                 reineke
4     schleusner-fruhriep
5                  wöhler
6                   stech
7                  hickst
8     schleusner-fruhriep
9                sprengel
10                  demme
11                kästner
Name: Trainer_name, dtype: object
0      vovcenko
1      sprengel
2         demme
3         bolte
4      gröschel
5       richter
6      sybrecht
7        glodde
8      vovcenko
9     kienemann
10    fabianova
11       hickst
Name: Trainer_name, dtype: object
0           bolte
1        gröschel
2          schütz
3         potters
4       schiergen
5         dzubasz
6           bolte
7           demme
8           figge
9         smrczek
10         wöhler
11          grewe
12    kleinkorres
13       vovcenko
Name: Trainer_name, dtype: object
0     kleinkorres
1       nienstädt
2          glodde
3           lentz
4            rank
5          warren
6       kienemann
7          schütz
8        meinecke
9         richter
10        potters
11          busch
Name: Trainer_name, dtype: object
0       gröschel
1        potters
2        richter
3       sprengel
4        richter
5          bolte
6    kleinkorres
7       vovcenko
8       sybrecht
Name: Trainer_name, dtype: object
0           rank
1      nienstädt
2         glodde
3      kaczmarek
4          stech
5       sprengel
6          stech
7          harms
8      nienstädt
9     nedorostek
10         lentz
Name: Trainer_name, dtype: object
0    hirschberger
1           stech
2           glanz
3        carvalho
4       whitfield
5        rotering
6        trobisch
7     kleinkorres
Name: Trainer_name, dtype: object
0      barsig
1       recke
2     rudolph
3      birner
4       figge
5       blume
6    vovcenko
7     rosport
8       wedig
9        fust
Name: Trainer_name, dtype: object
0             bolte
1     hammer-hansen
2              klug
3           smrczek
4             hofer
5              klug
6            hickst
7             grewe
8          suborics
9          fuhrmann
10           wöhler
Name: Trainer_name, dtype: object
0             klein
1             weber
2           geisler
3          trobisch
4            schütz
5         gernreich
6             klein
7     hammer-hansen
8               ehl
9             alles
10            rulec
11           wagner
12           birner
Name: Trainer_name, dtype: object
0             klug
1         suborics
2           hickst
3         gröschel
4            moser
5     hirschberger
6            hofer
7          schwinn
8            bolte
9            rulec
10         schwinn
Name: Trainer_name, dtype: object
0    steinberg
1       wöhler
2     gröschel
3        hofer
4         klug
5        mäder
6     carvalho
7       wöhler
Name: Trainer_name, dtype: object
0            hellier
1    stein-schomburg
2            schwinn
3              lentz
4         straßmeier
5           fuhrmann
6           fuhrmann
7             müller
8           fuhrmann
9           beckmann
Name: Trainer_name, dtype: object
0        gröschel
1        suborics
2    hirschberger
3         potters
4          hickst
5          kreger
6       schiergen
7         dzubasz
Name: Trainer_name, dtype: object
0     hammer-hansen
1             bolte
2             glanz
3             recke
4            hickst
5         schiergen
6            barsig
7           dzubasz
8            korpas
9             bolte
10            rulec
11         gröschel
12           keller
13         trobisch
Name: Trainer_name, dtype: object
0    volz-degel
1       schwinn
2      schleppi
3       schwinn
4         recke
5    bajraktari
6        kelkel
Name: Trainer_name, dtype: object
0       gries
1     geisler
2     schwinn
3      schwab
4    reischig
5        bach
6       britz
Name: Trainer_name, dtype: object
0       maurer
1         palz
2    weißmeier
3    klapschus
4      schwinn
5     schleppi
Name: Trainer_name, dtype: object
0    geisler
1    schwinn
2    schwinn
3    schwinn
4       bach
Name: Trainer_name, dtype: object
0     schleppi
1      geisler
2      schwinn
3    schneider
4          ehl
Name: Trainer_name, dtype: object
0     steinberg
1      carvalho
2    almenräder
3      gröschel
4     schiergen
Name: Trainer_name, dtype: object
0          gröschel
1          zschache
2            hickst
3         schiergen
4             bolte
5             bolte
6         weißmeier
7         whitfield
8        wolters/nl
9     hammer-hansen
10       almenräder
Name: Trainer_name, dtype: object
0              klug
1         schiergen
2             grewe
3             figge
4           richter
5             grewe
6     hammer-hansen
7             recke
8           smrczek
9             hofer
10            grewe
Name: Trainer_name, dtype: object
0         schiergen
1             bolte
2           potters
3         whitfield
4           rudolph
5           smrczek
6       kleinkorres
7           rudolph
8             recke
9             stech
10    hammer-hansen
11         vovcenko
Name: Trainer_name, dtype: object
0    whitfield
1      fechner
2       hillis
3        klein
4       schütz
5      geisler
6      rudolph
7     vovcenko
8        recke
Name: Trainer_name, dtype: object

0      richter
1       mongil
2        grewe
3        glanz
4    weißmeier
5     meinecke
6      bocskai
7        recke
Name: Trainer_name, dtype: object
0            botti/gb
1           prunk/aut
2     delcher-sanchez
3                klug
4               moser
5            vovcenko
6           schiergen
7          almenräder
8           schiergen
9               moser
10       hirschberger
11              hofer
Name: Trainer_name, dtype: object
0        bolte
1     sprengel
2        recke
3       hickst
4    weißmeier
5      geisler
6       korpas
7        klein
8       hillis
Name: Trainer_name, dtype: object
0           stech
1          engels
2         potters
3      wolters/nl
4           klein
5           hofer
6        fuhrmann
7           storp
8        fuhrmann
9       laznovska
10    verberkt/nl
11          mayer
Name: Trainer_name, dtype: object
0        kleinkorres
1             hickst
2            bocskai
3              bolte
4         neureuther
5               klug
6          grünewald
7           gröschel
8    stein-schomburg
Name: Trainer_name, dtype: object
0    hammer-hansen
1       wolters/nl
2           hickst
3        meulen/nl
4         suborics
5        angermann
6            demme
Name: Trainer_name, dtype: object
0    stein-schomburg
1              stech
2             kujath
3             leiner
4            rudolph
5              klein
6       peterschmitt
7              alles
8         heimburger
9               weis
Name: Trainer_name, dtype: object
0       angermann
1       schiergen
2        gröschel
3        sprengel
4          engels
5        vovcenko
6           bolte
7     maronka/hun
8          barsig
9            klug
10          demme
11          glanz
12         wagner
Name: Trainer_name, dtype: object
0        hickst
1         bolte
2      carvalho
3     bucher/ch
4         moser
5     schiergen
6        soudan
7      candy/gb
8     schiergen
9         grewe
10      geisler
Name: Trainer_name, dtype: object
0          stech
1         keller
2        hellier
3           maya
4     heimburger
5      angermann
6       sprengel
7          bolte
8          storp
9       schleppi
10       smrczek
11          weis
12        thomas
13      fuhrmann
14      vovcenko
15        leiner
Name: Trainer_name, dtype: object
0    lenaers/bel
1     wolters/nl
2         hillis
3          blume
4      meulen/nl
5          hofer
6          klein
Name: Trainer_name, dtype: object
0         geisler
1           mäder
2    peterschmitt
3           glanz
4       grünewald
5           storp
6       weißmeier
7           figge
8        fuhrmann
9        rotering
Name: Trainer_name, dtype: object
0      wöhler
1     geisler
2    vovcenko
3     geisler
4    vovcenko
5     richter
6     geisler
Name: Trainer_name, dtype: object
0         rohne
1    heimburger
2         glanz
3      haustein
4       hellier
5         mayer
6        kelkel
7         rulec
Name: Trainer_name, dtype: object
0     smrczek
1    zschache
2      wöhler
3    haustein
4       rulec
5       rulec
6      wöhler
Name: Trainer_name, dtype: object
0          lüker
1       fuhrmann
2       beckmann
3        weidler
4        steudle
5         keller
6          lüker
7        friebel
8       fuhrmann
9        hellier
10         mayer
11        keller
12       weidler
13    richert/fr
14      rotering
15        birner
Name: Trainer_name, dtype: object
0     carvalho
1         klug
2      smrczek
3    decouz/fr
4       wöhler
5     carvalho
Name: Trainer_name, dtype: object
0          carvalho
1            hickst
2              klug
3      hirschberger
4     hammer-hansen
5             hofer
6         weißmeier
7        almenräder
8             grewe
9             blume
10        schiergen
Name: Trainer_name, dtype: object
0         smrczek
1          hickst
2           glanz
3    hirschberger
4      wolters/nl
5           hofer
6          wöhler
7          martin
8           moser
Name: Trainer_name, dtype: object
0           falk
1          figge
2       lanslots
3     nedorostek
4       beckmann
5       fuhrmann
6          weber
7       fuhrmann
8    lenaers/bel
Name: Trainer_name, dtype: object
0      bocskai
1     mintchev
2         klug
3       wöhler
4      smrczek
5    schiergen
6    steinberg
Name: Trainer_name, dtype: object
0    schiergen
1      bocskai
2        weber
3     fuhrmann
4     fuhrmann
5      bocskai
6     suborics
Name: Trainer_name, dtype: object
0       bocskai
1       schärer
2    almenräder
3      carvalho
4         grewe
5          klug
6         grewe
7     collet/fr
8       dzubasz
Name: Trainer_name, dtype: object
0         lanslots
1      jonkhart/nl
2          schmeer
3            grewe
4         schleppi
5          geisler
6        laznovska
7         fuhrmann
8            mäder
9     peterschmitt
10           figge
11         giesgen
Name: Trainer_name, dtype: object
0          richter
1          potters
2    van kempen/nl
3          schwinn
4       wolters/nl
5         fuhrmann
6             pohl
7        laznovska
8         vovcenko
9          geisler
Name: Trainer_name, dtype: object
0              grewe
1        morrison/gb
2           johnston
3     suter-weber/ch
4               klug
5              grewe
6             wöhler
7           suborics
8               klug
9       hirschberger
10      hirschberger
Name: Trainer_name, dtype: object
0           bolte
1          mongil
2        gröschel
3           demme
4       schiergen
5         schärer
6           moser
7    peterschmitt
Name: Trainer_name, dtype: object
0         glanz
1       richter
2         grewe
3      fuhrmann
4         hofer
5    almenräder
6         moser
Name: Trainer_name, dtype: object
0     hammer-hansen
1             fuchs
2           potters
3             weber
4          gröschel
5        wolters/nl
6          fuhrmann
7            birner
8          fuhrmann
9       jonkhart/nl
10             bieß
11          weidler
12              ehl
13          schwinn
14          fechner
15        weißmeier
16          geisler
17          potters
Name: Trainer_name, dtype: object
0        vovcenko
1           rohne
2           klein
3    schnakenberg
4    schnakenberg
5    schnakenberg
Name: Trainer_name, dtype: object
0        vovcenko
1       gernreich
2           harms
3       weißmeier
4           storp
5           recke
6    schnakenberg
7       schriever
8           sager
9          bradik
Name: Trainer_name, dtype: object
0             vovcenko
1                recke
2         schnakenberg
3              schwinn
4                recke
5            weißmeier
6                taber
7    paraknewitz-kalla
Name: Trainer_name, dtype: object
0        beckmann
1           recke
2      brüggemann
3         schwinn
4    schnakenberg
5      bodenhagen
6    schnakenberg
Name: Trainer_name, dtype: object
0             wolters/nl
1              meulen/nl
2             brüggemann
3                   weis
4                  rohne
5                  recke
6    schleusner-fruhriep
7                  storp
8              schriever
9                  hinck
Name: Trainer_name, dtype: object
0                   weis
1                  lüker
2              meulen/nl
3                 bradik
4               vovcenko
5    schleusner-fruhriep
6                werning
Name: Trainer_name, dtype: object
0                  recke
1                bollien
2                schwinn
3               vovcenko
4             bodenhagen
5    schleusner-fruhriep
6             kriegsheim
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                  recke
2                schwinn
3                  recke
4           schnakenberg
5               vovcenko
6                  taber
Name: Trainer_name, dtype: object
0         klug
1       barsig
2      richter
3    schiergen
4         pohl
5       barsig
Name: Trainer_name, dtype: object
0        franke
1        barsig
2        glodde
3        müller
4    straßmeier
5        franke
Name: Trainer_name, dtype: object
0        richter
1         wöhler
2         barsig
3      schiergen
4        richter
5           klug
6        dzubasz
7        megsner
8        richter
9        paulick
10    vorsilkova
Name: Trainer_name, dtype: object
0      paulick
1    fabianova
2        stech
3         klug
4       korpas
5    lippitsch
Name: Trainer_name, dtype: object
0         barsig
1        scholze
2        richter
3     neuberg/cz
4        dzubasz
5          klein
6        megsner
7      lippitsch
8         korpas
9      angermann
10          pohl
Name: Trainer_name, dtype: object
0         stech
1        barsig
2       paulick
3       paulick
4       richter
5     fabianova
6         klein
7        korpas
8       dzubasz
9        glodde
10      richter
11       glodde
Name: Trainer_name, dtype: object
0      angermann
1          klein
2          stech
3        scholze
4     vorsilkova
5          busch
6          busch
7         glodde
8         glodde
9     hlavaty/cz
10       dzubasz
Name: Trainer_name, dtype: object
0       trobisch
1        dzubasz
2         barsig
3         korpas
4         glodde
5         glodde
6     neuberg/cz
7      angermann
8          bothe
9      angermann
10    straßmeier
11       siegert
Name: Trainer_name, dtype: object
0           korpas
1         suborics
2          potters
3            grewe
4             klug
5    van kempen/nl
Name: Trainer_name, dtype: object
0        schiergen
1            grewe
2             klug
3         suborics
4            figge
5    hammer-hansen
6    hammer-hansen
7         gröschel
8         suborics
Name: Trainer_name, dtype: object
0          hickst
1        suborics
2      almenräder
3       steinberg
4        suborics
5         schärer
6    hirschberger
Name: Trainer_name, dtype: object
0       steinberg
1        johnston
2            klug
3            klug
4        suborics
5            klug
6        johnston
7    hirschberger
Name: Trainer_name, dtype: object
0           richter
1          carvalho
2           bocskai
3           rudolph
4     hammer-hansen
5          carvalho
6             bolte
7             glanz
8          suborics
9          fuhrmann
10    hammer-hansen
11       almenräder
12           hickst
Name: Trainer_name, dtype: object
0           glanz
1            klug
2           bolte
3       schiergen
4    hirschberger
5            renz
6         smrczek
7         geisler
Name: Trainer_name, dtype: object
0    bin suroor
1        varian
2      gröschel
3          klug
4     steinberg
5          klug
6         grewe
7     weißmeier
Name: Trainer_name, dtype: object
0        bocskai
1      bucher/ch
2       gröschel
3         wöhler
4         wöhler
5     pantall/fr
6           klug
7      steinberg
8          rulec
9      schiergen
10         moser
11          klug
Name: Trainer_name, dtype: object
0             potters
1            fuhrmann
2          nedorostek
3            fuhrmann
4            fuhrmann
5           friesdorf
6             fechner
7             hellier
8           whitfield
9     stein-schomburg
10             kreger
11              blume
Name: Trainer_name, dtype: object
0       wöhler
1         klug
2    schiergen
3     carvalho
4         klug
5        recke
Name: Trainer_name, dtype: object
0         klug
1       warren
2    schiergen
3      smrczek
4        smith
5    nienstädt
6    meulen/nl
Name: Trainer_name, dtype: object
0         klug
1        mäder
2      smrczek
3     suborics
4    schiergen
5    schiergen
6    schiergen
7    laznovska
Name: Trainer_name, dtype: object
0               meulen/nl
1               gernreich
2               weißmeier
3                   lentz
4               nienstädt
5                    rank
6                  thomas
7                harst/nl
8                   lüker
9              bodenhagen
10              laznovska
11             troost/bel
12                   weis
13             bodenhagen
14    berrevoets-uivel/nl
15              nienstädt
Name: Trainer_name, dtype: object
0          warren
1     lenaers/bel
2            berg
3         potters
4       weißmeier
5     ferentschak
6          bradik
7         steudle
8         giesgen
9           klein
10    jonkhart/nl
11     bodenhagen
12       lanslots
13         kreger
14     peeters/nl
15           rank
Name: Trainer_name, dtype: object
0          fust
1         lüker
2         lentz
3       hellier
4     schiergen
5       schwinn
6         smith
7     weißmeier
8    fries-jung
9         storp

Name: Trainer_name, dtype: object
0    ferentschak
1    lenaers/bel
2          fuchs
3          lentz
4           oost
5          lentz
6         kreger
Name: Trainer_name, dtype: object
0    hinzmann
1    gröschel
2     reineke
3    fuhrmann
4       blume
Name: Trainer_name, dtype: object
0          wöhler
1    hottewitzsch
2        timpelan
3        gröschel
4        szücs/cz
5          glodde
6          barsig
7        fuhrmann
Name: Trainer_name, dtype: object
0      fuhrmann
1       richter
2       dzubasz
3         lentz
4        glodde
5     kienemann
6      fuhrmann
7     angermann
8          pohl
9         storp
10    angermann
Name: Trainer_name, dtype: object
0        stech
1        bolte
2        rohne
3       barsig
4     fuhrmann
5         weis
6     fuhrmann
7       glodde
8    kaczmarek
9        lentz
Name: Trainer_name, dtype: object
0     timpelan
1     vovcenko
2       korpas
3        bolte
4      dzubasz
5        storp
6      richter
7    angermann
8      richter
Name: Trainer_name, dtype: object
0      sprengel
1         hinck
2      beckmann
3        schöps
4         storp
5      fuhrmann
6         lentz
7         storp
8    kriegsheim
Name: Trainer_name, dtype: object
0        korpas
1         rohne
2       dzubasz
3      gröschel
4      sprengel
5      hinzmann
6        glodde
7          weis
8    fries-jung
9      vovcenko
Name: Trainer_name, dtype: object
0     schwinn
1    schleppi
2     schwinn
3         ehl
4       britz
Name: Trainer_name, dtype: object
0     schwab
1       weis
2    schwinn
3     schwab
4      wedig
5      britz
6    lehmann
Name: Trainer_name, dtype: object
0        schleppi
1         rudolph
2    peterschmitt
3          maurer
4         rosport
5         lehmann
6         schwinn
Name: Trainer_name, dtype: object
0         weis
1         palz
2      rudolph
3      rudolph
4      schwinn
5    klapschus
Name: Trainer_name, dtype: object
0    schiergen
1        mayer
2        mayer
3      geisler
4    mühlbauer
5       hillis
Name: Trainer_name, dtype: object
0         wöhler
1         hickst
2         hillis
3       suborics
4          figge
5        dzubasz
6      schiergen
7          figge
8    maronka/hun
9         hillis
Name: Trainer_name, dtype: object
0           hillis
1          geisler
2        mühlbauer
3           hillis
4          geisler
5    schwarzenbeck
6           hillis
7          kerekes
8            mayer
9          kerekes
Name: Trainer_name, dtype: object
0      richter
1       hickst
2       hillis
3       wöhler
4    steinberg
5        glanz
6       hillis
7       hillis
8       hillis
9       hillis
Name: Trainer_name, dtype: object
0    suborics
1      barsig
2       glanz
3       figge
4       glanz
5      hillis
6     dzubasz
Name: Trainer_name, dtype: object
0           mayer
1          hillis
2         richter
3          barsig
4         dzubasz
5         geisler
6           mayer
7           grewe
8    wullschleger
Name: Trainer_name, dtype: object
0       schiergen
1           mayer
2          barsig
3         richter
4    wullschleger
5           glanz
6         dzubasz
7          wöhler
8         dzubasz
Name: Trainer_name, dtype: object
0           kerekes
1             figge
2             figge
3            hillis
4            hillis
5     schwarzenbeck
6             mayer
7        straßmeier
8            keller
9             mayer
10            grewe
Name: Trainer_name, dtype: object
0    schiergen
1        grewe
2    schiergen
3        kurdu
4    weißmeier
Name: Trainer_name, dtype: object
0    wolters/nl
1      gröschel
2    nedorostek
3    wolters/nl
4         grewe
5         storp
6     meulen/nl
7     gernreich
8       potters
9       smrczek
Name: Trainer_name, dtype: object
0     gröschel
1      smrczek
2       schütz
3      smrczek
4        rohne
5    schiergen
Name: Trainer_name, dtype: object
0         dunk/nl
1           smith
2     jonkhart/nl
3       meulen/nl
4     kleinkorres
5          schütz
6       friesdorf
7     verberkt/nl
8           gratz
9            schu
10       stefutti
11    jonkhart/nl
Name: Trainer_name, dtype: object
0    kleinkorres
1       sprengel
2         hickst
3          hofer
4      schiergen
5          grewe
6        potters
7         schütz
Name: Trainer_name, dtype: object
0         grewe
1          klug
2         recke
3     schiergen
4        hickst
5          klug
6         hofer
7        hickst
8       smrczek
9          klug
10      smrczek
11       wöhler
Name: Trainer_name, dtype: object
0    kleinkorres
1         hickst
2        friebel
3      gernreich
4        smrczek
5          mäder
6          kurdu
7        smrczek
8          gratz
9          smith
Name: Trainer_name, dtype: object
0     wigham/gb
1          klug
2      vovcenko
3        wöhler
4         mäder
5      graffard
6         grewe
7    almenräder
8        wöhler
9       dzubasz
Name: Trainer_name, dtype: object
0          bolte
1       sprengel
2    kleinkorres
3         schütz
4          recke
5          blume
6           schu
7         kujath
8       kocanova
Name: Trainer_name, dtype: object
0       barsig
1        stech
2     trobisch
3      dzubasz
4      dzubasz
5    angermann
6     vovcenko
7       glodde
8         türk
9      paulick
Name: Trainer_name, dtype: object
0    dzubasz
1      grewe
2       klug
3     barsig
4      grewe
Name: Trainer_name, dtype: object
0     timpelan
1       barsig
2       engels
3    angermann
4       glodde
5     zahorova
6    lippitsch
Name: Trainer_name, dtype: object
0        dzubasz
1      angermann
2         glodde
3     nedorostek
4           türk
5        geisler
6      angermann
7       vovcenko
8       horakova
9      angermann
10      zahorova
11       paulick
Name: Trainer_name, dtype: object
0      scholze
1        stech
2     fuhrmann
3        klein
4     fuhrmann
5      paulick
6       barsig
7       glodde
8    lippitsch
Name: Trainer_name, dtype: object
0      trobisch
1       paulick
2        glodde
3       paulick
4         stech
5       geisler
6         klein
7          pohl
8     angermann
9        barsig
10       glodde
Name: Trainer_name, dtype: object
0    neureuther
1      fuhrmann
2       geisler
3     angermann
4       richter
5       geisler
Name: Trainer_name, dtype: object
0          wöhler
1    hirschberger
2            klug
3          hickst
Name: Trainer_name, dtype: object
0    hirschberger
1      wolters/nl
2       schiergen
3      almenräder
4        gröschel
5        carvalho
6            klug
Name: Trainer_name, dtype: object
0           lenaers/bel
1              lanslots
2               giesgen
3                 lentz
4                müller
5                 kartz
6               potters
7               hellier
8                kelkel
9     sofsky-prappacher
10              hellier
11                 falk
12               kreger
Name: Trainer_name, dtype: object
0         friebel
1           blume
2     kleinkorres
3     jonkhart/nl
4       meulen/nl
5           smith
6      brüggemann
7       weißmeier
8          mongil
9         hellier
10        geisler
11          smith
12         hobitz
Name: Trainer_name, dtype: object
0    hirschberger
1            klug
2      almenräder
3         potters
4           fuchs
5         geisler
Name: Trainer_name, dtype: object
0    almenräder
1          klug
2         smith
3         bolte
4     schiergen
5         hofer
6        hickst
7      vovcenko
8     weißmeier
9        schütz
Name: Trainer_name, dtype: object
0         gröschel
1            bolte
2            glanz
3       wolters/nl
4      kleinkorres
5     hirschberger
6            fuchs
7    hammer-hansen
8        meulen/nl
9         suborics
Name: Trainer_name, dtype: object
0          wöhler
1            klug
2      almenräder
3           krapp
4        stefutti
5          müller
6       weißmeier
7    hirschberger
8       weißmeier
Name: Trainer_name, dtype: object
0     fabianova
1      haustein
2      timpelan
3    nedorostek
Name: Trainer_name, dtype: object
0         klug
1       hickst
2         klug
3     carvalho
4      dzubasz
5        stech
6       wöhler
7    schiergen
Name: Trainer_name, dtype: object
0       weißmeier
1       fabianova
2           stech
3         dzubasz
4         paulick
5       kienemann
6        meinecke
7        gröschel
8        vovcenko
9     kleinkorres
10       sybrecht
11       sprengel
Name: Trainer_name, dtype: object
0            klug
1           moser
2           grewe
3        carvalho
4          wöhler
5       schiergen
6    hirschberger
7        vovcenko
Name: Trainer_name, dtype: object
0                  wöhler
1                   demme
2            hirschberger
3                   grewe
4                   grewe
5               schiergen
6                 dzubasz
7                    klug
8                  hickst
9                 megsner
10    schleusner-fruhriep
11                smrczek
12               fuhrmann
13                 hickst
Name: Trainer_name, dtype: object
0                paulick
1                 hickst
2                dzubasz
3                   klug
4                  bolte
5                reineke
6                  stech
7               sprengel
8    schleusner-fruhriep
9               gröschel
Name: Trainer_name, dtype: object
0       pantall/fr
1        schiergen
2         mintchev
3     hirschberger
4         gröschel
5          richter
6         carvalho
7         haustein
8        schiergen
9           wöhler
10           moser
11           mayer
Name: Trainer_name, dtype: object
0       stech
1      wöhler
2       bolte
3       stech
4    gröschel
5    gröschel
6       demme
7     megsner
8    vovcenko
9    sprengel
Name: Trainer_name, dtype: object
0         moser
1       richter
2      gröschel
3    nedorostek
4      gröschel
5      sprengel
6       richter
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                  stech
2                reineke
3              weißmeier
4                dzubasz
5               sprengel
6             nedorostek
7               vovcenko
8                 hickst
Name: Trainer_name, dtype: object
0       schiergen
1            klug
2         richter
3        carvalho
4    hirschberger
5           recke
Name: Trainer_name, dtype: object
0      schiergen
1           klug
2       gröschel
3        richter
4          bolte
5    kleinkorres
6         hickst
Name: Trainer_name, dtype: object
0        potters
1      kienemann
2          lentz
3      nienstädt
4          klein
5         bradik
6          klein
7       lanslots
8     bodenhagen
9        werning
10         storp
Name: Trainer_name, dtype: object
0           richter
1              klug
2             grewe
3            hickst
4             figge
5         schiergen
6           smrczek
7              klug
8             grewe
9     hammer-hansen
10         suborics
11            recke
12           barsig

Name: Trainer_name, dtype: object
0        klug
1      hickst
2    carvalho
3       bolte
4       bolte
5     potters
6       recke
7      thomas
Name: Trainer_name, dtype: object
0          lüker
1     bodenhagen
2          bolte
3          bothe
4     engels/bel
5     bodenhagen
6      grünewald
7     bodenhagen
8        werning
9      nienstädt
10        korpas
11    fries-jung
12        bradik
Name: Trainer_name, dtype: object
0        suborics
1            klug
2        carvalho
3            klug
4            best
5            klug
6            klug
7    hirschberger
8          watson
9          hickst
Name: Trainer_name, dtype: object
0    hirschberger
1        gröschel
2        carvalho
3           hofer
4         richter
5          korpas
6    hirschberger
7        suborics
Name: Trainer_name, dtype: object
0       potters
1      suborics
2      vovcenko
3          klug
4        korpas
5         bolte
6    nedorostek
7       smrczek
8         bolte
9        korpas
Name: Trainer_name, dtype: object
0    peterschmitt
1           recke
2          birner
3         schwinn
Name: Trainer_name, dtype: object
0         busch
1    wolters/nl
2          palz
3          maya
Name: Trainer_name, dtype: object
0    peterschmitt
1         hellier
2            bach
3      wolters/nl
4           busch
Name: Trainer_name, dtype: object
0       klapschus
1    peterschmitt
2         bollien
Name: Trainer_name, dtype: object
0    carvalho
1    gröschel
2        klug
3       grewe
4        klug
5    suborics
Name: Trainer_name, dtype: object
0            hofer
1           korpas
2    van kempen/nl
3            hofer
4             klug
5         gröschel
6        meulen/nl
7          potters
8             klug
9            bolte
Name: Trainer_name, dtype: object
0          rohne
1       hinzmann
2      weißmeier
3     wolters/nl
4      meulen/nl
5          mäder
6       fuhrmann
7        hellier
8       fuhrmann
9         warren
10       geisler
11       potters
12         klein
Name: Trainer_name, dtype: object
0        bolte
1     carvalho
2       hickst
3    schiergen
4    schiergen
5    meulen/nl
6     carvalho
7      bocskai
Name: Trainer_name, dtype: object
0    johnston
1        klug
2     bocskai
3        klug
4      hickst
5     ward/gb
Name: Trainer_name, dtype: object
0        fuhrmann
1          engels
2         geisler
3         weidler
4        gröschel
5     jonkhart/nl
6             ehl
7         potters
8        fuhrmann
9           rohne
10        bocskai
11          mayer
12          klein
Name: Trainer_name, dtype: object
0     laznovska
1       weidler
2     gernreich
3         lüker
4         lüker
5         lüker
6        bradik
7       steudle
8           ehl
9      fuhrmann
10     fuhrmann
11    weißmeier
12        mayer
Name: Trainer_name, dtype: object
0        recke
1    gernreich
2      hellier
3        gries
4       keller
5      schwinn
6     reischig
7      schwinn
8        wedig
Name: Trainer_name, dtype: object
0                  grewe
1                  recke
2                schwinn
3                  alles
4                schwinn
5                  rulec
6    schleusner-fruhriep
7            kleinkorres
8               schleppi
Name: Trainer_name, dtype: object
0      maurer
1    vovcenko
2       recke
3      kujath
4     schwinn
5      thomas
6       storp
7       figge
Name: Trainer_name, dtype: object
0         klein
1         klein
2      schleppi
3       schwinn
4    wolters/nl
5    volz-degel
6         rulec
7        göritz
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1                schwinn
2               vovcenko
3             herresthal
4                 thomas
5                  recke
6               rotering
7                  recke
Name: Trainer_name, dtype: object
0     klein
1     demme
2    hickst
3     figge
4     rulec
5    birner
Name: Trainer_name, dtype: object
0    schiergen
1         klug
2         klug
3       wöhler
4     carvalho
Name: Trainer_name, dtype: object
0       schiergen
1          warren
2    hirschberger
3       meulen/nl
4          schütz
5       rothacker
6          wöhler
Name: Trainer_name, dtype: object
0         bolte
1     schiergen
2       smrczek
3          klug
4        korpas
5         demme
6         rohne
7         mäder
8      gröschel
9        wöhler
10    weißmeier
11    schiergen
12       leiner
Name: Trainer_name, dtype: object
0           klug
1         wöhler
2          moser
3         wöhler
4       gröschel
5           klug
6     pantall/fr
7         varian
8           klug
9        bocskai
10     schiergen
Name: Trainer_name, dtype: object
0       meulen/nl
1           storp
2       gernreich
3           lentz
4      bracke/bel
5     jonkhart/nl
6      heimburger
7         geisler
8      troost/bel
9       nienstädt
10           rank
11         leiner
12       sprengel
13          rohne
14     fries-jung
15      nienstädt
Name: Trainer_name, dtype: object
0         smrczek
1      almenräder
2    hirschberger
3    hirschberger
4           mäder
5        suborics
6        sprengel
7         richter
Name: Trainer_name, dtype: object
0        grewe
1    schiergen
2         klug
3         klug
4     suborics
5        bolte
6       wöhler
7    steinberg
Name: Trainer_name, dtype: object
0      carvalho
1       smrczek
2        wöhler
3    almenräder
4      suborics
5         mäder
Name: Trainer_name, dtype: object
0         bolte
1         mäder
2     meulen/nl
3       potters
4       richter
5    wolters/nl
6        kreger
Name: Trainer_name, dtype: object
0         klug
1      richter
2      dzubasz
3    schiergen
4       barsig
5         pohl
6     zschache
Name: Trainer_name, dtype: object
0           barsig
1          paulick
2           schütz
3          dzubasz
4         trobisch
5        angermann
6     hottewitzsch
7           hillis
8           glodde
9             pohl
10        szücs/cz
Name: Trainer_name, dtype: object
0         hillis
1          stech
2      angermann
3         barsig
4        paulick
5         schütz
6        siegert
7     neuberg/cz
8      angermann
9         glodde
10    kriegsheim
Name: Trainer_name, dtype: object
0         barsig
1        paulick
2     vorsilkova
3       fuhrmann
4          lentz
5      angermann
6           weis
7         glodde
8       vovcenko
9         glodde
10    hlavaty/cz
11      fuhrmann
Name: Trainer_name, dtype: object
0       dzubasz
1       richter
2      trobisch
3       richter
4        barsig
5         stech
6       richter
7     schiergen
8        barsig
9       dzubasz
10       glodde
Name: Trainer_name, dtype: object
0      kästner
1      richter
2      reineke
3     gröschel
4    grünewald
5       müller
6       schütz
7       barsig
8         klug
Name: Trainer_name, dtype: object
0       barsig
1      dzubasz
2     gröschel
3      richter
4      dzubasz
5      scholze
6    lippitsch
Name: Trainer_name, dtype: object
0        scholze
1          lentz
2          stech
3         schöps
4      angermann
5      angermann
6         korpas
7        dzubasz
8     neuberg/cz
9      lippitsch
10          weis
Name: Trainer_name, dtype: object
0    rudolph
1    geisler
2     maurer
3      gratz
4    schmeer
5    schwinn
6       palz
Name: Trainer_name, dtype: object
0     geisler
1    schleppi
2      schwab
3       figge
4         ehl
5       britz
6      schwab
7      keller
Name: Trainer_name, dtype: object
0       schwinn
1          falk
2      lanslots
3      schleppi
4      schleppi
5    straßmeier
Name: Trainer_name, dtype: object
0      hellier
1        wedig
2         bach
3        figge
4        gratz
5       schütz
6     schleppi
7      rudolph
8      schwinn
9         bach
10       gries
11    hannibal
Name: Trainer_name, dtype: object
0           recke
1       weißmeier
2        schleppi
3      straßmeier
4    peterschmitt
5        schleppi
6       klapschus
Name: Trainer_name, dtype: object
0     schleppi
1      geisler
2      schwinn
3        recke
4    whitfield
5       fievez
6       thomas
7    schneider
8        britz
Name: Trainer_name, dtype: object
0           wöhler
1             klug
2            grewe
3            figge
4         gröschel
5      kleinkorres
6    hammer-hansen
Name: Trainer_name, dtype: object
0      schiergen
1         wöhler
2           klug
3       carvalho
4          figge
5         hickst
6           klug
7    kleinkorres
8        smrczek
Name: Trainer_name, dtype: object
0               grünewald
1                 smrczek
2                   bolte
3               weißmeier
4                  glodde
5                sprengel
6              heimburger
7                 smrczek
8                   storp
9     berrevoets-uivel/nl
10    berrevoets-uivel/nl
Name: Trainer_name, dtype: object
0      hermans/nl
1     jonkhart/nl
2        claessen
3         lehmann
4       nienstädt
5      heimburger
6       meulen/nl
7      peeters/nl
8          glodde
9         smrczek
10          storp
11      weißmeier
12      friesdorf
13    ferentschak
14      gernreich
Name: Trainer_name, dtype: object
0            klug
1            klug
2          hickst
3    hirschberger
4          wöhler
5          hickst
6    hirschberger
Name: Trainer_name, dtype: object
0           smith
1          glodde
2       meulen/nl
3            bieß
4           smith
5           storp
6     kleinkorres
7         smrczek
8         fechner
9        haustein
10        dunk/nl
11    lenaers/bel
12      nienstädt
Name: Trainer_name, dtype: object
0       hickst
1     baker/gb
2         klug
3         klug
4       wöhler
5     carvalho
6        hofer
7    fabianova
Name: Trainer_name, dtype: object
0          bolte
1       carvalho
2      fabianova
3      schiergen
4    kleinkorres
5       vovcenko
6        smrczek
Name: Trainer_name, dtype: object
0             klug
1             klug
2         suborics
3           wöhler
4    hammer-hansen
5       almenräder
6          fechner
Name: Trainer_name, dtype: object
0        klug
1    carvalho
2     potters
3    suborics
4
5     potters
6    suborics
Name: Trainer_name, dtype: object
0           dzubasz
1         weißmeier
2          gröschel
3          meinecke
4             rohne
5         meulen/nl
6     van kempen/nl
7         nienstädt
8              klug
9             hofer
10        kienemann
11            demme
12            klein
Name: Trainer_name, dtype: object
0     schiergen
1       dzubasz
2         grewe
3       dzubasz
4        hickst
5       richter
6          klug
7          klug
8          klug
9         recke
10        recke
Name: Trainer_name, dtype: object

0        gröschel
1        hinzmann
2           lentz
3           taber
4       nienstädt
5           klein
6         hellier
7         smrczek
8          warren
9        lanslots
10    kleinkorres
11       sprengel
12      gernreich
13       vovcenko
Name: Trainer_name, dtype: object
0      schiergen
1        smrczek
2         wöhler
3          bolte
4       sprengel
5          bolte
6       vovcenko
7      kienemann
8     brüggemann
9          rohne
10       friebel
11      hinzmann
12       richter
13      gröschel
Name: Trainer_name, dtype: object
0          recke
1      gernreich
2         hobitz
3        werning
4          smith
5      weißmeier
6     bodenhagen
7          smith
8     heimburger
9          bothe
10    bodenhagen
11    bodenhagen
12         lentz
13     nienstädt
Name: Trainer_name, dtype: object
0        bolte
1        mäder
2        hofer
3    schiergen
4         klug
5      smrczek
6        rohne
Name: Trainer_name, dtype: object
0        schiergen
1     hirschberger
2             klug
3         carvalho
4           wöhler
5        schiergen
6         suborics
7            figge
8        schiergen
9             klug
10            klug
Name: Trainer_name, dtype: object
0         hirschberger
1         hirschberger
2                bolte
3            rothacker
4                krapp
5    paraknewitz-kalla
6                bolte
7                 weis
Name: Trainer_name, dtype: object
0          recke
1          mäder
2      meulen/nl
3      schiergen
4        reineke
5       sprengel
6       suborics
7           klug
8         leiner
9        smrczek
10          fust
11    peeters/nl
12         storp
Name: Trainer_name, dtype: object
0    hirschberger
1           bolte
2       schiergen
3        sprengel
4          warren
5       schiergen
6           glanz
7         smrczek
8       meulen/nl
9       weißmeier
Name: Trainer_name, dtype: object
0             klug
1             klug
2           wöhler
3            grewe
4       pantall/fr
5           hickst
6       almenräder
7           wöhler
8     hirschberger
9            grewe
10            klug
11           figge
12           demme
13            klug
14      reynier/fr
Name: Trainer_name, dtype: object
0          wöhler
1           mäder
2      wolters/nl
3           recke
4           grewe
5    hirschberger
6          göritz
Name: Trainer_name, dtype: object
0              vovcenko
1                 glanz
2                  türk
3                 storp
4           verberkt/nl
5                 hinck
6                 lüker
7                 lüker
8                leiner
9              beckmann
10           brüggemann
11           engels/bel
12            laznovska
13    paraknewitz-kalla
Name: Trainer_name, dtype: object
0       wöhler
1    schiergen
2      dzubasz
3       schütz
4      dzubasz
5     trobisch
6       hillis
Name: Trainer_name, dtype: object
0         bolte
1       richter
2      gröschel
3     steinberg
4      zschache
5    almenräder
6       richter
Name: Trainer_name, dtype: object
0                  hickst
1               fabianova
2                  korpas
3             kleinkorres
4               angermann
5                   stech
6                 richter
7                vovcenko
8                  wöhler
9                vovcenko
10                 korpas
11    schleusner-fruhriep
12             swiatek/pl
13               gröschel
14               gröschel
15                richter
Name: Trainer_name, dtype: object
0         hofer
1      gröschel
2    almenräder
3    nedorostek
4       potters
5         grewe
6         grewe
7          klug
8      vovcenko
9         blume
Name: Trainer_name, dtype: object
0          bolte
1    lenaers/bel
2       sprengel
3          blume
4     wolters/nl
5    ferentschak
6          moser
7          lentz
8          klein
Name: Trainer_name, dtype: object
0                  hickst
1                  korpas
2                  barsig
3                 dzubasz
4                  korpas
5     schleusner-fruhriep
6             kleinkorres
7                   bolte
8              swiatek/pl
9                trobisch
10                 wöhler
11             nedorostek
12               trobisch
13                 hillis
Name: Trainer_name, dtype: object
0                 wöhler
1               gröschel
2               gröschel
3                dzubasz
4                   klug
5                  bolte
6    schleusner-fruhriep
Name: Trainer_name, dtype: object
0         hickst
1          bolte
2         korpas
3         engels
4         wöhler
5        dzubasz
6          moser
7         korpas
8    richter/aut
Name: Trainer_name, dtype: object
0         schwinn
1            weis
2         schwinn
3       meulen/nl
4         schwinn
5    peterschmitt
Name: Trainer_name, dtype: object
0           ehl
1     friesdorf
2       sonntag
3    van eck/nl
4       werning
5       schwinn
6           ehl
7       schwinn
8      fuhrmann
9         britz
Name: Trainer_name, dtype: object
0     vovcenko
1      schwinn
2      schwinn
3    schöndorf
4         palz
5          ehl
Name: Trainer_name, dtype: object
0     meulen/nl
1       schwinn
2         recke
3         storp
4       schwinn
5    van eck/nl
Name: Trainer_name, dtype: object
0         rosport
1           busch
2            weis
3       weißmeier
4           recke
5         weidler
6    peterschmitt
7            bach
Name: Trainer_name, dtype: object
0         recke
1       schwinn
2    herresthal
3       schwinn
4         recke
Name: Trainer_name, dtype: object
0    vovcenko
1     schwinn
2    fuhrmann
3     schwinn
4     schwinn
5     schwinn
6      kelkel
7        wenz
Name: Trainer_name, dtype: object
0       zschache
1      schiergen
2        richter
3        paulick
4    kleinkorres
5      fabianova
Name: Trainer_name, dtype: object
0                gröschel
1               fabianova
2                   stech
3                   stech
4                  korpas
5                 dzubasz
6                trobisch
7                 dzubasz
8                 paulick
9                sprengel
10    schleusner-fruhriep
11        stein-schomburg
12                paulick
13                megsner
Name: Trainer_name, dtype: object
0        richter
1       fuhrmann
2     nedorostek
3           pohl
4         glodde
5       fuhrmann
6        richter
7         schütz
8         barsig
9      angermann
10       giesgen
Name: Trainer_name, dtype: object
0              schiergen
1                reineke
2                 hillis
3                dzubasz
4              schiergen
5                  stech
6               gröschel
7               sprengel
8                smrczek
9    schleusner-fruhriep
Name: Trainer_name, dtype: object
0         stech
1        barsig
2        schütz
3       richter
4        barsig
5     fabianova
6        korpas
7       dzubasz
8        kreger
9      fuhrmann
10        mayer
11      dzubasz
Name: Trainer_name, dtype: object
0              schiergen
1               carvalho
2                   klug
3             clement/fr
4                   klug
5                dzubasz
6                  rocak
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0                   stech
1                  glodde
2                fuhrmann
3               angermann
4                trobisch
5                fuhrmann
6               fabianova
7                 dzubasz
8                   stech
9                  schütz
10               fuhrmann
11    schleusner-fruhriep
12                  mayer
13        stein-schomburg
Name: Trainer_name, dtype: object
0    hottewitzsch
1       angermann
2         paulick
3        timpelan
4        gröschel
5          glodde
6       angermann
7        vovcenko
8          franke
9       angermann
Name: Trainer_name, dtype: object
0       kästner
1         bigus
2      gröschel
3       scholze
4       paulick
5       weidler
6        bradik
7      fuhrmann
8     fabianova
9         stech
10       barsig
11         weis
Name: Trainer_name, dtype: object
0          lentz
1         glodde
2    richter/aut
3           pohl
4          klein
5       fuhrmann
6      angermann
7           weis
8      angermann
9       schleppi
Name: Trainer_name, dtype: object
0          bradik
1            türk
2           lentz
3        sprengel
4          schöps
5        vovcenko
6          glodde
7       angermann
8       angermann
9          martin
10    ferentschak
Name: Trainer_name, dtype: object
0       dzubasz
1      gröschel
2      fuhrmann
3        glodde
4       dzubasz
5        barsig
6     angermann
7    nedorostek
8       richter
9      gröschel
Name: Trainer_name, dtype: object
0        bolte
1       korpas
2      dzubasz
3        stech
4    weißmeier
5     vovcenko
6    fabianova
Name: Trainer_name, dtype: object
0       paulick
1      schleppi
2       scholze
3     angermann
4       dzubasz
5     weißmeier
6    fries-jung
7        glodde
8     kaczmarek
9         lentz
Name: Trainer_name, dtype: object
0      reineke
1      richter
2      richter
3     fuhrmann
4    angermann
5        bolte
6     gröschel
7       müller
8       barsig
9        klein
Name: Trainer_name, dtype: object
0    steinberg
1        figge
2    steinberg
3        glanz
4    steinberg
5    steinberg
Name: Trainer_name, dtype: object
0       wöhler
1        figge
2      richter
3    steinberg
4     carvalho
5        figge
6     carvalho
7    schiergen
Name: Trainer_name, dtype: object
0             grewe
1         mühlbauer
2            hillis
3     schwarzenbeck
4           richter
5            glodde
6             mayer
7            hillis
8           geisler
9           richter
10            figge
11            glanz
Name: Trainer_name, dtype: object
0       barsig
1      richter
2        mayer
3    schiergen
4        mayer
5       glodde
6        glanz
7       wöhler
8       hillis
Name: Trainer_name, dtype: object
0         hillis
1      steinberg
2    richter/aut
3        kerekes
4        kerekes
5         hillis
6    richter/aut
7         hillis
Name: Trainer_name, dtype: object
0    steinberg
1    schiergen
2       barsig
3        glanz
4        mayer
5        mayer
6       hillis
Name: Trainer_name, dtype: object
0            mayer
1            mayer
2            figge
3          geisler
4            mayer
5        mühlbauer
6       straßmeier
7    schwarzenbeck
8          fechner
9          richter
Name: Trainer_name, dtype: object
0         hillis
1         glodde
2          glanz
3        kerekes
4          figge
5        kerekes
6          mayer
7         hillis
8     straßmeier
9          mayer
10          pils
11          bach
12       geisler
13      kelz/aut
Name: Trainer_name, dtype: object
0           grewe
1      wolters/nl
2        carvalho
3    hirschberger
4        carvalho
5       schiergen
6            klug
Name: Trainer_name, dtype: object
0      schiergen
1    kleinkorres
2         hickst
3          demme
4        smrczek
5    jonkhart/nl
6     almenräder
7           klug
8          mäder
9        potters
Name: Trainer_name, dtype: object
0         geisler
1         dzubasz
2      heimburger
3         weidler
4     jonkhart/nl
5     lenaers/bel
6        claessen
7        beckmann
8          warren
9      hermans/nl
10        potters
11         keller
12        steudle
13          lüker
14      jansen/nl
15      weißmeier
Name: Trainer_name, dtype: object
0             klug
1         vovcenko
2           wöhler
3            scott
4         gröschel
5        schiergen
6         carvalho
7        schiergen
8       pantall/fr
9          dzubasz
10        mintchev
11          wöhler
12    hirschberger
Name: Trainer_name, dtype: object
0        smrczek
1          recke
2          mäder
3           klug
4        schwinn
5       overbeck
6        smrczek
7        smrczek
8       suborics
9         schütz
10    heimburger
11      vovcenko
12     meulen/nl
13     schiergen
Name: Trainer_name, dtype: object
0            klug
1       meulen/nl
2           hofer
3    hirschberger
4           fuchs
5          hickst
6        vovcenko
7       schiergen
8         smrczek
Name: Trainer_name, dtype: object
0    schiergen
1        grewe
2         klug
3     suborics
4         klug
5         klug
6     mintchev
7         klug
Name: Trainer_name, dtype: object
0           recke
1            klug
2       schiergen
3    hirschberger
4        suborics
5           bolte
6           hofer
7          keller
8         smrczek
9       meulen/nl

Name: Trainer_name, dtype: object
0       suborics
1           klug
2          grewe
3          demme
4    mihalik/svk
5          recke
6          weber
Name: Trainer_name, dtype: object
0        smrczek
1     almenräder
2          mäder
3        smrczek
4          weber
5          klein
6          bolte
7         hillis
8           maya
9           bach
10         klein
Name: Trainer_name, dtype: object
0              klug
1          suborics
2          zschache
3           dzubasz
4           richter
5          carvalho
6             bolte
7     hammer-hansen
8             bolte
9             grewe
10        schiergen
Name: Trainer_name, dtype: object
0           fechner
1           potters
2          hinzmann
3           potters
4         weißmeier
5        wolters/nl
6            engels
7           bocskai
8     hammer-hansen
9             gratz
10          geisler
11            blume
12         gröschel
13            stech
14         fuhrmann
15            storp
16          giesgen
17          geisler
Name: Trainer_name, dtype: object
0     wolters/nl
1         barsig
2        smrczek
3     wolters/nl
4     nedorostek
5          blume
6          bolte
7     almenräder
8      angermann
9      meulen/nl
10         fuchs
11        hickst
12         moser
Name: Trainer_name, dtype: object
0            wöhler
1              klug
2         schiergen
3            watson
4      hirschberger
5           geisler
6          suborics
7             hofer
8          gröschel
9            hickst
10            grewe
11          dzubasz
12    hammer-hansen
13          richter
14          smrczek
15            demme
Name: Trainer_name, dtype: object
0           figge
1           glanz
2          glodde
3        vovcenko
4       gernreich
5     jonkhart/nl
6           recke
7            maya
8           storp
9           lüker
10          storp
11          stech
12     neureuther
13          storp
14        werning
15          gratz
16          lüker
17          weber
Name: Trainer_name, dtype: object
0       grewe
1      hickst
2       recke
3      hickst
4        klug
5       bolte
6    carvalho
7     potters
8     rosport
9    vovcenko
Name: Trainer_name, dtype: object
0    schiergen
1      dzubasz
2       barsig
3         klug
4       schütz
5         pohl
6       barsig
Name: Trainer_name, dtype: object
0    vorsilkova
1     lippitsch
2        schütz
3        glodde
4       richter
5          pohl
6       scholze
7         kamin
8    neuberg/cz
Name: Trainer_name, dtype: object
0        barsig
1     fabianova
2      trobisch
3         bolte
4       paulick
5    neuberg/cz
6       paulick
7         bolte
8        korpas
9    vorsilkova
Name: Trainer_name, dtype: object
0      barsig
1     richter
2    sprengel
3    trobisch
4      korpas
5       bolte
6      hillis
7      glodde
8       mayer
9     dzubasz
Name: Trainer_name, dtype: object
0       richter
1        korpas
2         bolte
3      vovcenko
4     fabianova
5    wroblewski
Name: Trainer_name, dtype: object
0       glodde
1      richter
2     sprengel
3         pohl
4    angermann
5    lippitsch
6     fuhrmann
7      paulick
8      scholze
9     fuhrmann
Name: Trainer_name, dtype: object
0      hillis
1     siegert
2       bolte
3      schütz
4     scholze
5      korpas
6    vovcenko
7      glodde
8     siegert
Name: Trainer_name, dtype: object
0       gröschel
1         hickst
2         wöhler
3          weber
4         korpas
5          stech
6      angermann
7          hofer
8     almenräder
9    kleinkorres
Name: Trainer_name, dtype: object
0    hirschberger
1          hillis
2        gröschel
3       schiergen
4         smrczek
5         reineke
6           stech
Name: Trainer_name, dtype: object
0            bolte
1       wolters/nl
2         gröschel
3    hammer-hansen
4            glanz
5        steinberg
6      lenaers/bel
7
Name: Trainer_name, dtype: object
0            bolte
1            recke
2        schiergen
3            bolte
4        weißmeier
5            smith
6           hickst
7        schiergen
8             klug
9           korpas
10      almenräder
11     kleinkorres
12    wullschleger
13        carvalho
Name: Trainer_name, dtype: object
0          potters
1      richter/aut
2       wolters/nl
3        weißmeier
4        gernreich
5       nedorostek
6           korpas
7          potters
8            recke
9     wullschleger
10    hirschberger
11           mäder
Name: Trainer_name, dtype: object
0           klug
1           klug
2         wöhler
3       carvalho
4           klug
5           klug
6         hickst
7      schiergen
8       gröschel
9           klug
10        hickst
11    almenräder
12        hickst
13          klug
Name: Trainer_name, dtype: object
0           klein
1       angermann
2         smrczek
3        lanslots
4     kleinkorres
5      nedorostek
6         hellier
7       schiergen
8       rothacker
9          thomas
10          recke
11          bolte
12       suborics
Name: Trainer_name, dtype: object
0        wöhler
1      gröschel
2       ferland
3      carvalho
4     schiergen
5       bocskai
6     steinberg
7    almenräder
8        wöhler
9         hofer
Name: Trainer_name, dtype: object
0                 mayer
1              fuhrmann
2              lanslots
3                 figge
4                 weber
5     sofsky-prappacher
6           lenaers/bel
7              lanslots
8              beckmann
9               hellier
10             fuhrmann
11                smith
12              geisler
13            friesdorf
Name: Trainer_name, dtype: object
0     verberkt/nl
1         hellier
2     kleinkorres
3          thomas
4          schaaf
5             ehl
6           kartz
7       laznovska
8        beckmann
9     lenaers/bel
10        werning
11          klein
12       fuhrmann
Name: Trainer_name, dtype: object
0       gernreich
1         schwinn
2     jonkhart/nl
3           mayer
4            schu
5       weißmeier
6         schwinn
7         steudle
8       schriever
9     lenaers/bel
10        hellier
11       fuhrmann
Name: Trainer_name, dtype: object
0         recke
1     schiergen
2     meulen/nl
3       schwinn
4          blau
5     weißmeier
6         bolte
7      vovcenko
8      schleppi
9         krapp
10     suborics
Name: Trainer_name, dtype: object
0                  maurer
1                   mäder
2                  schütz
3                   bolte
4                 smrczek
5               weißmeier
6     berrevoets-uivel/nl
7              peeters/nl
8                beckmann
9                   gratz
10                   schu
11                   weis
Name: Trainer_name, dtype: object
0    weißmeier
1        klein
2         bieß
3     meinecke
4     rotering
5    meulen/nl
6      hellier
7    schiergen
8         falk
9       kreger
Name: Trainer_name, dtype: object
0     weißmeier
1         alles
2      sprengel
3         alles
4         klein
5       schwinn
6           ehl
7    wolters/nl
8        kreger
Name: Trainer_name, dtype: object
0         recke
1         demme
2     schiergen
3         smith
4     weißmeier
5       schwinn
6     schriever
7      suborics
8    engels/bel
Name: Trainer_name, dtype: object
0        bolte
1    weißmeier
2    kienemann
3        bolte
4      schwinn
5     schleppi
Name: Trainer_name, dtype: object
0            klein
1       hermans/nl
2          geisler
3             berg
4            klein
5            klein
6              ehl
7     schnakenberg
8         schleppi
9         schleppi
10          schwab
11           figge
Name: Trainer_name, dtype: object
0      rudolph
1        bolte
2       keller
3      rosport
4    weißmeier
5     schleppi
6        grewe
7        klein
8      schwinn
9    rothacker
Name: Trainer_name, dtype: object
0      wöhler
1    mintchev
2       recke
3     schwinn
4     schwinn
5      fievez
6       weber
7       klein
8      birner
9        türk
Name: Trainer_name, dtype: object
0         klein
1         wedig
2       smrczek
3       hellier
4       schwinn
5         klein
6         taber
7     weißmeier
8       geisler
9       geisler
10        gries
11         türk
Name: Trainer_name, dtype: object
0             klug
1            grewe
2          schärer
3            grewe
4        weißmeier
5       jardine/gb
6    hammer-hansen
7         prescott
8         johnston
9         suborics
Name: Trainer_name, dtype: object
0        klein
1        demme
2        bolte
3    meulen/nl
4      smrczek
5       hickst
6      schärer
7     rotering
8       wagner
Name: Trainer_name, dtype: object
0      geisler
1      geisler
2        bolte
3    gernreich
4       kujath
5    schöndorf
6       hickst
7        bolte
8      schwinn
9        weber
Name: Trainer_name, dtype: object
0                  wöhler
1                carvalho
2                   moser
3            hirschberger
4                    klug
5            hirschberger
6                gröschel
7                    klug
8                   recke
9                    klug
10               vovcenko
11              schiergen
12               gröschel
13                 tousek
14    schleusner-fruhriep
15                  bolte
Name: Trainer_name, dtype: object
0             klug
1            grewe
2     hirschberger
3         gröschel
4         carvalho
5        schiergen
6           wöhler
7            bolte
8             klug
9           wöhler
10        vovcenko
11      almenräder
Name: Trainer_name, dtype: object
0     hirschberger
1         baker/gb
2             klug
3          dzubasz
4            rocak
5          richter
6             klug
7        schiergen
8           hillis
9           barsig
10        carvalho
11            klug
12        fuhrmann
13          wöhler
Name: Trainer_name, dtype: object
0      schiergen
1       gröschel
2       vovcenko
3          rohne
4         schütz
5      angermann
6        potters
7        paulick
8        potters
9        potters
10     angermann
11    vorsilkova
12         moser
13      sybrecht
14       potters
15       potters
Name: Trainer_name, dtype: object
0         schiergen
1             grewe
2            wöhler
3             moser
4          carvalho
5          vovcenko
6             bolte
7           dzubasz
8            mongil
9             moser
10    hammer-hansen
11        schiergen
12           wöhler
Name: Trainer_name, dtype: object
0         fuhrmann
1         vovcenko
2         gröschel
3            stech
4          dzubasz
5           glodde
6     henkenjohann
7           winter
8            bothe
9          richter
10           hinck
11       fabianova
12      nedorostek
13       grünewald
Name: Trainer_name, dtype: object
0      wöhler
1       grewe
2       grewe
3        klug
4    suborics
5        klug
6        klug
7     björdal
8      wöhler
Name: Trainer_name, dtype: object
0                 richter
1                 smrczek
2                  hickst
3                 paulick
4     schleusner-fruhriep
5                    klug
6                   figge
7                sprengel
8                   bolte
9              vorsilkova
10           hirschberger
11               suborics
12           hirschberger
13                  mäder
Name: Trainer_name, dtype: object
0      richter
1      smrczek
2        demme
3        moser
4       barsig
5     gröschel
6    schiergen
7        bolte
8       wöhler
Name: Trainer_name, dtype: object
0            barsig
1          sprengel
2      hirschberger
3     van kempen/nl
4           dzubasz
5            wöhler
6            kreger
7         lindemann
8            glodde
9           potters
10           barsig
11          richter
Name: Trainer_name, dtype: object
0        angermann
1         gröschel
2            riese
3           bradik
4            lentz
5           glodde
6        jansen/nl
7        nienstädt
8            stech
9      jonkhart/nl
10       nienstädt
11        vovcenko
12      nedorostek
13    henkenjohann
Name: Trainer_name, dtype: object
0       fuhrmann
1          figge
2          recke
3         sauter
4       fuhrmann
5       fuhrmann
6       fuhrmann
7           pohl
8         glodde
9          storp
10        franke
11    nedorostek
Name: Trainer_name, dtype: object
0    van kempen/nl
1           drozda
2          dzubasz
3            lentz
4        angermann
5         sprengel
6            bolte
7      ferentschak
Name: Trainer_name, dtype: object
0          stech
1         barsig
2        dzubasz
3       gröschel
4      lippitsch
5     nedorostek
6        richter
7      fabianova
8       fuhrmann
9       fuhrmann
10       paulick
11      fuhrmann
Name: Trainer_name, dtype: object
0       kästner
1     angermann
2      gröschel
3      fuhrmann
4       paulick
5         lentz
6        schütz
7         stech
8         storp
9          rank
10     fuhrmann
Name: Trainer_name, dtype: object
0       kienemann
1        timpelan
2        fuhrmann
3        vovcenko
4        fuhrmann
5            pohl
6            kurz
7    hottewitzsch
8          glodde
9         paulick
Name: Trainer_name, dtype: object
0          busch
1       beckmann
2          hinck
3         glodde
4           rank
5         schöps
6          busch
7       sprengel
8     nedorostek
9     hlavaty/cz
10     angermann
11      vovcenko
Name: Trainer_name, dtype: object
0        dzubasz
1        richter
2          grewe
3    kleinkorres
4          figge
5        smrczek
6         korpas
7         wöhler
8        geisler
9         glodde
Name: Trainer_name, dtype: object
0         recke
1        wöhler
2      gröschel
3      haustein
4      trobisch
5       richter
6       dzubasz
7    neuberg/cz
8      fuhrmann
9         moser
Name: Trainer_name, dtype: object
0        glodde
1      sprengel
2     grünewald
3         recke
4        schütz
5     angermann
6      horakova
7     angermann
8      beckmann
9       dzubasz
10      geisler
11      paulick
Name: Trainer_name, dtype: object

0         klug
1     carvalho
2    schiergen
3       wöhler
4    steinberg
5     carvalho
6       hillis
7       hillis
Name: Trainer_name, dtype: object
0         richter
1        suborics
2          barsig
3        carvalho
4        gröschel
5        carvalho
6       schiergen
7           mayer
8         kerekes
9    hirschberger
Name: Trainer_name, dtype: object
0      urbanek
1         klug
2       hillis
3    steinberg
4      richter
5        glanz
6      smrczek
Name: Trainer_name, dtype: object
0     schiergen
1        wöhler
2          klug
3         figge
4         figge
5     steinberg
6       richter
7         recke
8     steinberg
9         grewe
10       hickst
Name: Trainer_name, dtype: object
0        hickst
1         glanz
2     schiergen
3     steinberg
4        wöhler
5      carvalho
6       kerekes
7       myskova
8        hillis
9        hillis
10       hillis
11        moser
Name: Trainer_name, dtype: object
0            mayer
1           barsig
2        steinberg
3          urbanek
4            mayer
5    hammer-hansen
6           hillis
7           barsig
Name: Trainer_name, dtype: object
0      gröschel
1        varian
2      johnston
3          klug
4        wöhler
5    bin suroor
6    couetil/fr
Name: Trainer_name, dtype: object
0        wöhler
1        hillis
2       fechner
3       kerekes
4         mayer
5         mayer
6       richter
7         mayer
8       kerekes
9     mühlbauer
10        glanz
11        bigus
Name: Trainer_name, dtype: object
0       smrczek
1         grewe
2          klug
3     schiergen
4          klug
5      carvalho
6       potters
7    almenräder
Name: Trainer_name, dtype: object
0     heimburger
1       suborics
2     peeters/nl
3        smrczek
4      schneider
5      gernreich
6          smith
7          lentz
8          mäder
9       hannibal
10        hobitz
Name: Trainer_name, dtype: object
0        grewe
1        smith
2    jansen/nl
3        lentz
4       thomas
5    weißmeier
6        mäder
7        smith
8     suborics
9        gratz
Name: Trainer_name, dtype: object
0       gernreich
1      nedorostek
2       laznovska
3     lenaers/bel
4      wolters/nl
5        gröschel
6         potters
7         potters
8           mäder
9       meulen/nl
10     wolters/nl
11     nedorostek
12     neuberg/cz
Name: Trainer_name, dtype: object
0     schiergen
1     meulen/nl
2      gröschel
3    wolters/nl
4         smith
5     weißmeier
6         hofer
7        warren
8     laznovska
9         hofer
Name: Trainer_name, dtype: object
0         grewe
1          klug
2          klug
3          klug
4      carvalho
5    channon/gb
6         hofer
7        hickst
8     schiergen
Name: Trainer_name, dtype: object
0       maurer
1        grewe
2      schwinn
3        bolte
4         blau
5        bolte
6    meulen/nl
7        lüker
8      schwinn
9      giesgen
Name: Trainer_name, dtype: object
0       hinzmann
1           rank
2        schwinn
3       sprengel
4            ehl
5          lüker
6     hermans/nl
7     volz-degel
8       beckmann
9      schriever
10    brüggemann
Name: Trainer_name, dtype: object
0               giesgen
1              meinecke
2              sprengel
3           lenaers/bel
4                 mayer
5                  falk
6              rotering
7                kreger
8     sofsky-prappacher
9                 lentz
10            weißmeier
11             vovcenko
Name: Trainer_name, dtype: object
0     nedorostek
1     bodenhagen
2          storp
3      weißmeier
4          grewe
5         schütz
6           türk
7       lanslots
8         korpas
9     bodenhagen
10     weißmeier
11         bolte
12    heimburger
Name: Trainer_name, dtype: object
0         lanslots
1            lentz
2            klein
3           glodde
4     schnakenberg
5            lüker
6       heimburger
7       engels/bel
8          schwinn
9         fuhrmann
10        sprengel
Name: Trainer_name, dtype: object
0     richter/aut
1            berg
2        lanslots
3         schwinn
4     lenaers/bel
5        meinecke
6        fuhrmann
7         steudle
8           klein
9      neuberg/cz
10       beckmann
11      kienemann
12         glodde
13      weißmeier
Name: Trainer_name, dtype: object
0          klein
1          bolte
2          gratz
3       fuhrmann
4        schwinn
5        werning
6         winter
7      schiergen
8      weißmeier
9    kleinkorres
Name: Trainer_name, dtype: object
0        klug
1       bolte
2       bolte
3    fuhrmann
4        berg
5        weis
Name: Trainer_name, dtype: object
0          klug
1     steinberg
2       geisler
3     steinberg
4     schiergen
5         figge
6    wroblewski
7      suborics
8        hillis
Name: Trainer_name, dtype: object
0       smrczek
1      gröschel
2       richter
3         mayer
4       kerekes
5     angermann
6        hillis
7    wroblewski
8       rudolph
Name: Trainer_name, dtype: object
0            bolte
1         suborics
2        schiergen
3            glanz
4           hillis
5    hammer-hansen
6           hillis
7             bach
8           hillis
Name: Trainer_name, dtype: object
0         glodde
1         hillis
2     almenräder
3       gröschel
4        geisler
5          mayer
6          figge
7        geisler
8          weber
9          mayer
10        glodde
11        barsig
Name: Trainer_name, dtype: object
0         gröschel
1         sprengel
2            mayer
3        steinberg
4    hammer-hansen
5           glodde
6            glanz
7           hillis
8        schiergen
9           barsig
Name: Trainer_name, dtype: object
0         hickst
1        rudolph
2           klug
3          mayer
4      schiergen
5     almenräder
6         barsig
7      schiergen
8      fabianova
9        richter
10        hillis
Name: Trainer_name, dtype: object
0      smrczek
1    mühlbauer
2        mayer
3       keller
4    rothacker
5       hillis
6      kerekes
7     trobisch
8      rudolph
Name: Trainer_name, dtype: object
0           pils
1        kerekes
2          glanz
3         glodde
4          bolte
5         hillis
6          figge
7           bach
8     straßmeier
9          figge
10        schöps
11    straßmeier
12         mayer
Name: Trainer_name, dtype: object
0            berg
1         sonntag
2        fuhrmann
3     jonkhart/nl
4     lenaers/bel
5           mayer
6       weißmeier
7            schu
8        beckmann
9       schriever
10       fuhrmann
11       fuhrmann
12      gernreich
Name: Trainer_name, dtype: object
0                   grewe
1                 hellier
2              heimburger
3                 steudle
4                 schwinn
5               gernreich
6                 schwinn
7                    wenz
8     berrevoets-uivel/nl
9                hannibal
10               stefutti
11                  figge
Name: Trainer_name, dtype: object
0     van eck/nl
1       schleppi
2          bolte
3          busch
4        werning
5     heimburger
6     volz-degel
7      weißmeier
8       beckmann
9      schriever
10    fries-jung
11      fuhrmann
Name: Trainer_name, dtype: object
0           richter/aut
1              meinecke
2                 figge
3                 mayer
4               schwinn
5                  falk
6             friesdorf
7               giesgen
8                kreger
9                 lentz
10    sofsky-prappacher
11           nedorostek
12          lenaers/bel
13            lindemann
Name: Trainer_name, dtype: object
0      schiergen
1     peeters/nl
2          recke
3           schu
4          smith
5          grewe
6         keller
7          klein
8           blau
9       schleppi
10        hobitz
11         lüker
12       schwinn
13     weißmeier
Name: Trainer_name, dtype: object
0       maurer
1        mäder
2        bolte
3      geisler
4    weißmeier
5     schleppi
6        bolte
7       birner
8        grewe
9     schleppi
Name: Trainer_name, dtype: object
0     verberkt/nl
1     kleinkorres
2             ehl
3         hellier
4           klein
5             ehl
6        fuhrmann
7      van eck/nl
8           lentz
9           klein
10       fuhrmann
11        geisler
12      weißmeier
13        geisler
Name: Trainer_name, dtype: object
0     klug
1    recke
2     klug
3     klug
4     klug
5     wenz
6     klug
Name: Trainer_name, dtype: object
0    klein
1     klug
2    bolte
3     berg
4     schu
5     weis
Name: Trainer_name, dtype: object
0        wöhler
1         grewe
2       dzubasz
3      gröschel
4          klug
5         recke
6         bolte
7       richter
8     schiergen
9       urbanek
10    fabianova

Name: Trainer_name, dtype: object
0          klug
1       richter
2         demme
3      novakova
4          vana
5          pohl
6     angermann
7    hlavaty/cz
8        franke
9      trobisch
Name: Trainer_name, dtype: object
0       richter
1     angermann
2         stech
3         stech
4      fuhrmann
5         storp
6         glanz
7          broz
8     fabianova
9        martin
10    lippitsch
11         türk
Name: Trainer_name, dtype: object
0          klug
1         grewe
2     schiergen
3        wöhler
4     schiergen
5       dzubasz
6         demme
7       dzubasz
8        barsig
9     prunk/aut
10     novakova
Name: Trainer_name, dtype: object
0         bigus
1         stech
2       dzubasz
3       scholze
4        glodde
5        schütz
6     angermann
7      fuhrmann
8         recke
9        tousek
10      richter
11      syslova
Name: Trainer_name, dtype: object
0       richter
1         demme
2        barsig
3        korpas
4      vovcenko
5         recke
6     fabianova
7      trobisch
8      trobisch
9       dzubasz
10    prunk/aut
11         broz
Name: Trainer_name, dtype: object
0         grewe
1          klug
2      gröschel
3     fabianova
4        wöhler
5       paulick
6     schiergen
7       stancik
8         demme
9          klug
10     carvalho
11      urbanek
Name: Trainer_name, dtype: object
0           wöhler
1          dzubasz
2           barsig
3     hirschberger
4          richter
5           barsig
6         gröschel
7          stancik
8        schiergen
9            recke
10          barsig
11       lippitsch
Name: Trainer_name, dtype: object
0         stech
1      gröschel
2         riese
3         bolte
4         storp
5      suborics
6         glanz
7       dzubasz
8        schütz
9     angermann
10     jirka/cz
11    angermann
Name: Trainer_name, dtype: object
0       gröschel
1          lüker
2          grewe
3         schütz
4     engels/bel
5         barsig
6        giesgen
7      gernreich
8      angermann
9     bodenhagen
10       schwinn
11      suborics
12     laznovska
13         bolte
Name: Trainer_name, dtype: object
0           lüker
1         schwinn
2         giesgen
3            türk
4         steudle
5         hellier
6      peeters/nl
7     ferentschak
8       jansen/nl
9            weis
10     heimburger
11        schwinn
12           rank
13          hinck
Name: Trainer_name, dtype: object
0         demme
1     weißmeier
2     schiergen
3       rudolph
4     weißmeier
5         klein
6     weißmeier
7        birner
8      sprengel
9      gröschel
10    meulen/nl
11        grewe
Name: Trainer_name, dtype: object
0            klug
1           bolte
2      engels/bel
3           recke
4          thomas
5        hinzmann
6       rothacker
7        schleppi
8         potters
9           grewe
10         mongil
11    ferentschak
12          storp
Name: Trainer_name, dtype: object
0      hinzmann
1         grewe
2         klein
3         bolte
4      sprengel
5         bolte
6     weißmeier
7       potters
8         bolte
9      schleppi
10      potters
11     vovcenko
12        mäder
13     fuhrmann
Name: Trainer_name, dtype: object
0         lanslots
1        gernreich
2         fuhrmann
3      lenaers/bel
4        weißmeier
5        laznovska
6         beckmann
7     henkenjohann
8         fuhrmann
9       bodenhagen
10       angermann
11           klein
12           grewe
13            rank
Name: Trainer_name, dtype: object
0         bradik
1     nedorostek
2       beckmann
3     neuberg/cz
4       vovcenko
5        rudolph
6          storp
7      laznovska
8     bodenhagen
9     bodenhagen
10          pils
11       geisler
12         lüker
13    peeters/nl
Name: Trainer_name, dtype: object
0     wroblewski
1         mongil
2          hofer
3          recke
4        smrczek
5     nedorostek
6         thomas
7          bolte
8         mongil
9      schiergen
10     schiergen
Name: Trainer_name, dtype: object
0          hellier
1        meulen/nl
2           schaaf
3        friesdorf
4        wesel/bel
5          schwinn
6            klein
7              ehl
8      jonkhart/nl
9     schnakenberg
10          keller
11          möller
12       weißmeier
13         schwinn
Name: Trainer_name, dtype: object
0           mäder
1        hinzmann
2           grewe
3         smrczek
4          fievez
5           rohne
6           grewe
7     kleinkorres
8       meulen/nl
9          mongil
10      schneider
Name: Trainer_name, dtype: object
0        gernreich
1       heimburger
2            busch
3            grewe
4            klein
5         schleppi
6          hellier
7          werning
8            demme
9     schnakenberg
10           lentz
11      fries-jung
12           demme
13       weißmeier
Name: Trainer_name, dtype: object
0           grewe
1           smith
2       gernreich
3        schleppi
4      neuberg/cz
5            blau
6           storp
7      heimburger
8            schu
9            wenz
10      weißmeier
11          lüker
12    ferentschak
13     neuberg/cz
Name: Trainer_name, dtype: object
0                   ehl
1             weißmeier
2                 klein
3             meulen/nl
4              meinecke
5           verberkt/nl
6                 mäder
7                  bieß
8     sofsky-prappacher
9                 klein
10            schneider
11         borkowski/pl
Name: Trainer_name, dtype: object
0     van eck/nl
1        hellier
2     peeters/nl
3          mäder
4         maurer
5       schleppi
6        hellier
7      laznovska
8         mongil
9          grewe
10      schleppi
11         gratz
Name: Trainer_name, dtype: object
0           klug
1          demme
2           berg
3          grewe
4     troost/bel
5        lehmann
6       stefutti
7          lentz
8          klein
9     wroblewski
10         britz
11         storp
Name: Trainer_name, dtype: object
0          figge
1        sonntag
2           berg
3      laznovska
4    lenaers/bel
5       meinecke
6          mayer
7         kreger
8     van eck/nl
9           falk
Name: Trainer_name, dtype: object
0       laznovska
1            berg
2          franke
3           mayer
4        rotering
5     lenaers/bel
6        beckmann
7         potters
8          glodde
9     jonkhart/nl
10         kreger
11      schriever
Name: Trainer_name, dtype: object
0          grewe
1      schiergen
2         barsig
3       stefutti
4     peeters/nl
5          klein
6          lüker
7           rank
8       sprengel
9      laznovska
10       richter
11      fuhrmann
12    troost/bel
13         bolte
Name: Trainer_name, dtype: object
0          potters
1         suborics
2            rohne
3         fuhrmann
4            klein
5         rotering
6        laznovska
7     hirschberger
8         sprengel
9           glodde
10          engels
11        fuhrmann
12           rohne
13     kleinkorres
Name: Trainer_name, dtype: object
0          mäder
1      weißmeier
2        richter
3      weißmeier
4          bolte
5     nedorostek
6           berg
7          figge
8         wöhler
9        rudolph
10       rudolph
11         bolte
Name: Trainer_name, dtype: object
0           figge
1       gernreich
2     lenaers/bel
3        sprengel
4        beckmann
5        lanslots
6           lentz
7         schwinn
8            rank
9        fuhrmann
10           türk
Name: Trainer_name, dtype: object
0         recke
1       potters
2       richter
3         demme
4       potters
5        barsig
6     schiergen
7      suborics
8      vovcenko
9         klein
10      rudolph
Name: Trainer_name, dtype: object
0        grewe
1         klug
2        demme
3    weißmeier
4        storp
5     carvalho
6      smrczek
Name: Trainer_name, dtype: object
0           hofer
1         richter
2           lentz
3       lindemann
4        fuhrmann
5    faltejsek/cz
6      fries-jung
7          schaaf
8         richter
Name: Trainer_name, dtype: object
0           demme
1          wöhler
2         richter
3      engels/bel
4           bolte
5     kleinkorres
6      almenräder
7        hinzmann
8        vovcenko
9     ferentschak
10      schneider
Name: Trainer_name, dtype: object
0     nedorostek
1          smith
2           blau
3       vovcenko
4     bodenhagen
5       beckmann
6      weißmeier
7          lüker
8     bodenhagen
9          krapp
10     schriever
11     schneider
12         fuchs
Name: Trainer_name, dtype: object
0           türk
1          grewe
2       beckmann
3     engels/bel
4        steudle
5       fuhrmann
6        hellier
7          lüker
8          fuchs
9          lentz
10       giesgen
11    bodenhagen
12    bodenhagen
13         demme
Name: Trainer_name, dtype: object
0        bolte
1        recke
2       thomas
3      richter
4    weißmeier
5        lüker
6        klein
7        grewe
8      richter
Name: Trainer_name, dtype: object
0         giesgen
1     richter/aut
2        meinecke
3            beer
4           lentz
5           mayer
6     lenaers/bel
7    borkowski/pl
8        lanslots
Name: Trainer_name, dtype: object
0       schleppi
1          mäder
2      friesdorf
3     almenräder
4       rotering
5       fuhrmann
6    lenaers/bel
7     neuberg/cz
Name: Trainer_name, dtype: object
0        schleppi
1           hofer
2       weißmeier
3      heimburger
4       weißmeier
5    faltejsek/cz
6       weißmeier
7        schleppi
Name: Trainer_name, dtype: object
0          bolte
1          recke
2      schiergen
3    kleinkorres
4    kleinkorres
5         maurer
Name: Trainer_name, dtype: object
0    gernreich
1      schwinn
2     beckmann
3         schu
4      sonntag
5       göritz
6       hobitz
7       kreger
Name: Trainer_name, dtype: object
0          schu
1      schleppi
2    herresthal
3      schleppi
4          weis
5       werning
6          schu
7       schwinn
Name: Trainer_name, dtype: object
0       hellier
1         mäder
2      suborics
3         rohne
4    van eck/nl
5     weißmeier
6         gratz
7      schleppi
8     laznovska
9       schwinn
Name: Trainer_name, dtype: object
0                   busch
1                   grewe
2                   klein
3              heimburger
4                    weis
5               laznovska
6               gernreich
7                    wenz
8     berrevoets-uivel/nl
9                   bolte
10             volz-degel
Name: Trainer_name, dtype: object
0          hellier
1        meulen/nl
2        laznovska
3       heimburger
4          schwinn
5              ehl
6        gernreich
7        weißmeier
8     peterschmitt
9          lehmann
10    henkenjohann
11        beckmann
12         schwinn
13     kleinkorres
Name: Trainer_name, dtype: object
0    weißmeier
1        demme
2    meulen/nl
3        klein
4        bolte
5    schiergen
6        mäder
Name: Trainer_name, dtype: object
0             ehl
1    peterschmitt
2           demme
3           klein
4        schleppi
5       schneider
6           mähne
7           klein
Name: Trainer_name, dtype: object
0        mäder
1        bolte
2        grewe
3      rudolph
4    weißmeier
5        demme
6     schleppi
7         berg
Name: Trainer_name, dtype: object
0           barsig
1     schnakenberg
2             rank
3       brüggemann
4       engels/bel
5            lüker
6            lüker
7            gries
8          schwinn
9            recke
10       schriever
11        fuhrmann
Name: Trainer_name, dtype: object
0         recke
1       hellier
2         gratz
3        engels
4      fuhrmann
5      hinzmann
6         rohne
7     schiergen
8         klein
9      schleppi
10         weis
Name: Trainer_name, dtype: object
0     lenaers/bel
1        lanslots
2     lenaers/bel
3           mayer
4        beckmann
5        fuhrmann
6       laznovska
7        meinecke
8      bodenhagen
9       weißmeier
10       lanslots
11           rank
12          lentz
Name: Trainer_name, dtype: object
0        fuhrmann
1           demme
2       laznovska
3           lentz
4          barsig
5      fries-jung
6      bodenhagen
7      bodenhagen
8         steudle
9        beckmann
10           türk
11    ferentschak
12      weißmeier
13      schriever
Name: Trainer_name, dtype: object
0            klug
1          barsig
2        hinzmann
3           hofer
4    schnakenberg
5      engels/bel
6     kleinkorres
7           klein
Name: Trainer_name, dtype: object
0    kleinkorres
1     peeters/nl
2          lüker
3       schleppi
4      weißmeier
5          recke
6        rudolph
Name: Trainer_name, dtype: object
0          bolte
1      schiergen
2    kleinkorres
3     hermans/nl
4          recke
5     wroblewski
6           weis
7        richter

Name: Trainer_name, dtype: object
0        bolte
1      potters
2      hellier
3        rohne
4        grewe
5     schleppi
6      potters
7        gratz
8    schiergen
9        recke
Name: Trainer_name, dtype: object
0         stefutti
1             weis
2       bodenhagen
3       heimburger
4       bodenhagen
5          richter
6            recke
7           göritz
8        schneider
9             schu
10       schriever
11    henkenjohann
Name: Trainer_name, dtype: object
0               giesgen
1            neuberg/cz
2              schleppi
3           lenaers/bel
4                 figge
5             lindemann
6                 mäder
7               richter
8                 lentz
9                  berg
10    sofsky-prappacher
11                mayer
Name: Trainer_name, dtype: object
0         thomas
1     peeters/nl
2          storp
3          smith
4       vovcenko
5       beckmann
6          grewe
7     bodenhagen
8           schu
9     peeters/nl
10       schwinn
11         lüker
12    bodenhagen
Name: Trainer_name, dtype: object
0       weißmeier
1         smrczek
2       meulen/nl
3       meulen/nl
4          mulder
5           rohne
6       weißmeier
7       weißmeier
8    faltejsek/cz
Name: Trainer_name, dtype: object
0        richter
1          grewe
2    kleinkorres
3        schwinn
4     wroblewski
5           weis
6       beckmann
7       vovcenko
Name: Trainer_name, dtype: object
0      schwinn
1    gernreich
2        storp
3     beckmann
4        mayer
5     lanslots
6     lanslots
7       franke
8        klein
Name: Trainer_name, dtype: object
0           busch
1       laznovska
2        beckmann
3           lüker
4         schwinn
5    peterschmitt
6       gernreich
7         giesgen
8       schriever
9           recke
Name: Trainer_name, dtype: object
0       schiergen
1           demme
2        schleppi
3        schleppi
4       laznovska
5           recke
6     kleinkorres
7           bolte
8            blau
9            weis
10          klein
Name: Trainer_name, dtype: object
0        hellier
1          recke
2        steudle
3      schneider
4      laznovska
5        sonntag
6          rohne
7     heimburger
8          klein
9        lehmann
10      schleppi
11       friebel
Name: Trainer_name, dtype: object
0                   demme
1               gernreich
2               gernreich
3              heimburger
4                   klein
5                   fuchs
6                   bolte
7               meulen/nl
8                 werning
9                   grewe
10    berrevoets-uivel/nl
11                 glodde
12                  lüker
13                  klein
Name: Trainer_name, dtype: object
0    weißmeier
1        storp
2     meinecke
3    meulen/nl
4          ehl
5        demme
6        lentz
7        klein
Name: Trainer_name, dtype: object
0    peterschmitt
1       schiergen
2           hofer
3         smrczek
4           recke
5            weis
6           klein
7          schaaf
8          kreger
9          kreger
Name: Trainer_name, dtype: object
0          weis
1     laznovska
2      lanslots
3          falk
4      schleppi
5    troost/bel
6    troost/bel
7          beer
8        kreger
Name: Trainer_name, dtype: object
0    kleinkorres
1        hellier
2      bouckaert
3          rohne
4      meulen/nl
5          klein
6       hinzmann
7       rotering
8       rotering
Name: Trainer_name, dtype: object
0      meulen/nl
1      weißmeier
2      laznovska
3      weißmeier
4          bolte
5    kleinkorres
6          rohne
7      weißmeier
8        smrczek
Name: Trainer_name, dtype: object
0    van eck/nl
1    peeters/nl
2     gernreich
3          weis
4       hellier
5    herresthal
6      schleppi
7          bach
8       schwinn
9         lentz
Name: Trainer_name, dtype: object
0     berrevoets-uivel/nl
1               laznovska
2                 werning
3                schleppi
4              peeters/nl
5              brüggemann
6                    wenz
7       sofsky-prappacher
8                   lüker
9               gernreich
10                   rank
11                   türk
12               beckmann
Name: Trainer_name, dtype: object
0          lüker
1       lanslots
2           schu
3        steudle
4          recke
5      gernreich
6       beckmann
7          klein
8        schwinn
9     fries-jung
10          rank
11         lentz
Name: Trainer_name, dtype: object
0        grewe
1        klein
2       wöhler
3        recke
4     vovcenko
5    schneider
6        rohne
Name: Trainer_name, dtype: object
0        grewe
1        klein
2        gratz
3        bolte
4        recke
5         weis
6        bolte
7    weißmeier
8      hellier
Name: Trainer_name, dtype: object
0      peeters/nl
1          thomas
2        vovcenko
3      bodenhagen
4       weißmeier
5           smith
6        schleppi
7      nedorostek
8        beckmann
9     kleinkorres
10          lüker
11     bodenhagen
Name: Trainer_name, dtype: object
0           lüker
1      engels/bel
2          göritz
3            rank
4         schwinn
5           demme
6    henkenjohann
7        fuhrmann
8        fuhrmann
9      fries-jung
Name: Trainer_name, dtype: object
0        beckmann
1           mayer
2     lenaers/bel
3           recke
4           mayer
5      bodenhagen
6     lenaers/bel
7      neuberg/cz
8        fuhrmann
9      troost/bel
10       lanslots
11           kurz
12      schneider
Name: Trainer_name, dtype: object
0          grewe
1          bolte
2       schleppi
3     hermans/nl
4          recke
5    kleinkorres
6        schwinn
Name: Trainer_name, dtype: object
0        hofer
1        recke
2     beckmann
3       dewald
4    meulen/nl
5       dewald
6       kreger
Name: Trainer_name, dtype: object
0     gernreich
1         figge
2     laznovska
3          falk
4      lanslots
5          weis
6    troost/bel
7    troost/bel
8     friesdorf
9       schwinn
Name: Trainer_name, dtype: object
0         demme
1     weißmeier
2          blau
3     meulen/nl
4     laznovska
5    van eck/nl
6      schleppi
7      schleppi
8     schiergen
9          schu
Name: Trainer_name, dtype: object
0              heimburger
1                   storp
2     berrevoets-uivel/nl
3                 steudle
4                   lentz
5               gernreich
6                 werning
7                   klein
8                stefutti
9                   fuchs
10                   weis
11                   türk
12             peeters/nl
Name: Trainer_name, dtype: object
0                 rohne
1               hellier
2                 recke
3                  schu
4              beckmann
5                 lentz
6              meinecke
7     sofsky-prappacher
8                 lüker
9              lanslots
10            schneider
11            weißmeier
12              schwinn
Name: Trainer_name, dtype: object
0          ehl
1    meulen/nl
2    weißmeier
3     meinecke
4        klein
5     ratering
6    schiergen
7        kurdu
Name: Trainer_name, dtype: object
0           fuchs
1      engels/bel
2    schnakenberg
3      brüggemann
4           busch
5         friebel
6         schwinn
7            rank
Name: Trainer_name, dtype: object
0      vovcenko
1      beckmann
2        thomas
3     weißmeier
4       geisler
5         lüker
6    bodenhagen
7    bodenhagen
8    nedorostek
Name: Trainer_name, dtype: object
0         klein
1         grewe
2         gratz
3         alles
4         demme
5         mäder
6       hellier
7     meulen/nl
8    heimburger
9         klein
Name: Trainer_name, dtype: object
0       bodenhagen
1     schnakenberg
2        friesdorf
3            mayer
4       troost/bel
5             falk
6         lanslots
7         lanslots
8       troost/bel
9       troost/bel
10           lentz
11     lenaers/bel
Name: Trainer_name, dtype: object
0     schnakenberg
1       troost/bel
2      lenaers/bel
3         stefutti
4            lentz
5          steudle
6            alles
7       fries-jung
8       heimburger
9           glodde
10        beckmann
11          göritz
Name: Trainer_name, dtype: object
0     weißmeier
1         grewe
2         recke
3         lüker
4    peeters/nl
5        schaaf
6      vovcenko
Name: Trainer_name, dtype: object
0        bolte
1        grewe
2        mäder
3        fuchs
4    meulen/nl
5        demme
6        demme
Name: Trainer_name, dtype: object
0     schiergen
1    peeters/nl
2    hermans/nl
3     weißmeier
4          blau
5      schleppi
6       rudolph
Name: Trainer_name, dtype: object
0          hofer
1    kleinkorres
2       beckmann
3      meulen/nl
4      weißmeier
5         dewald
6     van eck/nl
7          rohne
8        schwinn
Name: Trainer_name, dtype: object
0    kleinkorres
1      meulen/nl
2          rohne
3        rudolph
4      weißmeier
5          hofer
6      meulen/nl
7           weis
8          recke
Name: Trainer_name, dtype: object
0         hellier
1            schu
2     lenaers/bel
3      heimburger
4          kreger
5           storp
6        ratering
7       gernreich
8           lüker
9           rohne
10      weißmeier
11         donate
Name: Trainer_name, dtype: object
0                 geisler
1               laznovska
2     berrevoets-uivel/nl
3                 schwinn
4                 werning
5                   fuchs
6                schleppi
7                    weis
8             kleinkorres
9                    schu
10               beckmann
11              gernreich
Name: Trainer_name, dtype: object
0    weißmeier
1    weißmeier
2         schu
3      schwinn
4      schwinn
5        recke
6      schwinn
Name: Trainer_name, dtype: object
0          grewe
1          demme
2          bolte
3        rudolph
4    kleinkorres
5          mäder
6     van eck/nl
7       schleppi
8          recke
Name: Trainer_name, dtype: object
0     beckmann
1        storp
2    schriever
3      schwinn
4         rank
5      friebel
6    weißmeier
Name: Trainer_name, dtype: object
0    van kempen/nl
1         meinecke
2            storp
3            klein
4            mayer
5          giesgen
6            figge
7             falk
8             beer
Name: Trainer_name, dtype: object
0       potters
1         klein
2     weißmeier
3     weißmeier
4      rotering
5       schwinn
6      rotering
7     laznovska
8     lindemann
9     schiergen
10        alles
Name: Trainer_name, dtype: object
0          alles
1        werning
2        potters
3     engels/bel
4     troost/bel
5           kurz
6     heimburger
7     bodenhagen
8     bodenhagen
9           weis
10          türk
Name: Trainer_name, dtype: object
0       laznovska
1       friesdorf
2         schwinn
3     lenaers/bel
4        meinecke
5      neuberg/cz
6         potters
7        schleppi
8     lenaers/bel
9           storp
10     troost/bel
11      lindemann
12          storp
Name: Trainer_name, dtype: object
0         grewe
1         klein
2      beckmann
3      hinzmann
4       schwinn
5          beer
6     moons/bel
7    fries-jung
Name: Trainer_name, dtype: object
0    meulen/nl
1       dewald
2        recke
3        recke
4        grewe
5      richter
Name: Trainer_name, dtype: object
0      bolte
1      klein
2       berg
3      mäder
4      bolte
5      grewe
6      bauer
7    hellier
8     maurer
9      recke
Name: Trainer_name, dtype: object
0     weißmeier
1         klein
2         gratz
3         storp
4         recke
5         grewe
6     laznovska
7    herresthal
8      fuhrmann
9         demme
Name: Trainer_name, dtype: object
0            storp
1       volz-degel
2           mulder
3             rank
4       engels/bel
5        schriever
6         beckmann
7            fuchs
8         lanslots
9          schwinn
10        vovcenko
11    schnakenberg
Name: Trainer_name, dtype: object
0        friesdorf
1          schwinn
2            mayer
3        weißmeier
4             schu
5     schnakenberg
6           göritz
7         fuhrmann
8         fuhrmann
9         lanslots
10     lenaers/bel
11        fuhrmann
12      bodenhagen
13           klein
Name: Trainer_name, dtype: object
0     weißmeier
1     weißmeier
2        birner
3    bodenhagen
4     meulen/nl
5        mulder
6         recke
7      schleppi
Name: Trainer_name, dtype: object
0      nedorostek
1           storp
2          thomas
3       weißmeier
4      bodenhagen
5        vovcenko
6    schnakenberg
7            blau
8        beckmann
9            schu
Name: Trainer_name, dtype: object
0            klug
1    hirschberger
2           grewe
3           demme
4       schiergen
5           smith
Name: Trainer_name, dtype: object
0         demme
1         hofer
2      schleppi
3         smith
4    almenräder
5     weißmeier
6         klein
7    wolters/nl
Name: Trainer_name, dtype: object
0    wolters/nl
1      carvalho
2      suborics
3          klug
4     schiergen
5         smith

Name: Trainer_name, dtype: object
0     meulen/nl
1         grewe
2         fuchs
3    wolters/nl
4         bolte
5           ehl
6         hofer
Name: Trainer_name, dtype: object
0             kleinkorres
1              heimburger
2               gernreich
3              peeters/nl
4                    weis
5                   smith
6              brüggemann
7                  roesch
8               meulen/nl
9               jansen/nl
10               schleppi
11                schwinn
12              weißmeier
13    berrevoets-uivel/nl
14               schleppi
Name: Trainer_name, dtype: object
0       schiergen
1           demme
2       weißmeier
3          wöhler
4           kartz
5    schnakenberg
Name: Trainer_name, dtype: object
0           suchorzewski
1                schwinn
2           suchorzewski
3    schleusner-fruhriep
4           schnakenberg
5      paraknewitz-kalla
6                 thomas
7      paraknewitz-kalla
Name: Trainer_name, dtype: object
0      wöhler
1    carvalho
2        klug
3       grewe
4        klug
5    suborics
6        klug
7    carvalho
Name: Trainer_name, dtype: object
0        grewe
1    meulen/nl
2    schiergen
3     carvalho
4         klug
5        rohne
6     fuhrmann
7     fuhrmann
8        rohne
Name: Trainer_name, dtype: object
0                stefutti
1     berrevoets-uivel/nl
2                   storp
3               meulen/nl
4                fuhrmann
5         verschueren/bel
6                 schwinn
7              brüggemann
8               schriever
9               nienstädt
10                   wenz
11             fries-jung
12                 dewald
13              gernreich
Name: Trainer_name, dtype: object
0       weißmeier
1       gernreich
2           lentz
3        fuhrmann
4           kurdu
5          donate
6           storp
7     jonkhart/nl
8        fuhrmann
9       kleffmann
10       beckmann
11         möller
12      nienstädt
Name: Trainer_name, dtype: object
0         engels
1          rohne
2         göritz
3      laznovska
4     wolters/nl
5          gratz
6      weißmeier
7          fuchs
8        smrczek
9          klein
10     nienstädt
Name: Trainer_name, dtype: object
0      peeters/nl
1         giesgen
2           riese
3           rohne
4           bolte
5           taber
6       weißmeier
7     kleinkorres
8      heimburger
9       laznovska
10       fuhrmann
11     bodenhagen
Name: Trainer_name, dtype: object
0           grewe
1       schiergen
2           bolte
3            klug
4          dewald
5          hickst
6    hirschberger
7        carvalho
Name: Trainer_name, dtype: object
0      heimburger
1      blumenauer
2        fuhrmann
3         hellier
4         hellier
5      hermans/nl
6           mayer
7        fuhrmann
8        fuhrmann
9       weißmeier
10           schu
11          mayer
12    ferentschak
Name: Trainer_name, dtype: object
0      meulen/nl
1       suborics
2     wolters/nl
3     wolters/nl
4          hofer
5           klug
6      meulen/nl
7          sauer
8         dewald
9        smrczek
10         lentz
11     meulen/nl
Name: Trainer_name, dtype: object
0          hofer
1    kleinkorres
2      meulen/nl
3       fuhrmann
4      gernreich
5          rohne
6       fuhrmann
7       fuhrmann
8          rohne
Name: Trainer_name, dtype: object
0        recke
1    meulen/nl
2        grewe
3        klein
4        grewe
5        klein
6        klein
7        klein
8      rudolph
Name: Trainer_name, dtype: object
0        schwinn
1          wedig
2     herresthal
3          gratz
4          klein
5     neureuther
6        geisler
7        rudolph
8     volz-degel
9          klein
10          türk
11       schwinn
Name: Trainer_name, dtype: object
0         klein
1         recke
2          weis
3       rudolph
4       schwinn
5       schwinn
6       schwinn
7     schöndorf
8       buchner
9      suborics
10      schwinn
Name: Trainer_name, dtype: object
0      grewe
1       berg
2    rudolph
3      klein
4       tuma
5      mäder
6     birner
7      klein
Name: Trainer_name, dtype: object
0    meulen/nl
1      schwinn
2        klein
3      geisler
4         weis
5     schleppi
6        klein
7        klein
Name: Trainer_name, dtype: object
0    schleusner-fruhriep
1      paraknewitz-kalla
2                   tuma
3                  recke
4                schwinn
5             wroblewski
6               vovcenko
7               vovcenko
8             herresthal
9               rotering
Name: Trainer_name, dtype: object
0                 keller
1                  gratz
2                rudolph
3                geisler
4               schleppi
5                  klein
6                 thomas
7    schleusner-fruhriep
Name: Trainer_name, dtype: object
0             klug
1            grewe
2         carvalho
3     hirschberger
4            grewe
5        schiergen
6            grewe
7     hirschberger
8            bolte
9            demme
10           smith
Name: Trainer_name, dtype: object
0         potters
1        carvalho
2           hofer
3          wöhler
4           rohne
5       meulen/nl
6        hinzmann
7         potters
8     ferentschak
9      wolters/nl
10          rohne
Name: Trainer_name, dtype: object
0       meulen/nl
1           fuchs
2           storp
3         smrczek
4         hellier
5         potters
6       laznovska
7     jonkhart/nl
8           mäder
9           storp
10      gernreich
11      meulen/nl
12        werning
13       beckmann
Name: Trainer_name, dtype: object
0       smrczek
1         kartz
2      vovcenko
3         hofer
4         smith
5         demme
6         grewe
7         bolte
8       smrczek
9     schiergen
10    weißmeier
Name: Trainer_name, dtype: object
0      weißmeier
1       meinecke
2        giesgen
3            ehl
4     almenräder
5          grewe
6      meulen/nl
7    ferentschak
8           beer
Name: Trainer_name, dtype: object
0    almenräder
1          klug
2         grewe
3      carvalho
4         grewe
5         grewe
6       smrczek
Name: Trainer_name, dtype: object
0       vovcenko
1          fuchs
2           wenz
3     bodenhagen
4          storp
5          lentz
6      gernreich
7     bodenhagen
8      schneider
9           bach
10          schu
11    engels/bel
Name: Trainer_name, dtype: object
0     lenaers/bel
1          engels
2           storp
3       schneider
4            bieß
5        beckmann
6            beer
7           lentz
8        meinecke
9     jonkhart/nl
10      laznovska
11        potters
12     bodenhagen
13    kleinkorres
Name: Trainer_name, dtype: object
0            dzubasz
1             korpas
2          fabianova
3            richter
4              lüker
5            megsner
6             schütz
7    stein-schomburg
Name: Trainer_name, dtype: object
0           schütz
1          richter
2          scholze
3           korpas
4        prunk/aut
5     schnakenberg
6        angermann
7        angermann
8            lentz
9        fabianova
10    schnakenberg
11        fuhrmann
Name: Trainer_name, dtype: object
0                  wöhler
1                   bolte
2                 dzubasz
3                  korpas
4                 dzubasz
5                   stech
6                  schütz
7                 richter
8                 richter
9                 richter
10                 korpas
11              fabianova
12    schleusner-fruhriep
Name: Trainer_name, dtype: object
0        wöhler
1      carvalho
2     fabianova
3    almenräder
4         grewe
5        korpas
6         stech
7      fuhrmann
8      carvalho
Name: Trainer_name, dtype: object
0     angermann
1      timpelan
2      fuhrmann
3       dzubasz
4      fuhrmann
5     angermann
6       potters
7       richter
8       richter
9        schütz
10      scholze
11       glodde
12       barsig
13        stech
14      potters
Name: Trainer_name, dtype: object
0       pantall/fr
1            bolte
2         gröschel
3     hirschberger
4         gröschel
5          potters
6         carvalho
7           barsig
8          richter
9        schiergen
10          mongil
Name: Trainer_name, dtype: object

### Clean

### Return