# Galopp-Preprocessor

For this step in the project I will use jupyter notebook, because it is way faster to visualize and more flexible on doin data preprocessing. (The exploratory data analysis part will also be with jupyter notebook)

### Imports

In [1]:
import pandas as pd
import numpy as np

### Load dataset

In [2]:
galopp = pd.read_csv("all_races.csv")
galopp.sample(5)

,Date,Location,Distance,Prize,Category,Class,Ground_state,Horses
4287,06. Juli 2016,Hamburg,2000 m,8000 €,F,IV,Boden: schwer ...,"[' 1. ', ' Elea ..."
4614,17. September 2016,Hoppegarten,1400 m,52000 €,C,3yo,Boden: gut,"[' 1. ', ' Atlan..."
3512,25. Oktober 2015,Hannover,1600 m,5100 €,D,2yo,Boden: weich ...,"[' 1. ', ' Wild ..."
6965,15. September 2018,Mülheim,2100 m,5100 €,D,III,Boden: gut,"[' 1. ', ' Valdu..."
6615,04. Juli 2018,Hamburg,2400 m,8000 €,F,IV,Boden: gut,"[' 1. ', ' Melos..."

### Look at general information

In [3]:
galopp.columns

Index(['Date', 'Location', 'Distance', 'Prize', 'Category', 'Class',
       'Ground_state', 'Horses'],
      dtype='object')

In [4]:
print(galopp.isna().sum())
print("")
print(galopp.isna().sum()/len(galopp)*100)

Date              15
Location          15
Distance           0
Prize              0
Category        3115
Class           4245
Ground_state       0
Horses             0
dtype: int64

Date             0.162725
Location         0.162725
Distance         0.000000
Prize            0.000000
Category        33.792580
Class           46.051204
Ground_state     0.000000
Horses           0.000000
dtype: float64

In [5]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9203 non-null   object
 1   Location      9203 non-null   object
 2   Distance      9218 non-null   object
 3   Prize         9218 non-null   object
 4   Category      6103 non-null   object
 5   Class         4973 non-null   object
 6   Ground_state  9218 non-null   object
 7   Horses        9218 non-null   object
dtypes: object(8)
memory usage: 576.2+ KB

First thing I see is that there are some NaN values. 15 each on _Date_ and _Location_ (which are only 0.16% of the whole set). Because only a few are missing, and they are not really important to my goal, I fill them with the mode (normally not really applicable for the _Date_ , but it should be sufficient).

Also, the columns 'Category' and 'Class' are missing 3115 and 4245, which are ~33% and ~46%. Normally, because they are categorical, they could be filled with the mode, but so many values are missing, so I decide to drop them, as they are not important for my goal.

Next, the datatypes should be changed for _Distance_ and _Prize_ to int. But before that, the 'm' in _Distance_ and the '€' in _Prize_ have to be removed. (Also, there are '\xa0's in both columns for each entry! These have to be removed too before converting to int.). And, at last, fill the empty strings with a 0, otherwise this would lead to ValueErrors when converting to int.

The _Ground_state_ always contains the prefix 'Boden: ', this can also be removed.

In [6]:
# Drop columns
galopp.drop(columns=["Category", "Class"], inplace=True)

# Fill dates and location by 
galopp["Date"].fillna(galopp["Date"].mode(), inplace=True)
galopp["Location"].fillna(galopp["Location"].mode(), inplace=True)

# Remove units
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("m", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("€", ""))

# Remove bytes
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("\xa0", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("\xa0", ""))

# Fill empty strings with 0
galopp["Distance"] = galopp["Distance"].apply(lambda x: "0" if len(x) == 0 else x)
galopp["Prize"] = galopp["Prize"].apply(lambda x: "0" if len(x) == 0 else x)

# Change datatype to int
galopp["Distance"] = galopp["Distance"].astype(int)
galopp["Prize"] = galopp["Prize"].astype(int)

# Remove 'Boden: ' prefix
galopp["Ground_state"] = galopp["Ground_state"].apply(lambda x: x.replace("Boden: ", ""))

Looking at the dataframe again:

In [7]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9203 non-null   object
 1   Location      9203 non-null   object
 2   Distance      9218 non-null   int64
 3   Prize         9218 non-null   int64
 4   Ground_state  9218 non-null   object
 5   Horses        9218 non-null   object
dtypes: int64(2), object(4)
memory usage: 432.2+ KB

In [8]:
galopp.sample(10)

,Date,Location,Distance,Prize,Ground_state,Horses
59,20. Januar 2013,Neuss (Sand),1100,0,nass,"[' 1. ', ' Lords..."
6046,12. Dezember 2017,Dortmund (Sand),1700,6000,nass,"[' 1. ', ' Ivors..."
4082,26. Mai 2016,Baden-Baden,2200,8000,gut,"[' 1. ', ' Saran..."
4981,26. März 2017,Düsseldorf,2100,8750,weich,"[' 1. ', ' Shanj..."
7968,11. August 2019,Hoppegarten,1800,7500,gut,"[' 1. ', ' Madem..."
143,01. April 2013,Köln,2400,0,g-w,"[' 1. ', ' Lucar..."
2961,30. Juni 2015,Hamburg,1200,10000,gut,"[' 1. ', ' Nando..."
5288,04. Juni 2017,Hoppegarten,1200,2500,weich,"[' 1. ', ' Lord ..."
7939,04. August 2019,Miesau,1400,2400,gut,"[' 1. ', ' Kingd..."
8919,23. August 2020,Hannover,1600,12500,gut,"[' 1. ', ' Sun A..."

No NaNs and the fitting datatype, also the samples looking good aswell.
So for those columns everything that needs to be done is done. Lets go on with the horses per race. For this, I intend to:
- get the list of horses and make another dataframe of it
- Clean this dataset (No column names and datatypes here)
- Return the cleaned dataframe as a list and replace it
- Save each horse participation in another dataframe / csv

### Clean races and generate a participants dataframe

In [9]:
def clean_placement_string(x):
    
    if "NS" in x: # Treat "Nichtstarter", horses who didn't start the race
        x = -1
    else:
        x = x.replace(".","")
        x = x.replace("'","")
        x = x.replace("[","")
        x = x.replace("]", "")
        x = x.strip()
    
    return x

def clean_horse_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    return x

def clean_jockey_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        pass
    
    return x

def clean_trainer_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        x=x
    
    return x

def clean_weight_string(x):
    x = x.replace("'", "")
    x = x.replace(",",".")
    x = x.replace("]", "")
    x = x.strip()
    return x

In [38]:
# Load, clean, and replace each race
races = []
horses = []
columns = ["Place", "Horse_name", "Jockey_name", "Trainer_name", "Weight"]

for row in galopp["Horses"]:
    
    # Load row as a seperate dataset and make it a dataframe for easier editing
    split = row.split(", ")
    try:
        row_reshaped = np.array(split).reshape((-1, 5))
    except:
        races.append("DELETE THIS ROW") # Some rows just dont fit... delete the rows afterwards!
    race_df = pd.DataFrame(data=row_reshaped, columns=columns)

    # Clean dataset (and save a version with the races)
    race_df["Place"] = race_df["Place"].apply(clean_placement_string)
    race_df["Horse_name"] = race_df["Horse_name"].apply(clean_horse_name_string)
    race_df["Jockey_name"] = race_df["Jockey_name"].apply(clean_jockey_name_string)
    race_df["Trainer_name"] = race_df["Trainer_name"].apply(clean_trainer_name_string)
    race_df["Weight"] = race_df["Weight"].apply(clean_weight_string)
    
    # Add each participant to a list
    for horse in race_df.values:
        horses.append(horse)
        
    # Add the whole race to a list
    races.append(race_df.values)
    
# Save participations for further inspection
all_participations_df = pd.DataFrame(data=horses, columns=columns)
all_participations_df.to_csv("participations.csv", index=False)

# Replace the cleaned races with the old races in the dataframe

[['1' 'birthday prince' 'pietsch' '' '58.0']
 ['2' 'chartreuse' 'nagy' '' '58.0']
 ['3' 'pedro cays' 'bojko' '' '58.0']
 ['4' 'goldenveil' 'wandt' '' '56.0']
 ['5' 'prince vince' 'danz' '' '57.0']
 ['6' 'true lies' 'frank' '' '56.0']
 ['7' 'sajja' 'palik' '' '58.0']
 ['8' 'serafina' 'lopez' '' '56.0']
 ['9' 'serko (fr) (h)' 'weißmeier' '' '58.0']
 ['10' '" champions time "' 'porcu' '' '56.0]']]

In [40]:
# Replace the cleaned races with the old races in the dataframe
galopp["Horses"].head(1)

0    ['                   1.             ', ' Birth...
Name: Horses, dtype: object