# Galopp-Preprocessor

For this step in the project I will use jupyter notebook, because it is way faster to visualize and more flexible on doin data preprocessing. (The exploratory data analysis part will also be with jupyter notebook)

In [1]:
print("Preprocessing...")

Preprocessing...

### Imports

In [2]:
import pandas as pd
import numpy as np

### Load dataset

In [3]:
galopp = pd.read_csv("csvs/all_races.csv")
galopp.sample(5)

,Date,Location,Distance,Prize,Category,Class,Ground_state,Horses,Unnamed: 8,m,€,Unnamed: 11,Unnamed: 12,Boden:,[]
3590,17. November 2015,Neuss (Sand),1500 m,5000 €,D,3yo,Boden: nass ...,"[' 1. ', ' Bellc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4748,22. Oktober 2016,Dresden,2000 m,5100 €,D,NaN,Boden: weich ...,"[' 1. ', ' Joker...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,12. Juni 2013,Düsseldorf,2100 m,0 €,NaN,NaN,Boden: gut,"[' 1. ', ' Sarin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7604,01. Juni 2019,Baden-Baden,2200 m,8000 €,F,IV,Boden: gut,"[' 1. ', ' Lavel...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1727,27. Juli 2014,Bad Harzburg,1550 m,0 €,NaN,NaN,Boden: weich ...,"[' 1. ', ' Bear ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Look at general information

In [4]:
galopp.columns

Index(['Date', 'Location', 'Distance', 'Prize', 'Category', 'Class',
       'Ground_state', 'Horses', 'Unnamed: 8', ' m  ', '   €', 'Unnamed: 11',
       'Unnamed: 12', '                     Boden:                   ', '[]'],
      dtype='object')

In [5]:
print(galopp.isna().sum())
print("")
print(galopp.isna().sum()/len(galopp)*100)

Date                                                15
Location                                            15
Distance                                             0
Prize                                                0
Category                                          3115
Class                                             4245
Ground_state                                         0
Horses                                               0
Unnamed: 8                                        9218
 m                                                9218
   €                                              9218
Unnamed: 11                                       9218
Unnamed: 12                                       9218
                     Boden:                       9218
[]                                                9218
dtype: int64

Date                                                0.162725
Location                                            0.162725
Distance                                            0.000000
Prize                                               0.000000
Category                                           33.792580
Class                                              46.051204
Ground_state                                        0.000000
Horses                                              0.000000
Unnamed: 8                                        100.000000
 m                                                100.000000
   €                                              100.000000
Unnamed: 11                                       100.000000
Unnamed: 12                                       100.000000
                     Boden:                       100.000000
[]                                                100.000000
dtype: float64

In [6]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 15 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Date                                            9203 non-null   object
 1   Location                                        9203 non-null   object
 2   Distance                                        9218 non-null   object
 3   Prize                                           9218 non-null   object
 4   Category                                        6103 non-null   object
 5   Class                                           4973 non-null   object
 6   Ground_state                                    9218 non-null   object
 7   Horses                                          9218 non-null   object
 8   Unnamed: 8                                      0 non-null      float64
 9    m                                              0 non-null      float64
 10     €                                            0 non-null      float64
 11  Unnamed: 11                                     0 non-null      float64
 12  Unnamed: 12                                     0 non-null      float64
 13                       Boden:                     0 non-null      float64
 14  []                                              0 non-null      float64
dtypes: float64(7), object(8)
memory usage: 1.1+ MB

First thing I see is that there are some NaN values. 15 each on _Date_ and _Location_ (which are only 0.16% of the whole set). Because only a few are missing, and they are not really important to my goal, I fill them with the mode (normally not really applicable for the _Date_ , but it should be sufficient).

Also, the columns 'Category' and 'Class' are missing 3115 and 4245, which are ~33% and ~46%. Normally, because they are categorical, they could be filled with the mode, but so many values are missing, so I decide to drop them, as they are not important for my goal.

Next, the datatypes should be changed for _Distance_ and _Prize_ to int. But before that, the 'm' in _Distance_ and the '€' in _Prize_ have to be removed. (Also, there are '\xa0's in both columns for each entry! These have to be removed too before converting to int.). And, at last, fill the empty strings with a 0, otherwise this would lead to ValueErrors when converting to int.

The _Ground_state_ always contains the prefix 'Boden: ', this can also be removed.

In [7]:
# Fill dates and location by 
galopp["Date"].fillna(galopp["Date"].mode(), inplace=True)
galopp["Location"].fillna(galopp["Location"].mode(), inplace=True)

# Remove units
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("m", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("€", ""))

# Remove bytes
galopp["Distance"] = galopp["Distance"].apply(lambda x: x.replace("\xa0", ""))
galopp["Prize"] = galopp["Prize"].apply(lambda x: x.replace("\xa0", ""))

# Fill empty strings with 0
galopp["Distance"] = galopp["Distance"].apply(lambda x: "0" if len(x) == 0 else x)
galopp["Prize"] = galopp["Prize"].apply(lambda x: "0" if len(x) == 0 else x)

# Change datatype to int
galopp["Distance"] = galopp["Distance"].astype(int)
galopp["Prize"] = galopp["Prize"].astype(int)

# Remove 'Boden: ' prefix
galopp["Ground_state"] = galopp["Ground_state"].apply(lambda x: x.replace("Boden: ", ""))
galopp["Ground_state"] = galopp["Ground_state"].apply(lambda x: x.strip())

# Drop columns
galopp.drop(columns=["Category", "Class"], inplace=True)
galopp.dropna(axis=1, inplace=True)

Looking at the dataframe again:

In [8]:
galopp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Distance      9218 non-null   int64
 1   Prize         9218 non-null   int64
 2   Ground_state  9218 non-null   object
 3   Horses        9218 non-null   object
dtypes: int64(2), object(2)
memory usage: 288.2+ KB

In [9]:
galopp.sample(10)

,Distance,Prize,Ground_state,Horses
7119,1200,6350,gut,"[' 1. ', ' Magic..."
5,1500,0,nass,"[' 1. ', ' Rabia..."
3139,1600,50000,gut,"[' 1. ', ' Drumm..."
8190,1400,9500,gut bis weich,"[' 1. ', ' Diary..."
577,1600,0,g-w,"[' 1. ', ' Krasi..."
7149,1550,3500,gut,"[' 1. ', ' Macan..."
6797,2400,12500,gut,"[' 1. ', ' Atlan..."
4179,1200,2500,gut,"[' 1. ', ' Jacko..."
7628,2800,4000,gut,"[' 1. ', ' Indar..."
3109,1700,9000,gut,"[' 1. ', ' Elmar..."

No NaNs and the fitting datatype, also the samples looking good aswell.
So for those columns everything that needs to be done is done. Lets go on with the horses per race. For this, I intend to:
- get the list of horses and make another dataframe of it
- Clean this dataset (No column names and datatypes here)
- Return the cleaned dataframe as a list and replace it
- Save each horse participation in another dataframe / csv

### Clean races and generate a participants dataframe

In [10]:
def clean_placement_string(x):
    
    if "NS" in x: # Treat "Nichtstarter", horses who didn't start the race
        x = -1
    else:
        x = x.replace(".","")
        x = x.replace("'","")
        x = x.replace("[","")
        x = x.replace("]", "")
        x = x.strip()
    
    return x

def clean_horse_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    return x

def clean_jockey_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        pass
    
    return x

def clean_trainer_name_string(x):
    x = x.replace("'", "")
    x = x.strip()
    x = x.lower()
    
    if "." in x:
        while "." in x:
            x = x[x.index(".", )+1:] # Get surname by dot
    elif len(x.split()) == 2:
        x = x.split()[1]  # Get surname when both names are in the name string
    else:
        x=x
    
    return x

def clean_weight_string(x):
    x = x.replace("'", "")
    x = x.replace(",",".")
    x = x.replace("]", "")
    x = x.strip()
    return x

In [11]:
# Load, clean, and replace each race
races = []
horses = []
columns = ["Place", "Horse_name", "Jockey_name", "Trainer_name", "Weight"]

for index in range(len(galopp)):
    
    row = galopp.iloc[index, -1:]
    # Load row as a seperate dataset and make it a dataframe for easier editing
    split = row["Horses"].split(", ")
    try:
        row_reshaped = np.array(split).reshape((-1, 5))
        race_df = pd.DataFrame(data=row_reshaped, columns=columns)
        # Clean dataset (and save a version with the races)
        race_df["Place"] = race_df["Place"].apply(clean_placement_string)
        race_df["Horse_name"] = race_df["Horse_name"].apply(clean_horse_name_string)
        race_df["Jockey_name"] = race_df["Jockey_name"].apply(clean_jockey_name_string)
        race_df["Trainer_name"] = race_df["Trainer_name"].apply(clean_trainer_name_string)
        race_df["Weight"] = race_df["Weight"].apply(clean_weight_string)
        
        #Get normal informatio of the race
        race_info = galopp.iloc[index, :3]
        
        # Add each participant and info about the race itself to a list
        for index_2 in range(len(race_df)):
            cleaned_horses.append()
            horses.append(pd.concat([race_df.iloc[index_2], race_info], axis=0).values)

        # Add the whole race to a list
        #races.append(galopp.iloc[index, :].tolist())
        # TODO TODO TODO
        
    except:
        races.append("DELETE THIS ROW") # Some rows just dont fit... delete the rows afterwards!
    
# Save participations for further inspection
all_participations_df = pd.DataFrame(data=horses, columns=columns+["Distance", "Prize", "Ground_state"])
all_participations_df.to_csv("csvs/participations.csv", index=False)

In [13]:
# Replace the cleaned races with the old races in the dataframe
#galopp = pd.DataFrame(np.array(races).reshape((9218, 4)), columns=["Distance", "Prize", "Ground_state", "Horses"])
#galopp.to_csv("csvs/galopp_cleaned.csv", index=False)

<ipython-input-13-9d9967a721ce>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  galopp = pd.DataFrame(np.array(races).reshape((9218, 4)), columns=["Distance", "Prize", "Ground_state", "Horses"])

ValueError: cannot reshape array of size 9218 into shape (9218,4)